.body-section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: $background-color;
  color: $text-color;
  text-align: center;

  @media only screen and (min-width: 500px) { padding-top: 2rem; padding-bottom: 2rem; }
  @media only screen and (min-width: 700px) { padding-top: 3rem; padding-bottom: 3rem; }
  @media only screen and (min-width: 900px) { padding-top: 5rem; padding-bottom: 5rem; }

  h1 { font-size: 2rem; font-weight: 800; line-height: 1.1; }
  h2 { font-size: 2rem; font-weight: 800; line-height: 1.1; margin-bottom: 1rem; }
  h3 { font-size: 1.5rem; font-weight: 800; line-height: 1.1; }

  h2 {
    /* Always the same as the container padding */
    @media only screen and (min-width: 500px) { margin-bottom: 2rem; }
    @media only screen and (min-width: 700px) { font-size: 2.5rem; margin-bottom: 3rem; }
    @media only screen and (min-width: 900px) { font-size: 3rem; margin-bottom: 3rem; }
  }

  hgroup, h3, p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: 500px) { margin-top: 1.5rem; margin-bottom: 1.5rem; }
    @media only screen and (min-width: 700px) { margin-top: 2rem; margin-bottom: 2rem; }
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }

  p {
    max-width: 30rem;
  }
}

.body-section--reversed {
  @extend .body-section;
  background: $reversed-background-color;
  color: $reversed-text-color;
  h1, h2, h3 {
    /* 800 is too heavy reversed, so we 600 instead */
    font-weight: 600;
  }
}

@keyframes down-arrow-animation {
  from { transform: translateY(0);    }
  to  { transform: translateY(10px); }
}

.body-section--event-header {
  @extend .body-section--reversed;

  @media only screen and (min-width: 900px) { margin-top: 1rem; /* For fixed nav */ }

  .body-section--event-header__event { font-size: 2.5rem; font-family: $display-font; text-transform: uppercase; }
  .body-section--event-header__city { font-size: 1.5rem; margin-bottom: 0; }
  .body-section--event-header__date { font-size: 1rem; margin-top: 0; color: $reversed-faded-text-color; }
  .body-section--event-header__event, .body-section--event-header__city, .body-section--event-header__date { span { display: block; } }
  .body-section--event-header__city, .body-section--event-header__date { font-family: inherit; line-height: inherit; text-transform: inherit; font-weight: inherit; }
  .skip-nav {
    width: 63px;
    height: 48px;
    position: absolute;
    text-indent: -1000px;
    overflow: hidden;
    background: transparent url('/images/2015/down-arrow.svg') bottom center no-repeat;
    bottom: 2rem;
    left: 50%;
    margin-left: (-63px / 2);
    opacity: 0;
    animation: .75s down-arrow-animation infinite alternate;
    animation-play-state: paused;
  }
  .skip-nav:focus { opacity: 1; animation-play-state: running; }
  @media only screen and (min-width: 900px) {
    min-height: 100vh;
    display: flex;
    flex-flow: center;
    align-items: center;
    .body-section--event-header__inner {
      margin-left: auto;
      margin-right: auto;
    }
    .body-section--event-header__event { font-size: 3rem; }
    .body-section--event-header__city { font-size: 2rem; margin-bottom: 0; margin-top: 2rem; }
    .body-section--event-header__date { font-size: 1.5rem; }
    .body-section--event-header__event, .body-section--event-header__city, .body-section--event-header__date { span { display: inline; } }
    .body-section--event-header__city span:first-child:after { content: ', '; }
  }
  @media only screen and (min-width: 900px) and (min-height: 50rem) {
    .skip-nav {
      opacity: 1;
      animation-play-state: running;
    }
  }
}

.body-section--event-footer {
  @extend .body-section--reversed;
  h3 { font-size: 1rem; margin-bottom: 1rem; }
  p { margin-top: 1rem; }
}

.body-section--event-footer__links {
  @media only screen and (min-width: 500px) { font-size: 1rem; }
  @media only screen and (min-width: 700px) { font-size: 2rem; }
  font-family: $display-font;
  text-transform: uppercase;
  a + a {
    margin-left: .75rem;
  }
}

.body-section--content {
  @extend .body-section;
  padding-top: 0;
  h2 { margin-top: 3rem; }
  &:before {
    content: ' ';
    display: block;
    background: url(/images/2015/heart-separator.svg) center center no-repeat;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    top: -32px;
    margin-bottom: -32px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: 700px) { padding-bottom: 3rem; }
  }
}

.body-section--venue {
  @extend .body-section;
  h2 { margin-bottom: 2rem; }
}

.body-section__header-image {
  width: 100%;
  opacity: .6;
  margin-left: -1rem;
  margin-right: -1rem;
}


.body-section--event-footer__mailing-list {
  input, button {
    @extend .button;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  input {
    font-family: $body-font;
    text-transform: none;
    font-weight: normal;
  }
  ::-webkit-input-placeholder { color: rgba(255,255,255,.5); font-family: $body-font; text-transform: none; }
  :-moz-placeholder { color: rgba(255,255,255,.5); font-family: $body-font; text-transform: none; }
  ::-moz-placeholder { color: rgba(255,255,255,.5); font-family: $body-font; text-transform: none; }
  :-ms-placeholder { color: rgba(255,255,255,.5); font-family: $body-font; text-transform: none; }
}
