.grid {
  font-size: 0;
  vertical-align: top;
}

.grid__cell {
  display: block;
  font-size: 1rem;
  vertical-align: top;

  $gutter: 3%;
  $two-col-width: 100% / 2 - $gutter * (2 + 2-1);
  $three-col-width: 100% / 3 - $gutter * (2 + 3-1);

  @media (min-width: 800px)  { display: inline-block; text-align: left; width: $two-col-width;   margin-left: $gutter; margin-right: $gutter; }
  @media (min-width: 1200px) { display: inline-block; text-align: left; width: $three-col-width; margin-left: $gutter; margin-right: $gutter; }
}
