.speaker {
  + .speaker {
    margin-top: 4rem;
    @media only screen and (min-width: 800px)  { margin-top: 2rem; }
  }
}

.speaker__name {
  margin-bottom: 1rem;
  text-align: center;
}

.speaker__bio {
  margin-top: -1rem;
  @media only screen and (min-width: 800px)  { font-size: 1rem * .925; }
  @media only screen and (min-width: 1200px) { font-size: 1rem * .85; }
}

.speaker__photo {
  text-align: center;
  img { width: 50%; border-radius: 50%; filter: brightness(80%) sepia(90%) hue-rotate(-10deg); opacity: .8; }
}

.speaker__links {
  margin-top: 1rem;
}
