%header
	.container-full.header-home
		%nav#fixed.navbar.navbar-default.navbar-expand-lg.navbar-dark
			%a.navbar-brand{:href => "/2023"}
				%img{src: "/2023/images/rubyconfau_23_logo.svg", :alt => "RubyConf AU Logo", :height => "75", width: "75", :style => "fill: #ffffff;"}
			%button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
				%span.navbar-toggler-icon
			#navbarNavDropdown.collapse.navbar-collapse
				.navbar-nav.ml-auto
					%a.nav-item.nav-link{:href => "/2023/schedule"} Schedule
					%a.nav-item.nav-link{:href => "/2023/speakers"} Speakers
					%a.nav-item.nav-link{:href => "/2023/social-events"} Social Events
					%a.nav-item.nav-link{:href => "/2023/location"} Location
		.row
			.col-lg-12.pl-0.pr-0
				.header-content.text-center
					%h1.header-title.mt-0.mb-2
						RubyConf AU 2023
					%h3.header-lead
						A conference to share Ruby knowledge
						%br/
						amongst like-minded Rubyists
					.header-details.mt-2.mb-2
						%p
							%i.fa.fa-calendar-alt
							16th - 17th February 2023
						%p
							%i.fa.fa-map-marker-alt
							Melbourne Convention Centre, South Wharf

		.row.justify-content-md-center.scroll-down
			.col-lg-12
				.scroll-icon
