%header
	.container-full.pl-1.pr-1.header-cover
		%nav#fixed.navbar.navbar-default.navbar-expand-lg.navbar-dark
			%a.navbar-brand{:href => "/2023"}
				%img{src: "/2023/images/ruby-01.svg", :alt => "RubyConfAu Logo", :height => "75", width: "75"}
			%button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
				%span.navbar-toggler-icon
			#navbarNavDropdown.collapse.navbar-collapse
				.navbar-nav.ml-auto
					%a.nav-item.nav-link{:href => "/2023/schedule"} Schedule
					%a.nav-item.nav-link{:href => "/2023/speakers"} Speakers
					%a.nav-item.nav-link{:href => "/2023/social-events"} Social Events
					%a.nav-item.nav-link{:href => "/2023/location"} Location
		%h1.page-title.text-center.mt-5.mb-3
			= @title
