.row.event-sponsors
    .col
        %h2.section-title Event Sponsors
        %p.mb-1 RubyConf AU would not be possible without the support from sponsors.
        %p
            We're currently looking for sponsors! If you'd like to sponsor RubyConf AU, please visit
            %a{href: 'https://ruby.org.au/sponsorship', target: 'blank'} Ruby Australia.
