.row.event-sponsors
    .col
        %h2.section-title Event Sponsors
        %p.mb-1 RubyConf AU would not be possible without the support from these incredible sponsors.
        %p
            If you'd like to sponsor RubyConf AU, please visit
            %a{href: 'https://ruby.org.au/sponsorship', target: 'blank'} Ruby Australia
            for our sponsorship opportunities.

.row.text-center.pt-1
    .col
        %h3 Ruby Sponsors
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://assemblyfour.com/', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/assembly-four.png', width: 500 }

.row.text-center.pt-2
    .col
        %h3 Emerald Sponsors
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://www.cultureamp.com', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/culture-amp.png', width: 500 }
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://www.hotdoc.com.au', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/hotdoc.png', width: 500 }

.row.text-center.pt-3.pb-3
    .col

        %h3 Sapphire Sponsors
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://buildkite.com', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/buildkite.png', width: 500 }

.row.text-center.pt-4.pb-2
    .col

        %h3 Opal Sponsors
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://blackmill.co', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/blackmill.png', width: 500 }
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://envato.com', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/envato.png', width: 500 }
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://www.tanda.co', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/tanda.png', width: 500 }
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://up.com.au/', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/up.png', width: 500 }

.row.text-center.pt-4.pb-2
    .col

        %h3 Amber Sponsors
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://www.cipherstash.com', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/cipherstash.png', width: 500 }
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://lookahead.com.au', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/lookahead.png', width: 500 }
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://pinpayments.com', target: '_blank' }
                %img{ src: '/2023/images/sponsors-2023/pin-payments.png', width: 500 }
