// Custom Mixins
@mixin suffix-font {
  font-family: 'SUFFIX-monoSUFFIX-mono', Arial, sans-serif;
}

// Fonts
@font-face {
    font-family: 'SUFFIX-monoSUFFIX-mono';
    src: url('/fonts/suffix-mono-webfont.eot');
    src: url('/fonts/suffix-mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/suffix-mono-webfont.woff') format('woff'),
         url('/fonts/suffix-mono-webfont.ttf') format('truetype'),
         url('/fonts/suffix-mono-webfont.svg#SUFFIX-monoSUFFIX-mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Commmon Colors
body { background-color: #EDECE6; }
$red: #f4323c;
$blue: #27b2d2;
$green: #0eb942;
$default_text_color: #575757;

// Common Main Content Styles
section#root > section {
  padding-top: 50px;
  padding-bottom: 80px;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $default_text_color;

  hgroup {
    @include eleven40-row;
    margin-bottom: 50px;
    h1 {
      font-size: 32px;
      line-height: 36px;
    }
    h2 {
      font-size: 22px;
      color: #acaba8;
    }
    &.inline {

      h1 {
        @include eleven40-column(4);
      }
      h2 {
        @include eleven40-column(20, true);
        position: relative;
        top: 4px;
      }
    }
  }

  h2 {
    font-size: 22px;
    line-height: 34px;
  }

  h3 {
    @include suffix-font;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    &.blue { color: $blue; }
    &.red { color: $red; }
    &.green { color: $green; }
  }

  h4 {
    @include suffix-font;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    &.blue { color: $blue; }
    &.red { color: $red; }
    &.green { color: $green; }
  }

  h5 {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #959494;
  }

  p {
    line-height: 20px;
  }

  a {
    color: $red;
    @include transition-property(color);
    @include transition-duration(3s);
  }

  a.wrap {
    color: $default_text_color;
    text-decoration: none;
  }

  img.speaker {
    @include border-radius(50%);
  }
}

// Common Tickets Call to Action
section#root > section#tickets-call-to-action {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FF324B;
  h4, p {
    color: white;
    line-height: 50px;
  }
  h4 {
    @include eleven40-column(5);
    margin-bottom: 0;
    &.last {
      text-align: center;
      border: 1px solid rgba(255,255,255,0.5);
    }
  }
  p {
    @include eleven40-column(12);
    @include eleven40-push(1);
    position: relative;
    top: -2px;
  }
}

.hr {
  border-bottom: 1px #e2e0d2 solid;
  clear: both;
  padding-top:   1.4em;
  margin-bottom: 2em;
  hr { display: none; }
}


// Generic page

.page {
  @include eleven40-container;
}
  .page-content {
    @include eleven40-row;
  }
  .page-block {
    @include eleven40-column(20);
    @include eleven40-push(4);
    & > * {
      margin: 0 0 .8em 0;  
    }
    ul {
      list-style-type: circle;
      list-style-position: inside; 
    }
    ol {
      list-style-type: decimal;
      list-style-position: inside;
    }
  }