@import "compass/layout/sticky-footer";

// Border box everything
* {
  @include box-sizing(border-box);
}

// General Site Layout conducive to a sticky footer
@include sticky-footer(328px);

#root {
  header {
    min-height: 282px;
    background: black url('/images/header.jpg') center no-repeat;
    @include eleven40-container;
    .inner {
      @include eleven40-row;
      padding-top: 30px;
    }
  }
}

#tickets-call-to-action {
  @include eleven40-container;
  .inner {
    @include eleven40-row;
  }
}

#footer {
  @include eleven40-container;
  background: black url('/images/footer.jpg') center no-repeat;
  footer {
    @include eleven40-row;
    padding-top: 40px;
  }
}