.speaker-img {
    width: 95%;
  }
  
  .speaker-name {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    padding-top: 0.75rem;
  }
  
  .speaker-bio {
    font-weight: 400;
    font-size: 1rem;
  }