.grid-x.grid-margin-x
  .cell
    %h1
      %i.fa.fa-gem
      RubyConf AU
      %i.fa.fa-gem
    %h2 February 7th-9th, 2019
    %h2 The Forum, Melbourne

    %p
      %img{src: "/images/2019/forum.jpg"}

    %p.lead Our yearly gathering where we share knowledge about the Ruby programming language, and celebrate the Australian and broader Ruby community.

    %hr

.grid-x.grid-margin-x
  .cell
    %h3 Speakers

    %p We are so stoked to have the following speakers to grace our stage and share their wisdom and knowledge with us!

.grid-x.grid-margin-x.speakers
  .cell.large-auto
    %img{src: "/images/2019/nadia.jpg"}
    %h4 Nadia Odunayo

    %p.bio <a href="http://www.nadiaodunayo.com">Nadia</a> is currently CTO at <a href="https://www.codenewbie.org">CodeNewbie</a>. Before that, she co-directed Ignition Works, a company that did a mix of in-house product development and software consultancy, helping large firms to manage their cloud platforms. She previously worked at Pivotal and originally learnt to code at Makers Academy in London. She maintains <a href="https://speakerline.io">speakerline.io</a> in her spare time.

  .cell.large-auto
    %img{src: "/images/2019/beth.jpg"}
    %h4 Beth Haubert

    %p.bio <a href="https://www.bethanyhaubert.com">Beth</a> is a software engineer who loves Ruby, little-known APIs, handcrafting SQL queries, and as many monitors on her desk as possible. She’s also a former airborne cryptologic linguist for the US Air Force, fluent in Mandarin. Things you can ask her about include cats, board games, karaoke, and building applications that convert songs into auto-tuned cat meows. Things she'll have to kill you if you ask her about: the airborne linguist part. Also, she likes to make emojis look like they're farting. 🐈💨

.grid-x.grid-margin-x.cfp
  .cell
    %p More speakers will be announced soon - and if you're keen to be one of them, please submit a talk in our <a href="https://www.papercall.io/rubyconf-au-2019">Call for Proposals</a>, which is open until October 15th!

    %hr

.grid-x.grid-margin-x
  .cell
    %h3 Tickets

    %p We will start selling tickets for the upcoming conference on <strong>Monday 10th September</strong> at 11:00AM AEST / 10:30 ACST / 9:00 AWST. There will be a limited number of early bird and concession tickets, and we will also have an Opportunity Program.

    %p Our <strong>Opportunity Program</strong> includes a free ticket to the conference plus an allowance for travel and accommodation costs for those outside Melbourne. This is for people who would otherwise not be able to afford attending RubyConf AU - we know not everyone receives the same opportunities to get ahead in their career, so this is just one step towards evening things out.

.grid-x.grid-margin-x
  .cell
    %hr

    %p
      We're working hard at putting together another fun-filled RubyConf AU, and will have more details for you soon! We might give this site a significant lick of paint too.
      %i.fa.fa-paint-roller

    %p In the meantime, if you've any questions, don't hesitate to get in touch by any of the contact methdos below.

    %p
      To keep on top of the latest,
      %a{href: "https://confirmsubscription.com/h/j/809D057CE90261E7"} subscribe to the mailing list
      or
      %a{href: "https://twitter.com/rubyconf_au"} follow us on Twitter.
