.grid-x.grid-margin-x
  .cell
    %h1
      %i.fa.fa-gem
      RubyConf AU
      %i.fa.fa-gem
    %h2 February 7th and 8th, 2019
    %h2 The Forum, Melbourne

    %p
      %img{src: "/images/2019/forum.jpg"}

    %p.lead Our yearly gathering where we share knowledge about the Ruby programming language, and celebrate the Australian and broader Ruby community.

    %p
      We're working hard at putting together another fun-filled RubyConf AU, and will have more details for you soon - including speakers, tickets, and special events! We might give this site a significant lick of paint too.
      %i.fa.fa-paint-roller

    %p
      To keep on top of the latest,
      %a{href: "https://confirmsubscription.com/h/j/51E45DFD6346F0F4"} subscribe to the mailing list
      or
      %a{href: "https://twitter.com/rubyconf_au"} follow us on Twitter.
