!!!
%html.no-js{lang: 'en'}
  %head
    /
      Hello! This code is open-source, and MIT licensed. Go here to check out the code:
      https://github.com/rubyaustralia/ruby-conf-au
    %title= @page_title || "RubyConf AU 2019"

    %meta{ charset: "utf-8"}
    %meta{ content:'width=device-width, initial-scale=1.0', name:'viewport'}
    %link{ rel: "stylesheet", href: asset_path('2019/styles/all.css')}
    %link{ rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.1.1/css/all.css", integrity: "sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ", crossorigin: "anonymous" }
    %link{ rel: 'stylesheet', href: 'https://css.tito.io/v1.1', type: 'text/css' }
    %link{ rel:'shortcut icon', href:'/images/2018/favicon.png'}
    %link{ href: "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900", rel: "stylesheet" }
    %script{ src: 'https://js.tito.io/v1', async: 'async' }
  %body
    = haml :'2019/common/_header'

    .div
      != yield

      = haml :'2019/common/_footer'
