.introduction
  .container
    %h3 Our 2019 Location:
    %h4 The Forum, a grand 90-year-old theatre and music venue.

    .forum
      %img{src: "/images/2019/forum.jpg"}

.location
  .container
    %p
      %a{href: "https://goo.gl/maps/Yiba41CZGRt"} The Forum
      is in the heart of the CBD on the corner of Flinders and Russell Streets, and is easily accessible by a train to Flinders St Station or most trams. The closest car park is the Federation Square car park which is accessible from Russell Street and Batman Avenue.

    %p When considering where you might stay, somewhere in the CBD is certainly ideal, as you'll likely be an easy stroll from the venue - but of course, you'll have to pay more for that privilege. Public transport in Melbourne is (mostly) reliable, so you could always stay further afield and take a train or tram into the city. Fitzroy, Collingwood, North Melbourne, Richmond and South Yarra are suburbs that are all quite close with decent transport options. Flinders Street Station (which all trains travel to/from) is just a block away from The Forum.

    %p
      Feel free to send us questions
      %a{href: "https://twitter.com/rubyconf_au", target: "_blank"} on Twitter
      or
      %a{href: "mailto:organisers@rubyconf.org.au"} by email
      if you're unsure which options will suit you best.
