.introduction
  .container
    %nav.shortcuts
      %a{href: '#wednesday'} Wed
      %a{href: '#thursday'} Thu
      %a{href: '#friday'} Fri
      %a{href: '#saturday'} Sat

.schedule
  .container
    %h3#wednesday.day
      Wednesday, 6th February
  - wednesday = @schedule.for(day: 'wednesday')
  %ol
    - wednesday.each do |event|
      %li= haml :'2019/schedule/_event', locals: { event: event, last: event == wednesday.last }

  .container
    %h3#thursday.day
      Thursday, 7th February
  - thursday = @schedule.for(day: 'thursday')
  %ol
    - thursday.each do |event|
      %li= haml :'2019/schedule/_event', locals: { event: event, last: event == thursday.last }

  .container
    %h3#friday.day
      Friday, 8th February
  - friday = @schedule.for(day: 'friday')
  %ol
    - friday.each do |event|
      %li= haml :'2019/schedule/_event', locals: { event: event, last: event == friday.last }

  .container
    %h3#saturday.day
      Saturday, 9th February
  - saturday = @schedule.for(day: 'saturday')
  %ol
    - saturday.each do |event|
      %li= haml :'2019/schedule/_event', locals: { event: event, last: true }
