.introduction
  .container
    %h3 Social Events
    %h4 Coming soon: an array of fun and varied activities to surround the conference!

.events
  .container
    %p
      We're still piecing this together, but once we have something concrete to share, we'll be letting all of our ticket-holders know first - and then soon after that, everyone else following us
      %a{href: "https://confirmsubscription.com/h/j/809D057CE90261E7", target: "_blank"} via email
      or
      %a{href: "https://twitter.com/rubyconf_au", target: "_blank"} social media!

    %p
      Our opening party will be happening on
      %strong Wednesday, February 6th
      and there'll be further delightful events on
      %strong Saturday, February 9th -
      so if you're flying in to Melbourne, we very much you stick around for as much of those days as possible!
