.introduction
  .container
    %h4 Behold, the stellar line-up of speakers for our conference!

.all-speakers.all
  .container
    - @speakers.via_invite.each do |speaker|
      = haml :'2019/_speaker', locals: { speaker: speaker }

    - @speakers.via_cfp.shuffle.each do |speaker|
      = haml :'2019/_speaker', locals: { speaker: speaker }

.introduction
  .container
    %h4 And our magnificent masters of ceremony:

.all-speakers.all
  .container
    - @speakers.mcs.shuffle.each do |speaker|
      = haml :'2019/_speaker', locals: { speaker: speaker }
