* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font: 100 18px/1.3 $body-font;
  letter-spacing: $body-letter-spacing;
  @media (min-width: 500px) { font-size: 16px; }
  @media (min-width: 700px) { font-size: 21px; }
}

h1, h2, h3 {
  font-family: $body-font;
  text-transform: uppercase;
  color: black;
  a {
    color: currentColor;
  }
}

body {
  color: #848484;
}

a {
  text-decoration: none; color: $link-text-color; font-weight: bold;
  &:focus { outline: 1px dotted currentColor; }
  &:hover { text-decoration: underline; }
}

sup {
  position: relative;
  top: -0.3em;
  font-size: 75%;
  vertical-align: baseline;
}

h3 sup {
  font-size: 66%;
  top: -0.35em;
  left: .1em;
}

p {
  letter-spacing: $body-letter-spacing-small;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
  position: absolute;

  clip: rect(0,0,0,0);
  border: 0;
}
