$grey-very-light: #f9f9f9;
$grey-light: #fefefe;
$grey-light-text: #999999;
$grey: #848484;
$grey-dark: #666666;
$black: #000;
$blue: #40B2DC;

$blue-grey: #9299a7;

$background-color: $grey-very-light;
$heading-color: $black;
$text-color: $grey;

$button-color: $blue;
$button-text-color: white;

$link-text-color: $blue;
