$grey-very-light: #f9f9f9;
$grey-light: #fafafa;
$grey: #848484;
$grey-dark: #666666;
$black: #000;

$blue-grey: #9299a7;

$background-color: $grey-very-light;
$heading-color: $black;
$text-color: $grey;
