$body-font: "roboto", "Roboto", sans-serif;
$body-letter-spacing: 0.25rem;
$body-letter-spacing-small: 0.05rem;

$standard-text-size: 0.75rem;

$nav-links-size: 0.65rem;
$footer-links-size: $standard-text-size;
$paragraph-size: $standard-text-size;
$button-text-size: $standard-text-size;
$section-heading-size: 0.75rem;
