@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
.grid {
  font-size: 0;
  vertical-align: top; }

.grid__cell {
  display: block;
  font-size: 1rem;
  vertical-align: top; }
  @media (min-width: 800px) {
    .grid__cell {
      display: inline-block;
      text-align: center;
      width: 41%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 1200px) {
    .grid__cell {
      display: inline-block;
      text-align: center;
      width: 21.33333%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 800px) {
    .grid__cell.event, .grid__cell.workshop, .grid__cell.two-col {
      display: inline-block;
      text-align: center;
      width: 94%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 1200px) {
    .grid__cell.event, .grid__cell.workshop, .grid__cell.two-col {
      display: inline-block;
      text-align: center;
      width: 41%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 800px) {
    .grid__cell.one-col {
      display: inline-block;
      text-align: center;
      width: 94%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 1200px) {
    .grid__cell.one-col {
      display: inline-block;
      text-align: center;
      width: 94%;
      margin-left: 3%;
      margin-right: 3%; } }
  .grid__cell p {
    max-width: 100%; }

.button {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  background-color: #40B2DC;
  border: 4px solid #40B2DC;
  border-radius: 4px;
  padding: .75rem 1rem;
  margin: 1.5rem 0; }

.button:hover {
  text-decoration: none;
  cursor: pointer; }

.body-section, .body-section--event-header, .content-page--event-header, .body-section--content, .body-section--event, .body-section--event-footer, .body-section--previous-years, .content-page__header {
  padding-left: 1rem;
  text-align: center;
  margin: auto; }
  .body-section p, .body-section--event-header p, .content-page--event-header p, .body-section--content p, .body-section--event p, .body-section--event-footer p, .body-section--previous-years p, .content-page__header p, .body-section ul, .body-section--event-header ul, .content-page--event-header ul, .body-section--content ul, .body-section--event ul, .body-section--event-footer ul, .body-section--previous-years ul, .content-page__header ul {
    max-width: 960px;
    margin: auto;
    padding-bottom: 1rem; }

.body-section--event-header, .content-page--event-header {
  background: url("/images/2016/background.jpg") top center no-repeat; }
  .body-section--event-header .skip-nav, .content-page--event-header .skip-nav {
    width: 63px;
    height: 48px;
    position: absolute;
    text-indent: -1000px;
    overflow: hidden;
    bottom: 2rem;
    left: 50%;
    margin-left: -31.5px;
    opacity: 0;
    -webkit-animation: .75s down-arrow-animation infinite alternate;
            animation: .75s down-arrow-animation infinite alternate;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
  .body-section--event-header .skip-nav:focus, .content-page--event-header .skip-nav:focus {
    opacity: 1;
    -webkit-animation-play-state: running;
            animation-play-state: running; }
  @media (min-width: 1500px) {
    .body-section--event-header, .content-page--event-header {
      background-size: 100%; } }
  @media (min-width: 2500px) {
    .body-section--event-header, .content-page--event-header {
      background-position-y: -200px; } }
  @media (min-width: 900px) and (min-height: 30rem) {
    .body-section--event-header, .content-page--event-header {
      padding-top: 4rem; }
      .body-section--event-header .skip-nav, .content-page--event-header .skip-nav {
        opacity: 1;
        -webkit-animation-play-state: running;
                animation-play-state: running; } }
  .body-section--event-header .body-section--event-header__logo, .content-page--event-header .body-section--event-header__logo {
    padding: 2rem 0 1rem;
    width: 50%; }
    @media (min-width: 500px) {
      .body-section--event-header .body-section--event-header__logo, .content-page--event-header .body-section--event-header__logo {
        width: auto; } }
  .body-section--event-header .body-section--event-header__city, .content-page--event-header .body-section--event-header__city {
    padding: 0.75rem 0; }
  .body-section--event-header .body-section--event-header__date, .content-page--event-header .body-section--event-header__date {
    padding: 0 0 2rem; }

.body-section--content, .body-section--event, .body-section--event-footer, .body-section--previous-years {
  padding: 1rem 0.5rem 2rem; }
  @media (min-width: 500px) {
    .body-section--content, .body-section--event, .body-section--event-footer, .body-section--previous-years {
      padding: 4rem 0 2rem; } }
  .body-section--content h2, .body-section--event h2, .body-section--event-footer h2, .body-section--previous-years h2 {
    font-size: 0.95rem;
    padding-bottom: 1rem; }
  .body-section--content p, .body-section--event p, .body-section--event-footer p, .body-section--previous-years p, .body-section--content li, .body-section--event li, .body-section--event-footer li, .body-section--previous-years li {
    font-size: 0.75rem; }
  .body-section--content:nth-child(odd), .body-section--event:nth-child(odd), .body-section--event-footer:nth-child(odd), .body-section--previous-years:nth-child(odd) {
    background: #f9f9f9; }
  .body-section--content:nth-child(even), .body-section--event:nth-child(even), .body-section--event-footer:nth-child(even), .body-section--previous-years:nth-child(even) {
    background: #fefefe; }
  .body-section--content .grid__cell p, .body-section--event .grid__cell p, .body-section--event-footer .grid__cell p, .body-section--previous-years .grid__cell p {
    max-width: 100%; }
  .body-section--content ul li, .body-section--event ul li, .body-section--event-footer ul li, .body-section--previous-years ul li {
    list-style: disc;
    margin-left: 2rem; }
  .body-section--content .lead, .body-section--event .lead, .body-section--event-footer .lead, .body-section--previous-years .lead {
    font-size: 0.85rem; }

.body-section--event img {
  width: 100%;
  max-width: 1000px; }

.body-section__container {
  max-width: 1600px;
  margin: auto; }

.body-section--event-footer ul li {
  display: inline;
  list-style: none;
  margin-left: 0; }
.body-section--event-footer li + li:before {
  content: '\b7';
  color: #40B2DC;
  font-size: 0.75rem;
  letter-spacing: 0.05rem; }

.body-section--previous-years ul li {
  display: inline;
  list-style: none;
  margin-left: 0; }
.body-section--previous-years li + li:before {
  content: '\b7';
  color: #40B2DC;
  font-size: 0.75rem;
  letter-spacing: 0.05rem; }

.site-nav {
  display: none; }

@media (min-width: 500px) {
  .site-nav {
    display: block;
    background: #fefefe;
    padding: 1rem; }
    .site-nav a {
      display: block;
      width: 100%; } }
  @media (min-width: 500px) and (min-width: 900px) {
    .site-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      text-align: center;
      padding: 0; }
      .site-nav a {
        display: inline-block;
        border: none;
        font-size: 0.65rem;
        color: #666666;
        text-transform: uppercase;
        width: auto;
        padding: 0 0.25rem;
        line-height: 51px;
        box-sizing: border-box;
        border-bottom: 2px solid #fefefe;
        font-weight: normal; }
        .site-nav a:hover, .site-nav a:active, .site-nav a:focus {
          color: #000;
          border-bottom: 2px solid #9299a7;
          text-decoration: none; } }

.footer__link {
  text-align: center; }
  .footer__link a {
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    color: #40B2DC;
    font-weight: 200; }

.content-page__header {
  padding: 2rem 0 1rem 0; }
  .content-page__header h1 {
    font-size: 3rem; }

@media (max-width: 400px) {
  .content-page__header--accessibility h1 {
    font-size: 1.6rem; } }

@media (max-width: 400px) {
  .content-page__header--accommodation h1 {
    font-size: 1.6rem; } }

.content-page .body-section--content, .content-page .body-section--event, .content-page .body-section--event-footer, .content-page .body-section--previous-years {
  padding: 1rem 0.5rem 2rem;
  text-align: left; }
  .content-page .body-section--content h2, .content-page .body-section--event h2, .content-page .body-section--event-footer h2, .content-page .body-section--previous-years h2 {
    text-align: center;
    font-size: 1.5rem; }
  .content-page .body-section--content h3, .content-page .body-section--event h3, .content-page .body-section--event-footer h3, .content-page .body-section--previous-years h3 {
    text-align: center;
    padding-bottom: 1rem; }

.event {
  text-align: center;
  padding: 0.25rem; }
  .event h3 {
    text-transform: uppercase;
    font-size: 0.95rem;
    margin-bottom: 40px; }
  .event img {
    width: 100%;
    border: 5px solid #bfd0d8; }

.body-section--event .event {
  max-width: 750px;
  text-align: left;
  margin: auto;
  padding: 0 20px; }
.body-section--event h3 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px; }
.body-section--event p {
  margin: 0;
  width: 100%;
  max-width: 100%; }
.body-section--event img {
  border: 5px solid #bfd0d8; }
.body-section--event .button {
  display: block;
  width: 12rem;
  margin: 20px auto;
  text-align: center; }
.body-section--event .event__date-time {
  color: #999999;
  font-size: 0.75rem;
  letter-spacing: 0.05rem; }

.getting-there {
  text-align: left; }
  .getting-there p {
    font-weight: bold;
    padding-bottom: 0; }

.event-divider {
  padding: 20px; }

@media screen and (min-width: 768px) {
  .carousel-control .icon-next.event__control, .carousel-control .icon-prev.event__control {
    font-size: 100px;
    margin-top: -60px; } }
.map {
  width: 100%;
  height: 400px; }

.speaker, .speaker--more-to-come, .speaker--and-more {
  margin-bottom: 3rem; }
  .speaker .speaker__photo, .speaker--more-to-come .speaker__photo, .speaker--and-more .speaker__photo {
    margin-top: 1rem; }
  .speaker:last-of-type, .speaker--more-to-come:last-of-type, .speaker--and-more:last-of-type {
    margin-bottom: 0; }

.speaker__photo {
  text-align: center;
  padding-top: 10px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 305px; }
  .speaker__photo .speaker__photo__image {
    width: 285px;
    height: 285px;
    font-size: 5rem;
    line-height: 250px;
    margin: 0 auto 5px;
    border: 5px solid #bfd0d8; }

.speaker__bio {
  text-align: left; }

.speaker__links {
  text-align: left; }

.speaker__name {
  font-size: 0.75rem;
  text-align: center; }

.speaker__talk {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem; }

.speaker--more-to-come .speaker__photo__image {
  background-color: #ccc;
  vertical-align: middle;
  font-size: 48px;
  opacity: .3; }
.speaker--more-to-come .speaker__links {
  text-align: center; }

.speaker--more-to-come__question-mark {
  position: absolute;
  top: 50%;
  margin-top: -.6em;
  left: 0;
  width: 100%; }

.speaker--and-more {
  text-align: center; }
  .speaker--and-more .speaker__photo__image {
    background-color: #ccc;
    vertical-align: middle;
    opacity: .3; }
  .speaker--and-more .speaker__links {
    text-align: center; }

.sponsor-logo {
  padding: 40px;
  display: block;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.sponsor-section {
  display: block;
  margin: auto;
  padding-top: 40px; }

.schedule {
  display: table;
  width: 60%;
  margin: auto;
  background: white;
  border: 3px solid #ccc; }

@media (max-width: 767px) {
  .schedule {
    width: 100%; } }
.schedule__day {
  display: table-row; }

.schedule__date {
  display: table-cell;
  width: 25%;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  text-transform: uppercase;
  color: black;
  font-weight: bold; }

.event-time {
  font-weight: bold; }

.event-title {
  font-weight: bold; }

.event-description {
  padding: 10px 0 20px; }
  .event-description p {
    margin: 0; }

.schedule__events {
  display: table-cell;
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 10px 0; }

.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .carousel-inner > .item {
    display: none;
    position: relative;
    transition: 0.6s ease-in-out left; }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      max-width: 100%;
      height: auto;
      line-height: 1; }
    @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-inner > .item {
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px; }
        .carousel-inner > .item.next, .carousel-inner > .item.active.right {
          -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
          left: 0; }
        .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          left: 0; }
        .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          left: 0; } }
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block; }
  .carousel-inner > .active {
    left: 0; }
  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }
  .carousel-inner > .next {
    left: 100%; }
  .carousel-inner > .prev {
    left: -100%; }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0; }
  .carousel-inner > .active.left {
    left: -100%; }
  .carousel-inner > .active.right {
    left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
  .carousel-control.right {
    left: auto;
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
  .carousel-control:hover, .carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90); }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block; }
  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px; }
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px; }
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif; }
  .carousel-control .icon-prev:before {
    content: '\2039'; }
  .carousel-control .icon-next:before {
    content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent; }
  .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff; }

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
  .carousel-caption .btn {
    text-shadow: none; }

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px; }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px; }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px; }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px; }

  .carousel-indicators {
    bottom: 20px; } }
@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font: 100 18px/1.3 "roboto", "Roboto", sans-serif;
  letter-spacing: 0.25rem; }
  @media (min-width: 500px) {
    html {
      font-size: 16px; } }
  @media (min-width: 700px) {
    html {
      font-size: 21px; } }

h1, h2, h3 {
  font-family: "roboto", "Roboto", sans-serif;
  text-transform: uppercase;
  color: black; }
  h1 a, h2 a, h3 a {
    color: currentColor; }

body {
  color: #848484; }

a {
  text-decoration: none;
  color: #40B2DC;
  font-weight: bold; }
  a:focus {
    outline: 1px dotted currentColor; }
  a:hover {
    text-decoration: underline; }

sup {
  position: relative;
  top: -0.3em;
  font-size: 75%;
  vertical-align: baseline; }

h3 sup {
  font-size: 66%;
  top: -0.35em;
  left: .1em; }

p, li {
  letter-spacing: 0.05rem; }

.sr-only {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.strong {
  font-weight: bold; }
