.grid {
  font-size: 0;
  vertical-align: top; }

.grid__cell {
  display: block;
  font-size: 1rem;
  vertical-align: top; }
  @media (min-width: 800px) {
    .grid__cell {
      display: inline-block;
      text-align: center;
      width: 41%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 1200px) {
    .grid__cell {
      display: inline-block;
      text-align: center;
      width: 21.33333%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 800px) {
    .grid__cell.event, .grid__cell.two-col {
      display: inline-block;
      text-align: center;
      width: 94%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 1200px) {
    .grid__cell.event, .grid__cell.two-col {
      display: inline-block;
      text-align: center;
      width: 41%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 800px) {
    .grid__cell.one-col {
      display: inline-block;
      text-align: center;
      width: 94%;
      margin-left: 3%;
      margin-right: 3%; } }
  @media (min-width: 1200px) {
    .grid__cell.one-col {
      display: inline-block;
      text-align: center;
      width: 94%;
      margin-left: 3%;
      margin-right: 3%; } }
  .grid__cell p {
    max-width: 100%; }

.button {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  background-color: #40B2DC;
  border: 4px solid #40B2DC;
  border-radius: 4px;
  padding: .75rem 1rem;
  margin: 1.5rem 0; }

.button:hover {
  text-decoration: none;
  cursor: pointer; }

.body-section, .body-section--event-header, .content-page--event-header, .body-section--content, .body-section--event-footer, .content-page__header {
  padding-left: 1rem;
  text-align: center; }
  .body-section p, .body-section--event-header p, .content-page--event-header p, .body-section--content p, .body-section--event-footer p, .content-page__header p, .body-section ul, .body-section--event-header ul, .content-page--event-header ul, .body-section--content ul, .body-section--event-footer ul, .content-page__header ul {
    max-width: 30rem;
    margin: auto;
    padding-bottom: 1rem; }

.body-section--event-header, .content-page--event-header {
  background: url("/images/2016/background.png") top center no-repeat; }
  .body-section--event-header .skip-nav, .content-page--event-header .skip-nav {
    width: 63px;
    height: 48px;
    position: absolute;
    text-indent: -1000px;
    overflow: hidden;
    bottom: 2rem;
    left: 50%;
    margin-left: -31.5px;
    opacity: 0;
    -webkit-animation: .75s down-arrow-animation infinite alternate;
            animation: .75s down-arrow-animation infinite alternate;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
  .body-section--event-header .skip-nav:focus, .content-page--event-header .skip-nav:focus {
    opacity: 1;
    -webkit-animation-play-state: running;
            animation-play-state: running; }
  @media (min-width: 900px) and (min-height: 30rem) {
    .body-section--event-header, .content-page--event-header {
      padding-top: 4rem; }
      .body-section--event-header .skip-nav, .content-page--event-header .skip-nav {
        opacity: 1;
        -webkit-animation-play-state: running;
                animation-play-state: running; } }
  .body-section--event-header .body-section--event-header__logo, .content-page--event-header .body-section--event-header__logo {
    padding: 2rem 0 1rem; }
  .body-section--event-header .body-section--event-header__city, .content-page--event-header .body-section--event-header__city {
    padding: 0.75rem 0; }
  .body-section--event-header .body-section--event-header__date, .content-page--event-header .body-section--event-header__date {
    padding: 0 0 2rem; }

.body-section--content, .body-section--event-footer {
  padding: 4rem 0 2rem; }
  .body-section--content h2, .body-section--event-footer h2 {
    font-size: 0.75rem;
    padding-bottom: 1rem; }
  .body-section--content p, .body-section--event-footer p, .body-section--content li, .body-section--event-footer li {
    font-size: 0.75rem; }
  .body-section--content:nth-child(even), .body-section--event-footer:nth-child(even) {
    background: #f9f9f9; }
  .body-section--content:nth-child(odd), .body-section--event-footer:nth-child(odd) {
    background: #fefefe; }
  .body-section--content .grid__cell p, .body-section--event-footer .grid__cell p {
    max-width: 100%; }

.site-nav {
  background: #fefefe;
  padding: 1rem; }
  .site-nav a {
    display: block;
    width: 100%; }
  @media (min-width: 900px) {
    .site-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      text-align: center;
      padding: 0; }
      .site-nav a {
        display: inline-block;
        border: none;
        font-size: 0.65rem;
        color: #666666;
        text-transform: uppercase;
        width: auto;
        padding: 0.75rem 0.25rem;
        box-sizing: border-box;
        border-bottom: 2px solid #fefefe;
        font-weight: normal; }
        .site-nav a:hover, .site-nav a:active, .site-nav a:focus {
          color: #000;
          border-bottom: 2px solid #9299a7;
          text-decoration: none; } }

.footer__link {
  text-align: center; }
  .footer__link a {
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    color: #40B2DC;
    font-weight: 200; }

.content-page__header {
  padding: 4rem 0 3rem 0; }
  .content-page__header h1 {
    font-size: 3rem; }

@media (max-width: 400px) {
  .content-page__header--accessibility h1 {
    font-size: 1.6rem; } }

@media (max-width: 400px) {
  .content-page__header--accommodation h1 {
    font-size: 1.6rem; } }

.event {
  text-align: center;
  padding: 0.25rem; }
  .event h3 {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 40px; }
  .event img {
    width: 100%;
    border: 5px solid #bfd0d8; }

.map {
  width: 100%;
  height: 400px; }

.speaker, .speaker--more-to-come, .speaker--and-more {
  margin-bottom: 3rem; }
  .speaker .speaker__name, .speaker--more-to-come .speaker__name, .speaker--and-more .speaker__name {
    margin-bottom: 1rem; }
  .speaker .speaker__photo, .speaker--more-to-come .speaker__photo, .speaker--and-more .speaker__photo {
    margin-top: 1rem; }
  .speaker:last-of-type, .speaker--more-to-come:last-of-type, .speaker--and-more:last-of-type {
    margin-bottom: 0; }

.speaker__photo {
  text-align: center;
  background-color: #bfd0d8;
  padding-top: 10px;
  margin-bottom: 20px; }
  .speaker__photo .speaker__photo__image {
    width: 285px;
    height: 285px;
    font-size: 5rem;
    line-height: 250px;
    margin: 0 auto 5px; }

.speaker__bio {
  text-align: left; }

.speaker__links {
  text-align: left; }

.speaker__name {
  font-size: 0.75rem;
  text-align: center; }

.speaker--more-to-come .speaker__photo__image {
  background-color: #ccc;
  vertical-align: middle;
  font-size: 48px;
  opacity: .3; }
.speaker--more-to-come .speaker__links {
  text-align: center; }

.speaker--more-to-come__question-mark {
  position: absolute;
  top: 50%;
  margin-top: -.6em;
  left: 0;
  width: 100%; }

.speaker--and-more {
  text-align: center; }
  .speaker--and-more .speaker__photo__image {
    background-color: #ccc;
    vertical-align: middle;
    opacity: .3; }
  .speaker--and-more .speaker__links {
    text-align: center; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font: 100 18px/1.3 "roboto", "Roboto", sans-serif;
  letter-spacing: 0.25rem; }
  @media (min-width: 500px) {
    html {
      font-size: 16px; } }
  @media (min-width: 700px) {
    html {
      font-size: 21px; } }

h1, h2, h3 {
  font-family: "roboto", "Roboto", sans-serif;
  text-transform: uppercase;
  color: black; }
  h1 a, h2 a, h3 a {
    color: currentColor; }

body {
  color: #848484; }

a {
  text-decoration: none;
  color: #40B2DC;
  font-weight: bold; }
  a:focus {
    outline: 1px dotted currentColor; }
  a:hover {
    text-decoration: underline; }

sup {
  position: relative;
  top: -0.3em;
  font-size: 75%;
  vertical-align: baseline; }

h3 sup {
  font-size: 66%;
  top: -0.35em;
  left: .1em; }

p {
  letter-spacing: 0.05rem; }
