@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,900");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding: 0;
  margin: 0;
  font-weight: 300; }

header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  header::after {
    clear: both;
    content: "";
    display: block; }

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin: 0 0 40px;
  padding: 0;
  font-style: italic;
  font-weight: 300; }

h1 {
  font-size: 8.0rem;
  line-height: 6.0rem;
  font-weight: 400;
  padding: 0;
  margin: 0 0 3.0rem 0; }
  h1 small {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 300;
    display: block; }

h2 {
  font-size: 5.0rem;
  font-style: italic;
  line-height: 5.0rem;
  text-transform: uppercase;
  color: #6484DF;
  margin: 0 0 4.0rem;
  padding: 0; }

h3 {
  color: #6484DF;
  font-size: 2.0rem; }

.column {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .column::after {
    clear: both;
    content: "";
    display: block; }

section {
  padding: 5rem 0; }

section.billboard {
  background: url(/images/2017/billboard.jpg) no-repeat center center black;
  background-size: cover;
  text-align: center;
  color: white;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  section.billboard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #DA4D3D;
    opacity: 0.5;
    z-index: 1; }
  section.billboard:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url("/images/2017/rubies.svg") center center no-repeat;
    background-size: 100% 90%; }
  section.billboard > .column {
    position: relative;
    z-index: 100; }
  section.billboard p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    font-size: 2.0rem;
    line-height: 2.4rem; }
    section.billboard p:last-child {
      margin-right: 0; }
  section.billboard a {
    background: #FFD740;
    color: #4A4A4A;
    font-size: 1.5rem;
    padding: 0.8rem 4rem;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 6.0rem; }
    section.billboard a:hover {
      background: #ffcc0d; }

section#speakers {
  background: #FCDBDB;
  border-top: 1px solid #DA4D3D;
  border-bottom: 1px solid #DA4D3D; }

.speaker {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin: 0 0 40px;
  width: 33.33333%;
  text-decoration: none;
  color: black; }
  .speaker:last-child {
    margin-right: 0; }
  .speaker:nth-child(3n) {
    margin-right: 0; }
  .speaker:nth-child(3n+1) {
    clear: left; }
  .speaker .about {
    padding: 1.4rem; }
  .speaker img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    position: relative;
    opacity: 0.6; }
  .speaker h3 {
    margin-bottom: 0; }
  .speaker .twitter {
    color: #6484DF; }
  .speaker .bio {
    color: #DA4D3D; }
  .speaker:hover img {
    opacity: 1.0; }

section#sponsors h1 {
  text-align: center;
  color: #6484DF;
  line-height: 8.0rem; }
  section#sponsors h1 small {
    color: #4A4A4A; }
section#sponsors p.help {
  text-align: center;
  margin-bottom: 6.0rem; }
  section#sponsors p.help a {
    background: #DA4D3D;
    color: white;
    font-size: 1.5rem;
    padding: 0.8rem 4rem;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 6.0rem; }
    section#sponsors p.help a:hover {
      background: #bf3425; }
section#sponsors h3 {
  font-size: 3.0rem;
  text-align: center; }
section#sponsors .sponsor-group {
  margin-bottom: 6.0rem; }
  section#sponsors .sponsor-group::after {
    clear: both;
    content: "";
    display: block; }
  section#sponsors .sponsor-group a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center; }
    section#sponsors .sponsor-group a:last-child {
      margin-right: 0; }
    section#sponsors .sponsor-group a img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      max-width: 100%;
      opacity: 0.5; }
    section#sponsors .sponsor-group a:first-of-type {
      margin-left: 17.05961%; }
    section#sponsors .sponsor-group a:hover img {
      -webkit-filter: none;
      filter: none;
      opacity: 0.9; }

header {
  padding: 1.5rem 0; }
  header > a {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    font-family: "Lato", sans-serif;
    font-size: 2.0rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: black; }
    header > a:last-child {
      margin-right: 0; }
    header > a small {
      display: block;
      font-weight: 300;
      font-size: 1.0rem;
      letter-spacing: 0.9px; }
  header nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    text-align: right;
    padding: 0.8rem 0; }
    header nav:last-child {
      margin-right: 0; }
    header nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    header nav li {
      display: inline;
      padding: 0 0.8rem; }
      header nav li:last-of-type {
        padding-right: 0; }
        header nav li:last-of-type a {
          color: #DA4D3D; }
    header nav a {
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      color: black;
      text-decoration: none;
      font-weight: 700;
      position: relative;
      text-align: center; }
      header nav a:hover:after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: -1px;
        left: 0;
        height: 3px;
        background: #6484DF; }
