%hgroup
  %h1 It’s time to bring the leading developers from around the region and beyond together for the first ever Ruby conference to be held in Australia.

%section.speakers
  %a.speaker{href: "/speakers#corey_haines"}
    %figure
      %img.speaker{src: "/images/speakers/corey_haines.jpg", width: "174px"}
      %figcaption Corey Haines

  %a.speaker{href: "/speakers#aaron_patterson"}
    %figure
      %img.speaker{src: "/images/speakers/aaron_patterson.jpg", width: "174px"}
      %figcaption Aaron Patterson

  %a.speaker{href: "/speakers#dave_thomas"}
    %figure
      %img.speaker{src: "/images/speakers/dave_thomas.jpg", width: "174px"}
      %figcaption Dave Thomas

  %a.speaker{href: "/speakers#mike_lindsaar"}
    %figure
      %img.speaker{src: "/images/speakers/mike_lindsaar.jpg", width: "174px"}
      %figcaption Mike Lindsaar

%section.sponsors
  %h3.red Ruby Sponsor
  .ruby
    %a{href: "http://envato.com"}
      %img{src: "/images/sponsors/envato.svg", alt: "Envato", width: "228px"}
  %h3.green Emerald Sponsors
  .emerald
    %a{href: "http://www.thoughtworks.com/"}
      %img{src: "/images/sponsors/thoughtworks.svg", alt: "Thoughtworks", width: "220px"}
    %a{href: "http://www.realestate.com.au/"}
      %img{src: "/images/sponsors/rea.svg", alt: "REA", width: "220px"}

%section.social
  %form
    %h4.red Join our mailing list
    %span.success ✔
    %span.error ✗
    %div.progress
    %input{placeholder: "you@email.com", type: "text"}
    %a{class: "button", href: "#"} Join
  %div.networks
    %h4.red Find us elsewhere
    %a.twitter{href: "http://twitter.com/rubyconf_au"}
      %img{src: "/images/icons/twitter.svg", alt: "Twitter", height: "40px"}
      %span @rubyconf_au
    %a.facebook{href: "http://www.facebook.com/RubyConfAustralia"}
      %img{src: "/images/icons/facebook.svg", alt: "Facebook", height: "40px"}
      %span RubyConfAustralia

%section.news
  %article
    %a.wrap{href: "#"}
      %h5 November 1, 2012
      %h4.blue 80 Proposals Received
      %p At the close of the talks CFP, 80 proposals had been received, posing a challenge to select the final talks. Thanks to all who submitted!
  %article
    %a.wrap{href: "#"}
      %h5 August 14, 2012
      %h4.blue Lindsaar joins Keynotes
      %p Mikel Lindsaar, the only Australian member of the Rails commit team, will round out the keynote presenters at RubyConf Australia.
  %article
    %a.wrap{href: "#"}
      %h5 July 11, 2012
      %h4.blue Dave Thomas to Keynote
      %p Dave Thomas, of Pragmatic Programmers fame, will be delivering a keynote as well as an Advanced Ruby workshop at RubyConf Australia.
  %article
    %a.wrap{href: "#"}
      %h5 June 15, 2012
      %h4.blue First Keynote Speakers
      %p Corey Haines and Aaron Patterson have been secured as the first keynote speakers for RubyConf Australia.
