%hgroup
  %h1 It’s time to bring the leading developers from around the region and beyond together for the first ever Ruby conference to be held in Australia.

%section.speakers
  %a.speaker{href: "/speakers#corey_haines"}
    %figure
      %img.speaker{src: "/images/speakers/corey_haines.jpg", width: "174px"}
      %figcaption Corey Haines

  %a.speaker{href: "/speakers#aaron_patterson"}
    %figure
      %img.speaker{src: "/images/speakers/aaron_patterson.jpg", width: "174px"}
      %figcaption Aaron Patterson

  %a.speaker{href: "/speakers#dave_thomas"}
    %figure
      %img.speaker{src: "/images/speakers/dave_thomas.jpg", width: "174px"}
      %figcaption Dave Thomas

  %a.speaker{href: "/speakers#mikel_lindsaar"}
    %figure
      %img.speaker{src: "/images/speakers/mikel_lindsaar.jpg", width: "174px"}
      %figcaption Mikel Lindsaar

%section.sponsors
  %h3.red Ruby Sponsor
  .ruby
    %a{href: "http://envato.com"}
      %img{src: "/images/sponsors/envato.svg", alt: "Envato", width: "228px"}
  %h3.green Emerald Sponsors
  .emerald
    %a{href: "http://www.thoughtworks.com/"}
      %img{src: "/images/sponsors/thoughtworks.svg", alt: "Thoughtworks", width: "220px"}
    %a{href: "http://www.realestate.com.au/"}
      %img{src: "/images/sponsors/rea.svg", alt: "REA", width: "220px"}

%section.social
  %form
    %h4.red Join our mailing list
    %span.success ✔
    %span.error ✗
    %div.progress
    %input{placeholder: "you@email.com", type: "text"}
    %a{class: "button", href: "#"} Join
  %div.networks
    %h4.red Find us elsewhere
    %a.twitter{href: "http://twitter.com/rubyconf_au"}
      %img{src: "/images/icons/twitter.svg", alt: "Twitter", height: "40px"}
      %span @rubyconf_au
    %a.facebook{href: "http://www.facebook.com/RubyConfAustralia"}
      %img{src: "/images/icons/facebook.svg", alt: "Facebook", height: "40px"}
      %span RubyConfAustralia

%section.news
  %article
    %a.wrap{href: "/news#20130219"}
      %h5 February 19, 2013
      %h4.blue RubyConfAU Social Events
      %p
        As delegates gather, we have news of social events for Wednesday, Thursday and Friday evenings.
  %article
    %a.wrap{href: "/news#20130215"}
      %h5 February 15, 2013
      %h4.blue Envato, our Ruby Sponsor
      %p
        A few words from our principal and Ruby Level Sponsor - Envato.
  %article
    %a.wrap{href: "/news#20130212"}
      %h5 February 12, 2013
      %h4.blue Rails Girls
      %p
        Find out details of the Rails Girls event and register for free!
  %article
    %a.wrap{href: "/news#20130203"}
      %h5 February 3, 2013
      %h4.blue Releasing More Tickets
      %p
        We've figured out how to make Ruby Conf available to more attendees.