%section#page
  .row
    %header#header.large-7.columns
      %h1
        %a{href: "/"}
          %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
      %hgroup
        %h2 19-21 February 2014
        %h2 Sydney, Australia

    %section.acionables.large-5.columns
      %a.eventbrite{href: 'https://rubyconfau2014.eventbrite.com.au/'}
        Early bird tickets
      %a.calendar{href: '/calendar/iCal.ics'}
        Add dates to your calendar
      %a.cft{href: 'https://github.com/rubyaustralia/rubyconfau-2014-cfp'}
        Call for proposals is open
      %a.scholarship{href: 'https://rubyconfau.typeform.com/to/IZJpw4'}
        Apply for scholarship
      %a.sponsorship{href: 'mailto:sponsors@rubyconf.org.au'}
        Become a sponsor

%p.location
  Location: Luna Park Crystal Palace, 1 Olympic Drive, Milsons Point, 2061
