!!! 5
%html{lang: 'en'}
  %head
    %title Ruby Conf Australia 2013
    %meta{charset: "utf-8"}
    %meta{name: "author", content: "Ruby Australia"}
    %meta{name: "copyright", content: "Copyright Ruby Australia 2012. All Rights Reserved."}
    %link{rel: "stylesheet", href: "/stylesheets/main.css"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{src: "/javascripts/main.js"}
  %body
    %section
      .grid
        %header
          .logo
          %h1 Ruby<br />Conf<br />Australia
          %h2 20-22<br />February<br /><span class='red'>2013</span>
          %h2 City of<br />Melbourne
        %article.attendees
          %h3
            %span Interested in Attending?
          %p Add the dates to your calendar
          %ul.calendar.links
            %li
              %a.ical{href: "/calendar/iCal.ics"} iCal
            %li
              %a.google{href: "https://www.google.com/calendar/ical/online@ruby.org.au/public/basic.ics"} Google Calendar
          %p Subscribe to the email newsletter
          %form
            %input{type: 'text', placeholder: 'you@something.com'}
            %input.button{type: "submit", value: "submit"}
            .progress ...sending
            .success  ✔ done
          %p Stay in touch - our full site is coming soon!
          %ul.contact.links
            %li
              %a.twitter{href: "http://twitter.com/#!/rubyconf_au"} Twitter
            %li
              %a.facebook{href: "http://www.facebook.com/RubyConfAustralia"} Facebook
            %li
              %a.email{href: "mailto:info@rubyconf.org.au"} Email
          %p 
            %a.cfp{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp"} Call for proposals is open!
        %article.sponsors
          %h3 Can you sponsor our event?
          %p Email us, we're keen for your support!
          %ul.contact.links
            %li
              %a.email{href: "mailto:sponsors@rubyconf.org.au?subject=Ruby Conf Australia Sponsorship"} Email

          .keynotes
            %h3 Keynote Speakers
            %ul
              %li Corey Haines
              %li Aaron Patterson
              %li Dave Thomas
              %li Mikel Lindsaar
    %footer
      .grid
        %a{href: "http://ruby.org.au"}
          %h3 Proudly organised by Ruby Australia
          .logo Ruby Australia Logo
        %a{href: "http://www.yowconference.com.au"}
          %h3 In partnership with YOW! Conference

