%section#page
  .row
    %header#header.large-7.columns
      %h1
        %a{href: "/"}
          %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
      %hgroup
        %h2 19-21 February 2014
        %h2 Sydney, Australia

    %section.social.large-5.columns
      %form
        %h4.red Join our mailing list
        %span.success ✔
        %span.error ✗
        %div.progress_indicator
        %input{placeholder: "you@email.com", type: "text"}
        %a{class: "button", href: "#"} Join
      %div.networks
        %h4.red Find us elsewhere
        %a.twitter{href: "http://twitter.com/rubyconf_au"}
          Twitter: @rubyconf_au
        %a.facebook{href: "http://facebook.com/RubyConfAustralia"}
          Facebook: RubyConfAustralia
        %a.vimeo{href: "http://vimeo.com/rubyau"}
          Vimeo: rubyau
