%hgroup
  %h1 It’s time to bring the leading developers from around the region and beyond together for the first ever Ruby conference to be held in Australia.

%section.speakers
  %a.speaker{href: "/speakers#corey_haines"}
    %figure
      %img.speaker{src: "/images/speakers/corey_haines.jpg", width: "174px"}
      %figcaption Corey Haines

  %a.speaker{href: "/speakers#aaron_patterson"}
    %figure
      %img.speaker{src: "/images/speakers/aaron_patterson.jpg", width: "174px"}
      %figcaption Aaron Patterson

  %a.speaker{href: "/speakers#dave_thomas"}
    %figure
      %img.speaker{src: "/images/speakers/dave_thomas.jpg", width: "174px"}
      %figcaption Dave Thomas

  %a.speaker{href: "/speakers#mikel_lindsaar"}
    %figure
      %img.speaker{src: "/images/speakers/mikel_lindsaar.jpg", width: "174px"}
      %figcaption Mikel Lindsaar

%section.sponsors
  %h3.red Ruby Sponsor
  .ruby
    %a{href: "http://envato.com"}
      %img{src: "/images/sponsors/envato.svg", alt: "Envato", width: "228px"}
  %h3.green Emerald Sponsors
  .emerald
    %a{href: "http://www.thoughtworks.com/"}
      %img{src: "/images/sponsors/thoughtworks.svg", alt: "Thoughtworks", width: "220px"}
    %a{href: "http://www.realestate.com.au/"}
      %img{src: "/images/sponsors/rea.svg", alt: "REA", width: "220px"}

%section.social
  %form
    %h4.red Join our mailing list
    %span.success ✔
    %span.error ✗
    %div.progress
    %input{placeholder: "you@email.com", type: "text"}
    %a{class: "button", href: "#"} Join
  %div.networks
    %h4.red Find us elsewhere
    %a.twitter{href: "http://twitter.com/rubyconf_au"}
      %img{src: "/images/icons/twitter.svg", alt: "Twitter", height: "40px"}
      %span @rubyconf_au
    %a.facebook{href: "http://www.facebook.com/RubyConfAustralia"}
      %img{src: "/images/icons/facebook.svg", alt: "Facebook", height: "40px"}
      %span RubyConfAustralia

%section.news
  %article
    %a.wrap{href: "#"}
      %h5 December 6, 2012
      %h4.blue Talks Selected
      %p 
        Following an exacting selection process, talks to round out the program have now been chosen from the submitted proposals. 
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp"} See GitHub
        for details.
  %article
    %a.wrap{href: "#"}
      %h5 November 23, 2012
      %h4.blue Workshops
      %p Tickets are now available for Advanced Ruby, Code Retreat, JRuby and Rails for iOS workshops on Wednesday, February 20. More details will be posted soon.
  %article
    %a.wrap{href: "#"}
      %h5 November 21, 2012
      %h4.blue Talks Selection
      %p Our expert panel has been applying themselves to selecting 22 talks from many excellent proposals, a task which is taking longer than expected. Stay tuned!
  %article
    %a.wrap{href: "#"}
      %h5 November 1, 2012
      %h4.blue 90 Proposals Received
      %p At the close of the talks CFP, 90 proposals had been received, posing a challenge to select the final talks. Thanks to all who submitted!