%hgroup
  %h1 It’s time to bring the leading developers from around the region and beyond together for the first ever Ruby conference to be held in Australia.

%section.speakers
  %a.speaker{href: "#"}
    %figure
      %img.speaker{src: "/images/speakers/corey_haines.jpg", height: "174px", width: "174px"}
      %figcaption Corey Haines

  %a.speaker{href: "#"}
    %figure
      %img.speaker{src: "/images/speakers/aaron_patterson.jpg", height: "174px", width: "174px"}
      %figcaption Aaron Patterson

  %a.speaker{href: "#"}
    %figure
      %img.speaker{src: "/images/speakers/dave_thomas.jpg", height: "174px", width: "174px"}
      %figcaption Dave Thomas

  %a.speaker{href: "#"}
    %figure
      %img.speaker{src: "/images/speakers/mike_lindsaar.jpg", height: "174px", width: "174px"}
      %figcaption Mike Lindsaar

  %aside
    %h4.red
      Call for Proposals Open
    %p
      Interested in giving a talk at RubyConf Australia?
      %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp"} Head over to Github
      and send us your submission.

%section.sponsors
  %h3.red Ruby Sponsor
  .ruby
    %a{href: "http://envato.com"}
      %img{src: "/images/sponsors/envato.png", alt: "Envato", width: "228px", height: "53px"}
  %h3.green Emerald Sponsors
  .emerald
    %a{href: "#"}
      %img{src: "/images/sponsors/rea.png", alt: "REA", width: "223px", height: "43px"}
    %a{href: "#"}
      %img.last{src: "/images/sponsors/reinteractive.png", alt: "Reinteractive", width: "205px", height: "43px"}

%section.social
  %form
    %h4.red Join our mailing list
    %input{placeholder: "you@email.com", type: "text"}
    %a{class: "button", href: "#"} Join
  %div.networks
    %h4.red Find us elsewhere
    %a.twitter{href: "http://twitter.com/rubyconf_au"}
      %img{src: "/images/icons/twitter.svg", alt: "Twitter", height: "40px"}
      %span @rubyconf_au
    %a.facebook{href: "http://www.facebook.com/RubyConfAustralia"}
      %img{src: "/images/icons/facebook.svg", alt: "Facebook", height: "40px"}
      %span RubyConfAustralia

%section.news
  %article
    %a.wrap{href: "#"}
      %h5 April 26, 2012
      %h4.blue Jasper Hotel booked
      %p The Jasper Hotel, in the heart of Melbourne, was today confirmed as the venue for the inaugural Australian Ruby Conference.
  %article
    %a.wrap{href: "#"}
      %h5 June 15, 2012
      %h4.blue First Keynote Speakers
      %p Corey Haines and Aaron Patterson have been secured as the first keynote speakers for RubyConf Australia.
  %article
    %a.wrap{href: "#"}
      %h5 July 11, 2012
      %h4.blue Dave Thomas to Keynote
      %p Dave Thomas, of Pragmatic Programmers fame, will be delivering a keynote as well as an Advanced Ruby workshop at RubyConf Australia.
  %article
    %a.wrap{href: "#"}
      %h5 August 14, 2012
      %h4.blue Lindsaar joins Keynotes
      %p Mikel Lindsaar, the only Australian member of the Rails commit team, will round out the keynote presenters at RubyConf Australia.

