%hgroup
  %h1 It’s time to bring the leading developers from around the region and beyond together for the first ever Ruby conference to be held in Australia.

%section.speakers
  %a.speaker{href: "#"}
    %figure
      %img.speaker{src: "/images/speakers/corey_haines.jpg", height: "174px", width: "174px"}
      %figcaption Corey Haines

  %a.speaker{href: "#"}
    %figure
      %img.speaker{src: "/images/speakers/aaron_patterson.jpg", height: "174px", width: "174px"}
      %figcaption Aaron Patterson

  %a.speaker{href: "#"}
    %figure
      %img.speaker{src: "/images/speakers/dave_thomas.jpg", height: "174px", width: "174px"}
      %figcaption Dave Thomas

  %a.speaker{href: "#"}
    %figure
      %img.speaker{src: "/images/speakers/mike_lindsaar.jpg", height: "174px", width: "174px"}
      %figcaption Mike Lindsaar

  %aside
    %h4.red
      Call for Porposals Open
    %p
      Interested in giving a talk at RubyConf Australia?
      %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp"} Head over to Github
      and send us your submission.

%section.sponsors
  %h3.red Ruby Sponsor
  .ruby
    %a{href: "http://envato.com"}
      %img{src: "/images/sponsors/envato.png", alt: "Envato", width: "228px", height: "53px"}
  %h3.green Emerald Sponsors
  .emerald
    %a{href: "#"}
      %img{src: "/images/sponsors/rea.png", alt: "REA", width: "223px", height: "43px"}
    %a{href: "#"}
      %img.last{src: "/images/sponsors/reinteractive.png", alt: "Reinteractive", width: "205px", height: "43px"}

%section.social
  %form
    %h4.red Join our mailing list
    %input{placeholder: "you@email.com", type: "text"}
    %a{class: "button", href: "#"} Join
  %div.networks
    %h4.red Find us elsewhere
    %a.twitter{href: "http://twitter.com/rubyconf_au"}
      %img{src: "/images/icons/twitter.svg", alt: "Twitter", height: "40px"}
      %span @rubyconf_au
    %a.facebook{href: "http://www.facebook.com/RubyConfAustralia"}
      %img{src: "/images/icons/facebook.svg", alt: "Facebook", height: "40px"}
      %span RubyConfAustralia

%section.news
  %article
    %h5 September 15, 2012
    %h4.blue Second sailor dies
    %p New South Wales Police are investigating the suspicious death of a crewman on board one of the world's largest coal carrying ships which docked in Newcastle today.
  %article
    %h5 September 8, 2012
    %h4.blue Controversy reigns
    %p Manly downs North Queensland 22-12 to reach the preliminary final, helped by two controversial, second-half decisions by the video referee.
  %article
    %h5 August 15, 2012
    %h4.blue Topless photo anger
    %p St James's Palace has been outraged by a French magazine's publication of topless pictures of Prince William's wife Catherine.
  %article
    %h5 July 29, 2012
    %h4.blue Whistleblower takes stand
    %p A court hears explosive allegations from the whistleblower at the centre of foreign bribery allegations against senior officials of RBA subsidiaries. (video)

