%section#page
  .row
    %header#header.large-7.columns
      %h1
        %a{href: "/"}
          %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
      %hgroup
        %h2 19-21 February 2014
        %h2 Sydney, Australia
      %hgroup
        %h3 Workshops: February 19
        %h3 Main Conference: February 20-21

    %section.acionables.large-5.columns
      %a.eventbrite{href: 'https://rubyconfau2014.eventbrite.com.au/'}
        Early bird tickets
      %a.calendar{href: '/calendar/iCal.ics'}
        Add dates to your calendar
      %a.cft{href: '#'}
        Call for proposals is closed
      %a.scholarship{href: 'https://rubyconfau.typeform.com/to/IZJpw4'}
        Apply for scholarship
      %a.sponsorship{href: 'mailto:sponsors@rubyconf.org.au'}
        Become a sponsor

%p.location
  %a{href: 'http://goo.gl/maps/2NQra'}
    Location: Luna Park Crystal Palace, 1 Olympic Drive, Milsons Point, 2061

%section.row.social
  .newsletter.large-5.columns
    %form
      %h4.red Join our mailing list
      %span.success ✔
      %span.error ✗
      %div.progress_indicator
      %input{placeholder: "you@email.com", type: "text"}
      %a{class: "button", href: "#"} Join
  .networks.large-7.columns
    %h4.red Find us elsewhere
    %a.twitter{href: "http://twitter.com/rubyconf_au"}
      .icon.ss-twitter
      %span @rubyconf_au
    %a.facebook{href: "http://facebook.com/RubyConfAustralia"}
      .icon.ss-facebook
      %span RubyConfAustralia
    %a.vimeo{href: "https://vimeo.com/channels/486849"}
      .icon.ss-vimeo
      %span Last Year's Talks
    %a.lanyrd{href: "http://lanyrd.com/2014/rubyconf-au/"}
      %span Lanyrd
