!!! 5
%html{lang: 'en'}
  %head
    - if @title == :home
      %title Ruby Conf Australia 2013
    - else
      %title= "#{@title.to_s.titleize} - Ruby Conf Australia 2013"
    %meta{charset: "utf-8"}
    %meta{name: "author", content: "Ruby Australia"}
    %meta{name: "copyright", content: "Copyright Ruby Australia 2012-2013. All Rights Reserved."}
    %link{rel: "stylesheet", href: "/stylesheets/main.css"}
    %script{src: "/javascripts/main.js"}
    %link{rel: "stylesheet", href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300'}
  %body

    %section#root
      %header
        .inner
          %h1
            %a{href: "/"}
              %img{alt: "Ruby Conf Australia 2013", src: "/images/ruby_conf_logo.svg", height: "220px"}
          %nav
            %ul
              %li
                %a{href: "/speakers", class: @title == :speakers ? "on" : nil} Speakers
              %li
                %a{href: "/sessions", class: @title == :sessions ? "on" : nil} Sessions
              %li
                %a{href: "/sponsors", class: @title == :sponsors ? "on" : nil} Sponsors
              %li
                %a{href: "/news", class: @title == :news ? "on" : nil} News
          %hgroup
            %h2 20-22 February 2013
            %h2 Melbourne, Australia

      %section{id: @title}
        != yield

      #root_footer

    %section#footer
      %footer
        %img{alt: "Ruby Australia Logo", src: "/images/ruby_au_red_logo.svg", height: "50px"}
        %hgroup
          %h2
            Proudly Organised by
            %a.red{href: "http://ruby.org.au"} Ruby Australia
          %h2
            In partnership with
            %a.blue{href: "http://www.yowconference.com.au"} YOW! Conference
        / .sponsors
        /   %a{href: "#"}
        /     %img{alt: "ilisys"}
        /   %a{href: "#"}
        /     %img{alt: "silverstripe"}

        %nav
          %ul
            %li
              %a{href: "/", class: @title == :home ? "on" : nil} Home
            %li
              %a{href: "/speakers", class: @title == :speakers ? "on" : nil} Speakers
            %li
              %a{href: "/sessions", class: @title == :sessions ? "on" : nil} Sessions
            %li
              %a{href: "/sponsors", class: @title == :sponsors ? "on" : nil} Sponsors
            %li
              %a{href: "/news", class: @title == :news ? "on" : nil} News
