@import "compass/reset";
@import "compass/css3";
@import "1140-24";
@import "layout";

// Custom Mixins
@mixin suffix-font {
  font-family: 'SUFFIX-monoSUFFIX-mono', Arial, sans-serif;
}

// Fonts
@font-face {
    font-family: 'SUFFIX-monoSUFFIX-mono';
    src: url('/fonts/suffix-mono-webfont.eot');
    src: url('/fonts/suffix-mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/suffix-mono-webfont.woff') format('woff'),
         url('/fonts/suffix-mono-webfont.ttf') format('truetype'),
         url('/fonts/suffix-mono-webfont.svg#SUFFIX-monoSUFFIX-mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Commmon Colors
body { background-color: #EDECE6; }
$red: #f4323c;
$blue: #27b2d2;
$green: #0eb942;
$default_text_color: #575757;

// Common Header and Footer Styles
#root header, #footer {
  @include suffix-font;
  font-size: 18px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  a {
    color: white;
    text-decoration: none;
    &.red, &.on { color: $red; }
    &.blue { color: #21adc3; }
  }
}

// Header Layout
#root header {
  h1 {
    @include eleven40-column(5);
    img { opacity: 0.45; }
  }
  nav {
    @include eleven40-column(3);
    @include eleven40-push(2);
    padding-top: 40px;
  }
  hgroup {
    @include eleven40-column(8, true);
    @include eleven40-push(6);
    padding-top: 40 + (36px * 2);
    opacity: 0.8;
  }
}

// Footer Layout
#footer {
  img {
    @include eleven40-column(2);
    padding-top: 10px;
  }
  hgroup {
    @include eleven40-column(6);
    h2 { margin-bottom: 20px; }
    a { display: inline-block; }
  }
  .sponsors {
    @include eleven40-column(8);
    @include eleven40-push(3);
  }
  nav {
    @include eleven40-column(3);
    @include eleven40-push(1);
  }
}

// Common Main Content Styles
#home, #speakers, #sessions, #sponsons {
  padding-top: 50px;
  padding-bottom: 80px;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $default_text_color;

  hgroup {
    @include eleven40-row;
    margin-bottom: 50px;
    h1 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  h3 {
    @include suffix-font;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    &.blue { color: $blue; }
    &.red { color: $red; }
    &.green { color: $green; }
  }

  h4 {
    @include suffix-font;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    &.blue { color: $blue; }
    &.red { color: $red; }
    &.green { color: $green; }
  }

  h5 {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #959494;
  }

  p {
    line-height: 20px;
  }

  a {
    color: $red;
  }

  img.speaker {
    @include border-radius(50%);
  }

}

#home {
  @include eleven40-container;

  section.speakers {
    @include eleven40-row;
    margin: 0 auto 60px auto;


    a.speaker {
      @include eleven40-column(4);
      color: $default_text_color;
      text-decoration: none;
      img { margin-bottom: 10px; }
      figcaption {
        font-size: 18px;
        text-align: center;
      }
    }

    aside {
      @include eleven40-column(6);
      @include eleven40-push(1);
      margin-top: 40px;
    }
  }

  section.sponsors {
    @include eleven40-row;
    margin: 0 auto 60px auto;
    border: 1px solid #D3D3D3;
    border-left: none;
    h3 {
      @include eleven40-column(3);
      border-left: 1px solid #D3D3D3;
      border-right: 1px solid #D3D3D3;
      line-height: 26px;
      padding: 30px 0 30px 15px;
    }
    .ruby {
      @include eleven40-column(6);
    }
    .emerald {
      @include eleven40-column(12, true);
    }
    img {
      margin: 30px 10px 0 10px;
    }
  }

  section.social {
    @include eleven40-row;
    margin: 0 auto 100px auto;
    h4 { text-align: center; }
    form {
      @include eleven40-column(9);
      @include eleven40-push(2);
      position: relative;
      input, .button {
        background-color: #F5F5F3;
        border: 1px solid #FDBFC2;
        height: 40px;
        font-size: 16px;
      }
      input {
        font-weight: 300;
        width: 80%;
        padding: 5px 10px;
        &:focus { outline: none; }
      }
      .button {
        display: block;
        position: absolute;
        width: 20%;
        bottom: 0;
        left: 80%;
        @include suffix-font;
        line-height: 40px;
        text-align: center;
        color: $red;
        text-transform: uppercase;
        text-decoration: none;
        border-left: none;
      }
    }

    div.networks {
      @include eleven40-column(9);
      @include eleven40-push(2);
      img { opacity: 0.2; }
      span {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        color: $default_text_color;
        text-decoration: none;
      }
      a.twitter {
        float: left;
        img {
          float: left;
          margin-right: 10px;
        }
        span { float: left; }
      }
      a.facebook {
        float: right;
        img {
          float: right;
          margin-left: 10px;
        }
        span { float: right; }
      }
    }
  }

  section.news {
    @include eleven40-row;
    article {
      @include eleven40-column(6);
      &:last-child {
        @include eleven40-column(6, true);
      }
    }
    p {
      font-size: 14px;
    }
  }
}