@import "compass/reset";
@import "compass/layout/sticky-footer";
@import "compass/css3";
@import "1140-24";

// Border box everything
* {
  @include box-sizing(border-box);
}

// Custom Mixins
@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after { clear: both };
}

@mixin suffix-font {
  font-family: 'SUFFIX-monoSUFFIX-mono', Arial, sans-serif;
}

// Fonts
@font-face {
    font-family: 'SUFFIX-monoSUFFIX-mono';
    src: url('/fonts/suffix-mono-webfont.eot');
    src: url('/fonts/suffix-mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/suffix-mono-webfont.woff') format('woff'),
         url('/fonts/suffix-mono-webfont.ttf') format('truetype'),
         url('/fonts/suffix-mono-webfont.svg#SUFFIX-monoSUFFIX-mono') format('svg');
    font-weight: normal;
    font-style: normal;

}

// General Site Layout conducive to a sticky footer
@include sticky-footer(328px);

body { background-color: #EDECE6; }

#root {
  header {
    height: 282px;
    background: black url('/images/header.jpg') center no-repeat;
    @include eleven40-container;
    .inner {
      @include eleven40-row;
      padding-top: 30px;
    }
  }
}

#footer {
  @include eleven40-container;
  height: 328px;
  background: black url('/images/footer.jpg') center no-repeat;
  footer {
    @include eleven40-row;
    padding-top: 40px;
  }
}

// Commmon Colors
$red: #f4323c;
$blue: #27b2d2;
$green: #0eb942;
$default_text_color: #575757;

// Common Header and Footer Styles
#root header, #footer {
  @include suffix-font;
  font-size: 18px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  a {
    color: white;
    text-decoration: none;
    &.red, &.on { color: $red; }
    &.blue { color: #21adc3; }
  }
}

// Header Layout
#root header {
  h1 {
    @include eleven40-column(5);
    img { opacity: 0.45; }
  }
  nav {
    @include eleven40-column(3);
    @include eleven40-push(2);
    padding-top: 40px;
  }
  hgroup {
    @include eleven40-column(8, true);
    @include eleven40-push(6);
    padding-top: 40 + (36px * 2);
    opacity: 0.8;
  }
}

// Footer Layout
#footer {
  img {
    @include eleven40-column(2);
    padding-top: 10px;
  }
  hgroup {
    @include eleven40-column(6);
    h2 { margin-bottom: 20px; }
    a { display: inline-block; }
  }
  .sponsors {
    @include eleven40-column(8);
    @include eleven40-push(3);
  }
  nav {
    @include eleven40-column(3);
    @include eleven40-push(1);
  }
}