.page
  %hgroup.inline
    %h1 News
    %h2 From the RubyConfAU Team

  %section.page-content
    .page-block#20130118
      %h3 Conference Sold Out
      %h5 January 28, 2013
      %p
        Tickets for the conference on February 21-22 have sold out. This is a somewhat bitter-sweet announcement. On the one hand we are delighted to have sold out the inaugural RubyConf Australia. On the other, we are sad not to be able to accommodate everyone who would like to attend.
      %p
        Consequently, if you're on the wait list it is unlikely that you'll get a ticket. There is, however, a small chance. If a ticket-holder cannot attend and asks for a refund, and you're lucky enough to be at the front of the wait list queue, a ticket will be released to you. If you find yourself in this situation, please buy your ticket within 24 hours. Otherwise we'll release a ticket to the next person in the queue.
      %p
        Whilst the conference is sold out, there are still a small number of tickets available to the JRuby and Rails4iOS workshops on February 20.
      %h4 Video Recording
      %p
        If you don't get to attend the conference, but would still like to see the talks, you're in luck. We are happy to announce that all talks will be recorded. This is also good news for those attending the conference who can't decide on which talk to choose at a particular time. Catch up on the talks you didn't see later!
      %p
        Videos of all talks will be made available free of charge. More details will be announced at the conference.
    .hr
      %hr
    .page-block#20130108
      %h3 Happy New Year!
      %h5 January 8, 2013
      %p
        All the best for 2013! Now that the quietest part of the holiday season is over, the organising team is refocussing their efforts to prepare for RubyConf Australia. There's only six weeks until the conference and much to be done.
      %p
        Now to some items that may interest attendees.
      %h4 Workshops
      %p
        There are still tickets available for 
        %a{href: "/workshops"}all-day workshops
        on February 20, in particular the Rails for iOS workshop and the JRuby workshop. At $95 for the day, these are unbelievable value. So, if you are an iOS developer who needs to learn server-side skills to complement your app, or if you are a Ruby developer who would like to learn more about JRuby from core team members, take advantage and
        %a{href: "http://rubyconfau2013.eventbrite.com/"}buy your ticket today!
      %h4 Rails Girls Event
      %p
        We are excited to be supporting a 
        %a{href: "http://railsgirls.com/"}Rails Girls
        event that will take place as part of the workshops day. Tickets for this event will be available separately. For those interested, look out for a news item later this month.
      %h4 Conference Tickets
      %p
        If you are still hoping to attend the conference (February 21-22) but do not have a ticket, please make sure you have
        %a{href: "http://rubyconfau2013.eventbrite.com/"}added your name to the waiting list. 
        Today we started releasing tickets to those on the waiting list. If you are notified by email that a ticket has been released for you, please act promptly! We cannot guarantee that everyone on the waiting list will get the chance to buy a ticket.
      %h4 Conference Program
      %p
        We are currently allocating talks to slots in the conference program and aim to have it published within the next couple of weeks. Meanwhile, you should plan to arrive in time to register before the opening keynote on Thursday, which kicks off at 9 am. Also, we are throwing a party on the Friday evening to close the conference so please bear that in mind when making your travel arrangements!
      %h4 Lanyrd
      %p
        Finally, for those who are attending the conference and like using Lanyrd, the social conference directory, you may like to add yourself to
        %a{href: "http://lanyrd.com/2013/rubyconf-australia/"}our event
        on their site, if you haven't already.
      %p
        That's all for now. Please look out for more news updates in the coming weeks.
    .hr
      %hr
    .page-block#20121221
      %h3 Ticket Sales
      %h5 December 21, 2012
      %p
        Due to high demand, we have put ticket sales for the conference on hold until early in the new year.
      %p
        This has been necessary to allow us time to review how many more tickets we can sell and still accommodate important people such the speakers! We anticipate reopening conference ticket sales soon. Meanwhile, you can 
        %a{href: "http://rubyconfau2013.eventbrite.com/"}add your name to the waiting list. 
      %p
        Please note that tickets are still on sale for the workshops.
    .hr
      %hr
    .page-block#20121206
      %h3 Talks Selected
      %h5 December 6, 2012
      %p
        Following an exacting selection process, talks to round out the program have now been chosen from the submitted proposals.
      %p
        Details can be found 
        %a{href: "/speakers"} on the speakers page.
    .hr
      %hr
    .page-block#20121123
      %h3 Workshops
      %h5 November 23, 2012
      %p
        Tickets are now available for Advanced Ruby, Code Retreat, JRuby and Rails for iOS workshops on Wednesday, February 20. More details will be posted soon.
    .hr
      %hr
    .page-block#20121121
      %h3 Talks Selection
      %h5 November 21, 2012
      %p
        Our expert panel has been applying themselves to selecting 22 talks from many excellent proposals, a task which is taking longer than expected.
      %p
        Stay tuned!
    .hr
      %hr
    .page-block#20121101
      %h3 90 Proposals Received
      %h5 November 1, 2012
      %p
        At the close of the talks CFP, 90 proposals had been received, posing a challenge to select the final talks. Thanks to all who submitted!
    .hr
      %hr
    .page-block#20120814
      %h3 Lindsaar joins Keynotes
      %h5 August 14, 2012
      %p
        Mikel Lindsaar, the only Australian member of the Rails commit team, will round out the keynote presenters at RubyConf Australia.
    .hr
      %hr
    .page-block#20120711
      %h3 Dave Thomas to Keynote
      %h5 July 11, 2012
      %p
        Dave Thomas, of Pragmatic Programmers fame, will be delivering a keynote as well as an Advanced Ruby workshop at RubyConf Australia.
    .hr
      %hr
    .page-block#20120615
      %h3 First Keynote Speakers
      %h5 June 15, 2012
      %p
        Corey Haines and Aaron Patterson have been secured as the first keynote speakers for RubyConf Australia.
    .hr
      %hr
    .page-block#20120426
      %h3 Jasper Hotel booked
      %h5 April 26, 2012
      %p
        The Jasper Hotel, in the heart of Melbourne, was today confirmed as the venue for the inaugural Australian Ruby Conference.