.page
  %hgroup.inline
    %h1 News
    %h2 From the RubyConfAU Team

  %section.page-content
    .page-block#20121221
      %h3 Ticket Sales
      %h5 December 21, 2012
      %p
        Due to high demand, we have put ticket sales for the conference on hold until early in the new year.
      %p
        This has been necessary to allow us time to review how many more tickets we can sell and still accommodate important people such the speakers! We anticipate reopening conference ticket sales soon. Meanwhile, you can 
        %a{href: "http://rubyconfau2013.eventbrite.com/"}add your name to the waiting list. 
      %p
        Please note that tickets are still on sale for the workshops.
    .hr
      %hr
    .page-block#20121206
      %h3 Talks Selected
      %h5 December 6, 2012
      %p
        Following an exacting selection process, talks to round out the program have now been chosen from the submitted proposals.
      %p
        Details can be found 
        %a{href: "/speakers"} on the speakers page.
    .hr
      %hr
    .page-block#20121123
      %h3 Workshops
      %h5 November 23, 2012
      %p
        Tickets are now available for Advanced Ruby, Code Retreat, JRuby and Rails for iOS workshops on Wednesday, February 20. More details will be posted soon.
    .hr
      %hr
    .page-block#20121121
      %h3 Talks Selection
      %h5 November 21, 2012
      %p
        Our expert panel has been applying themselves to selecting 22 talks from many excellent proposals, a task which is taking longer than expected.
      %p
        Stay tuned!
    .hr
      %hr
    .page-block#20121101
      %h3 90 Proposals Received
      %h5 November 1, 2012
      %p
        At the close of the talks CFP, 90 proposals had been received, posing a challenge to select the final talks. Thanks to all who submitted!
    .hr
      %hr
    .page-block#20120814
      %h3 Lindsaar joins Keynotes
      %h5 August 14, 2012
      %p
        Mikel Lindsaar, the only Australian member of the Rails commit team, will round out the keynote presenters at RubyConf Australia.
    .hr
      %hr
    .page-block#20120711
      %h3 Dave Thomas to Keynote
      %h5 July 11, 2012
      %p
        Dave Thomas, of Pragmatic Programmers fame, will be delivering a keynote as well as an Advanced Ruby workshop at RubyConf Australia.
    .hr
      %hr
    .page-block#20120615
      %h3 First Keynote Speakers
      %h5 June 15, 2012
      %p
        Corey Haines and Aaron Patterson have been secured as the first keynote speakers for RubyConf Australia.
    .hr
      %hr
    .page-block#20120426
      %h3 Jasper Hotel booked
      %h5 April 26, 2012
      %p
        The Jasper Hotel, in the heart of Melbourne, was today confirmed as the venue for the inaugural Australian Ruby Conference.