.page
  %hgroup.inline
    %h1 Sessions
    %h2 February 21 - 22

  %section.page-content
    .page-block
      %h3 Program Details
      %p
        The program will include:
      %ul
        %li four keynotes
        %li two tracks of 22 talks in total, each of 45 minutes duration
        %li lightning talks
        %li conference drinks
      %p
        The details of the program are being finalised and will be posted here closer to the conference.