.page
  %hgroup.inline
    %h1 Sessions
    %h2 Thursday 21 - Friday 22 February 2013

  %section.page-content
    .page-block
      %h3 Get the schedule on Lanyrd
      %p
        We're hosting the conference schedule on <a href="http://lanyrd.com/2013/rubyconf-australia/schedule/">Lanyrd</a>, which is a tried and tested solution for broadcasting conference schedules.

      %p
        Whilst at the conference you'll most likely want to use your smartphone to browse the schedule. If you have an iphone install the <a href="https://itunes.apple.com/us/app/lanyrd/id467652813">Lanyrd iOS app</a>, alternatively and if your on Android you can browse the schedule using the real smooth <a href="https://m.lanyrd.com/2013/rubyconf-australia/">html5 mobile app</a>.

      %p
        %a{href: "https://itunes.apple.com/us/app/lanyrd/id467652813"}
          %img.app.ios{src: "/images/app-store.png", alt: "iOS App Store for Lanyrd App"}

        %a{href: "https://m.lanyrd.com/2013/rubyconf-australia/"}
          %img.app.open-web{src: "/images/open-web.png", alt: "html5 mobile app for Lanyrd"}

  .hr
    %hr

  %section.page-content
    .page-block
      %h3 Registration
      %p
        Make sure to register as early as poissible on Thursday to make sure you get to see the opening welcome amd keynote on time. Registration open at 7:30am so there's no excuse unless you've been fraternising the night before with your conference colleagues.

  .hr
    %hr

  %section.page-content
    .page-block
      %h3 Special Events
      %p
        There will be drinks at Jaspers Hotel at the end of the last keynote on Thursday. A much larger closing drinks will be held on Friday (we're still sorting out the details on the venue) and keep an eye out for the screening of a special short film!
