.page
  %hgroup.inline
    %h1 Sessions
    %h2 February 21 - 22

  %section.page-content
    .page-block
      %h3 Program Details
      %p
        The program includes:
      %ul
        %li four keynotes
        %li two tracks of 22 talks in total, each of 45 minutes duration
        %li lightning talks
        %li conference drinks
        %li closing party
      %p
        Details of the full program, including the workshops, can be found 
        %a{href: "http://lanyrd.com/2013/rubyconf-australia/schedule/"} at Lanyrd.