%hgroup.inline
  %h1 Speakers
  %h2 Keynotes

%section.speakers
  %article
    %a{name: "dave_thomas"}
    %img.speaker{src: "/images/speakers/dave_thomas.jpg", width: "174px", alt: "Dave Thomas"}
    %div
      %h2 Dave Thomas
      %a.wrap{href: "http://pragdave.pragprog.com/"}
        %h4.red pragdave.pragprog.com
      %p Dave Thomas needs no introduction to Ruby programmers. As co-author of "Programming Ruby: The Pragmatic Programmers' Guide - fondly known as the "Pickaxe", Dave was instrumental in spreading Ruby beyond its birthplace in Japan.

  %article
    %a{name: "aaron_patterson"}
    %img.speaker{src: "/images/speakers/aaron_patterson.jpg", width: "174px", alt: "Aaron Patterson"}
    %div
      %h2 Aaron Patterson
      %a.wrap{href: "http://tenderlovemaking.com/"}
        %h4.red tenderlovemaking.com
      %p Aaron Patterson is one of Ruby’s most respected and loved programmers. A committer to both Ruby and Ruby on Rails and a member of Seattle's Ruby community, he also has a sense of humour that has endeared him to many audiences.

%section.speakers
  %article
    %a{name: "mikel_lindsaar"}
    %img.speaker{src: "/images/speakers/mikel_lindsaar.jpg", width: "174px", alt: "Mikel Lindsaar"}
    %div

      %h2 Mikel Lindsaar
      %a.wrap{href: "http://lindsaar.net/"}
        %h4.red lindsaar.net
      %p Mikel Lindsaar needs no introduction to the Australian Ruby community. He is the author of the Ruby E-Mail handling library, mail, and has worked extensively on the Rails ActionMailer component.  Mikel is the only Australian member of the Ruby on Rails commit team.

  %article
    %a{name: "corey_haines"}
    %img.speaker{src: "/images/speakers/corey_haines.jpg", width: "174px", alt: "Corey Haines"}
    %div
      %h2 Corey Haines
      %a.wrap{href: "http://www.coreyhaines.com/"}
        %h4.red coreyhaines.com
      %p Corey Haines helps developers improve their fundamental software design skills through the use of focused-practice events, such as coderetreat. He trains teams on development technical practices, and builds projects and products when not on the road.

%hgroup.inline
  %h2 Talks Accepted from the CFP

%section.speakers
  %article
    %div
      %h2 Pat Allan
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/pat_allan-the_c_word"}
          The C Word

  %article
    %div
      %h2 John Barton
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/john_barton-web_scale_for_the_rest_of_us"}
          Web-scale for the Rest of Us

  %article
    %div
      %h2 Renée De Voursney
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/teaching_ruby_for_fun_and_profit"}
          Teaching Ruby for Fun and Profit

%section.speakers
  %article
    %div
      %h2 Michael Fairley
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/immutable-ruby"}
          Immutable Ruby

  %article
    %div
      %h2 Will Farrington
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/will_farrington-the_setup"}
          The Setup: Managing an Army of Laptops with Puppet

  %article
    %div
      %h2 Geoffrey Grosenbach
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/geoffrey_grosenbach-lessons_from_the_masters"}
          Lessons from the Masters

%section.speakers
  %article
    %div
      %h2 Paul Gross
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/paul_gross-uptime_equals_money_high_availability_at_braintree"}
          Uptime == Money: High Availability at Braintree

  %article
    %div
      %h2 Konstantin Haase
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/konstantin_haase-almost_sinatra"}
          Sinatra in SIX lines - How to do crazy stuff with Ruby

  %article
    %div
      %h2 Adam Hawkins
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/adam_hawkins-parallel_programming"}
          Dear God What Am I Doing? Concurrency and Parallel Processing

%section.speakers
  %article
    %div
      %h2 Toby Hede
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/realtime-rails /"}
          Realtime Rails and Ruby

  %article
    %div
      %h2 Ben Hoskings
      %p State of the Ruby

  %article
    %div
      %h2 Chris Kelly
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/Rubyizing%20iOS%20Development%20(RubyMotion)"}
          Down the rb_newobj() Rabbit Hole: Garbage Collection in Ruby

%section.speakers
  %article
    %div
      %h2 Amit Kumar
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/chris_kelly-down_the_rb_newobj_rabbit_hole"}
          Using Ruby for iOS development (RubyMotion)
      
  %article
    %div
      %h2 Terence Lee
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/terence_lee-bundle_install_y_u_so_slow_server_edition"}
          bundle install Y U SO SLOW: Server Edition
      
  %article
    %div
      %h2 Charles Oliver Nutter
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/charles_nutter-exploring_jruby"}
          High Performance Ruby

%section.speakers
  %article
    %div
      %h2 Ben Orenstein
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/ben_orenstein-refactoring_from_good_to_great"}
          Refactoring from Good to Great - A Live-Coding Odyssey

  %article
    %div
      %h2 Keith Pitt and Mario Visic
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/keith-and-marios-guide-to-fast-websites"}
          Keith and Mario's Guide to Fast Websites
      
  %article
    %div
      %h2 Richard Schneeman
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/richard_schneeman_millions_of_apps"}
          Millions of Apps: What we've Learned
      
%section.speakers
  %article
    %div
      %h2 Benjamin Smith
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/hacking_with_gems"}
          Hacking with Gems

  %article
    %div
      %h2 Joseph Wilk
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/straightening_spaghetti"}
          Straightening Spaghetti
      
  %article
    %div
      %h2 Nick Sutterer
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/nick_sutterer-off_the_tracks"}
          Off the Tracks - Challenging the Rails Mindset
      
%section.speakers
  %article
    %div
      %h2 Carina Zona
      %p
        %a{href: "https://github.com/rubyaustralia/rubyconfau-2013-cfp/tree/master/cczona_c_zona-schemas-for-humans"}
          Schemas for Humans
