%hgroup.inline
  %h1 Speakers
  %h2 Keynotes

%section.speakers
  %article
    %a{name: "dave_thomas"}
    %img.speaker{src: "/images/speakers/dave_thomas.jpg", width: "174px", alt: "Dave Thomas"}
    %div
      %h2 Dave Thomas
      %a.wrap{href: "http://pragdave.pragprog.com/"}
        %h4.red pragdave.pragprog.com
      %p Dave Thomas needs no introduction to Ruby programmers. As co-author of "Programming Ruby: The Pragmatic Programmers' Guide - fondly known as the "Pickaxe", Dave was instrumental in spreading Ruby beyond its birthplace in Japan.

  %article
    %a{name: "aaron_patterson"}
    %img.speaker{src: "/images/speakers/aaron_patterson.jpg", width: "174px", alt: "Aaron Patterson"}
    %div
      %h2 Aaron Patterson
      %a.wrap{href: "http://tenderlovemaking.com/"}
        %h4.red tenderlovemaking.com
      %p Aaron Patterson is one of Ruby’s most respected and loved programmers. A committer to both Ruby and Ruby on Rails and a member of Seattle's Ruby community, he also has a sense of humour that has endeared him to many audiences.

%section.speakers
  %article
    %a{name: "mike_lindsaar"}
    %img.speaker{src: "/images/speakers/mike_lindsaar.jpg", width: "174px", alt: "Mike Lindsaar"}
    %div

      %h2 Mike Lindsaar
      %a.wrap{href: "http://lindsaar.net/"}
        %h4.red lindsaar.net
      %p Mikel Lindsaar needs no introduction to the Australian Ruby community. He is the author of the Ruby E-Mail handling library, mail, and has worked extensively on the Rails ActionMailer component.  Mikel is the only Australian member of the Ruby on Rails commit team.

  %article
    %a{name: "corey_haines"}
    %img.speaker{src: "/images/speakers/corey_haines.jpg", width: "174px", alt: "Corey Haines"}
    %div
      %h2 Corey Haines
      %a.wrap{href: "http://www.coreyhaines.com/"}
        %h4.red coreyhaines.com
      %p Corey Haines helps developers improve their fundamental software design skills through the use of focused-practice events, such as coderetreat. He trains teams on development technical practices, and builds projects and products when not on the road.

