%hgroup
  %h1 Speakers
  %h2 Future of Ruby Speaker Class 2012

%section.speakers
  %article
    %img.speaker{src: "/images/speakers/dave_thomas.jpg", width: "174px", alt: "Dave Thomas"}
    %div
      %h2 Dave Thomas
      %a{href: "#"}
        %h4 davethomas.com
      %p Josh Clark specialises in mobile design strategy and user experience. He’s author of Tapworthy: Designing Great iPhone Apps, and his outfit Global Moxie offers workshops and consulting services to help creative companies build tapworthy mobile apps and websites.

  %article
    %img.speaker{src: "/images/speakers/aaron_patterson.jpg", width: "174px", alt: "Aaron Patterson"}
    %div
      %h2 Aaron Patterson
      %a{href: "#"}
        %h4 aaronpatterson.com
      %p Josh Clark specialises in mobile design strategy and user experience. He’s author of Tapworthy: Designing Great iPhone Apps, and his outfit Global Moxie offers workshops and consulting services to help creative companies build tapworthy mobile apps and websites.

%section.speakers
  %article
    %img.speaker{src: "/images/speakers/mike_lindsaar.jpg", width: "174px", alt: "Mike Lindsaar"}
    %div

      %h2 Mike Lindsaar
      %a{href: "#"}
        %h4 mikelindsar.com
      %p Josh Clark specialises in mobile design strategy and user experience. He’s author of Tapworthy: Designing Great iPhone Apps, and his outfit Global Moxie offers workshops and consulting services to help creative companies build tapworthy mobile apps and websites.

  %article
    %img.speaker{src: "/images/speakers/corey_haines.jpg", width: "174px", alt: "Corey Haines"}
    %div
      %h2 Corey Haines
      %a{href: "#"}
        %h4 coreyhaines.com
      %p Josh Clark specialises in mobile design strategy and user experience. He’s author of Tapworthy: Designing Great iPhone Apps, and his outfit Global Moxie offers workshops and consulting services to help creative companies build tapworthy mobile apps and websites.

