%hgroup.inline
  %h1 Speakers
  %h2 Keynotes

%section.speakers
  %article
    %a{name: "dave_thomas"}
    %img.speaker{src: "/images/speakers/dave_thomas.jpg", width: "174px", alt: "Dave Thomas"}
    %div
      %h2 Dave Thomas
      %a.wrap{href: "http://pragdave.pragprog.com/"}
        %h4.red pragdave.pragprog.com
      %p Dave Thomas needs no introduction to Ruby programmers. As co-author of "Programming Ruby: The Pragmatic Programmers' Guide - fondly known as the "Pickaxe", Dave was instrumental in spreading Ruby beyond its birthplace in Japan.

  %article
    %a{name: "aaron_patterson"}
    %img.speaker{src: "/images/speakers/aaron_patterson.jpg", width: "174px", alt: "Aaron Patterson"}
    %div
      %h2 Aaron Patterson
      %a.wrap{href: "http://tenderlovemaking.com/"}
        %h4.red tenderlovemaking.com
      %p Aaron Patterson is one of Ruby’s most respected and loved programmers. A committer to both Ruby and Ruby on Rails and a member of Seattle's Ruby community, he also has a sense of humour that has endeared him to many audiences.

%section.speakers
  %article
    %a{name: "mikel_lindsaar"}
    %img.speaker{src: "/images/speakers/mikel_lindsaar.jpg", width: "174px", alt: "Mikel Lindsaar"}
    %div

      %h2 Mikel Lindsaar
      %a.wrap{href: "http://lindsaar.net/"}
        %h4.red lindsaar.net
      %p Mikel Lindsaar needs no introduction to the Australian Ruby community. He is the author of the Ruby E-Mail handling library, mail, and has worked extensively on the Rails ActionMailer component.  Mikel is the only Australian member of the Ruby on Rails commit team.

  %article
    %a{name: "corey_haines"}
    %img.speaker{src: "/images/speakers/corey_haines.jpg", width: "174px", alt: "Corey Haines"}
    %div
      %h2 Corey Haines
      %a.wrap{href: "http://www.coreyhaines.com/"}
        %h4.red coreyhaines.com
      %p Corey Haines helps developers improve their fundamental software design skills through the use of focused-practice events, such as coderetreat. He trains teams on development technical practices, and builds projects and products when not on the road.

%hgroup.inline
  %h1 &nbsp;
  %h2 Talks Accepted from the CFP

%section.speakers
  %article
    %a{name: "pat_allan"}
    %img.speaker{src: "/images/speakers/pat_allan.jpg", width: "174px", alt: "Pat Allan"}
    %div
      %h2 Pat Allan
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhm/"}
        %h4.red The C Word
      %p
        Pat is a web developer who is (more often than not) found in Melbourne, Australia. When not writing open source Ruby libraries or taking care of client work, he can be found helping to organise
        %a{href: "http://trampolineday.com/"}Trampoline
        and the occasional
        %a{href: "http://railscamps.com"}Rails Camp.
        He also makes a mean pancake.

  %article
    %a{name: "john_barton"}
    %img.speaker{src: "/images/speakers/john_barton.jpg", width: "174px", alt: "John Barton"}
    %div
      %h2 John Barton
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfky/"}
        %h4.red Web-scale for the Rest of Us
      %p
        John is the co-founder of and chief tech guy for the world's greatest social film review site
        %a{href: "http://goodfil.ms/"}Goodfilms,
        and formerly worked on the
        %a{href: "http://envato.com/"}Envato
        Marketplaces team. For Envato, he joined the Marketplaces as one of three developers, with one
        %a{href: "http://activeden.net/"}mildly popular flash component marketplace
        and around forty thousand registered users. He then helped launch a couple more marketplaces (
        %a{href: "http://themeforest.net/"}including one wildly popular web theme marketplace
        ), before being passed the reigns as development manager and growing the team to around 10 developers, 9 Marketplaces, and well over a million registered users on the service. For Goodfilms, well there was that one time we sat on the Reddit frontpage overnight.

%section.speakers
  %article
    %a{name: "renee_de_voursney"}
    %img.speaker{src: "/images/speakers/renee_de_voursney.jpg", width: "174px", alt: "Renne de Voursney"}
    %div
      %h2 Renée De Voursney
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhg/"}
        %h4.red Teaching Ruby for Fun and Profit
      %p
        Renée is the Chief Adventure Officer at a small RoR consultancy in Seattle WA USA called
        %a{href: "http://nird.us/"}NIRD: Northwest Independent Ruby Development.
        She has been teaching Ruby, Rails, and everything else for the last couple of years to new programmers, experienced programmers, and sometimes to both at the same time! She is teaching the Ruby section of the University of Washington's Ruby on Rails Certificate program, and does RailsBridge workshops whenever she can. Her corporate trainings and paying clients take up the rest of the time that she's not traveling the world to speak at really cool conferences in really cool places!
  %article
    %a{name: "michael_fairley"}
    %img.speaker{src: "/images/speakers/michael_fairley.jpg", width: "174px", alt: "Michael Fairley"}
    %div
      %h2 Michael Fairley
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhy/"}
        %h4.red Immutable Ruby
      %p
        Michael Fairley is a developer at
        %a{href: "https://www.braintreepayments.com/"}Braintree Payments,
        where he uses Ruby to make it easy for businesses around the world (including Australia!) to accept credit card payments online. He’s an active open source contributor, and maintains a handful of side projects including
        %a{href: "mincemeat.py"}mincemeat.py
        and
        %a{href: "bestintrobook.com"}bestintrobook.com.

%section.speakers

  %article
    %a{name: "will_farrington"}
    %img.speaker{src: "/images/speakers/will_farrington.jpg", width: "174px", alt: "Will Farrington"}
    %div
      %h2 Will Farrington
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhr/"}
        %h4.red The Setup: Managing an Army of Laptops with Puppet
      %p
        Will is a developer and operations engineer. Will works on system operations at
        %a{href: "http://github.com"}GitHub
        as part of the Operations team, where he spends most of his time slinging Puppet to manage GitHub's extensive production environment. Prior to GitHub, he worked on a number of large Ruby applications and deployments at Highgroove Studios and Rails Machine. He is passionate about web operations and configuration management.

  %article
    %a{name: "geoffrey_geisemann"}
    %img.speaker{src: "/images/speakers/geoffrey_geisemann.jpg", width: "174px", alt: "Geoffrey Geisemann"}
    %div
      %h2 Geoffrey Geisemann
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkt/"}
        %h4.red From Stubbies to Longnecks - Finding and curing scaling bottlenecks
      %p
        Geoffrey is a Technical Lead at 
        %a{href: "http://realestate.com.au"}realestate.com.au. 
        When he isn't wailing away on a keyboard punching out Ruby he daydreams about making teams operationally excellent with liberal doses of DevOps and building a cape that will make him nerf-proof.

%section.speakers

  %article
    %a{name: "geoffrey_grosenbach"}
    %img.speaker{src: "/images/speakers/geoffrey_grosenbach.jpg", width: "174px", alt: "Geoffrey Grosenbach"}
    %div
      %h2 Geoffrey Grosenbach
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhx/"}
        %h4.red Lessons from the Masters
      %p
        As one of the first developers to use Rails, Geoffrey hosted the official Ruby on Rails Podcast for several years before starting the influential
        %a{href: "https://peepcode.com/"}PeepCode Screencasts
        (video tutorials for web developers and alpha geeks). He spends his time documenting undocumented Open Source software and self-producing mini documentaries with innovative developers and designers across the whole range of Open Source languages and software.

  %article
    %a{name: "paul_gross"}
    %img.speaker{src: "/images/speakers/paul_gross.jpg", width: "174px", alt: "Paul Gross"}
    %div
      %h2 Paul Gross
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkq/"}
        %h4.red Uptime == Money: High Availability at Braintree
      %p
        Paul Gross is a developer working at
        %a{href: "https://www.braintreepayments.com/"}Braintree.
        Braintree helps businesses accept credit card payments online with great development tools and first class support. Paul has worked on everything at Braintree from their highly available infrastructure to the client libraries that ease integration in seven languages. Before Braintree, Paul worked at
        %a{href: "http://www.thoughtworks.com/"}ThoughtWorks,
        a global consultancy, building custom software in many languages, including Java, .NET, Python and Ruby. Paul has worked in software development and delivery for over 10 years.

%section.speakers

  %article
    %a{name: "konstantin_haase"}
    %img.speaker{src: "/images/speakers/konstantin_haase.jpg", width: "174px", alt: "Konstantin Haase"}
    %div
      %h2 Konstantin Haase
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfmg/"}
        %h4.red Sinatra in SIX lines - How to do crazy stuff with Ruby
      %p
        As maintainer of Sinatra, Konstantin is an Open Source developer by heart. Ruby has become his language of choice since 2005. He regularly contributes to different widespread projects, like Rubinius, Rack, Travis, Rails and MRI. In 2012, Konstantin received the Ruby Hero Award for his outstanding contributions to the community. He now works full time at
        %a{href: "http://travis-ci.com"}Travis CI.

  %article
    %a{name: "adam_hawkins"}
    %img.speaker{src: "/images/speakers/adam_hawkins.jpg", width: "174px", alt: "Adam Hawkins"}
    %div
      %h2 Adam Hawkins
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkw/"}
        %h4.red Dear God What Am I Doing? Concurrency and Parallel Processing
      %p
        Adam is a Rubyist, Rails guy, and general open source nerd. He loves to contribute to open source projects he uses as well as write his own. He scratches his own itches through his open source work. When he is not coding he travels and enjoys trance in very heavy doses.

%section.speakers

  %article
    %a{name: "toby_hede"}
    %img.speaker{src: "/images/speakers/toby_hede.jpg", width: "174px", alt: "Toby Hede"}
    %div
      %h2 Toby Hede
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfmh/"}
        %h4.red Realtime Rails and Ruby
      %p
        Toby is a software developer and occasional entrepreneur based in Sydney, Australia, with an obsession for creating elegant, beautiful software. Toby's hobbies include collecting new programming languages and databases, an unhealthy obsession with MMA, playing the drums, cutting code and pondering the nature of existence.

  %article
    %a{name: "ben_hoskings"}
    %img.speaker{src: "/images/speakers/ben_hoskings.jpg", width: "174px", alt: "Ben Hoskings"}
    %div
      %h2 Ben Hoskings
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkk/"}
        %h4.red State of the Ruby
      %p
        Ben is from Brisbane but these days hails from Melbourne, where he works for
        %a{href: "http://theconversation.edu.au/"}The Conversation,
        a not-for-profit that publishes academia's take on the news of the day. In tech, Ben loves unix, git, postgres and of course the rubies.

%section.speakers

  %article
    %a{name: "chris_kelly"}
    %img.speaker{src: "/images/speakers/chris_kelly.jpg", width: "174px", alt: "Chris Kelly"}
    %div
      %h2 Chris Kelly
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhf/"}
        %h4.red Down the rb_newobj() Rabbit Hole: Garbage Collection in Ruby
      %p
        Chris is a Developer and Evangelist at
        %a{href: "http://newrelic.com/"}New Relic.
        He is a self-identified happiness engineer, writing code that makes someone else's day better. He's blogged, talked, or written code on everything from Ruby and Rails, to front-end best practices and DevOps. He spends a lot of time thinking about how our tools and processes effect our teams and our code, you may have seen him on a soap box recently at OSCON, QCon, or PuppetConf.

  %article
    %a{name: "amit_kumar"}
    %img.speaker{src: "/images/speakers/amit_kumar.jpg", width: "174px", alt: "Amit Kumar"}
    %div
      %h2 Amit Kumar
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkh/"}
        %h4.red Using Ruby for iOS development (RubyMotion)
      %p
        Amit Kumar is a lead Architect at McKinsey & Co. He has been focusing on developing scalable software solutions for more than a decade. He is passionate about engineering team building, Agile process methodologies and user-centric, feature-based web software design. He is in constant pursuit of simple innovative solutions to complex problems. He is an active member of the open source community and speaks at conferences and user groups.

%section.speakers

  %article
    %a{name: "terence_lee"}
    %img.speaker{src: "/images/speakers/terence_lee.jpg", width: "174px", alt: "Terence Lee"}
    %div
      %h2 Terence Lee
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhp/"}
        %h4.red bundle install Y U SO SLOW: Server Edition
      %p
        Terence works at
        %a{href: "http://www.heroku.com/"}Heroku
        maintaining the Ruby stack and a slew of OSS projects such as Bundler and Resque, as well as helping with the Rails Girls movement. When he's not going to an awesome Heroku or Ruby event, he lives in Austin, TX, the taco capital of America.

  %article
    %a{name: "charles_nutter"}
    %img.speaker{src: "/images/speakers/charles_nutter.jpg", width: "174px", alt: "Charles Oliver Nutter"}
    %div
      %h2 Charles Oliver Nutter
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkf/"}
        %h4.red High Performance Ruby
      %p
        Charles has worked on JRuby full time for seven years, bringing Ruby to the best high-performance, high-concurrency runtime available. He works on the JVM and JVM languages at
        %a{href: "http://www.redhat.com/"}Red Hat.

%section.speakers

  %article
    %a{name: "ben_orenstein"}
    %img.speaker{src: "/images/speakers/ben_orenstein.jpg", width: "174px", alt: "Ben Orenstein"}
    %div
      %h2 Ben Orenstein
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhd/"}
        %h4.red Refactoring from Good to Great - A Live-Coding Odyssey
      %p
        Ben enjoys speaking at conferences more than damn near anything else. He gets high from teaching, and will soon use you to feed his crippling addiction. When not urging everyone to remap caps lock to escape, Ben writes code at
        %a{href: "http://www.thoughtbot.com/"}thoughtbot
        , occasionally correctly.

  %article
    %a{name: "keith_pitt"}
    %img.speaker{src: "/images/speakers/keith_pitt.jpg", width: "174px", alt: "Keith Pitt"}
    %div
      %h2 Keith Pitt
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkm/"}
        %h4.red Keith and Mario's Guide to Fast Websites
      %p
        Keith, previously a Ruby on Rails Developer, now spends his time on the front end of things - working heavily with Javascript and CSS. Originally from Adelaide, he currently works for
        %a{href: "http://envato.com/"}Envato
        in Melbourne. He is the other Co-Founder of
        %a{href: "https://www.desktoppr.co/"}Desktoppr.
        In Keith's spare time, he watches many scary movies, and wins Magic Competitons. He has been involoved with Rails Camp Australia, as well as being on the organisation comittee for the Adelaide Rails Camp 2011.

%section.speakers

  %article
    %a{name: "mario_visic"}
    %img.speaker{src: "/images/speakers/mario_visic.jpg", width: "174px", alt: "Mario Visic"}
    %div
      %h2 Mario Visic
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkm/"}
        %h4.red Keith and Mario's Guide to Fast Websites
      %p
        Mario is a Ruby on Rails developer from Perth Australia, currently working at
        %a{href: "http://envato.com/"}Envato
        in Melbourne. As well as being a Co-Founder of
        %a{href: "https://www.desktoppr.co/"}Desktoppr
        he has also worked on some cool projects such as iMeducate and Airtasker. He also loves eating assorted types of cheeses.

  %article
    %a{name: "richard_schneeman"}
    %img.speaker{src: "/images/speakers/richard_schneeman.jpg", width: "174px", alt: "Richard Schneeman"}
    %div
      %h2 Richard Schneeman
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfhh/"}
        %h4.red Millions of Apps: What we've Learned
      %p
        Richard writes Ruby at
        %a{href: "http://www.heroku.com/"}Heroku
        and teaches Rails at the University of Texas. When he isn't obsessively compulsively playing Starcraft 2 he writes such gems as Wicked, Sextant, and oPRO. Before working as a programmer, Richard was a waiter at Outback Steakhouse where he perfected his fake Australian accent and learned about kookaburras.

%section.speakers

  %article
    %a{name: "benjamin_smith"}
    %img.speaker{src: "/images/speakers/benjamin_smith.jpg", width: "174px", alt: "Benjamin Smith"}
    %div
      %h2 Benjamin Smith
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkx/"}
        %h4.red Hacking with Gems
      %p
        Benjamin Smith is a developer at
        %a{href: "http://pivotallabs.com/"}Pivotal Labs.
        He has a strong passion for TDD, pairing, Agile and using technologies that get out of the programmer's way. When not writing code, he follows his other passions into the outdoors to rock climb, back country snowboard, kayak and surf.

  %article
    %a{name: "nick_sutterer"}
    %img.speaker{src: "/images/speakers/nick_sutterer.jpg", width: "174px", alt: "Nick Sutterer"}
    %div
      %h2 Nick Sutterer
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfkp/"}
        %h4.red Off the Tracks - Challenging the Rails Mindset
      %p
        Nick Sutterer is proud to be a member of the Ruby open source community. His Cells and Apotomo projects have been bringing increased view modularity and event-driven programming to Rails for years. He has enjoyed attending, and speaking at, Ruby conferences around the world. Buy him a beer sometime, and with very little prompting, he will tell you why there should be no such thing as a double-render error, why you should not confuse your models with your resources, and how to play a mean bass in a punk rock band.

%section.speakers

  %article
    %a{name: "carina_zona"}
    %img.speaker{src: "/images/speakers/carina_zona.jpg", width: "174px", alt: "Carina C. Zona"}
    %div
      %h2 Carina C. Zona
      %a.wrap{href: "http://lanyrd.com/2013/rubyconf-australia/sccfht/"}
        %h4.red Schemas for the Real World
      %p
        Carina is a San Francisco web developer and a senior organizer of
        %a{href: "http://workshops.railsbridge.org/"}RailsBridge
        core team. She is a tech educator for outreach groups including RailsBridge, RailsGirls, PyLadies, Girl Develop It. She is also a certified sex educator. She thinks a lot about how these overlap.

  %article
