%hgroup.inline
  %h1 Sponsors
  %h2 Thankyou for making Ruby Conf possible

%section.ruby
  %h3.red Ruby Sponsor
  %div
    %a{href: "http://envato.com/"}
      %img{src: "/images/sponsors/envato.png", alt: "Envato", width: "228px", height: "53px"}
    %p Media Temple, Inc. is a web hosting and virtualization service provider headquartered in Los Angeles, California. Since 1998, the company has provided businesses around the world with reliable, professional-class services to host websites, email, business applications, and other rich Internet content.


%section.emerald
  %h3.green Emerald Sponsor
  %div
    %a{href: "#"}
      %img{src: "/images/sponsors/thoughtworks.svg", alt: "Thoughtworks", height: "50px"}
    %p Mobiles are everywhere, and over 200 million people use Opera to discover the web from their phones every month. We are passionate about helping everyone use the Web, and we know about web development: HTML5 started at Opera, and our CTO co-invented CSS.
  %div
    %a{href: "#"}
      %img{src: "/images/sponsors/rea.svg", alt: "REA", height: "50px"}
    %p The Horizon Interactive Awards, now in its 11th season, is an international interactive media competition recognizing excellence among web sites, mobile applications, video, advertising and print. Each year the “Best of the Best” are recognized from 35 different categories. Entries are received from nearly all 50 US states and over 25 other countries.
