%hgroup.inline
  %h1 Sponsors
  %h2 Thank you for making RubyConf AU possible

%section.ruby
  %h3.red Ruby Sponsor
  %div
    %a{href: "http://envato.com/"}
      %img{src: "/images/sponsors/envato.svg", alt: "Envato", height: "53px"}
    %p Envato is a startup based out of Australia with people around the world and sites serving pages every second. We started in a living room in 2006 and have been steadily working to build our company into a world-class contender. Our background is creative, we love open source, we believe that work is about way more than just making money, and we’re totally committed to making products that are awesome!


%section.emerald
  %h3.green Emerald Sponsor
  %div
    %a{href: "http://www.thoughtworks.com/"}
      %img{src: "/images/sponsors/thoughtworks.svg", alt: "Thoughtworks", height: "50px"}
    %p ThoughtWorks is not your typical company. Talented, driven and principled people who are passionate about software, brought together because they want to do something amazing. Amazing work for our clients is the front line, revolutionizing the way the industry works is a gradual effect, improving society through software is our long term goal.
  %div
    %a{href: "http://www.realestate.com.au/"}
      %img{src: "/images/sponsors/rea.svg", alt: "REA", height: "50px"}
    %p 
      Founded in 1995, 
      %a{href: "http://www.realestate.com.au/"} realestate.com.au
      has grown to become Australia&rsquo;s No.1 property site, with 3 million people visiting a month. We offer comprehensive real estate listings and information to help property seekers at all stages of their journey &ndash; from browser to buyer or tenant.
