.page
  %hgroup.inline
    %h1 Venue
    %h2 Hosted at Jasper Hotel in Melbourne, Australia

  %section.page-content
    .page-block
      %h3 Location
      %p
        Jasper Hotel is conveniently located in Melbourne's vibrant Market Precinct on the northern edge of the CBD, at 489 Elizabeth Street. Trams regularly run along Elizabeth Street so if you're staying in town there's no need to catch a taxi.

      <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=jaspers+hotel&amp;aq=&amp;sll=-37.860283,145.079616&amp;sspn=1.717404,2.392273&amp;ie=UTF8&amp;hq=jaspers+hotel&amp;hnear=&amp;t=m&amp;cid=13389414167183019933&amp;ll=-37.801104,144.968204&amp;spn=0.032553,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=jaspers+hotel&amp;aq=&amp;sll=-37.860283,145.079616&amp;sspn=1.717404,2.392273&amp;ie=UTF8&amp;hq=jaspers+hotel&amp;hnear=&amp;t=m&amp;cid=13389414167183019933&amp;ll=-37.801104,144.968204&amp;spn=0.032553,0.054932&amp;z=14&amp;iwloc=A" style="color:rgb(244, 50, 60);text-align:left">View Larger Map</a></small>

    / .hr
    /   %hr
    / .page-block
    /   %h3 Accomodation Options
    /   %p
    /     Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.