.page
  %hgroup.inline
    %h1 Workshops
    %h2 Wednesday 20 February 2013

  %section.page-content
    .page-block
      %h3 Advanced Ruby
      %h5 Dave Thomas
      %p
        At the start of the day, we list out all the topics and prioritize them based on the class's wishes. From there, we start at the top and see how far we get. There's a mixture of talk, demonstrations, and exercises, and I generally let the class lead me down rabbit holes as long as enough people are interested. In general, the more experienced the audience, the faster we go. In general, people will need at least 6 months Ruby to keep up. A year or two is the sweet spot.
      %p
        Topics may include:
      %ul
        %li Ruby 1.9
        %li the Ruby Object Model (this is always covered)
        %li open classes, monkey patching, and Ruby 2.0 refinements
        %li sharing behavior (and why inheritence is mostly not the way to do it)
        %li modules and mixins
        %li metaprogramming techniques
        %li domain specific languages
        %li hook methods and altering the interpreter lifecycle
        %li design in a dynamic language
        %li performance
    .hr
      %hr
    .page-block
      %h3 Code Retreat
      %h5 Corey Haines
      %p
        Coderetreat is a day-long, intensive practice event, focusing on the fundamentals of software development and design. By providing developers the opportunity to take part in focused practice, away from the pressures of 'getting things done', the coderetreat format has proven itself to be a highly effective means of skill improvement. Practicing the basic principles of modular and object-oriented design, developers can improve their ability to write code that minimizes the cost of change over time.
    .hr
      %hr
    .page-block
      %h3 JRuby
      %h5 Charles Oliver Nutter and Hiro Asari
      %p
        The JRuby core team members Charles Oliver Nutter and Hiro Asari lead the first JRuby workshop in the Southern Hemisphere.
      %p
        Topics that will be covered include:
      %ol
        %li JRuby overview: installation, getting started
        %li Java and Ruby integration: loading and calling libraries
        %li JRuby on Rails: building and deploying
        %li JRuby for fun and more fun: Minecraft plugin with Purugin (or something similar)
        %li JRuby debugging and performance tuning: finding problems
      %p
        Attendees should have a Java VM installed (Java 6 or higher) and have familiarity with the basics of Ruby. RVM will make installation easier, but it is not required.
    .hr
      %hr
    .page-block
      %h3 Rails4iOS
      %h5 Lori Olson and Tim Breitkreutz
      %p
        You've got your iPhone app almost ready to go, but now you need a website. You're an iOS developer, not a web developer, and every day that goes by is another day that your app ISN'T in the App Store. You can outsource your server-side development, but that costs both time & money. What if you could build your own website? Our Rails for iOS Developers Workshop will help you get your responsive website up and running, using the powerful Ruby on Rails framework, from creation to deployment, in straight-forward, easy to follow steps.