.content-page--event-header
  .body-section--event-header__inner
    %hgroup
      %img.body-section--event-header__logo{ src: '/images/2016/logo.png' }
      %h2.body-section--event-header__city Gold Coast, Australia
      %h3.body-section--event-header__date 10 - 13 February 2016

%section.site-nav
  %a(href="/2016") Conference
  %a(href="/2016#venue") Location
  %a(href="/2016#speakers") Speakers
  %a(href="/2016#events") Social Events
  %a(href="/2016#workshops") Workshops
  %a(href="/2016#sponsors") Sponsors
  %a(href="/2016#conduct") Code of Conduct
  %a(href="/2016#contact") Contact

#after-nav
