.content-page--event-header
  .body-section--event-header__inner
    .body-section--event-header__event
      %a(href="/2016") <span>RubyConf</span> <span>Australia</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">5</span></span>
    .body-section--event-header__city <span>Melbourne</span> <span>Australia</span>
    .body-section--event-header__date 10 - 13 February 2016

#after-nav
