- @page_title = "RubyConf Australia 2016 Accommodation Recommendations"

.content-page
  = haml :'2016/_header'

  .content-page__header.content-page__header--accommodation
    %h1 Accommodation

  %section.body-section--content
    %p To be added
