- @page_title = "RubyConf Australia 2016 Events"

%div
  = haml :'2016/_header'

  .content-page__header
    %h1 Social Events
    %p We’ve organised a raft of events to enjoy the Gold Coast and spend quality time with your fellow Rubyists.
    %p To be added ...
