%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %img.body-section--event-header__logo{ src: 'images/2016/logo.png' }
      -# %h1.body-section--event-header__event RubyConf Australia 2016
      -# %p On the 10th - 13th February 2016, leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city Gold Coast, Australia
      %h3.body-section--event-header__date 10 - 13 February 2016


%section.site-nav
  %a(href="#conference") Conference
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#events") Social Events
  %a(href="#workshops") Workshops
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#conference.body-section--content
  %h2 Ruby Conference Australia 2016
  %p Join us from 10 - 13 February at the brand new, world class conference centre at the Sea World Resort, Gold Coast

%section#venue.body-section--content.grid
  .grid__cell
    %h2 Location
    %p Sea World's brand new conference centre is due to open in winter 2015. Boasting a stunning Broadwater location, large veranda, and plenty of space for Ruby developers!
    %p Only a monorail ride away from special encounters with Sea World’s wonderful marine life. Start your day with an exclusive behind the scenes tour at Shark Bay or learn more about the beautiful dolphins at the Dolphin Discovery presentation.
    %p
      %a.button Get Directions
  .grid__cell
    Map
    #map.map

%section#speakers.body-section--content
  %h2 Speakers
  %div.grid
    %div.grid__cell.speaker
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/katrina-owen.jpg" alt="Photo of Katrina")
      %h3.speaker__name Katrina Owen
      %div.speaker__bio
        %p
          Katrina accidentally became a developer while pursuing a degree in molecular biology. When programming, her focus is on automation, workflow optimization, and refactoring.
          She works primarily in Go and Ruby, contributes to several open source projects, and is the creator of
          = succeed '.' do
            %a{ href: 'http://exercism.io/' } exercism.io
      %ol.speaker__links
    .grid__cell.speaker
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/senator-scott-ludlam.jpg" alt="Photo of Senator Scott Ludlam")
      %h3.speaker__name Senator Scott Ludlam
      %div.speaker__bio
        %p Scott Ludlam is the Deputy Leader of the Australian Greens and spokesperson for Communications, Broadband and the Digital Economy, Housing, Nuclear Issues, and Sustainable Cities and is currently one of 11 Australian Greens members of parliament. He was elected to Parliament in November 2007 and again in April 2014.
        %p Scott was a leading voice against the Federal Government's attempt to censor the internet with its mandatory net filter, moved amendments to better secure public ownership of the National Broadband Network and has been a strong advocate for a diverse, accessible communications sector. He is campaigning against the Government ‘reforms’ of security legislation to boost ASIO’s data capture and retention powers.
      %ol.speaker__links

%section#events.body-section--content
  %h2 Social Events
  %p We’ve organised a raft of events to enjoy The Gold Coast and spend quality time with your fellow Rubyists.

  .event-grid.grid
    .grid__cell.event
      %img{ src: '/images/2016/opening-party-at-q1.png' }
      %h3
        Opening Party at Q1
    .grid__cell.event
      %img{ src: '/images/2016/dinner-at-four-winds.png' }
      %h3
        Dinner at Four Winds Revolving Restaurant
    .grid__cell.event
      %img{ src: '/images/2016/friday-night-at-movie-world.png' }
      %h3
        Friday Night Party at Movie World
    .grid__cell.event
      %img{ src: '/images/2016/community-day.png' }
      %h3
        Community Day with a choice of activities
    .grid__cell.event
      %img{ src: '/images/2016/beach-bbq.png' }
      %h3
        Beach BBQ
    .grid__cell.event
      %img{ src: '/images/2016/closing-party-at-kurrawa-surf-club.png' }
      %h3
        Closing Party at Kurrawa Surf Club

%section#workshops.body-section--content
  %h2 Workshops

  %p Workshops will be announced shortly.

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    RubyConf Australia is run under the auspices of Ruby Australia.
    You can view our
    %a{ href: "/2016/policies#code" } code of conduct
    and
    %a{ href: "/2016/policies#anti-harassment" } our anti-harrassment policy.
  %p
    These rules must be followed by all attendees at all conference-related events.
