%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %img.body-section--event-header__logo{ src: 'images/2016/logo.png' }
      -# %h1.body-section--event-header__event RubyConf Australia 2016
      -# %p On the 10th - 13th February 2016, leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city Gold Coast, Australia
      %h3.body-section--event-header__date 10 - 13 February 2016


%section.site-nav
  %a(href="#conference") Conference
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#events") Social Events
  %a(href="#workshops") Workshops
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#conference.body-section--content
  %h2 Ruby Conference Australia 2016
  %p 10 - 13 February at Sea World, Gold Coast

%section#venue.body-section--content.grid
  .grid__cell
    %h2 Location
    %p Join us at Sea World.
    %p
      %a.button Get Directions
  .grid__cell
    Map

%section#speakers.body-section--content
  %h2 Speakers
  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Katrina Owen
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/katrina-owen.png" alt="Photo of Katrina")
      %div.speaker__bio
        %p
          Katrina accidentally became a developer while pursuing a degree in molecular biology. When programming, her focus is on automation, workflow optimization, and refactoring.
          She works primarily in Go and Ruby, contributes to several open source projects, and is the creator of
          = succeed '.' do
            %a{ href: 'tobe added' } exercism.io
      %ol.speaker__links
        %li
          %a(href="#") ?
        %li
          %a(href="https://twitter.com/") @?
    .grid__cell.speaker
      %h3.speaker__name Katrina Owen
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/katrina-owen.png" alt="Photo of Katrina")
      %div.speaker__bio
        %p Katrina's bio is to be added.
      %ol.speaker__links
        %li
          %a(href="#") ?
        %li
          %a(href="https://twitter.com/") @?

%section#events.body-section--content
  %h2 Social Events
  %p We’ve organised a raft of events to enjoy The Gold Coast and spend quality time with your fellow Rubyists.

  .event-grid.grid
    .grid__cell.event
      %img{ src: '/images/2016/opening-party-at-q1.png' }
      %h3
        Opening Party at Q1
    .grid__cell.event
      %img{ src: '/images/2016/dinner-at-four-winds.png' }
      %h3
        Dinner at Four Winds Revolving Restaurant
    .grid__cell.event
      %img{ src: '/images/2016/friday-night-at-movie-world.png' }
      %h3
        Friday Night Party at Movie World
    .grid__cell.event
      %img{ src: '/images/2016/community-day.png' }
      %h3
        Community Day with a choice of activities
    .grid__cell.event
      %img{ src: '/images/2016/beach-bbq.png' }
      %h3
        Beach BBQ
    .grid__cell.event
      %img{ src: '/images/2016/closing-party-at-kurrawa-surf-club.png' }
      %h3
        Closing Party at Kurrawa Surf Club

%section#workshops.body-section--content
  %h2 Workshops

  %p Workshops will be announced shortly.

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    RubyConf Australia is run under the auspices of Ruby Australia.
    You can view our
    %a{ href: "/2016/policies#code" } code of conduct
    and
    %a{ href: "/2016/policies#anti-harassment" } our anti-harrassment policy.
  %p
    These rules must be followed by all attendees at all conference-related events.
