%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %img.body-section--event-header__logo{ src: 'images/2016/logo.png' }
      -# %h1.body-section--event-header__event RubyConf Australia 2016
      -# %p On the 10th - 13th February 2016, leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city Gold Coast, Australia
      %h3.body-section--event-header__date 10 - 13 February 2016


%section.site-nav
  %a(href="#conference") Conference
  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#events") Social Events
  %a(href="#workshops") Workshops
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#conference.body-section--content
  .body-section__container
    %h2 Ruby Conference Australia 2016
    %p Join us from 10 - 13 February at the brand new, world class conference centre at the Sea World Resort, Gold Coast
    %h3
      %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2016', target: '_blank', class: 'button' }
        Buy Your Ticket

%section#attending.body-section--content
  .body-section__container
    %h2 Attending
    %p.lead RubyConf Australia is an inclusive conference and as such strives to be <a href="/2016/policies#code">welcoming</a> and <a href="/2016/accessibility">accessible</a> to as many people as possible.
    %p
      Never been to the Gold Coast before? Not sure where to go or what to do? Check out our helpful
      %a{ href: '/2016/tourist-guide' }
        tourist guide

%section#venue.body-section--content.grid
  .body-section__container
    .grid__cell.two-col{style: 'text-align: left'}
      %h2 Location
      %p Sea World's brand new conference centre is due to open in winter 2015. Boasting a stunning Broadwater location, large veranda, and plenty of space for Ruby developers!
      %p Only a monorail ride away from special encounters with Sea World’s wonderful marine life. Start your day with an exclusive behind the scenes tour at Shark Bay or learn more about the beautiful dolphins at the Dolphin Discovery presentation.
      %p
        %a.button{ href: 'https://www.google.com.au/maps/dir//Sea+World,+Sea+World+Dr,+Main+Beach+QLD+4217,+Australia/@-27.9572371,153.3886081,14z/data=!4m9!4m8!1m0!1m5!1m1!1s0x6b910fbcb65bf0db:0xfac5c569854751a0!2m2!1d153.425516!2d-27.957242!3e1' } Get Directions
    .grid__cell.two-col
      %h2 Map
      #map.map

%section#speakers.body-section--content
  .body-section__container
    %h2 Speakers
    %div.grid
      %div.grid__cell.speaker
        .speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/katrina-owen.jpg" alt="Photo of Katrina Owen")
        %h3.speaker__name Katrina Owen
        %div.speaker__bio
          %p
            Katrina accidentally became a developer while pursuing a degree in molecular biology. When programming, her focus is on automation, workflow optimization, and refactoring.
            She works primarily in Go and Ruby, contributes to several open source projects, and is the creator of
            = succeed '.' do
              %a{ href: 'http://exercism.io/' } exercism.io
        %ol.speaker__links
          %li
            %a(href="http://www.kytrinyx.com/") www.kytrinyx.com
          %li
            %a(href="https://twitter.com/kytrinyx") @kytrinyx
      %div.grid__cell.speaker
        .speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/senator-scott-ludlam.jpg" alt="Photo of Senator Scott Ludlam")
        %h3.speaker__name Senator Scott Ludlam
        %div.speaker__bio
          %p Scott Ludlam is the Deputy Leader of the Australian Greens and spokesperson for Communications, Broadband and the Digital Economy, Housing, Nuclear Issues, and Sustainable Cities and is currently one of 11 Australian Greens members of parliament. He was elected to Parliament in November 2007 and again in April 2014.
        %ol.speaker__links
          %li
            %a(href="http://www.scottludlam.org.au/") www.scottludlam.org.au
          %li
            %a(href="https://twitter.com/SenatorLudlam") @SenatorLudlam
      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/ernie-miller.jpg" alt="Photo of Ernie Miller")
        %h3.speaker__name Ernie Miller
        %div.speaker__bio
          %p
            Ernie's been programming since he was 6, and professionally for the past 17 years or so. He's passionate about creating things, and sees software development as an especially powerful medium for creation. Sometimes he still can't believe that people actually pay us to have this much fun.
          %p
            He's currently the Director of Engineering at nVisium.
        %ol.speaker__links
          %li
            %a(href="http://erniemiller.org/") erniemiller.org
          %li
            %a(href="https://twitter.com/erniemiller") @erniemiller

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/saron-yitbarek.jpg" alt="Photo of Saron Yitbarek")
        %h3.speaker__name Saron Yitbarek
        %div.speaker__bio
          %p
            Saron Yitbarek is a developer, currently leading the Tech Jobs Academy program at Microsoft. She's also the founder of CodeNewbie, the most supportive community of programmers and people learning to code, and host of the weekly CodeNewbie Podcast, available on your favorite podcasting app.
        %ol.speaker__links
          %li
            %a(href="http://bloggytoons.com/") bloggytoons.com
          %li
            %a(href="https://twitter.com/saronyitbarek") @saronyitbarek

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/jeff-casimir.jpg" alt="Photo of Jeff Casimir")
        %h3.speaker__name Jeff Casimir
        %div.speaker__bio
          %p
            Jeff is the Executive Director at the Turing School of Software & Design where he works to open the world of programming to a wider, more diverse, more socially-minded slice of the world. He's been programming since 1999, teaching programming since 2003, co-founded a middle school, created three developer training programs, and dreams of one day being CTO of the United States.
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/j3") @j3


      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/dr-nic-williams.jpg" alt="Photo of Dr Nic Williams")
        %h3.speaker__name Dr Nic Williams
        %div.speaker__bio
          %p
            He writes blog posts for developers; creates tools, libraries and text editor extensions for developers; and speaks to developers at conferences. He’s the CEO of Stark & Wayne, a consultancy for people who love Cloud Foundry and Jenkins. He has contributed to over 300 open source projects. He is known for creating or curating projects such as Bosh, App Scrolls, Rails Installer, Composite Primary Keys, Choc Top, App Scrolls, Rails TextMate bundle, New Gem, Tab Tab, GitHub Badges, Install Theme for Rails, and Dr Nic’s Magic Models.
        %ol.speaker__links
          %li
            %a(href="http://drnicwilliams.com/") drnicwilliams.com
          %li
            %a(href="https://twitter.com/drnic") @drnic

      %div.grid__cell.speaker
        %p
          %a.button{ href: '/2016/speakers' } All Speakers

%section#events.body-section--content
  .body-section__container
    %h2 Social Events
    %p We’ve organised a raft of events to enjoy The Gold Coast and spend quality time with your fellow Rubyists.

    .event-grid.grid
      .grid__cell.event
        %img{ src: '/images/2016/events/q1.jpg' }
        %h3
          %a(href="http://www.skypoint.com.au/" target="_blank") Opening Party at SkyPoint in Q1
      .grid__cell.event
        %img{ src: '/images/2016/events/four-winds.jpg' }
        %h3
          %a(href="http://www.fourwindsrestaurant.com.au/" target="_blank") Dinner at Four Winds Revolving Restaurant
      .grid__cell.event
        %img{ src: '/images/2016/events/movieworld.jpg' }
        %h3
          %a(href="http://movieworld.com.au/" target="_blank") Friday Night Party at Movie World
      .grid__cell.event
        %img{ src: '/images/2016/events/hinterland.jpg' }
        %h3
          Bush walking in the hinterland
      .grid__cell.event
        %img{ src: '/images/2016/events/kurrawa-beach.jpg' }
        %h3
          %a(href="http://kurrawasurf.com.au/surfclub/" target="_blank") Beach BBQ
      .grid__cell.event
        %img{ src: '/images/2016/events/kurrawa-surf-club.jpg' }
        %h3
          %a(href="http://kurrawasurf.com.au/supportersclub/" target="_blank") Closing Party at Kurrawa Surf Club
    %a.button{ href: '/2016/events' } More Info

%section#workshops.body-section--content
  .body-section__container
    %h2 Workshops
    %p
      Workshops will be on the 10th of February, and tickets will be separate from the conference sessions. Rails Girls
      will be one of the workshops, but the rest of the line-up is still to be announced.

%section#sponsors.body-section--content
  .body-section__container
    %h2 Sponsors
    %p
      RubyConf AU 2016 is made possible through the generous support of our sponsors.
    %p
      Download
      %a{ href: '/pdfs/2016/rubyconfau2016_sponsorship.pdf' } the sponsorship prospectus
      to see the sponsorship options for RubyConf Australia 2016.
    %p
      If your company is interested in sponsoring, please get in touch with
      %a{ href: 'mailto:mel@ruby.org.au' } mel@ruby.org.au
      for more information.

%section#conduct.body-section--content
  .body-section__container
    %h2 Code of Conduct
    %p
      RubyConf Australia is run under the auspices of Ruby Australia.
      You can view our
      %a{ href: "/2016/policies#code" } code of conduct
      and
      %a{ href: "/2016/policies#anti-harassment" } our anti-harrassment policy.
    %p
      These rules must be followed by all attendees at all conference-related events.
