%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %img.body-section--event-header__logo{ src: '/images/2016/logo.png' }
      -# %h1.body-section--event-header__event RubyConf Australia 2016
      -# %p On the 10th - 13th February 2016, leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city Gold Coast, Australia
      %h3.body-section--event-header__date 10 - 13 February 2016


%section.site-nav
  %a(href="#conference") Conference
  %a(href="#venue") Location
  %a(href="#schedule") Schedule
  %a(href="#speakers") Speakers
  %a(href="#events") Social Events
  %a(href="#workshops") Workshops
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#conference.body-section--content
  .body-section__container
    %h2 Ruby Conference Australia 2016
    %p Join us from 10 - 13 February at the brand new, world class conference centre at the Sea World Resort, Gold Coast
    %h3
      %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2016', target: '_blank', class: 'button' }
        Buy Your Ticket
    %p
      We are offering concession tickets for anybody who is a student, currently unemployed or holds a concession card. Please
      %a{ href: 'mailto:organisers@rubyconf.org.au' } email us
      for more details.
    %h2 RubyConf Assist
    %p
      RubyConf Assist will give 10 people (who wouldn't otherwise be able to attend) the opportunity to be at the
      conference in February. The sponsored program offers financial support to people from underrepresented groups in
      our community (eg. women, minorities). The successful applicants will receive conference tickets and some travel
      expense assistance. Growing and fostering diversity in our community is a major focus of Ruby Australia.
    %a{ href: '/2016/rubyconf-assist', target: '_blank', class: 'button' }
      More Information

%section#attending.body-section--content
  .body-section__container
    %h2 Attending
    %p.lead RubyConf Australia is an inclusive conference and as such strives to be <a href="/2016/policies#code">welcoming</a> and <a href="/2016/accessibility">accessible</a> to as many people as possible.
    %p
      Never been to the Gold Coast before? Not sure where to go or what to do? Check out our helpful
      %a{ href: '/2016/tourist-guide' }
        tourist guide

%section#venue.body-section--content.grid
  .body-section__container
    .grid__cell.two-col{style: 'text-align: left'}
      %h2 Location
      %p Sea World's brand new conference centre is due to open in winter 2015. Boasting a stunning Broadwater location, large veranda, and plenty of space for Ruby developers!
      %p Only a monorail ride away from special encounters with Sea World’s wonderful marine life. Start your day with an exclusive behind the scenes tour at Shark Bay or learn more about the beautiful dolphins at the Dolphin Discovery presentation.
      %p
        %a.button{ href: 'https://www.google.com.au/maps/dir//Sea+World,+Sea+World+Dr,+Main+Beach+QLD+4217,+Australia/@-27.9572371,153.3886081,14z/data=!4m9!4m8!1m0!1m5!1m1!1s0x6b910fbcb65bf0db:0xfac5c569854751a0!2m2!1d153.425516!2d-27.957242!3e1' } Get Directions
    .grid__cell.two-col
      %h2 Map
      #map.map

%section#schedule.body-section--content
  .body-section__container
    %h2 Schedule
    .schedule
      .schedule__day
        .schedule__date 10th Feb
        .schedule__events
          .day-events
            .event-time 9am - 5pm
            .event-title Workshops
            .event-description
              %p Alongside Rails Girls and Rails Girls Next, we'll be running three workshops: Trailblazer with Nick Sutterer and Nick Kirkwood, Tasteful Go with Katrina Owen, and Finding Developer Flow with Richie Khoo and Dan Draper.
              %p
                All
                %a{ href: '#workshops'} workshops
                will run all day and are ticketed separately to the conference.
          .evening-events
            .event-time 7pm - 11pm
            .event-title Opening Party at Q1
      .schedule__day
        .schedule__date 11th Feb
        .schedule__events
          .day-events
            .event-time 8am
            .event-title Registration & Coffee
            .event-description
              %p
                Registration will take place at Sea World from 8am, where we'll also have coffee to make sure you're awake at such an early hour.
            .event-time 9am - 5:30pm
            .event-title Conference Talks
            .event-description
              %p
                Most talks will run for 20 minutes, with morning and afternoon breaks as well as lunch. Our
                %a{ href: "http://lanyrd.com/2016/rubyconf-au/"} full schedule of talks and speakers
                is published on Lanyrd.
          .evening-events
            .event-time 7pm - 11pm
            .event-title Speaker Dinner at Four Winds
      .schedule__day
        .schedule__date 12th Feb
        .schedule__events
          .event-time 8am
          .event-title Coffee
          .event-description
            %p
              Because we want you awake and ready for the talks!
          .event-time 9am - 5:30pm
          .event-title Conference Talks
          .event-description
            %p
              Most talks will run for 20 minutes, with morning and afternoon breaks as well as lunch. Our
              %a{ href: "http://lanyrd.com/2016/rubyconf-au/"} full schedule of talks and speakers
              is published on Lanyrd.
          .evening-events
            .event-time 7pm - 11pm
            .event-title Movie World Party
            .event-description
              %p There will be a bus from Sea World to Movie World in time for the party, where we'll have exclusive use of several of the rides, as well as food and drink.
      .schedule__day
        .schedule__date 13th Feb
        .schedule__events
          .day-events
            .event-time 9am - 1pm
            .event-title Morning social events
            .event-description
              %p If you've chosen one of our social events, such as stand up paddle boarding, hack day or visiting the wildlife sanctuary, these will take place in the morning.

            .event-time 2pm - 6pm
            .event-title Beach BBQ
            .event-description
              %p We'll have games on the beach and a sausage sizzle at the surf club during the afternoon ...

            .event-time 6pm until late
            .event-title Evening drinks
            .event-description
              %p ... finally progressing to the verandah of Kurrawa Surf Club for a few final beers and goodbyes.

%section#speakers.body-section--content
  .body-section__container
    %h2 Speakers
    %div.grid
      %div.grid__cell.speaker
        .speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/katrina-owen.jpg" alt="Photo of Katrina Owen")
        %h3.speaker__name Katrina Owen
        %div.speaker__bio
          %p
            Katrina accidentally became a developer while pursuing a degree in molecular biology. When programming, her focus is on automation, workflow optimization, and refactoring.
            She works primarily in Go and Ruby, contributes to several open source projects, and is the creator of
            = succeed '.' do
              %a{ href: 'http://exercism.io/' } exercism.io
        %ol.speaker__links
          %li
            %a(href="http://www.kytrinyx.com/") www.kytrinyx.com
          %li
            %a(href="https://twitter.com/kytrinyx") @kytrinyx
      %div.grid__cell.speaker
        .speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/senator-scott-ludlam.jpg" alt="Photo of Senator Scott Ludlam")
        %h3.speaker__name Senator Scott Ludlam
        %div.speaker__bio
          %p Scott Ludlam is the Deputy Leader of the Australian Greens and spokesperson for Communications, Broadband and the Digital Economy, Housing, Nuclear Issues, and Sustainable Cities and is currently one of 11 Australian Greens members of parliament. He was elected to Parliament in November 2007 and again in April 2014.
        %ol.speaker__links
          %li
            %a(href="http://www.scottludlam.org.au/") www.scottludlam.org.au
          %li
            %a(href="https://twitter.com/SenatorLudlam") @SenatorLudlam
      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/ernie-miller.jpg" alt="Photo of Ernie Miller")
        %h3.speaker__name Ernie Miller
        %div.speaker__bio
          %p
            Ernie's been programming since he was 6, and professionally for the past 17 years or so. He's passionate about creating things, and sees software development as an especially powerful medium for creation. Sometimes he still can't believe that people actually pay us to have this much fun.
          %p
            He's currently the Director of Engineering at nVisium.
        %ol.speaker__links
          %li
            %a(href="http://erniemiller.org/") erniemiller.org
          %li
            %a(href="https://twitter.com/erniemiller") @erniemiller

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/saron-yitbarek.jpg" alt="Photo of Saron Yitbarek")
        %h3.speaker__name Saron Yitbarek
        %div.speaker__bio
          %p
            Saron Yitbarek is a developer, currently leading the Tech Jobs Academy program at Microsoft. She's also the founder of CodeNewbie, the most supportive community of programmers and people learning to code, and host of the weekly CodeNewbie Podcast, available on your favorite podcasting app.
        %ol.speaker__links
          %li
            %a(href="http://bloggytoons.com/") bloggytoons.com
          %li
            %a(href="https://twitter.com/saronyitbarek") @saronyitbarek

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/jeff-casimir.jpg" alt="Photo of Jeff Casimir")
        %h3.speaker__name Jeff Casimir
        %div.speaker__bio
          %p
            Jeff is the Executive Director at the Turing School of Software & Design where he works to open the world of programming to a wider, more diverse, more socially-minded slice of the world. He's been programming since 1999, teaching programming since 2003, co-founded a middle school, created three developer training programs, and dreams of one day being CTO of the United States.
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/j3") @j3


      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/dr-nic-williams.jpg" alt="Photo of Dr Nic Williams")
        %h3.speaker__name Dr Nic Williams
        %div.speaker__bio
          %p
            He writes blog posts for developers; creates tools, libraries and text editor extensions for developers; and speaks to developers at conferences. He’s the CEO of Stark & Wayne, a consultancy for people who love Cloud Foundry and Jenkins. He has contributed to over 300 open source projects. He is known for creating or curating projects such as Bosh, App Scrolls, Rails Installer, Composite Primary Keys, Choc Top, App Scrolls, Rails TextMate bundle, New Gem, Tab Tab, GitHub Badges, Install Theme for Rails, and Dr Nic’s Magic Models.
        %ol.speaker__links
          %li
            %a(href="http://drnicwilliams.com/") drnicwilliams.com
          %li
            %a(href="https://twitter.com/drnic") @drnic

      %div.grid__cell.speaker
        %p
          %a.button{ href: '/2016/speakers' } All Speakers

%section#events.body-section--content
  .body-section__container
    %h2 Social Events
    %p We’ve organised a raft of events to enjoy The Gold Coast and spend quality time with your fellow Rubyists.

    .event-grid.grid
      .grid__cell.event
        %img{ src: '/images/2016/events/q1.jpg' }
        %h3
          %a(href="http://www.skypoint.com.au/" target="_blank") Opening Party at SkyPoint in Q1
      .grid__cell.event
        %img{ src: '/images/2016/events/four-winds.jpg' }
        %h3
          %a(href="http://www.fourwindsrestaurant.com.au/" target="_blank") Dinner at Four Winds Revolving Restaurant
      .grid__cell.event
        %img{ src: '/images/2016/events/movieworld.jpg' }
        %h3
          %a(href="http://movieworld.com.au/" target="_blank") Friday Night Party at Movie World
      .grid__cell.event
        %img{ src: '/images/2016/events/hinterland.jpg' }
        %h3
          Bush walking in the hinterland
      .grid__cell.event
        %img{ src: '/images/2016/events/kurrawa-beach.jpg' }
        %h3
          %a(href="http://kurrawasurf.com.au/surfclub/" target="_blank") Beach BBQ
      .grid__cell.event
        %img{ src: '/images/2016/events/kurrawa-surf-club.jpg' }
        %h3
          %a(href="http://kurrawasurf.com.au/supportersclub/" target="_blank") Closing Party at Kurrawa Surf Club
    %a.button{ href: '/2016/events' } More Info

%section#workshops.body-section--content
  .body-section__container
    %h2 Workshops
    %p Workshops will be on the 10th of February, and tickets will be separate from the conference sessions.

    .event-grid.grid
      .grid__cell.event
        %h3
          %a{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Finding Developer Flow
        %p
          Sometimes everything just clicks, solutions just come to you and as you quietly tap away you feel almost at one with the computer, you're in the zone. At other times, nothing seems to make sense. You've been struggling with this one issue for hours and not even StackOverflow seems to know what the problem is and you feel like your brain is about to explode. Why do I even do this?! You're in the chasm.
        %p
          Join Richie & Dan as we explore what is "Developer Flow" and how it affect your productivity as a programmer. This workshop is designed for the post-beginner/intermediate developer who maybe has a few coding books, favorite gems and editor shortcuts under their belt but is still hunting for a more peaceful and focussed way to code.
        %p
          In an interactive full day workshop we'll discuss, pair, debate and compare and dig deep to help you find your own path to greater developer flow and finding your way more often into the zone. Richie Khoo is a serial polyglot and extreme learner. Richie has been working as a ruby gun-for-hire for over 6 years and is planning a trip to the ruby mother country Japan in 2016. Dan Draper is much awesome.

        %a.button{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Buy Ticket

      .grid__cell.event
        %h3
          %a{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Tasteful Go
        %p
          Go is a beautiful, minimalistic, and consistent language. It is simple, yet learning it can feel quite intimidating for many developers who come to the language without a background in Computer Science.

        %p
          Join Katrina Owen for this hands-on, one-day workshop, focused on developing fluency and ease with the fundamental features of the language. It provides a practical introduction to writing Go the way Gophers expect to see it written.

        %p
          Participants switch between writing code to solve small exercises, and reviewing pre-selected solutions that exemplify common gotchas and style violations. We look at the official recommendations relevant to each example.
          Finally we look at several idiomatic solutions that make good use of the language features.

        %p
          By the end of the day, participants should be comfortable reading Go code, and able to solve basic problems idiomatically.

        %p
          The ideal participant is currently programming professionally in a language other than Go.

        %a.button{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Buy Ticket

      .grid__cell.event
        %h3
          %a{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Architecture Matters: An Appetizing Introduction to Trailblazer
        %p
          Trailblazer is an extension framework on top of Rails. It provides desperately needed, new abstraction layers, decent encapsulation and a better maintainable architecture.
        %p
          In this workshop we're gonna learn the basics about designing your domain, encapsulating business logic in operations, form objects and view models, and a different take on the persistence layer. After a compact introducing presentation by Nick Kirkwood and Nick Sutterer, we'll dive into the code, write a small Trailblazer/Rails app and learn all the nice things about this alternative architecture over a cold bottle of beer.

        %a.button{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Buy Ticket

      .grid__cell.event
        %h3
          %a{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Rails Girls
        %p
          Our aim is to give tools and a community for women to understand technology and to build their ideas. We do this by providing a great experience on building things and by making technology more approachable.

        %p
          Learn sketching, prototyping, basic programming and get introduced to the world of technology. Rails Girls was born in Finland, but is nowadays a global, non-profit volunteer community.


        %a.button{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Buy Ticket
      .grid__cell.event
        %h3
          %a{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Rails Girls Next
        %p
          During this free one-day workshop, we'll dive into the magical world of Ruby.

        %p
          This particular workshop requires that you've either done the original Rails Girls day, or have some prior programming experience. If not, you may like to join the - original Rails Girls event instead.

        %a.button{ href: "https://ti.to/ruby-australia/rubyconf-workshops-2016", target: "_blank" } Buy Ticket


%section#sponsors.body-section--content
  .body-section__container
    %h2 Sponsors
    %p
      RubyConf AU 2016 is made possible through the generous support of our sponsors.
      %br
      Please give them your support too.
    %h3.sponsor-section Ruby Sponsor
    %img.sponsor-logo{ src: "/images/2016/sponsors/envato.png" }

    %h3.sponsor-section Emerald Sponsors
    %img.sponsor-logo{ src: "/images/2016/sponsors/culture-amp.png" }
    %img.sponsor-logo{ src: "/images/2016/sponsors/braintree.png" }
    %h3.sponsor-section Sapphire Sponsors
    %img.sponsor-logo{ src: "/images/2016/sponsors/lookahead.jpg" }
    %img.sponsor-logo{ src: "/images/2016/sponsors/zendesk.png" }
    %img.sponsor-logo{ src: "/images/2016/sponsors/sitepoint.png" }
    %h3.sponsor-section Opal Sponsors
    %img.sponsor-logo{ src: "/images/2016/sponsors/local-search.png" }
    %img.sponsor-logo{ src: "/images/2016/sponsors/github.png" }
    %h3.sponsor-section RubyConf Assist Sponsors
    %img.sponsor-logo{ src: "/images/2016/sponsors/cogent.png" }
    %img.sponsor-logo{ src: "/images/2016/sponsors/thoughtworks.png" }
    .sponsor-section
      %a.button{ href: "/2016/sponsors" } Read more about our generous sponsors


%section#conduct.body-section--content
  .body-section__container
    %h2 Code of Conduct
    %p
      RubyConf Australia is run under the auspices of Ruby Australia.
      You can view our
      %a{ href: "/2016/policies#code" } code of conduct
      and
      %a{ href: "/2016/policies#anti-harassment" } our anti-harrassment policy.
    %p
      These rules must be followed by all attendees at all conference-related events.
