%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event RubyConf Australia 2016
      %p On the 10th - 13th February 2016, leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city Gold Coast, Australia
      %h3.body-section--event-header__date 10 - 13 February 2016


%section.site-nav
  %a(href="#conference") Conference
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#events") Social Events
  %a(href="#workshops") Workshops
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#venue.body-section--venue
  %h2 Location
  %p Join us at Sea World.
  %p
    %a.button Directions

%section#speakers.body-section--content
  %h2 Speakers
  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Katrina Owen
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2016/speakers/katrina-owen.png" alt="Photo of Katrina")
      %div.speaker__bio
        %p Katrina's bio is to be added.
      %ol.speaker__links
        %li
          %a(href="#") ?
        %li
          %a(href="https://twitter.com/") @?

%section#events.body-section--content
  %h2 Social Events
  %p We’ve organised a raft of events to enjoy The Gold Coast and spend quality time with your fellow Rubyists.

  .event-grid.grid
    %a.event-grid__day.event-grid__day--party.grid__cell(href="/2016/events#party")
      .event-grid__day__inner
        %h3 Opening Party
        %p Wed 4<sup>th</sup> Feb

%section#workshops.body-section--content
  %h2 Workshops

  %p Workshops will be announced shortly.

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p
    RubyConf Australia is run under the auspices of Ruby Australia.
    You can view our
    %a{ href: "/2016/policies#code" } code of conduct
    and
    %a{ href: "/2016/policies#anti-harassment" } our anti-harrassment policy.
    These rules must be followed by all attendees at all conference-related events.
