.content-page
  = haml :'2016/_header'

  .content-page__header
    %h1 RubyConf Assist

  %section.body-section--content
    %h2 What is RubyConf Assist?

    %p
      RubyConf Assist is a program introduced in 2016 to give people who wouldn't otherwise be able to afford to attend RubyConf AU the opportunity to be at the conference in February.

    %p
      We will offer a free ticket plus up to $500 towards travel expenses to successful applicants. We hope to target underrepresented groups such as women and minorities, but anybody can apply.

    %p
      %b UPDATE: RubyConf Assist tickets are all gone, but we do have some extra FREE tickets (without travel allowance) to give away to new applicants - please apply using the link below.

    %p
      The program is sponsored by Cogent and ThoughtWorks.

    %h2 Should I apply?

    %p
      If you think that you'd enjoy and benefit from RubyConf AU, and don't have either the means to get to the conference yourself or an employer willing to send you, then definitely!

    %h2
      Update: All tickets are now gone!
    %p
      Please come back to apply next year.



