%div
  = haml :'2016/_header'

  .content-page__header
    %h1 Speakers

  %section#speakers.body-section--content
    %div.grid
      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/katrina-owen.jpg" alt="Photo of Katrina Owen")
        %h3.speaker__name Katrina Owen
        / %h4.speaker__talk One Undo
        %div.speaker__bio
          %p
            Katrina accidentally became a developer while pursuing a degree in molecular biology. When programming, her focus is on automation, workflow optimization, and refactoring.
            She works primarily in Go and Ruby, contributes to several open source projects, and is the creator of
            = succeed '.' do
              %a{ href: 'http://exercism.io/' } exercism.io
        %ol.speaker__links
          %li
            %a(href="http://www.kytrinyx.com/") www.kytrinyx.com
          %li
            %a(href="https://twitter.com/kytrinyx") @kytrinyx

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/senator-scott-ludlam.jpg" alt="Photo of Senator Scott Ludlam")
        %h3.speaker__name Senator Scott Ludlam
        / %h4.speaker__talk
        %div.speaker__bio
          %p Scott Ludlam is the Deputy Leader of the Australian Greens and spokesperson for Communications, Broadband and the Digital Economy, Housing, Nuclear Issues, and Sustainable Cities and is currently one of 11 Australian Greens members of parliament. He was elected to Parliament in November 2007 and again in April 2014.
        %ol.speaker__links
          %li
            %a(href="http://www.scottludlam.org.au/") www.scottludlam.org.au
          %li
            %a(href="https://twitter.com/SenatorLudlam") @SenatorLudlam
      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/ernie-miller.jpg" alt="Photo of Ernie Miller")
        %h3.speaker__name Ernie Miller
        / %h4.speaker__talk Humane Development
        %div.speaker__bio
          %p
            Ernie's been programming since he was 6, and professionally for the past 17 years or so. He's passionate about creating things, and sees software development as an especially powerful medium for creation. Sometimes he still can't believe that people actually pay us to have this much fun.
          %p
            He's currently the Director of Engineering at nVisium.
        %ol.speaker__links
          %li
            %a(href="http://erniemiller.org/") erniemiller.org
          %li
            %a(href="https://twitter.com/erniemiller") @erniemiller

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/saron-yitbarek.jpg" alt="Photo of Saron Yitbarek")
        %h3.speaker__name Saron Yitbarek
        / %h4.speaker__talk
        %div.speaker__bio
          %p
            Saron Yitbarek is a developer, currently leading the Tech Jobs Academy program at Microsoft. She's also the founder of CodeNewbie, the most supportive community of programmers and people learning to code, and host of the weekly CodeNewbie Podcast, available on your favorite podcasting app.
        %ol.speaker__links
          %li
            %a(href="http://bloggytoons.com/") bloggytoons.com
          %li
            %a(href="https://twitter.com/saronyitbarek") @saronyitbarek

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/jeff-casimir.jpg" alt="Photo of Jeff Casimir")
        %h3.speaker__name Jeff Casimir
        / %h4.speaker__talk
        %div.speaker__bio
          %p
            Jeff is the Executive Director at the Turing School of Software & Design where he works to open the world of programming to a wider, more diverse, more socially-minded slice of the world. He's been programming since 1999, teaching programming since 2003, co-founded a middle school, created three developer training programs, and dreams of one day being CTO of the United States.
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/j3") @j3

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/dr-nic-williams.jpg" alt="Photo of Dr Nic Williams")
        %h3.speaker__name Dr Nic Williams
        / %h4.speaker__talk
        %div.speaker__bio
          %p
            He writes blog posts for developers; creates tools, libraries and text editor extensions for developers; and speaks to developers at conferences. He’s the CEO of Stark & Wayne, a consultancy for people who love Cloud Foundry and Jenkins. He has contributed to over 300 open source projects. He is known for creating or curating projects such as Bosh, App Scrolls, Rails Installer, Composite Primary Keys, Choc Top, App Scrolls, Rails TextMate bundle, New Gem, Tab Tab, GitHub Badges, Install Theme for Rails, and Dr Nic’s Magic Models.
        %ol.speaker__links
          %li
            %a(href="http://drnicwilliams.com/") drnicwilliams.com
          %li
            %a(href="https://twitter.com/drnic") @drnic

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/.jpg" alt="Photo of ")
        %h3.speaker__name Katie Miller
        / %h4.speaker__talk
        %div.speaker__bio
          %p
            Katie Miller is a Software Engineer at Facebook London, where she works on Haskell tools for spam fighters. A self-confessed FP addict, Katie co-founded the Lambda Ladies group for women in functional programming. The former Gold Coast journalist can still pump out shorthand faster and more accurately than she can type.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/kevin-l-hopkins.jpg" alt="Photo of Kevin L Hopkins")
        %h3.speaker__name Allison McMillan
        %h4.speaker__talk Out of sight, out of mind? Helping teams thrive when they’re permanently Out-Of-Office
        %div.speaker__bio
          %p
            Kevin Hopkins is a life-long learner, developer, and technology fanatic enjoying work as engineering manager at General Assembly. A resident of Virginia's Shenandoah Valley, he's been slinging code remotely while enjoying the outdoors, woodworking, hiking, and wrenching on cars. Kevin loves the educational technology space, and really looks forward to taking part in building new educational products.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/alison-mcmillan.jpg" alt="Photo of Alison McMillan")
        %h3.speaker__name Alison McMillan
        %h4.speaker__talk Out of sight, out of mind? Helping teams thrive when they’re permanently Out-Of-Office
        %div.speaker__bio
          %p
            Allison McMillan is an engineer at General Assemb.ly. She started developing at a Rails Girls workshop and is now a chapter organizer. Allison was previously a startup founder, a community builder at the University of Michigan, and Managing Director at the Israel on Campus Coalition. She is also a new mom. Allison lives in Washington, DC.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/andre-arko.jpg" alt="Photo of André Arko")
        %h3.speaker__name André Arko
        %h4.speaker__talk Security Is Hard, But We Can't Go Shopping
        %div.speaker__bio
          %p
            André Arko thinks Ruby is pretty neat, and has been using it for nine years. His day job is building web apps and training developers for clients at Cloud City Development in San Francisco. In his remaining time, he leads the Bundler team and thinks about how to make software less terrible.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/arne-brasseur.png" alt="Photo of Arne Brasseur")
        %h3.speaker__name Arne Brasseur
        %h4.speaker__talk Burn Your Idiomatic Ruby
        %div.speaker__bio
          %p
            Arne is a developer, public speaker, programming coach, author and open-source contributor. With a passion for both human and programming languages, he has spent the last decade teaching and exploring the finer points of Ruby, LISP, Haskell, Mandarin Chinese, and others. When not hopping conferences or Pacific islands, he can be found at his home base in Berlin, brewing fine teas while pondering the future of open-source and the web.
        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/john-feminella.jpg" alt="Photo of John Feminella")
        %h3.speaker__name John Feminella
        %h4.speaker__talk Taking Apart Ruby's Object Model
        %div.speaker__bio
          %p
            John Feminella is an avid technologist, occasional public speaker, and curiosity advocate. He's the author of several research papers and whitepapers on wireless sensor networks, cloud-based infrastructure, and software engineering. John works on making the web better at Pivotal, and is the cofounder of UpHex, a startup providing analytics management for businesses. He lives in Charlottesville, VA and likes meta-jokes, milkshakes, and referring to himself in the third person in speaker bios.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/dan-draper.jpg" alt="Photo of Dan Draper")
        %h3.speaker__name Dan Draper
        %h4.speaker__talk Debugging Diversity
        %div.speaker__bio
          %p
            In my career I’ve been on several tech startup journeys. I’ve enjoyed the highs and endured the epic lows of being an entrepreneur. And having learned to code from an early age I now have over 20 years of coding experience. I’ve decided to become a technology communicator to help inspire the next generation of coders.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")


      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/catherine-jones.jpg" alt="Photo of Catherine Jones")
        %h3.speaker__name Catherine Jones
        %h4.speaker__talk Debugging Diversity
        %div.speaker__bio
          %p
            Catherine is a Rails developer at Maxwell Forest where she builds awesome apps with Ruby and assists the company in diversity management. She was also one half of Spree Girls, the first Australian Rails Girls Summer of Code team in 2014. A Co-Organizer of Women Who Code Sydney she is passionate about improving diversity in the tech community.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/richard-huang.png" alt="Photo of Richard Huang")
        %h3.speaker__name Richard Huang
        %h4.speaker__talk Rails Performance Tips
        %div.speaker__bio
          %p
            Richard Huang is the Founder at Xinmin Labs, he's also a senior engineer who has a strong focus on code quality, problem solving and server performance. He loves contributing to the open source community, has built bullet and rails_best_practices gems.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/thong-kuah.png" alt="Photo of Thong Kuah")
        %h3.speaker__name Thong Kuah
        %h4.speaker__talk Code Review : Pitfalls and Good Practices
        %div.speaker__bio
          %p
            Software developer, wikipedia addict, owner of one white cat, all started with one Wellington coffee a day Currently a tech lead at Powershop NZ where I lead one of our Rails teams. Loves to solve complex problems with neat code, loves to teach and learn all about programming.

        %ol.speaker__links
          %li
            %a(href="http://kuah.net") http://kuah.net
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/paolo-perrotta.jpg" alt="Photo of Paolo Perrotta")
        %h3.speaker__name Paolo Perrotta
        %h4.speaker__talk Refinements - the Worst Feature You Ever Loved
        %div.speaker__bio
          %p
            Paolo Perrotta is the author of "Metaprogramming Ruby". He's been coding for most of his life, building stuff that ranges from embedded to enterprise software, computer games, and web applications. Paolo lives a nomadic life, mentoring software teams throughout Europe. He has a base camp in Bologna, Italy.
        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/jess-rudder.jpg" alt="Photo of Jess Rudder")
        %h3.speaker__name Jess Rudder
        %h4.speaker__talk Diversity in Tech - It's About More than Just the Hiring Process
        %div.speaker__bio
          %p
            When she was 8, Jessica decided she was going to a programmer. She purchased an old computer and spent hours in the green glow of the monitor learning BASIC. Life happened (as it often does) and she she detoured into digital marketing for a decade before regaining her senses and returning to code. She's now a developer for Flatiron School - happily spending her days writing code that helps other people learn to code too.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")


      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/jon-rowe.jpg" alt="Photo of Jon Rowe")
        %h3.speaker__name Jon Rowe
        %h4.speaker__talk In-spec-tion
        %div.speaker__bio
          %p
            Tinker. Sailor. Developer. Spy? Originally from a tiny cold island nation, Britain, Jon now lives in Sydney where he spends time sailing the high seas, plotting and working as a gun for hire, I mean freelance Ruby developer. When not working on client work you can find Jon hacking on RSpec (as a core team member), helping other open source projects and working on his own little side project(s).

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/sebastian-von-conrad.jpg" alt="Photo of Sebastian von Conrad")
        %h3.speaker__name Sebastian von Conrad
        %h4.speaker__talk Event Sourcing, or Why ActiveRecord Must Die
        %div.speaker__bio
          %p
            Sebastian is a senior technologist at Envato, where he helps solve difficult technical problems at scale. He takes a special interest in security and application architecture. He is a former Development Manager and Developer, and is currently the President of Ruby Australia. Growing up in Sweden, Australia was about the last place Sebastian ever thought he'd visit, yet alone live. After 7 years and counting, however, he has no plans of leaving--at least not until he actually sees a snake.
        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/elle-meredith.jpg" alt="Photo of Elle Meredith")
        %h3.speaker__name Elle Meredith
        %h4.speaker__talk Feedback Matters
        %div.speaker__bio
          %p
            Elle is a developer at thoughtbot, with more than ten years experience, and a unique background that bridges the gap between the front- and back-end. She has been working with Ruby and Rails since 2007 and as a full time Rails developer since 2009.
        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/bianca-gibson.jpg" alt="Photo of Bianca Gibson")
        %h3.speaker__name Bianca Gibson
        %h4.speaker__talk Functional programming for rubyists
        %div.speaker__bio
          %p
            Developer at realestate.com.au. Rubyist, functional programmer, scala enthusiast, akamai-rspec maintainer.
        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/tom-ridge.jpg" alt="Photo of Tom Ridge")
        %h3.speaker__name Tom Ridge
        %h4.speaker__talk Level up your testing. Level up your code
        %div.speaker__bio
          %p
            Code obsessed, curator of random film facts, Lego connoisseur and that one Emacs guy you know.
            Tom is a developer at tworedkites and regular source of noise at BrisRuby.
        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")


      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/enrico-teotti.jpg" alt="Photo of ")
        %h3.speaker__name Enrico Teotti
        %h4.speaker__talk Build and maintain complex Ruby applications
        %div.speaker__bio
          %p
            I enjoy working in complex business domains and help product owners and stakeholders gather requirements following agile methodologies, incrementally architect applications as well as mentor and coordinate the work of teams. I pay great attention to detail and test drive clean maintainable software.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/adam-cuppy.jpg" alt="Photo of ")
        %h3.speaker__name Adam Cuppy
        %h4.speaker__talk What If Shakespeare Wrote Ruby?
        %div.speaker__bio
          %p
            Full-time husband, rubyist and Master of Smile Generation @CodingZeal a Ruby, EmberJS and iOS consultancy. Part-time stage actor and musical theater enthusiast. Find me at adamcuppy.com
        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")

      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/stella-cotton.jpg" alt="Photo of ")
        %h3.speaker__name Stella Cotton
        %h4.speaker__talk Site Availability is for Everybody
        %div.speaker__bio
          %p
            Stella Cotton is a Software Engineer at Indiegogo. Coming to software from the financial sector, she’s passionate about democratizing access to capital, creating robust payments systems, and building diverse teams. When she’s not coding, she's an &:conf organizer, beer brewer, and mediocre French speaker.

        %ol.speaker__links
          %li
            %a(href="")
          %li
            %a(href="")


