%div
  = haml :'2016/_header'

  .content-page__header
    %h1 Speakers

  %section#speakers.body-section--content
    %div.grid
      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/katrina-owen.jpg" alt="Photo of Katrina Owen")
        %h3.speaker__name Katrina Owen
        %div.speaker__bio
          %p
            Katrina accidentally became a developer while pursuing a degree in molecular biology. When programming, her focus is on automation, workflow optimization, and refactoring.
            She works primarily in Go and Ruby, contributes to several open source projects, and is the creator of
            = succeed '.' do
              %a{ href: 'http://exercism.io/' } exercism.io
        %ol.speaker__links
          %li
            %a(href="http://www.kytrinyx.com/") www.kytrinyx.com
          %li
            %a(href="https://twitter.com/kytrinyx") @kytrinyx
      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/senator-scott-ludlam.jpg" alt="Photo of Senator Scott Ludlam")
        %h3.speaker__name Senator Scott Ludlam
        %div.speaker__bio
          %p Scott Ludlam is the Deputy Leader of the Australian Greens and spokesperson for Communications, Broadband and the Digital Economy, Housing, Nuclear Issues, and Sustainable Cities and is currently one of 11 Australian Greens members of parliament. He was elected to Parliament in November 2007 and again in April 2014.
          %p Scott was a leading voice against the Federal Government's attempt to censor the internet with its mandatory net filter, moved amendments to better secure public ownership of the National Broadband Network and has been a strong advocate for a diverse, accessible communications sector. He is campaigning against the Government ‘reforms’ of security legislation to boost ASIO’s data capture and retention powers.
        %ol.speaker__links
          %li
            %a(href="http://www.scottludlam.org.au/") www.scottludlam.org.au
          %li
            %a(href="https://twitter.com/SenatorLudlam") @SenatorLudlam
      %div.grid__cell.speaker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/ernie-miller.jpg" alt="Photo of Ernie Miller")
        %h3.speaker__name Ernie Miller
        %div.speaker__bio
          %p
            Ernie's been programming since he was 6, and professionally for the past 17 years or so. He's passionate about creating things, and sees software development as an especially powerful medium for creation. Sometimes he still can't believe that people actually pay us to have this much fun.
          %p
            He's currently the Director of Engineering at nVisium.
        %ol.speaker__links
          %li
            %a(href="http://erniemiller.org/") erniemiller.org
          %li
            %a(href="https://twitter.com/erniemiller") @erniemiller
