%div
  = haml :'2016/_header'

  .content-page__header
    %h1 Speakers

  %section#speakers.body-section--content
    %div.grid
      %div.grid__cell.speaker
        %h3.speaker__name Katrina Owen
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2016/speakers/katrina.png" alt="Photo of Katrina")
        %div.speaker__bio
          To be added.
        %ol.speaker__links
          %li
            %a(href="#") ?
          %li
            %a(href="https://twitter.com/") @?
