%div
  = haml :'2016/_header'

  .content-page__header
    %h1 Sponsors

  %section#sponsors.body-section--content
    .body-section__container
      %h2 Ruby Sponsor

  %section#sponsors.body-section--content
    .body-section__container
      %h2 Emerald Sponsors

  %section#sponsors.body-section--content
    .body-section__container
      %h2 Sapphire Sponsors

      .sponsor
        %img{ src: '/images/2016/sponsors/zendesk.png' }

        %p Zendesk is software for better customer service. Businesses interact with customers every day across multiple channels like email, phone, live chat, and social media. Zendesk improves this customer experience by bringing all these interactions together in one beautifully simple platform, enabling you to respond faster to support tickets, improve satisfaction, and ultimately create a more meaningful, personal and productive relationship with your customers.

  %section#sponsors.body-section--content
    .body-section__container
      %h2 Opal Sponsors

  %section#sponsors.body-section--content
    .body-section__container
      %h2 RubyConf Assist Sponsors

      .sponsor
        %img{ src: '/images/2016/sponsors/thoughtworks.png' }

        %p ThoughtWorks is a global organisation made up of passionate technologists. We work with people and organisations that have ambitious missions. With software delivery at our core, we specialise in digital product and service innovation.

        %p We help businesses make the organisational changes (delivery and service models) required to make that product innovation succeed in the digital era. We do this on a bedrock of 20+ years as the industry leader in Agile and Lean software delivery.

        %p We have a reputation for having the world’s leading technical talent, and have in recent years invested heavily in customer experience, design, innovation, and digital strategy.
