%div
  = haml :'2016/_header'

  .content-page__header
    %h1 Sponsors

  %section#sponsors.body-section--content
    .body-section__container
      %h2 Ruby Sponsor
      .sponsor-section
        %img.sponsor-logo{ src: "/images/2016/sponsors/envato.png" }

  %section#sponsors.body-section--content
    .body-section__container
      %h2 Emerald Sponsors
      .sponsor-section
        %img.sponsor-logo{ src: "/images/2016/sponsors/culture-amp.png" }
        %p Culture Amp is a Melbourne-based people analytics platform that uses data to drive change in company cultures, helping some of the world's most innovative companies including Airbnb, Slack, Adobe, Warby Parker, Eventbrite and Etsy. Culture Amp was founded by four engineers in 2011, and was bootstrapped before it  took series A funding in February 2015, growing from 15 to 50 people in that time. We have offices in Melbourne, San Francisco and New York. We're also a culture-first company, which means we try and "sample our own home brew" using our own platform to put culture and people at the heart of all our decisions.
      .sponsor-section
        %img.sponsor-logo{ src: "/images/2016/sponsors/braintree.png" }
        %p
          In aiming to power the mobile commerce revolution, Braintree provides the simplest way to get paid for your next great idea, across any device, and through most any payment method. Our global platform supports thousands of online and mobile commerce innovators like Airbnb, Fab, OpenTable, and Uber. Merchants in more than 40 countries worldwide can accept payments in more than 130 currencies using Braintree. And we’re here for you -- with stellar support, innovative minds, and simple processes -- from your first dollar to your billionth. Check us out at
          %a{ href: 'www.braintreepayments.com' }www.braintreepayments.com
          and on Twitter @braintree

  %section#sponsors.body-section--content
    .body-section__container
      %h2 Sapphire Sponsors

      .sponsor
        %img.sponsor-logo{ src: '/images/2016/sponsors/zendesk.png' }

        %p Zendesk is software for better customer service. Businesses interact with customers every day across multiple channels like email, phone, live chat, and social media. Zendesk improves this customer experience by bringing all these interactions together in one beautifully simple platform, enabling you to respond faster to support tickets, improve satisfaction, and ultimately create a more meaningful, personal and productive relationship with your customers.

      .sponsor
        %img.sponsor-logo{ src: '/images/2016/sponsors/lookahead.jpg' }

        %p Technical recruiters who are actually technical.

        %p We help [Ruby | Javascript] developers find challenging work with inclusive teams. The companies we hire for work in Sydney, Melbourne and remotely around Australia.

  %section#sponsors.body-section--content
    .body-section__container
      %h2 Opal Sponsors
      .sponsor
        %img.sponsor-logo{ src: "/images/2016/sponsors/local-search.png" }
        %p Whatever trade or business you need we can help find it. LocalSearch is at your fingertips anywhere, anytime with our mobile app. Our LocalSearch mobile app allows you real-time access to both business and residential listings within our coverage areas. No more hassles with out-dated contacts as our information is updated daily. We also offer A-Z listings, maps and directions plus much more. Coupled with a great user experience our LocalSearch products are hugely popular with both businesses and residents alike. For further information check out our website at www.LocalSearch.com.au or call 1300 360 867

  %section#sponsors.body-section--content
    .body-section__container
      %h2 RubyConf Assist Sponsors
      .sponsor
        %img.sponsor-logo{ src: "/images/2016/sponsors/cogent.png" }
        %p We make remarkable software to grow your business.  We work in Melbourne and focus on understanding then delivering, customer goals.  We live and breath our values - so for clients and employees alike, working with us, you'll experience openness, inclusivity and respect.

      .sponsor
        %img.sponsor-logo{ src: '/images/2016/sponsors/thoughtworks.png' }

        %p ThoughtWorks is a global organisation made up of passionate technologists. We work with people and organisations that have ambitious missions. With software delivery at our core, we specialise in digital product and service innovation. We help businesses make the organisational changes (delivery and service models) required to make that product innovation succeed in the digital era. We do this on a bedrock of 20+ years as the industry leader in Agile and Lean software delivery. We have a reputation for having the world’s leading technical talent, and have in recent years invested heavily in customer experience, design, innovation, and digital strategy.

  %section#sponsors.body-section--content
    .body-section__container
      %p
        If your company is interested in sponsoring, please download the
        %a{ href: "/pdfs/2016/rubyconfau2016_sponsorship.pdf" }sponsorship prospectus
        to see the sponsorship options for RubyConf Australia 2016.
