.content-page
  = haml :'2016/_header'

  .content-page__header
    %h1 Tourist Guide

  %section.body-section--content#get-there
    %h2 How do I get there?

    %p Gold Coast Airport is located in Coolangatta, at the southern end of the Gold Coast. Gold Coast Airport receives flights from most capital & regional cities, as well as New Zealand, Singapore and Kuala Lumpur.

    %p Flying into the Gold Coast Airport means you will have the option of catching the <a href="http://gcshuttle.com.au/" target="_blank">Gold Coast Tourist Shuttle</a>, which provides a door-to-door service to your hotel. This trip will take a minimum of 30 minutes depending on where you are staying, and will cost around $21 one way, or $41 return. You can also request a pick up at your hotel when flying home.

    %p Brisbane Airport has both a domestic and an international terminal, receiving flights from both Australian and international destinations.

    %p Flying into the Brisbane Airport means you will need to catch the <a href="https://www.airtrain.com.au/" target="_blank">Airtrain</a> to the Gold Coast. This trip normally takes about 1¾ hours and costs around $30 one way. The Airtrain departs Brisbane Airport every 15 minutes and runs express to the Gold Coast, connecting with bus services from Helensvale, Nerang and Robina train stations, which will take you into the heart of Surfers Paradise and Broadbeach.

  %section.body-section--content#get-around
    %h2 How do I get around?

    %p The Gold Coast now has its very own tramline, in addition to bus services. If you are staying anywhere from Broadbeach to Southport, then the <a href="http://ridetheg.com.au/" target="_blank">GLink</a> trams are your best option.

    %p To go directly to Sea World, both the 705 and 704 bus routes will drop you out the front of the park – see <a href="http://translink.com.au/" target="_blank">Translink</a> for timetables.

    %p All public transport tickets can be bought individually, however if you plan on catching a few, it will be easier to grab a <a href="https://gocard.translink.com.au/webtix/" target="_blank"><em>go</em> card</a>.

    %p If you’d prefer not to catch public transport, <a href="http://www.gccabs.com.au/" target="_blank">Gold Coast Cabs</a> and <a href="https://www.uber.com/" target="_blank">Uber</a> are also available.

  %section.body-section--content#get-around
    %h2 Where can I stay?

    %p Conference delegates will receive a discounted rate when booking their accommodation at Sea World Resort – click here to find out more.

    %p Our friends at <a href="https://aws.passkey.com/g/51603564" target="_blank">Crowne Plaza</a> and <a href="http://www.q1.com.au/" target="_blank">Q1 Resort & Spa</a> are also offering special discounts for conference delegates. When making your booking, make sure you quote “RUBYCONF2016” to receive your conference discount.

    %p If you want to stay in the immediate vicinity of Seaworld, there are two hotels nearby – Sheraton Mirage and Palazzo Versace – and one hostel, Surfers Paradise YHA.

    %p Surfers Paradise is 10 minutes by car from Seaworld, with a variety of accommodation options. If you prefer a slower pace and want to get away from the nightlife of Surfers, try Broadbeach, which is about 20 minutes away from Seaworld by car, and has many different accommodation options.

    %p Information overload?! We know, there are so many options for accommodation on the Gold Coast, it’s hard to work out where you should go! <a href="http://www.visitgoldcoast.com" target="_blank">Visit Gold Coast</a> is a great site for finding great local deals on accommodation as well as updating you on the popular local events and ideas for things to do during your stay.

  %section.body-section--content#get-around
    %h2 What to do and see?

    %h3 Beaches

    %p So a trip to the Gold Coast is not complete until you’ve seen our beautiful beaches – and everyone knows the iconic Surfers Paradise arch is a great spot for getting your tourist on, with <a href="http://www.surfersparadise.com/things-to-do/beachfront-markets" target="_blank">Beachfront Markets</a> on every Wednesday, Friday and Sunday night, and Cavill Mall comes alive with its cafes and restaurants every weekend!

    %p But did you know about the other beaches of the Gold Coast? If you’re looking for a more relaxed feel, check out Burleigh Heads, home of the iconic Quiksilver and Roxy Pro Competitions. This is a great spot for a relaxing walk along the beach, or a more energetic one along the esplanade. Heading north, you’ve got a short walk to the spectacular lookout of North Burleigh Hill, while heading south, you’ll find Justin Park, with a plethora of cafes with good coffee and tasty treats just behind it in the James Street shopping centre. Keep walking south along the esplanade and you’ll find the <a href="http://www.nprsr.qld.gov.au/parks/burleigh-head/" target="_blank">Burleigh Headland National Park</a>. The two walking trails here (the Oceanview walk and the Rainforest circuit) will take you no more than 45 minutes to complete, but you may find yourself watching the view at Tumgun Lookout for quite a while!

    %p A little further north is another beach that’s popular with the locals – Nobbys Beach. Nobbys is fast becoming the hot spot on the coast for its popular cafes, restaurants and bars, all of which are only a stone’s throw from the beach that many a surfer names as their favourite. If you keep walking north along the beach from Nobbys, you will eventually hit the Spit just outside Sea World - Surfers Paradise – that’s around 40km of shoreline!

    %h3 Shopping

    %p The Gold Coast has a number of shopping centres where you can find a great bargain.

    %ul
      %li Harbour Town is the place to go if you like your factory outlets.
      %li Australia Fair holds the largest number of retail stores on the Gold Coast at 230.
      %li Robina Town Centre has the coast’s only Apple, Nespresso and Victoria’s Secret outlets, and
      %li Pacific Fair’s recently renovated centre holds the largest Myer on the Gold Coast.

    %h3 Entertainment

    %p Feel like taking in a show? Maybe some live music at a local pub? The Gold Coast has a number of options, no matter what your taste.

    %ul
      %li <a href="https://www.jupitersgoldcoast.com.au/Pages/default.aspx" target="_blank">Jupiters Casino</a> in Broadbeach plays host to a variety of live entertainment throughout the year.
      %li <a href="http://www.twintowns.com.au/showroom.html" target="_blank">Twin Towns</a> in Tweed Heads is a popular venue for live acts as well.
      %li <a href="http://www.theartscentregc.com.au/" target="_blank">Gold Coast Arts Centre</a> has played host to the Russian and Moscow Ballet Companies, as well as numerous comedians and jazz artists in its Basement Club.
      %li Check out the <a href="http://www.gccec.com.au/whats-on.html" target="_blank">Gold Coast Convention & Exhibition Centre</a> to see what’s happening while you’re in town – this venue plays host to everything, from netball championships, Pink concerts, Supanova and even rodeos.

    %p For a smaller venue with a more upbeat sound, you can’t go past the <a href="http://www.thecoolyhotel.com.au/" target="_blank">Coolangatta Hotel</a>, affectionately known as the ‘Cooly’. And the Soundlounge Currumbin RSL is a popular venue for original local artists, national and international touring artists, such as Tijuana Cartel, Sarah Blasko and Ash Grunwald.

    %h3 Cafe-Restaurant-Bar Recommendations

    %ul
      %li <a href="https://www.facebook.com/thefunkyolive?fref=ts" target="_blank">The Funky Olive</a> in Burleigh Heads – great food, simple Italian, freshly made breads
      %li <a href="https://www.facebook.com/pages/Black-Coffee-Lyrics/145788002138267?fref=ts" target="_blank">Black Coffee Lyrics</a> in Surfers Paradise – amazing coffee, unique dishes with unusual (but tasty!) combinations
      %li <a href="https://www.facebook.com/vintagevelvetgoldcoast?fref=ts" target="_blank">Vintage Velvet</a> in Surfers Paradise – great for a Sunday session, good selection of craft beers & tasty woodfired pizzas
      %li <a href="https://www.facebook.com/pages/Blackboard-Coffee/184647241563596?fref=ts" target="_blank">Blackboard</a> in Varsity Lakes – beautiful coffee & amazing breakfast & lunch, leave room for a cronut!
      %li <a href="https://www.facebook.com/LesterandEarl?fref=ts" target="_blank">Lester & Earl</a> in Palm Beach – American BBQ inspired dishes, good selection of beers & bourbons, don’t go here if you’re a vegetarian! Great view of the beach from the balcony.
      %li <a href="http://www.altocucina.com.au/" target="_blank">Alto Cucina & Bar</a> in Broadbeach – great spot for a social drink, or a share plate (or three!) with friends. Indulge your sweet tooth with a Hubba Bubba Martini.
      %li <a href="http://supporters.currumbinslsc.com.au/gold-coast-surf-club/" target="_blank">Currumbin Surf Club</a> in Currumbin – voted no. 1 SLSC on the Gold Coast on <a href="http://www.cravegoldcoast.com.au/" target="_blank">Crave</a>, this is the perfect spot for a drink with a view. Watch the sunrise over Elephant Rock or set over the mountains. Make sure you try their seafood platter, fresh from the trawler.
      %li <a href="http://petersfish.com.au/" target="_blank">Peter’s Fish Market</a> in Main Beach – just down the road from Seaworld, this place has the best fish & chips on the Gold Coast, with the trawler pulling in just out the back door!
      %li <a href="http://www.manolasbros.com.au/" target="_blank">Manolas Brothers Delicatessen</a> in Surfers Paradise – great spot for brekky and to stock up on all sorts of yummy stuff! Pancakes with maple syrup and whipped butter with honeycomb pieces are always a breakfast hit!
      %li <a href="http://www.miamimarketta.com/" target="_blank">Miami Marketta</a> – Wednesday night is $6 tapas night! Stroll through the market stalls with a drink in hand. This place has food from every known corner of the world. Also good for live entertainment.
      %li <a href="https://www.facebook.com/obsessionsonchevron.com.au?fref=ts" target="_blank">Obsessions on Chevron</a> – like a good burger? Then you need to try this place! Excess is not a word known to these guys, they will tantalise your tastebuds with some unique combinations. But be warned! You will most likely need help finishing some of these whoppers…