%section#header
  .row
    %h1
      %a{href: "/"}
        %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
    %hgroup
      %h2
        19-21 February 2014
        %br
        Sydney, Australia
      %p.dates Workshops Feb 19, Main Conference Feb 20-21
    %h3
      %a(href="http://rubyconfau2014.eventbrite.com.au") Get your ticket now

%section#nav
  .row
    .nav(data-magellan-expedition="fixed")
      %dl.sub-nav
        %dd.logo
          %a(href="/")
            %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg"}
        %dd(data-magellan-arrival="speakers")
          %a(href="#speakers") Speakers
        %dd(data-magellan-arrival="sessions")
          %a(href="#sessions") Sessions
        %dd(data-magellan-arrival="workshops")
          %a(href="#workshops") Workshops
        %dd(data-magellan-arrival="venue")
          %a(href="#venue") Venue
        %dd(data-magellan-arrival="sponsors")
          %a(href="#sponsors") Sponsors
        %dd(data-magellan-arrival="footer")
          %a(href="#footer") Contact

%section#intro
  .row
    %hgroup
      %h2
        It's time to bring the leading developers from around the region and beyond together for the second Ruby conference to be held in Australia.
        %br
        %a.whos-speaking(href="http://lanyrd.com/2014/rubyconf-au/")
          See who's speaking
        or
        %a.get-ticket(href="http://rubyconfau2014.eventbrite.com.au")
          get your ticket now.

%section#speakers
  .row
    %h1(data-magellan-destination="speakers") Speakers
    %a.speakers-list(href="http://lanyrd.com/2014/rubyconf-au/") View full speakers list
    %article.speaker
      %img(src="/images/2014/speakers/cambarrie.png")
      %h3 Cameron Barrie
      %p
        Cameron Barrie is a long time lover of Ruby and the Managing Director of Bilue, a team of Sydney based folks focused on helping organisations transition to mobile first. Cameron also runs Geek Breakfast, a monthly Sydney meet up for geeks to hear about topics ranging from accountancy to product design.

      %p.links
        %a(href="http://www.bilue.com.au/") bilue.com.au
        %a(href="http://twitter.com/whalec" class="twitter")
          %span.icon.ss-twitter
          @whalec
        %a(href="https://github.com/whalec" class="github")
          %span.icon.ss-octocat
          github.com/whalec

    %article.speaker
      %img(src="/images/2014/speakers/patallan.png")
      %h3 Pat Allan
      %p
        Pat earns his keep as a freelance web and Ruby developer based in the coworking space of Inspire9 in Melbourne, Australia. Often, though, you'll find him travelling around the world, attending interesting events and meeting interesting people.

        As well as working with talented development teams and writing open source Ruby libraries, he's a fan of bringing people together for gatherings small and large, including Trampoline and Rails Camp. And if you ask him nicely, he might even cook you a pancake.
      %p.links
        %a(href="http://freelancing-gods.com/" class="website") freelancing-gods.com
        %a(href="http://twitter.com/pat" class="twitter")
          %span.icon.ss-twitter
          @pat
        %a(href="http://github.com/pat" class="github")
          %span.icon.ss-octocat
          github.com/pat

%section#sessions
  .row
    %a(name="sessions")
    %h1(data-magellan-destination="sessions") Sessions
    %hgroup
      %h2
        RubyConfAU sessions will run across two days: February 20-21 at the Luna Park Crystal Palace.

        %a(href="http://lanyrd.com/2014/rubyconf-au/schedule/")
          Full session details are available on Lanyrd.

      %p
        Download the
        %a(href="https://itunes.apple.com/us/app/lanyrd/id467652813") Lanyrd iPhone app
        to use on the day, or use the
        %a(href="https://m.lanyrd.com/2014/rubyconf-au/") Lanyrd mobile HTML5 site.

%section#workshops
  .row
    %h1(data-magellan-destination="workshops") Workshops
    %article.workshop
      %img(src="/images/icons/lab.svg" class="icon")
      %h3 Testing Zero to Hero
      %h4 So testing&hellip; How does it work?

      %p What is a unit test? Why is that an integration test, should I even bother with acceptance tests?

      %p Let's work through the differences between the various types of testing, look at differing strategies for tackling problems and how they can be solved. Try doing things with TDD, try doing things building tests after.

      %p Let's use RSpec, TestUnit and MiniSpec to test different techniques and perfect our tests. And we will look at how we can apply these to our real world problems to make our lives easier and our software better!

      .bio
        %img(src="/images/2014/speakers/jonrowe.png" alt="Jon Rowe")
        %em Workshop run by Jon Rowe
        %p Who is Jon Rowe? Tinker. Sailor. Developer. Spy? Originally from a tiny cold island nation, Britain, Jon now lives in Sydney where he spends time sailing the high seas, plotting and working as a gun for hire, I mean freelance Ruby developer.

        %p When not working on client work you can find Jon hacking on RSpec, helping other open source projects and working on his own little side project(s).

        %a.twitter(href="http://twitter.com/JonRowe" class="twitter") @JonRowe
        %a.get-ticket(href="http://rubyconfau2014.eventbrite.com.au") Buy workshop ticket

    %article.workshop
      %img(src="/images/icons/wrench.svg" class="icon")
      %h3 Building C Extensions in Ruby
      %h4 You will learn how amazingly simple it is to build high-performance extensions that leverage existing C libraries.

      %p You’ll receive a basic notion of the C language, and then you will dive into the various Ruby APIs that allow you to bridge C code to our favourite language.

      %p We will also go through a heavy testing component that will help you ensure that your extension works as intended, and remains as bulletproof as possible.

      .bio
        %img(src="/images/2014/speakers/andremedeiros.png" alt="André Medeiros")
        %em Workshop run by André Medeiros
        %p André is a Ruby Ninja and self-confessed open-source evangelist at Quintel, Amsterdam. There he develops powerful applications for the renewable energy space.

        %p Following his personal motto of "Let's make it cool", Andre loves providing innovation and style within  tech industries and is involved in a number of awesome projects, one of which is Spyglass.

        %a.twitter(href="http://twitter.com/superdealloc" class="twitter") @superdealloc
        %a.get-ticket(href="http://rubyconfau2014.eventbrite.com.au") Buy workshop ticket

    %article.workshop
      %img(src="/images/icons/railsgirls.svg" class="icon")
      %h3 Rails Girls Next
      %h4 Take the next step in your coding journey!

      %p Join us and continue the learning you started at Rails Girls. Since you have Ruby installed already, we can jump right in!

      %p We've organised three mentor-led tutorials that will help you dive deeper into the world of professional development with Ruby. Tutorials include a look at some of Ruby's more advanced features and syntax, building a Sinatra app and deploying it, test-driven development and more.

      %p Lastly, you will gain a greater appreciation of development work procedures by pairing up to solve coding challenges and using Git for version control.

      .bio
        %em Workshop run by awesome volunteers!
        %p Our mentors have about three hundred years of combined awesomeness!  They've wrestled furious dragons with code and walked away un-charred.

        %p
          Seriously though, our mentors are professional developers.  They'll be on hand to answer all of your questions and help you out of tricky spots.  See the list at the
          %a(href="http://railsgirls.com/sydney") Rails Girls website.

        %a.twitter(href="https://twitter.com/railsgirlsau" class="twitter") railsgirlsau
        %a.get-ticket(href="http://rubyconfau2014.eventbrite.com.au") Sign up for the workshop

%section#venue(data-magellan-destination="venue")
  .row
    %div
      %h1 Our Venue
      %p RubyConfAU is being held at the Crystal Palace at Luna Park, right on Sydney Harbour and under the shadow of the Sydney Harbour Bridge.

      %a(href="http://goo.gl/maps/2NQra" class="inverted")
        Luna Park Crystal Palace,
        %br
        1 Olympic Drive,
        %br
        Milsons Point, 2061

      %h3 Geting There:
      %p It's a short walk form Milson's Point train station or soak up the scenery with short ferry ride from Circular Quay that will take you past the Opera House and under the span of the Sydney Harbour Bridge.

      %h3 Accommodation & Social:
      %p
        Looking for sowewhere to stay or places to go? We've made
        %a(href="/social" class='inverted') handy list
        to help you out.

%section#sponsors
  .row
    %h1(data-magellan-destination="sponsors") Sponsors
    %p RubyConfAU Sydney 2014 is made possible through the generous support of our sponsors.
    %article.sponsors.ruby
      %h3 Ruby Sponsor:
      %a.envato(href="http://www.envato.com/")
        %img(alt="Envato" src="/images/sponsors/2013-envato.svg")
    %article.sponsors.emerald
      %h3 Emerald Sponsor:
      %a.job-ready(href="http://www.jobready.com.au/")
        %img(alt="Job Ready" src="/images/sponsors/jobready.svg")
      %a.red-ant(href="http://redant.com.au/")
        %img(alt="Red Ant" src="/images/sponsors/redant.jpg")
      %a.dius(href="http://dius.com.au/")
        %img(alt="Dius" src="/images/sponsors/dius.svg")
    %article.sponsors.opal
      %h3 Opal Sponsor:
      %a.fairfax(href="http://www.fairfax.com.au/")
        %img(alt="Fairfax Media" src="/images/sponsors/fairfax.svg")
      %a.thoughtworks(href="http://www.thoughtworks.com/")
        %img(alt="ThoughtWorks" src="/images/sponsors/thoughtworks.svg")
    %article.sponsors.misc
      .article
        %p Rides+Drinks Sponsor
        %a.braintree(href="https://www.braintreepayments.com/")
          %img(alt="Braintree Payments" src="/images/sponsors/braintree.png")
      .article
        %p Coffee Sponsor
        %a.lookahead(href="http://www.lookahead.com.au/")
          %img(alt="Lookahead Search" src="/images/sponsors/lookahead.png")
