%section#header
  .row
    %h1
      %a{href: "/"}
        %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
    %hgroup
      %h2
        19-21 February 2014
        %br
        Sydney, Australia
      %p Workshops: Feb 19. Main Conference: Feb 20-21
    %h3
      %a(href="http://rubyconfau2014.eventbrite.com.au") Get your ticket now

%section#intro
  .row
    .nav(data-magellan-expedition="fixed")
      %dl.sub-nav
        %dd.logo
          %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg"}
        %dd(data-magellan-arrival="speakers")
          %a(href="#speakers") Speakers
        %dd(data-magellan-arrival="sessions")
          %a(href="#sessions") Sessions
        %dd(data-magellan-arrival="workshops")
          %a(href="#workshops") Workshops
        %dd(data-magellan-arrival="venue")
          %a(href="#venue") Venue
        %dd(data-magellan-arrival="sponsors")
          %a(href="#sponsors") Sponsors
        %dd(data-magellan-arrival="footer")
          %a(href="#footer") Contact
    %hgroup
      %h2
        It's time to bring the leading developers from around the region and beyond together for the second Ruby conference to be held in Australia.
        %br
        %a.whos-speaking(href="http://lanyrd.com/2014/rubyconf-au/")
          See who's speaking
        or
        %a.get-ticket(href="http://rubyconfau2014.eventbrite.com.au")
          get your ticket now.

%section#speakers
  .row
    %a(name="speakers")
    %h1(data-magellan-destination="speakers") Speakers
    %a.speakers-list(href="http://lanyrd.com/2014/rubyconf-au/") View full speakers list
    %article.speaker.large-5.columns
      %img(alt="Envato" src="/images/2014/speakers/cambarrie.png")
      %h3 Cameron Barrie
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p.links
        %a(href="http://www.bilue.com.au/") bilue.com.au
        %a(href="http://twitter.com/whalec" class="twitter") @whalec
        %a(href="https://github.com/whalec" class="github") github.com/whalec

    %article.speaker.large-5.columns
      %img(alt="Envato" src="/images/2014/speakers/patallan.png")
      %h3 Pat Allen
      %p
        Pat earns his keep as a freelance web and Ruby developer based in the coworking space of Inspire9 in Melbourne, Australia. Often, though, you'll find him travelling around the world, attending interesting events and meeting interesting people.

        As well as working with talented development teams and writing open source Ruby libraries, he's a fan of bringing people together for gatherings small and large, including Trampoline and Rails Camp. And if you ask him nicely, he might even cook you a pancake.
      %p.links
        %a(href="http://freelancing-gods.com/" class="website") freelancing-gods.com
        %a(href="http://twitter.com/pat" class="twitter") @pat
        %a(href="http://github.com/pat" class="github") github.com/pat

%section#sessions
  .row
    %a(name="sessions")
    %h1(data-magellan-destination="session") Sessions
    %hgroup
      %h2
        RubyConfAU sessions will run across two days: February 20-21 at the Luna Park Crystal Palace.

        %a(href="http://lanyrd.com/2014/rubyconf-au/schedule/")
          Full session details are available on Lanyrd.

      %p
        %a(href="#") Download the Lanyrd iPhone app
        to use on the day, or use the
        %a(href="#") Lanyrd HTML5 site.

%section#workshops
  .row
    %a(name="workshops")
    %h1(data-magellan-destination="workshops") Workshops
    %article.workshop
      .icon
      %h3 Testing Zero to Hero
      %p So testing&hellip; How does it work? What is a unit test? Why is that an integration test, should I even bother with acceptance tests?

      %p Let's work through the differences between the various types of testing, look at differing strategies for tackling problems and how they can be solved. Try doing things with TDD, try doing things building tests after.

      %p Let's use RSpec, TestUnit and MiniSpec to test different techniques and perfect our tests. And we will look at how we can apply these to our real world problems to make our lives easier and our software better!

      .bio
        %img(src="" alt="Jon Rowe")
        %em Workshop run by Jon Rowe
        %p Who is Jon Rowe? Tinker. Sailor. Developer. Spy? Originally from a tiny cold island nation, Britain, Jon now lives in Sydney where he spends time sailing the high seas, plotting and working as a gun for hire, I mean freelance Ruby developer.

        %p When not working on client work you can find Jon hacking on RSpec, helping other open source projects and working on his own little side project(s).

        %p.links
          %a(href="http://jonrowe.co.uk" class="website") jonrowe.co.uk
          %a(href="http://twitter.com/JonRowe" class="twitter") @JonRowe
          %a(href="https://github.com/JonRowe" class="github") github.com/JonRowe

%section#venue
  .row
    %a(name="venue")
    %h1(data-magellan-destination="venue") Our Venue
    %p RubyConfAU is being held at the Crystal Palace at Luna Park, right on Sydney Harbour and under the shadow of the Sydney Harbour Bridge.

    %a(href="http://goo.gl/maps/2NQra" class="map")
      Luna Park Crystal Palace,
      %br
      1 Olympic Drive,
      %br
      Milsons Point, 2061

    %h3 Geting There:
    %p It's a short walk form Milson's Point train station or soak up the scenery with short ferry ride from Circular Quay that will take you past the Opera House and under the span of the Sydney Harbour Bridge.

    %h3 Accommodation & Social:
    %p
      Looking for sowewhere to stay or places to go? We've made
      %a(href="#") handy list
      to help you out.

%section#sponsors
  .row
    %a(name="sponsors")
    %h1(data-magellan-destination="sponsors") Sponsors
    %p RubyConfAU Sydney 2014 is made possible through the generous support of our sponsors.
    %article.sponsors.ruby
      %h3 Ruby Sponsor:
      %a.envato(href="http://www.envato.com/")
        %img(alt="Envato" src="/images/sponsors/2013-envato.svg")
    %article.sponsors.emerald
      %h3 Emerald Sponsor:
      %a.job-ready(href="http://www.jobready.com.au/")
        %img(alt="Job Ready" src="/images/sponsors/jobready.svg")
      %a.red-ant(href="http://redant.com.au/")
        %img(alt="Red Ant" src="/images/sponsors/redant.jpg")
      %a.dius(href="http://dius.com.au/")
        %img(alt="Dius" src="/images/sponsors/dius.svg")
    %article.sponsors.opal
      %h3 Opal Sponsor:
      %a.fairfax(href="http://www.fairfax.com.au/")
        %img(alt="Fairfax Media" src="/images/sponsors/fairfax.svg")
      %a.thoughtworks(href="http://www.thoughtworks.com/")
        %img(alt="ThoughtWorks" src="/images/sponsors/thoughtworks.svg")
    %article.sponsors.misc
      .article
        %p Rides+Drinks Sponsor
        %a.braintree(href="https://www.braintreepayments.com/")
          %img(alt="Braintree Payments" src="/images/sponsors/braintree.png")
      .article
        %p Coffee Sponsor
        %a.lookahead(href="http://www.lookahead.com.au/")
          %img(alt="Lookahead Search" src="/images/sponsors/lookahead.png")
