%section#page
  .row
    %header#header.large-7.columns
      %h1
        %a{href: "/"}
          %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
      %hgroup
        %h2 19-21 February 2014
        %h2 Sydney, Australia
        %p Workshops: Feb 19. Main Conference: Feb 20-21
      %h3
        %a(href="http://rubyconfau2014.eventbrite.com.au") Get your ticket now

%section#intro
  .row
    .logo
      %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
    .nav.large-offset-1(data-magellan-expedition="fixed")
      %dl.sub-nav
        %dd(data-magellan-arrival="speakers")
          %a(href="#speakers") Speakers
        %dd(data-magellan-arrival="sessions")
          %a(href="#sessions") Sessions
        %dd(data-magellan-arrival="workshops")
          %a(href="#workshops") Workshops
        %dd(data-magellan-arrival="venue")
          %a(href="#venue") Venue
        %dd(data-magellan-arrival="sponsors")
          %a(href="#sponsors") Sponsors
        %dd(data-magellan-arrival="contact")
          %a(href="#contact") Contact
    %hgroup.large-offset-1.large-8.columns
      It's time to bring the leading developers from around the region and beyond together for the second Ruby conference to be held in Australia.
      %br
      %a(href="http://lanyrd.com/2014/rubyconf-au/")
        See who's speaking
      or
      %a(href="http://rubyconfau2014.eventbrite.com.au")
        get your ticket now.

%section#speakers
  .row
    %h2 Speakers
    %a.speakers-list(href="http://lanyrd.com/2014/rubyconf-au/") View full speakers list
    %article.speaker.large-5.columns
      %img(alt="Envato" src="/images/2014/speakers/cambarrie.jpg")
      %h3 Cameron Barrie
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p.links
        %a(href="http://www.bilue.com.au/") bilue.com.au
        %a(href="http://twitter.com/whalec" class="twitter") @whalec
        %a(href="https://github.com/whalec" class="github") github.com/whalec

    %article.speaker.large-5.columns
      %img(alt="Envato" src="/images/2014/speakers/patallan.jpg")
      %h3 Pat Allen
      %p
        Pat earns his keep as a freelance web and Ruby developer based in the coworking space of Inspire9 in Melbourne, Australia. Often, though, you'll find him travelling around the world, attending interesting events and meeting interesting people.

        As well as working with talented development teams and writing open source Ruby libraries, he's a fan of bringing people together for gatherings small and large, including Trampoline and Rails Camp. And if you ask him nicely, he might even cook you a pancake.
      %p.links
        %a(href="http://freelancing-gods.com/" class="website") freelancing-gods.com
        %a(href="http://twitter.com/pat" class="twitter") @pat
        %a(href="http://github.com/pat" class="github") github.com/pat

%section#sessions
  .row
    %hgroup
      RubyConfAU sessions will run across two days: February 20-21 at the Luna Park Crystal Palace.

      %a(href="http://lanyrd.com/2014/rubyconf-au/schedule/")
        Full session details are available on Lanyrd.

    %p
      %a(href="#") Download the Lanyrd iPhone app
      to use on the day, or use the
      %a(href="#") Lanyrd HTML5 site.

%section#workshops
  .row
    %h2 Workshops
    %article.workshop
      .icon
      %h3 Security Practicum
      %p Believe it or not, proper application security isn't just for banks! Recent high-profile attacks have cost web companies millions of dollars and thousands of users. To protect your users, you must learn how attackers would exploit your application. You will learn about the most prevalent attack methods used to exploit Ruby applications by hacking demo apps. There will be no theory and no fancy-talk--just hacking. For each attack method we cover, I will take you through three steps--detection, exploitation, and patching. We will also learn about tools to automate the detection process.

      %p Some attack methods you will learn more about:
      %ul
        %li Cross-site request forgery
        %li Social engineering
        %li Cross-site-scripting
        %li Password attacks
        %li Rails-specific attacks

      %p This workshop is aimed at Ruby developers of any skill-level who want to learn how to better secure their applications. I will use Rails and Sinatra as mediums, but the attack methods learned will apply to any Ruby application.

      .bio
        %img(src="" alt="Neal Kemp")
        %em Workshop run by Neal Kemp
        %p Neal is an independent consultant who slings Ruby code for a variety of clients. In the past, he has worked as a developer at Thoughtbot and ZURB. He has been developing on the web since marquees were cool.
        %p.links
          %a(href="http://nealke.mp" class="website") nealke.mp
          %a(href="http://twitter.com/Neal_Kemp" class="twitter") @Neal_Kemp
          %a(href="https://github.com/NealKemp" class="github") github.com/NealKemp

%section#venue
  .row
    %h2 Our Venue
    %p RubyConfAU is being held at the Crystal Palace at Luna Park, right on Sydney Harbour and under the shadow of the Sydney Harbour Bridge.

    %a(href="http://goo.gl/maps/2NQra" class="map")
      Luna Park Crystal Palace,
      %br
      1 Olympic Drive,
      %br
      Milsons Point, 2061

    %h3 Geting There:
    %p It's a short walk form Milson's Point train station or soak up the scenery with short ferry ride from Circular Quay that will take you past the Opera House and under the span of the Sydney Harbour Bridge.

    %h3 Accommodation & Social:
    %p
      Looking for sowewhere to stay or places to go? We've made
      %a(href="#") handy list
      to help you out.

%section#sponsors
  .row
    %h2 Sponsors
    %p RubyConfAU Sydney 2014 is made possible through the generous support of our sponsors.
    %article.sponsors.ruby
      %h3 Ruby Sponsor:
      %a.envato(href="http://www.envato.com/")
        %img(alt="Envato" src="/images/sponsors/2013-envato.svg")
    %article.sponsors.emerald
      %h3 Emerald Sponsor:
      %a.job-ready(href="http://www.jobready.com.au/")
        %img(alt="Job Ready" src="/images/sponsors/jobready.svg")
      %a.red-ant(href="http://redant.com.au/")
        %img(alt="Red Ant" src="/images/sponsors/redant.jpg")
      %a.dius(href="http://dius.com.au/")
        %img(alt="Dius" src="/images/sponsors/dius.svg")
    %article.sponsors.opal
      %h3 Opal Sponsor:
      %a.fairfax(href="http://www.fairfax.com.au/")
        %img(alt="Fairfax Media" src="/images/sponsors/fairfax.svg")
    %article.sponsors.misc
      .article
        %p Rides+Drinks Sponsor
        %a.braintree(href="https://www.braintreepayments.com/")
          %img(alt="Braintree Payments" src="/images/sponsors/braintree.png")
      .article
        %p Coffee Sponsor
        %a.lookahead(href="http://www.lookahead.com.au/")
          %img(alt="Lookahead Search" src="/images/sponsors/lookahead.png")
      .article
        %p Scholarship Sponsor
        %a.thoughtworks(href="http://www.thoughtworks.com/")
          %img(alt="ThoughtWorks" src="/images/sponsors/thoughtworks.svg")
