!!! 5
%html{lang: 'en'}
  %head
    /
      Hello! This code is open-source, and MIT licensed. Go here to check out da code:
      https://github.com/rubyaustralia/ruby-conf-au
      Design by Simon Wright [https://twitter.com/diversionary]
      Markup by Elle Meredith [https://twitter.com/aemeredith]
    %title Ruby Conf Australia 2014
    %meta{charset: "utf-8"}
    %meta{name: "author", content: "Ruby Australia"}
    %meta{name: "copyright", content: "Copyright Ruby Australia 2012-2013. All Rights Reserved."}
    %link{rel: "stylesheet", href: "/2014/stylesheets/main.css"}
    %link{rel: "stylesheet", href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900'}

  %body{id: @title}
    != yield

%section#social-networks
  .row
    .newsletter
      %form
        %h4.red Join our mailing list
        %span.success ✔
        %span.error ✗
        %div.progress_indicator
        %input{placeholder: "you@email.com", type: "text"}
        %a{class: "button", href: "#"} Join
    .networks
      %h4.red Find us elsewhere
      %a.twitter{href: "http://twitter.com/rubyconf_au"}
        .icon.ss-twitter
        %span @rubyconf_au
      %a.facebook{href: "http://facebook.com/RubyConfAustralia"}
        .icon.ss-facebook
        %span RubyConfAustralia
      %a.vimeo{href: "https://vimeo.com/channels/486849"}
        .icon.ss-vimeo
        %span Last Year's Talks
      %a.lanyrd{href: "http://lanyrd.com/2014/rubyconf-au/"}
        %span Lanyrd

%footer#footer
  .row
    %hgroup.ruby-conf-au(data-magellan-destination="footer")
      %a(href="/")
        %img(alt="Ruby Conf Australia 2014" src="/images/ruby_conf_white_logo.svg" height="220px")
      %h2 Excited? We are!

      %p
        We can't wait to share RubyConfAU 2014 with you.
        %br
        If you've got questions, get in touch by
        %a(href="mailto:organisers@rubyconf.org.au" class='inverted') email
        or tweet
        %a(href="https://twitter.com/rubyconf_au" class='inverted') @rubyconf_au

    %section.ruby-au
      %a(href="http://ruby.org.au")
        %img.logo(alt="Ruby Australia Logo" src="/images/ruby_au_white_logo.svg")
      %p
        Proudly Organised by
        %a(href="http://ruby.org.au" class='inverted') Ruby Australia

    %section.extras
      %a.calendar(href='/calendar/iCal.ics') Add dates to your calendar
      %a.policies(href='/policies') Policies

  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
  %script{src: "/javascripts/spin.min.js"}
  %script{src: "/javascripts/main.js"}
  %script{src: "/javascripts/foundation.js"}
  %script{src: "/javascripts/foundation.magellan.js"}
  :javascript
    $(document).foundation();
