%section#header
  .row
    %h1
      %a{href: "/2014"}
        %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
    %hgroup
      %h2
        19-21 February 2014, Sydney, Australia

%section#title
  .row
    %h1 News

%section#nav
  .row
    .nav(data-magellan-expedition="fixed")
      %dl.sub-nav
        %dd.logo
          %a(href="/2014")
            %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg"}
        %dd.back
          %a(href="/2014") Back to Main Conference Page

%section#main
  .row
    %article#sad-great
      %p.date Feb 03, 2014
      %h2 The sad and the great
      %p Unfortunately, Amy Hoy has had to cancel her trip to Sydney so can no longer speak at this year's RubyConf AU.

      %p However, we are very excited to announce that Greg Brockman, CTO at Stripe is confirmed to keynote at RubyConf AU 2014. He has been helping build out Stripe's technology stack since joining as the second employee. He built the initial infrastructure powering the its API and these days works primarily on scaling the team and architecture. Greg studied mathematics at Harvard and computer science at MIT. Greg enjoys all things that involve computers and spends most of his time working with them.

    %article#nineteen-sleeps
      %p.date Jan 31, 2014
      %h2 19 sleeps to go!
      %p Tickets for RubyConf AU 2014 are selling fast! We can’t wait to see everyone who already has a ticket. If you haven’t bought a ticket to our open speakers dinner or a workshop then make sure you get one.

    %article#rides
      %p.date Jan 31, 2014
      %h2 Rides at Luna Park
      %p
        RubyConf AU is more than just a learning experience, it is about getting to know the Ruby community from, in and around Australia. Seeing as we are at Luna Park, why not get to know your fellow Rubyists on a rollercoaster, dodgem car or slippery slide? On Thursday afternoon, following Pat Allan's keynote, the Wild Mouse and Dodgem cars will be opened exclusively for us. Wild Mouse is for the thrill seeking, rollercoaster loving Rubyists; and the Dodgems for those of us who prefer to take the wheel&#8212;and thanks to our wonderful sponsor, Braintree,
        %a(href='http://www.lunaparksydney.com/coney-island') Coney Island
        will also be opened for us to slip and slide around in.

      %p If you are not so keen on getting on the rides, there will be drinks and nibbley food to eat on the balcony, looking over Sydney Harbour.

      %p
        The rides will shut at 7:30pm when a bus will pick us up to head to the Yum Cha Fiesta. If you haven't got your tickets for Yum Cha,
        %a(href='http://rubyconfau2014.eventbrite.com.au/') grab them here.

    %article#after-party
      %p.date Jan 31, 2014
      %h2 After party
      %p
        After RubyConf AU 2014 is all done and dusted on Friday afternoon, we will be sad it is all over. So, to remember the time we have had with the new friends we have made at the conference, RubyConf AU has hired out the public bar at
        %a(href='http://www.greenwoodhotel.com/') The Greenwood Hotel,
        North Sydney, just a short walk from Luna Park. Volunteers will help those of us who think we might get lost on the way.

    %article#introducing-eleanor
      %p.date Jan 22, 2014
      %h2 Introducing Eleanor Saitta!
      %p Eleanor will be closing the conference on Friday afternoon with a talk about Outcome-Oriented Security.

      %p Eleanor is a hacker, designer, artist, writer, and barbarian. She makes a living and a vocation of understanding how complex systems operate and redesigning them to work, or at least fail, better. Her work is transdisciplinary, using everything from electronics, software, and paint to social rules and words as media with which to explore and shape our interactions with the world. Her focuses include the seamless integration of technology into the lived experience, the humanity of objects and the built environment, and systemic resilience and conviviality.

    %article#scholarship-announcements
      %p.date Jan 13, 2014
      %h2 Scholarship announcements
      %p
        Scholarship applications have been reviewed and if you submitted an application you should receive a notification in the next few hours as to if you were successful or not. We had 56 applicants and there were so many great applications, it was tough to choose the finalists. For those of you who missed out, we do still have some student tickets available on
        %a(href='http://rubyconfau2014.eventbrite.com.au/') http://rubyconfau2014.eventbrite.com.au/

    %article#student-tickets
      %p.date Dec 12, 2013
      %h2 Student tickets
      %p
        As we received such an enthusiastic response to the scholarship tickets, unfortunately we will not be able to give everyone who applied a ticket. To make sure no one misses out on coming along to the conference because of financial reasons, we have opened up a student ticket category. These are limited to students studying Ruby only and are also limited in number (NB: Students of life, need not apply). To get your student ticket, visit
        %a(href='http://rubyconfau2014.eventbrite.com.au/') http://rubyconfau2014.eventbrite.com.au/

    %article#yum-cha-fiesta
      %p.date Dec 12, 2013
      %h2 Yum cha fiesta
      %p
        We are excited to announce that everyone is invited to the speakers' dinner for RubyConf AU 2014. We will be having a Yum Cha Fiesta at
        %a(href='https://www.marigold.com.au/') Marigold Restaurant.

      %p
        The price is $25.30 per person for dinner, any drinks you would like can be bought separately on the night. RubyConf AU will be subsidising your food to help ensure everyone who wants to attend can afford to do so. Please
        %a(href='http://rubyconfau2014.eventbrite.com.au/') buy your ticket and confirm your place.

    %article#talking-heads
      %p.date Dec 11, 2013
      %h2 Talking heads

      %p A writeup by <a href="http://lachstock.com.au/">Lachlan Hardy</a> about the talk selection process.

      %p Next year in February, Sydney will host Australia's second <a href="http://rubyconf.org.au/">RubyConf AU</a>. An open call for proposals closed nearly a month ago. Since that time, <a href="http://keithpitty.com/">Keith Pitty</a>, <a href="https://twitter.com/_martinS_">Martin Stannard</a> and I have been assessing the talk proposals so we could provide some guidance to the organisers on what talks might make a good conference. Last Sunday we gave them our results. This article tells you how we came by them.

      %p RubyConfAU is run on behalf of <a href="http://ruby.org.au/">Ruby Australia</a> by a group of Ruby Australia members. Keith, Martin and I are not part of that group, nor are any of us currently committee members of Ruby Australia. We are, however, all longstanding members of the Ruby community in Australia. I and, I am sure, the others were honoured to be asked to represent our community like this.

      %p There were approximately 103 talk proposals submitted. We had to get that down to the 20-30 proposals needed for the conference.

      %h3 The Process

      %p Firstly, we were stoked with the quality of talks. A lot of great stuff suggested. It was very exciting! And daunting.

      %p We got together on Skype to work out our approach and I proposed a system that I have used for judging contests and such in the past. We created four categories, each worth 25 points and scored each talk to result in a percentage. The categories used were:

      %ul
        %li Ruby Relevance,
        %li Comprehensiveness,
        %li Technical Interest, and
        %li The Vibe.

      %p We were given a site which included only the title and description of each proposal. This had been manually stripped so that our assessment would effectively be blind. Practically speaking, we could have looked at the submissions on GitHub, but none of us did that after we were asked to assess the talks. (Personally, I think I only looked at a couple out of the ten that were there at the time I looked.)

      %p We assessed each talk individually, then combined the results and prioritised according to the average. Based on this we discussed the top 40 or so talks and gave them a yes (Y), no (N) or maybe (X). The list was then sorted by our agreement (Y/X/N) and by average percentage.

      %p The resulting list is what we gave the organisers to help them choose the talks. Obviously, what actually gets in depends on availability of speakers, funds for their travel expenses, and all sorts of other stuff that the three of us luckily did not have to worry about. We ended up with 20 Y and 10 X. Hopefully that provides the organisers a good spread to work with.

      %h3 Things We Learned

      %p In discussing the high-ranking talks, we compared those with similar topics and chose between them. Those not chosen were marked with N (no) so that the organisers could easily find them if the other speaker on the same topic declined. We should have chosen a different signifier ('S' for similar?) to clearly separate them from those we decided did not fit despite their relatively high-ranking. (More on that soon.)

      %p
        After assessing, we decided that our categories skewed too hard for technical and that our <em>The Vibe</em> category was not enough to offset that. In future, we recommend adding categories or changing them to treat community and self-improvement style talks more evenly. This time around, we discussed those in detail and manually elevated some we thought had been treated unfairly by our system to either Ys or Xs.

      %p Putting serious consideration and discussion into the quality and appropriateness of more than 100 talks took a really long time. I am not sure any of us were really prepared for how much work this was. It took longer than expected and I apologise for the delay to all of you who were waiting eagerly to find out if your talk had been accepted. The only real way I see to mitigate this in future is to be aware of it and prepare in advance.

      %p I recommend future organisers publish the criteria when they call for proposals. They could not do that this year, but it would make it easier for those in our role and easier for those proposing talks.

      %p I also recommend that a quick form be thrown together for talks to ensure they are blind to the panel and that nobody has to manually strip identifying detail from all the talks again. That must have taken ages!

      %h3 Advice for Talk Proposals

      %p Proposals with less content tended to rank lower and rated poorly in discussion compared to those with more content. It was easier to assess the more detailed proposals against the criteria.

      %h3 By the Numbers

      %ul
        %li 103: proposals, not counting workshops;
        %li 83%: the highest averaged score;
        %li 45%: the lowest averaged score;
        %li 57%: the lowest averaged score for a proposal we elevated through discussion;
        %li 66%: the median of all proposal scores;
        %li 65%: the average of all proposal scores; and
        %li 61: the number of proposals that scored equal or higher than the average score (65%).

      %h3 Wrap-up

      %p It should also be noted that the organisers have offered each of the three of us a free ticket to the conference. They told us that <strong>after</strong> we had done all the work. I am very grateful for the acknowledgement.

      %p Keith, Martin and the organisers reviewed this post before I put it up, so I am hoping I have documented all of this in such a way as not to raise too many more questions, but if you have any, you are welcome to email me at <a href="mailto:lachlan@lachstock.com.au">lachlan@lachstock.com.au</a> or the conference organisers at <a href="mailto:organisers@rubyconf.org.au">organisers@rubyconf.org.au</a>

      %p To all whose talks were accepted, I look forward to finding out who you are and watching you present! To all those whose talks were not, it is not necessarily because it was a poor idea <em>or</em> proposal. I have suggested some ideas above for improving the process next year, and I am sure members of this community will have more.

      %p See you at Luna Park in February!

    %article#vibe-accomodation
      %p.date Nov 25, 2013
      %h2 Accommodation
      %p For those travelling from other cities looking for accommodation in Sydney, we have secured a number of rooms at the Vibe hotel (a short stroll to the conference venue, and venue for the workshops on the 19th). Please note you will need to use the discount code 'Ruby' and the rates are only valid for the duration of the conference. To get access to these rooms please contact the hotel directly (online booking form is not set up for the discount code):

      %p
        Vibe Hotel North Sydney
        %br
        Reservations Department
        %br
        Jodi or Jacqui
        %br
        Phone: 02 99560702
        %br
        Email: northsydney@vibehotels.com.au

    %article#cfp-closed
      %p.date Nov 25, 2013
      %h2 Call for proposals closed
      %p We recently closed the Call For Proposals and these are currently in review. We will be announcing who will be speaking in the next few weeks. Thanks to everyone who submitted a talk and workshop proposal.

    %article#early-bird-tickets
      %p.date Nov 25, 2013
      %h2 Early-bird tickets
      %p We are currently selling early-bird tickets. Early-bird ends on Friday 13th of December. You'd be unlucky not to grab one. Join over a hundred people who have already purchased a ticket.
