%section#header
  .row
    %h1
      %a{href: "/"}
        %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
    %hgroup
      %h2
        19-21 February 2014, Sydney, Australia

%section#title
  .row
    %h1 News

%section#nav
  .row
    .nav(data-magellan-expedition="fixed")
      %dl.sub-nav
        %dd.logo
          %a(href="/")
            %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg"}
        %dd.back
          %a(href="/") Back to Main Conference Page

%section#main
  .row
    %article#sad-great
      %p.date Feb 03, 2014
      %h2 The sad and the great
      %p Unfortunately, Amy Hoy has had to cancel her trip to Sydney so can no longer speak at this year's RubyConf AU.

      %p However, we are very excited to announce that Greg Brockman, CTO at Stripe is confirmed to keynote at RubyConf AU 2014. He has been helping build out Stripe's technology stack since joining as the second employee. He built the initial infrastructure powering the its API and these days works primarily on scaling the team and architecture. Greg studied mathematics at Harvard and computer science at MIT. Greg enjoys all things that involve computers and spends most of his time working with them.

    %article#nineteen-sleeps
      %p.date Jan 31, 2014
      %h2 19 sleeps to go!
      %p Tickets for RubyConf AU 2014 are selling fast! We can’t wait to see everyone who already has a ticket. If you haven’t bought a ticket to our open speakers dinner or a workshop then make sure you get one.

    %article#rides
      %p.date Jan 31, 2014
      %h2 Rides at Luna Park
      %p
        RubyConf AU is more than just a learning experience, it is about getting to know the Ruby community from, in and around Australia. Seeing as we are at Luna Park, why not get to know your fellow Rubyists on a rollercoaster, dodgem car or slippery slide? On Thursday afternoon, following Pat Allan's keynote, the Wild Mouse and Dodgem cars will be opened exclusively for us. Wild Mouse is for the thrill seeking, rollercoaster loving Rubyists; and the Dodgems for those of us who prefer to take the wheel&#8212;and thanks to our wonderful sponsor, Braintree,
        %a(href='http://www.lunaparksydney.com/coney-island') Coney Island
        will also be opened for us to slip and slide around in.

      %p If you are not so keen on getting on the rides, there will be drinks and nibbley food to eat on the balcony, looking over Sydney Harbour.

      %p
        The rides will shut at 7:30pm when a bus will pick us up to head to the Yum Cha Fiesta. If you haven't got your tickets for Yum Cha,
        %a(href='http://rubyconfau2014.eventbrite.com.au/') grab them here.

    %article#after-party
      %p.date Jan 31, 2014
      %h2 After party
      %p
        After RubyConf AU 2014 is all done and dusted on Friday afternoon, we will be sad it is all over. So, to remember the time we have had with the new friends we have made at the conference, RubyConf AU has hired out the public bar at
        %a(href='http://www.greenwoodhotel.com/') The Greenwood Hotel,
        North Sydney, just a short walk from Luna Park. Volunteers will help those of us who think we might get lost on the way.

    %article#introducing-eleanor
      %p.date Jan 22, 2014
      %h2 Introducing Eleanor Saitta!
      %p Eleanor will be closing the conference on Friday afternoon with a talk about Outcome-Oriented Security.

      %p Eleanor is a hacker, designer, artist, writer, and barbarian. She makes a living and a vocation of understanding how complex systems operate and redesigning them to work, or at least fail, better. Her work is transdisciplinary, using everything from electronics, software, and paint to social rules and words as media with which to explore and shape our interactions with the world. Her focuses include the seamless integration of technology into the lived experience, the humanity of objects and the built environment, and systemic resilience and conviviality.

    %article#scholarship-announcements
      %p.date Jan 13, 2014
      %h2 Scholarship announcements
      %p
        Scholarship applications have been reviewed and if you submitted an application you should receive a notification in the next few hours as to if you were successful or not. We had 56 applicants and there were so many great applications, it was tough to choose the finalists. For those of you who missed out, we do still have some student tickets available on
        %a(href='http://rubyconfau2014.eventbrite.com.au/') http://rubyconfau2014.eventbrite.com.au/

    %article#student-tickets
      %p.date Dec 12, 2013
      %h2 Student tickets
      %p
        As we received such an enthusiastic response to the scholarship tickets, unfortunately we will not be able to give everyone who applied a ticket. To make sure no one misses out on coming along to the conference because of financial reasons, we have opened up a student ticket category. These are limited to students studying Ruby only and are also limited in number (NB: Students of life, need not apply). To get your student ticket, visit
        %a(href='http://rubyconfau2014.eventbrite.com.au/') http://rubyconfau2014.eventbrite.com.au/

    %article#yum-cha-fiesta
      %p.date Dec 12, 2013
      %h2 Yum cha fiesta
      %p
        We are excited to announce that everyone is invited to the speakers' dinner for RubyConf AU 2014. We will be having a Yum Cha Fiesta at
        %a(href='https://www.marigold.com.au/') Marigold Restaurant.

      %p
        The price is $25.30 per person for dinner, any drinks you would like can be bought separately on the night. RubyConf AU will be subsidising your food to help ensure everyone who wants to attend can afford to do so. Please
        %a(href='http://rubyconfau2014.eventbrite.com.au/') buy your ticket and confirm your place.

    %article#vibe-accomodation
      %p.date Nov 25, 2013
      %h2 Accommodation
      %p For those travelling from other cities looking for accommodation in Sydney, we have secured a number of rooms at the Vibe hotel (a short stroll to the conference venue, and venue for the workshops on the 19th). Please note you will need to use the discount code 'Ruby' and the rates are only valid for the duration of the conference. To get access to these rooms please contact the hotel directly (online booking form is not set up for the discount code):

      %p
        Vibe Hotel North Sydney
        %br
        Reservations Department
        %br
        Jodi or Jacqui
        %br
        Phone: 02 99560702
        %br
        Email: northsydney@vibehotels.com.au

    %article#cfp-closed
      %p.date Nov 25, 2013
      %h2 Call for proposals closed
      %p We recently closed the Call For Proposals and these are currently in review. We will be announcing who will be speaking in the next few weeks. Thanks to everyone who submitted a talk and workshop proposal.

    %article#early-bird-tickets
      %p.date Nov 25, 2013
      %h2 Early-bird tickets
      %p We are currently selling early-bird tickets. Early-bird ends on Friday 13th of December. You'd be unlucky not to grab one. Join over a hundred people who have already purchased a ticket.
