%section#header
  .row
    %h1
      %a{href: "/"}
        %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg", height: "220px"}
    %hgroup
      %h2
        19-21 February 2014, Sydney, Australia

%section#title
  .row
    %h1 Accomodation+Social

%section#nav
  .row
    .nav(data-magellan-expedition="fixed")
      %dl.sub-nav
        %dd.logo
          %a(href="/")
            %img{alt: "Ruby Conf Australia 2014", src: "/images/ruby_conf_logo.svg"}
        %dd(data-magellan-arrival="stay")
          %a(href="#stay") Places to stay
        %dd(data-magellan-arrival="bite")
          %a(href="#bite") Grab a bite
        %dd(data-magellan-arrival="refuel")
          %a(href="#refuel") Refuel
        %dd(data-magellan-arrival="relax")
          %a(href="#relax") Relax
        %dd.back
          %a(href="/") Back to Main Conference Page

%section#stay(data-magellan-destination="bite")
  .row
    %img(src="/images/icons/stay.svg" class="icon")
    %h2 Places to stay
    %h3 Looking for a place to rest your head while you're in town? Here are some suggestions
    %article
      %h4 The Kirketon
      %p.address 229 Darlinghurst Road, Darlinghurst
      %p.tel Tel: +61&#8211;2&#8211;9332 2011
      %p.web
        %a(href="http://www.8hotels.com/sydney-hotels/kirketon-hotel/") 8hotels.com/sydney-hotels/kirketon-hotel
    %article
      %h4 Metro Hotels
      %p.address 431&#8211;439 Pitt Street Sydney
      %p.tel Tel: +61&#8211;2&#8211;9281 6999
      %p.web
        %a(href="http://www.metrohotels.com.au/hotel") metrohotels.com.au/hotel
    %article
      %h4 Park8
      %p.address 185 Castlereagh Street, Sydney
      %p.tel Tel: +61&#8211;2&#8211;9283 2488
      %p.web
        %a(href="http://www.8hotels.com/sydney-hotels/park8-hotel") 8hotels.com/sydney-hotels/park8-hotel
    %article
      %h4 The Vibe North Sydney
      %p.address 88 Alfred Street, Milsons Point
      %p.tel Tel: +61&#8211;2&#8211;9955 1111
      %p.web
        %a(href="http://www.vibehotels.com.au/hotels/new-south-wales/sydney/north/vibe-north-sydney/") vibehotels.com.au
    %p.more
      %a(href="https://www.airbnb.com.au/s/Sydney--Australia") AirBnB options&hellip;

%section#bite(data-magellan-destination="bite")
  .row
    %img(src="/images/icons/bite.svg" class="icon")
    %h2 Grab a bite
    %h3 We've got you covered for lunch and snacks, but here are our tips for your other meals.
    %article
      %h4 Chur Burger
      %p.address 10 Beauchamp Lane, Surry Hills
      %p.tel Tel: +61&#8211;2&#8211;9212 3602
      %p.web
        %a(href="http://www.churburger.com.au/") churburger.com.au
    %article
      %h4 Din Tai Fung
      %p.address World Shopping Centre 644 George St, Sydney
      %p.tel Tel: +61&#8211;2&#8211;9264 6010
      %p.web
        %a(href="http://www.dintaifungaustralia.com.au/") www.dintaifungaustralia.com.au
    %article
      %h4 The Morrison Bar and Oyster Room
      %p.address 225 George St, Sydney
      %p.tel Tel: +61&#8211;2&#8211;9247 6744
      %p.web
        %a(href="http://themorrison.com.au/") themorrison.com.au
    %article
      %h4 Spice I Am
      %p.address Darlinghurst, Surry Hills and Balmain
      %p.tel Tel: +61&#8211;2&#8211;9332 2445
      %p.web
        %a(href="http://www.spiceiam.com/") spiceiam.com
    %p.more
      %a(href="http://www.broadsheet.com.au/sydney/directory?#directory:restaurant&&-title&&&&&&") More restaurants&hellip;

%section#refuel(data-magellan-destination="refuel")
  .row
    %img(src="/images/icons/feen.svg" class="icon")
    %h2 Refuel
    %h3 Lookahead Search has your coffee covered at the conference, but here are our favourite 'feen nearby.
    %article
      %h4 Marlowe's Way
      %p.address Tank Stream Way, Sydney
      %p.tel Tel: +61&#8211;432&#8211;487 598
      %p.web
        %a(href="http://www.broadsheet.com.au/sydney/food-and-drink/directory/cafe/marlowes-way") Broadsheet review
    %article
      %h4 Mecca Espresso
      %p.address 67 King Street, Sydney
      %p.tel Tel: +61&#8211;2&#8211;9299 8828
      %p.web
        %a(href="http://meccaespresso.com/") meccaespresso.com
    %article
      %h4 Sample Coffee
      %p.address 1a/118 Devonshire Street, Sydney
      %p.tel Tel: +61&#8211;414&#8211;703 005
      %p.web
        %a(href="http://www.samplecoffee.com.au/") samplecoffee.com.au
    %article
      %h4 Single Origin
      %p.address 60&#8211;64 Reservoir Street, Surry Hills
      %p.tel Tel: +61&#8211;2&#8211;9211 0665
      %p.web
        %a(href="http://singleoriginroasters.com.au/") singleoriginroasters.com.au
    %p.more
      %a(href="http://decafsucks.com/search?q=sydney") Never enough coffee&hellip;


%section#relax(data-magellan-destination="relax")
  .row
    %img(src="/images/icons/relax.svg" class="icon")
    %h2 Relax
    %h3 Looking for somewhere to grab a drink while you're in town? We've got you covered.
    %article
      %h4 The Barbershop
      %p.address 89 York St, Sydney
      %p.tel Tel: +61&#8211;2&#8211;9299 9699
      %p.web
        %a(href="http://thisisthebarbershop.com/") thisisthebarbershop.com
    %article
      %h4 The Botanist
      %p.address 17 Willoughby Street, Kirribilli
      %p.tel Tel: +61&#8211;2&#8211;9954 4057
      %p.web
        %a(href="http://thebotanist.com.au/") thebotanist.com.au
    %article
      %h4 Bulletin Place
      %p.address 10&#8211;14 Bulletin Pl, Sydney
      %p.web
        %a(href="http://www.bulletinplace.com/") www.bulletinplace.com
    %article
      %h4 Grasshopper
      %p.address 1 Temperance Ln, Sydney
      %p.tel Tel: +61&#8211;2&#8211;9947 9025
      %p.web
        %a(href="http://thegrasshopper.com.au/") thegrasshopper.com.au
    %p.more
      %a(href="http://www.broadsheet.com.au/sydney/directory?#directory:bar&&-title&&&&&&") More bars&hellip;

%section.last
  .row
    %p
      Want to know more?
      %a(href="/") Visit the main RubyConfAu website.

