.row.speakers
    .col
        %h2.section-title Speakers
        %p
            We are so stoked to have the following speakers to grace our stage and share their wisdom and knowledge with us!
.row
    .col
        -# %a{href: "/2020/speakers"}
        .col-lg-4
            .speaker-container
                %img{ src: "/2020/images/speakers/vaidehi-joshi.jpg" }
                    %h3.speaker-name
                        = speaker.first_name
                        = speaker.last_name
