.introduction.mt-5
	.container-full
		.row.about
			.col-lg-6.col-sm-12.col-xs-12.image.text-center
				%figure
					%img{src: "/2020/images/nadia.jpg", class: "about-img", alt: "Nadia Speaking"}
					%figcaption
						RubyConf AU 2019 speaker
						%a{href: 'http://www.nadiaodunayo.com/', target: 'blank'} Nadia Odunayo.
						Photographer:
						%a{href: 'https://about.me/johncarney', target: 'blank'} John Carney
			.col-lg-6.col-sm-12.col-xs-12.about-desc
				%h2.section-title
					What is
					%br/
					RubyConf AU?
				%p Our yearly gathering where we share knowledge about the Ruby programming language, and celebrate the Australian and broader Ruby community.
				%p With a mixture of local and international speakers, there will be two day of talks. We'll cover topics that interest, excite, and delight Rubyists and the Ruby-curious of all levels. There will also be social events hosted where you will get the opportunity to meet like-minded people!

		.row.tickets.text-center.mt-3
			.col
				%h2.section-title Tickets
				%p
					Ticket sales for RubyConf Au 2023 are live!
					%a{href: 'https://confirmsubscription.com/h/j/809D057CE90261E7', target: 'blank'} Join our mailing list
					to hear about future Ruby Australia events.


		.row.speakers
			.col
				%h2.section-title Speakers
		.row.speaker-container
			.col-lg-3.text-center
				%img{ src: "/2020/images/speakers/vaidehi-joshi.jpg" }
			.col-lg-9.speaker-info
				%h3.speaker-name Vaidehi Joshi
				%p Vaidehi is a senior engineer at DEV, where she builds community and helps improve the software careers of millions. She enjoys building and breaking code, but loves creating empathetic engineering teams a whole lot more. She is the creator of basecs and baseds, two writing series exploring the fundamentals of computer science and distributed systems. She also co-hosts the Base.cs Podcast, and is a producer of the BaseCS and Byte Sized video series.
		.row.speaker-container
			.col-lg-3.text-center
				%img{ src: "/2020/images/speakers/xavier-shay.jpg" }
			.col-lg-9.speaker-info
				%h3.speaker-name Xavier Shay
				%p Xavier recently moved back home to Melbourne after spending eight years in San Francisco, mostly as an engineering leader at Square. Currently working at Ferocia building Up, a fancy new digital bank. He's scheming to introduce the RubyConf 5K tradition to Australia.
		.row.speaker-container
			.col-lg-12.speaker-info
				%h3.speaker-name
					View the rest of of our incredible speakers
					%a{href: '/2020/speakers'} here
		= haml :'2023/common/_sponsors'
