.introduction
  .container-full.mb-4
    %h3.event-title An array of fun and varied activities to surround the conference!

.events
  .container-full
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: '/2023/images/kingpin.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Welcome Games Night
          .description
            %p To kick things off we have organised unlimited games at King Pin Crown for 2-hours to celebrate the start of the conference and the Ruby Community. Finger Food and drinks will be provided.
            %p This event is free for all conference attendees.
          .location
            Wednesday 19th February, 7pm-9:30pm <br />
            %a{ href: 'https://g.page/KingpinBowlingCrown?share' }
              %i.fa.fa-map-marker-alt
              King Pin - Upstairs at Crown Casino - 8 Whiteman Street, Melbourne
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: '/2023/images/boatbuilders-yard.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Closing Games Night
          .description
            %p Once we wrap up the conference, we'll continue the conversations just up the road at the Boat Builders Yard. Food and Drinks are included so come down and hang out with Ruby friends new and old.
            %p This event is free for all conference attendees.
          .location
            Friday 21st February, 6pm-10pm <br />
            %a{ href: 'https://goo.gl/maps/Bkm4WnC68h4iGCTD7' }
              %i.fa.fa-map-marker-alt
              23 S Wharf Promenade, South Wharf, Melbourne
