@import "../lib/variables";

.footer-title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: $white;
}

.footer-cover {
  background-image: $gradient-red, url("../images/conference.jpg");
  background-size: cover;
  height: 32vh;
  background-position-y: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h4 {
  font-size: 0.85rem;
  font-weight: 500;
  color: $black;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer-links a {
  display: inline-flex;
  align-items: center;
  color: $black;
  letter-spacing: 1px;
  line-height: 32px;
  font-size: 0.9rem;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.copyright {
  color: $black;
  font-size: 0.9rem;
}

.fa,
.fab {
  padding-right: 0.25rem;
}
