@import "../lib/variables";

.header-cover {
  background-image: $gradient-red,
    url("../images/melbourne.jpg");
  background-size: cover;
  height: 32vh;
  background-position-y: center;
  margin-bottom: 3rem;
}

.header-title,
.page-title {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fafafa;
}

.nav-item.nav-link {
  font-family: $font;
  font-size: 0.85rem;
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.navbar {
  animation-duration: 0.5s;
  transition: 0.5s;
}

.is-fixed {
  position: fixed;
  z-index: 999;
  animation-name: stickySlideDown;
  padding: 0.75rem;
  background: linear-gradient(
    0deg,
    rgba(180, 21, 0, 1) 0%,
    rgba(160, 30, 0, 1) 100%
  );
  transition: none;
  width: 100%;
  top: 0;
  left: 0;
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
