.content-page--event-header
  %a.skip-nav(href="#after-nav") Skip navigation

  .body-section--event-header__inner
    .body-section--event-header__event
      %a(href="/2015") <span>RubyConf</span> <span>Australia</span> <span>2015</span>
    .body-section--event-header__city <span>Melbourne</span> <span>Australia</span>
    .body-section--event-header__date 4-7 February 2015

#after-nav
