.content-page--event-header
  %a.skip-nav(href="#after-nav") Skip navigation

  .body-section--event-header__inner
    .body-section--event-header__event
      %a(href="/2015") <span>RubyConf</span> <span>Australia</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">5</span></span>
    .body-section--event-header__city <span>Melbourne</span> <span>Australia</span>
    .body-section--event-header__date 4-7 February 2015

#after-nav
