%section#header
  .row
    %h1
      %a{href: "/"}
        %img{alt: "Ruby Conf Australia 2015", src: "/images/ruby_conf_logo.svg", height: "220px"}
    %hgroup
      %h2
        4-7 February 2015, Melbourne, Australia
