.content-page
  = haml :'2015/_header'

  .content-page__header
    %h1 Accessibility

  %section.body-section--content
    %p RubyConf Australia is an inclusive conference and as such strives to be accessible to everyone.

    %p Our goal is that the conference and workshops (and ideally all other related events) are accessible to people with physical disabilities.

    %p However, we are aware that accessibility issues are diverse and we may not have everything covered off in our plans. If you have any accessibility requirements and are interested in attending RubyConf Australia, please feel welcome to <a href="mailto:organisers@rubyconf.org.au">get in touch</a> and confirm we have those requirements under control.

    %p We will happily reserve you a ticket if it's not immediately clear whether necessary assistance is provided. Also, if you are in need of an assistant, they will not be required to buy a ticket to the conference.
