- @page_title = "RubyConf Australia 2015 Accommodation Recommendations"

.content-page
  = haml :'2015/_header'

  .content-page__header.content-page__header--accommodation
    %h1 Accommodation

  %section.body-section--content
    %p If you're travelling from interstate or overseas, you're likely looking for a place to stay in Melbourne for the duration of the conference. We've got a couple of deals lined up at hotels in the heart of the city (both an easy walk from our venue, Deakin Edge at Fed Square).

    %p <strong><a href="http://www.tfehotels.com/brands/rendezvous-hotels/rendezvous-hotel-melbourne">Rendezvous Hotel</a></strong><br />328 Flinders Street, Melbourne

    %p
      %img.body-section--image(src="/images/2015/rendezvous.jpg" alt="Superior Room at the Rendezvous")

    %p Superior Room at a Room only rate of $180.00, with the option of including breakfast for an additional $20 per person. To book call <strong>+61 3 9250 1888</strong> or email <a href="mailto:res.melbourne@rendezvoushotels.com">res.melbourne@rendezvoushotels.com</a> and quote "<strong>Ruby Conf Australia 2015</strong>" to have access to these special rates. You can also <a href="https://gc.synxis.com/rez.aspx?hotel=62270&Chain=14687&locale=en-US&promo=TH1328967&arrive=02/04/2015">book online</a> using the Login Code: TH1328967

    %p <strong><a href="http://www.theswanstonhotel.com.au/">The Swanston Hotel - Grand Mercure</a></strong><br />265 Little Bourke St, Melbourne

    %p
      %img.body-section--image(src="/images/2015/mercure.jpg" alt="Room at The Swanston Hotel")

    %p Standard Rooms are available at rate of $199 (4th & 5th) and $229 (6th), with an option of including breakfast for an additional $15 per person. You can <a href="http://accorasiapacificpartners.com/RubyConf2015">book online</a> or call <strong>+61 3 8662 1312</strong> and quote "<strong>Ruby Conf Australia 2015</strong>" to have access to these special rates.

  %section.body-section--content
    %p Of course, there are plenty of other options you may wish to explore! Some good places to start with are <a href="https://www.airbnb.com.au/s/Melbourne-CBD--Victoria--Australia">Airbnb</a>, <a href="http://www.wotif.com/hotels/landmarks/australia/federation-square-hotels.html">Wotif</a>, and <a href="http://www.booking.com/district/au/melbourne/cbd.en-gb.html">Booking.com</a>.

    %p Public transport in Melbourne is (mostly) reliable, so you could always stay further afield and take a train or tram into the city. Fitzroy, Collingwood, North Melbourne, Richmond and South Yarra are suburbs that are all quite close with decent transport options. <strong>Flinders Street Station</strong> (which all trains travel to/from) is just across the road from Federation Square, the complex that includes Deakin Edge (our venue).

    %p Feel free to send us questions <a href="https://twitter.com/rubyconf_au">on Twitter</a> or <a href="mailto:organisers@rubyconf.org.au">by email</a> if you're unsure which options will suit you best.
