%div
  = haml :'2015/_header'

  .content-page__header
    %h1 Social Events
    %p We’ve organised a raft of events to see Melbourne and enjoy quality time with your fellow Rubyists.
    %p The first event is the opening party on Wednesday 4<sup>th</sup> Feb, and the last events are the closing picnic and after party on Saturday 7<sup>th</sup>.

  .events-page

    #party.events-page__event.body-section--content
      %h2 Opening Party
      %p.sponsor Sponsored by <a href="#">Company</a>
      %p.when Wed 4<sup>th</sup> Feb, 7pm – 10pm
      .photo
        <img src="/images/2015/events/trunk-town.jpg" alt="Trunk Bar &amp; Restaurant">
      %p Whether you are joining us for a full day of workshops on Wednesday 4 February, travelling from near or far or just coming in from the burbs, make sure you join us in the evening to kick off Ruby Conf 2015 with our massive opening party at Trunk Bar & Restaurant. Along with our sponsor, REA Group we would like to invite you to join us for a relaxed night of good food and drink while you reacquaint yourself with old colleagues, network with some new faces and get together to chat about the days to come.
      %p Fee of charge – booking required!
      .where
        %p
          Trunk Bar &amp; Restaurant<br>
          275 Exhibition St, Melbourne
      %p <a class="button" href="#">Book opening party</a>

    #melb-by-night.events-page__event.body-section--content
      %h2 Melbourne by&nbsp;Night
      %p.sponsor Sponsored by <a href="#">Company</a>
      %p.when Thu 5<sup>th</sup> Feb, 8pm – 12am
      .photo
        <img src="/images/2015/events/rooftop-cinema.jpg" alt="Rooftop Bar &amp; Cinema">
      %p After our first day of conferencing it is time to relax and unwind in true Melbournian style at a roof top bar! Thanks to our sponsor Red Bubble we have secured an exclusive screening of WHICH MOVIE? for you to watch while enjoying the sites of Melbourne from a height.  Grab a bit to eat before climbing the 7 odd flights of seats up to this hidden gem of Melbourne (there is a lift, but it takes ages!). Food and drinks available at bar prices.
      %p
        Free of charge - booking required!
      .where
        %p
          Rooftop Bar &amp; Cinema<br>
          7/252 Swanston St, Melbourne VIC 3000
      %p <a class="button" href="#">Book Melbourne by Night</a>

    #fri-night-dinner.events-page__event.body-section--content
      %h2 Friday Night Dinner
      %p.when ...
      .photo
        <img src="/images/2015/events/hutong.jpg" alt="TODO">
        %p.credit Photo credit: <a href="https://www.flickr.com/photos/haynes/4873220387">Charles Haynes</a>
      %p ...

    #healesville.events-page__event.body-section--content
      %h2 Healesville Sanctuary
      %p.when ...
      .photo
        <img src="/images/2015/events/healesville.jpg" alt="TODO">
        %p.credit Photo credit: <a href="https://www.flickr.com/photos/rcoxxie/12880317245/">Robyn Cox</a>

    #bike-ride.events-page__event.body-section--content
      %h2 Melbourne Bike Ride
      %p.when ...
      .photo
        <img src="/images/2015/events/bike-ride.jpg" alt="TODO">
        %p.credit Photo credit: <a href="https://www.flickr.com/photos/fernando/3361521838/">Fernando de Sousa</a>

    #city-tour.events-page__event.body-section--content
      %h2 Melbourne City Tour
      %p.when ...
      .photo
        <img src="/images/2015/events/city-tour.jpg" alt="TODO">
        %p.credit Photo credit: <a href="https://www.flickr.com/photos/joshua/1154562">Joshua Rappeneker</a>

    #hack-day.events-page__event.body-section--content
      %h2 Hack Day
      %p.when ...
      .photo
        <img src="/images/2015/events/hack-day.jpg" alt="TODO">
        %p.credit Photo credit: <a href="https://www.flickr.com/photos/re-publica/14105167452/">re:publica</a>

    #picnic.events-page__event.body-section--content
      %h2 Closing Picnic
      %p.when ...
      .photo
        <img src="/images/2015/events/picnic.jpg" alt="TODO">
        %p.credit Photo credit: <a href="https://www.flickr.com/photos/valberg/3551649662/">Valberg Lárusson</a>

    #after-party.events-page__event.body-section--content
      %h2 After Party
      %p.when ...
      .photo
        <img src="/images/2015/events/after-party.jpg" alt="TODO">
        %p.credit Photo credit: <a href="https://www.flickr.com/photos/ssandars/55135988/">Scott Sandars</a>
