%div
  = haml :'2015/_header'

  .content-page__header
    %h1 Social Events
    %p We’ve organised a raft of events to see Melbourne and enjoy quality time with your fellow Rubyists.
    %p The first event is the opening party on Wednesday 4<sup>th</sup> Feb, and the last events are the closing picnic and after party on Saturday 7<sup>th</sup>.

  .events-page

    #party.events-page__event.body-section--content
      %h2 Opening Party
      %p.sponsor Sponsored by <a href="http://www.rea-group.com/">REA Group</a>
      %p.when Wed 4<sup>th</sup> Feb, 7pm – 10pm
      .photo
        <img src="/images/2015/events/trunk-town.jpg" alt="Trunk Bar &amp; Restaurant">
      %p.description Whether you are joining us for a full day of workshops on Wednesday 4 February, travelling from near or far or just coming in from the burbs, make sure you join us in the evening to kick off Ruby Conf 2015 with our massive opening party at Trunk Bar &amp; Restaurant. Along with our sponsor, REA Group we would like to invite you to join us for a relaxed night of good food and drink while you reacquaint yourself with old colleagues, network with some new faces and get together to chat about the days to come.
      %p.where
        Wed 4<sup>th</sup> Feb, 7pm<br>
        Trunk Bar &amp; Restaurant<br>
        275 Exhibition St<br>
        Melbourne
      %p.cost Fee of charge – booking required!
      %p.book <a class="button" href="#">Book Opening Party</a>

    #melb-by-night.events-page__event.body-section--content
      %h2 Melbourne by&nbsp;Night
      %p.sponsor Sponsored by <a href="http://www.redbubble.com/">Redbubble</a>
      %p.when Thu 5<sup>th</sup> Feb, 8pm – 12am
      .photo
        <img src="/images/2015/events/rooftop-cinema.jpg" alt="Rooftop Bar &amp; Cinema">
      %p.description After our first day of conferencing it is time to relax and unwind in true Melbournian style at a roof top bar! Thanks to our sponsor Red Bubble we have secured an exclusive screening of the Aaron Schwartz Documentary, The Internet’s Own Boy for you to watch while enjoying the sites of Melbourne from a height.  Grab a bit to eat before climbing the 7 odd flights of stairs up to this hidden gem of Melbourne (there is a lift, but it takes ages!). Movie starts at 9.30 sharp and your first drink is on us!
      %p.where
        Thu 5<sup>th</sup> Feb, 8pm<br>
        Rooftop Bar &amp; Cinema<br>
        7/252 Swanston St<br>
        Melbourne
      %p.cost Free of charge - booking required!
      %p.book <a class="button" href="#">Book Melbourne by Night</a>

    #fri-night-dinner.events-page__event.body-section--content
      %h2 Friday Night Dinner
      %p.sponsor Sponsored by <a href="http://ruby.org.au/">Ruby Australia</a>
      %p.when Fri 6<sup>th</sup> Feb
      .photo
        <img src="/images/2015/events/hutong.jpg" alt="Dumplings">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/haynes/4873220387">Charles Haynes</a>
      %p.description Nothing to do on Friday night? How about joining some of our speakers at an intimate dinner for 10-20 people? We have booked some of the best restaurants in Melbourne for you to have a chance to speak to colleagues and speakers in a more intimate environment. All dinners are set menus and drinks can be purchased separately. A full list of restaurants and speakers participating will be released shortly, but in the meantime, make sure you grab your ticket before they sell out! Only 10 dinners available at restaurants such as Hu Tong Dumplings (Chinese), Izakaya Den (Japanese), Bomba Downstairs (Spanish), Gazi (Greek), G2 Korean BBQ (Korean) and Cookie (Thai).
      %p.where
        Fri 6<sup>th</sup> Feb<br>
        Various Venues &amp; Times<br>
        Melbourne City
      %p.cost $25 per person – booking required!
      %p.book <a class="button" href="#">Book Friday Night Dinner</a>

    #healesville.events-page__event.body-section--content
      %h2 Healesville Sanctuary
      %p.when Sat 7<sup>th</sup> Feb, 10am – 4pm
      .photo
        <img src="/images/2015/events/healesville.jpg" alt="Koala">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/rcoxxie/12880317245/">Robyn Cox</a>
      %p.description Healesville Sanctuary is a zoo specializing in native Australian animals located 1 hour out of Melbourne in beautiful Healesville. With a history of breeding native animals and the reputation of being the most hands-on of all the Victorian Zoos to experience, a trip to the Sanctuary is a must for anyone visiting from out of town. We are coving the bus and tickets to the Sanctuary can be purchased on the day when you arrive for $30.80. Healesville is known for its great food and there are a number of cafés within the Sanctuary that you can visit for lunch or bring a picnic with you. Just make sure you are back on the bus at 3pm to be dropped off back in Melbourne!
      %p.where
        Sat 7<sup>th</sup> Feb, 10am<br>
        Departing from Federation Square<br>
        (Russell St Extension)<br>
        Corner of Flinders St &amp; Russell St<br>
        Melbourne
      %p.cost Free of charge – booking required!
      %p.book <a class="button" href="#">Book Healesville Sanctuary</a>

    #bike-ride.events-page__event.body-section--content
      %h2 Melbourne Bike Ride
      %p.when Sat 7<sup>th</sup> Feb, 9am – 1pm
      .photo
        <img src="/images/2015/events/bike-ride.jpg" alt="Bicycles">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/fernando/3361521838/">Fernando de Sousa</a>
      %p.description Hit the pavement for a ride along Beach Rd and stop for a coffee in St Kilda. Join local Ruby devs Gareth (<a href="https://twitter.com/quamen">@quamen</a>) and Gus (<a href="https://twitter.com/gusgollings">@gusgollings</a>) on an easy ride from Federation Square to St Kilda and back again for lunch. If you don’t have a bike, you can always hire one from <a href="http://www.bikenow.com.au/hire/">bikeNOW</a>, <a href="http://www.tokyobike.com.au/hire-bike/">Tokyobike</a>, <a href="http://www.rentabike.net.au/">Rentabike</a>, <a href="http://www.stkildacycles.com.au/index.php/bike-hire/">St Kilda Cycles</a>, and the <a href="http://www.melbournebikeshare.com.au/">Melbourne Bike Share</a> service.
      %p.where
        Sat 7<sup>th</sup> Feb, 9am<br>
        Departing from Federation Square<br>
        (Russell St Extension)<br>
        Corner of Flinders St &amp; Russell St<br>
        Melbourne
      %p.cost Free of charge – booking required!
      %p.book <a class="button" href="#">Book Melbourne Bike Ride</a>

    #city-tour.events-page__event.body-section--content
      %h2 Melbourne City Tour
      %p.when Sat 7<sup>th</sup> Feb, 11am – 2pm
      .photo
        <img src="/images/2015/events/city-tour.jpg" alt="Degreaves">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/joshua/1154562">Joshua Rappeneker</a>
      %p.description If you haven’t yet had a chance to visit this great city, or you just want to see a different side of Melbourne you haven’t yet discovered join Ruby Conf organiser, Melissa Kaulfuss on a tour of some of her favourite sites. You will discover some of the best street art; check out the Block Arcade, one of the finest examples of a 19th-century shopping arcade on the planet! Take in a gallery and sit down to a sumptuous lunch. Best part is any or all of the tour can be changed on the day depending on what people want to discover! Tour is free and all expenses (including lunch) will needs to be covered by delegates on the day.
      %p.where
        Sat 7<sup>th</sup> Feb, 11am<br>
        Departing from Federation Square<br>
        On the steps - Corner of Flinders St &amp; Swanston St<br>
        Melbourne
      %p.cost Free of charge – booking required!
      %p.book <a class="button" href="#">Book Melbourne City Tour</a>

    #hack-day.events-page__event.body-section--content
      %h2 Hack Day
      %p.when Sat 7<sup>th</sup> Feb, 10am – 3pm
      .photo
        <img src="/images/2015/events/hack-day.jpg" alt="Hack day">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/re-publica/14105167452/">re:publica</a>
      %p.description Something something
      %p.where
        Sat 7<sup>th</sup> Feb, 10am<br>
        TBA
      %p.cost Free of charge – booking required!
      %p.book <a class="button" href="#">Register for Hack Day</a>

    #picnic.events-page__event.body-section--content
      %h2 Closing Picnic
      %p.when Sat 7<sup>th</sup> Feb, 4.30pm – 8.30pm
      .photo
        <img src="/images/2015/events/picnic.jpg" alt="Flagstaff gardens">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/valberg/3551649662/">Valberg Lárusson</a>
      %p.description Bring your family, bring your friends, bring a picnic rug and join for a relaxed evening at Melbourne’s oldest public park. After a day full of activities it is time to come back together for some laughs and games as we bring the 2015 Ruby Conference to a close. Dinner can be purchased on the day from a selection of Melbourne’s favourite food vans including Beat Box Kitchen and Beat Box Burgers.
      %p.where
        Sat 7<sup>th</sup> Feb, 4.30pm<br>
        Flagstaff Gardens<br>
        Corner of Williams St &amp; La Trobe St<br>
        Melbourne
      %p.cost Free of charge – booking required!
      %p.book <a class="button" href="#">Book Closing Picnic</a>

    #after-party.events-page__event.body-section--content
      %h2 After Party
      %p.when Sat 7<sup>th</sup> Feb, 8pm - late
      .photo
        <img src="/images/2015/events/after-party.jpg" alt="Lawn Bowls">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/ssandars/55135988/">Scott Sandars</a>
      %p.description After relaxing in the last of the daytime sun we would love to have you join us for a few rounds of barefoot bowls at the City of Melbourne Bowling Club. Located within the Flagstaff Garden’s our after party is a great place to unwind after the kids have gone home and the games have been put away to have a drink and chat about all that you’ve learnt and experienced at Ruby Conf 2015. Drinks can be purchased at bar prices.
      %p.where
        Sat 7<sup>th</sup> Feb, 8pm<br>
        City of Melbourne Bowling Club<br>
        Within Flagstaff Gardens near Dudley St<br>
        Melbourne
      %p.cost Free of charge – booking required!
      %p.book <a class="button" href="#">Book After Party</a>