- @page_title = "RubyConf Australia 2015 Events"

%div
  = haml :'2015/_header'

  .content-page__header
    %h1 Social Events
    %p We’ve organised a raft of events to see Melbourne and enjoy quality time with your fellow Rubyists.
    %p The first event is the opening party on Wednesday 4<sup>th</sup> Feb, and the last events are the closing picnic and after party on Saturday 7<sup>th</sup>, with plenty of fun in-between!
    %p <strong>Please note</strong>: we're working hard to get booking for these events online, but it's not quite ready yet. Anyone with a conference ticket will be given an opportunity to book before everyone else.

  .events-page
    #party.events-page__event.body-section--content
      %h2 Opening Party
      %p.sponsor Sponsored by <a href="http://www.rea-group.com/">REA Group</a>
      %p.when Wed 4<sup>th</sup> Feb, 7pm – 10pm
      .photo
        <img src="/images/2015/events/trunk-town.jpg" alt="Trunk Bar &amp; Restaurant">
      %p.description Whether you are joining us for a full day of workshops on Wednesday 4 February, travelling from near or far or just coming in from the burbs, make sure you join us in the evening to kick off RubyConf Australia 2015 with our massive opening party at Trunk Bar &amp; Restaurant. Along with our sponsor REA Group, we would like to invite you to join us for a relaxed night of good food and drink while you re-acquaint yourself with old colleagues, network with some new faces and get together to chat about the days to come.
      %p.where
        Wed 4<sup>th</sup> Feb, 7pm<br>
        Trunk Bar &amp; Restaurant<br>
        275 Exhibition St<br>
        Melbourne
      %p.cost Free of charge, including food and drink. Booking is required!

    #melb-by-night.events-page__event.body-section--content
      %h2 Melbourne by&nbsp;Night
      %p.sponsor Sponsored by <a href="http://www.redbubble.com/">Redbubble</a>
      %p.when Thu 5<sup>th</sup> Feb, 8pm – 12am
      .photo
        <img src="/images/2015/events/rooftop-cinema.jpg" alt="Rooftop Bar &amp; Cinema">
      %p.description After our first day of conferencing it is time to relax and unwind in true Melbournian style at a rooftop bar! Thanks to our sponsor Red Bubble we have secured the Rooftop Cinema at Curtin House for a screening of the Aaron Swartz documentary, The Internet’s Own Boy. Sit back and enjoy the show while taking in the sights of Melbourne from a height.
      %p.description Grab a bite to eat before climbing the 7 odd flights of stairs up to this hidden gem of Melbourne (there is a lift, but it takes ages!). Movie starts at 9.30 sharp and your first drink is on us!
      %p.where
        Thu 5<sup>th</sup> Feb, 8pm<br>
        Rooftop Bar &amp; Cinema<br>
        7/252 Swanston St<br>
        Melbourne
      %p.cost Free of charge for the movie, and drinks and snacks can be purchased at the bar. Places are limited, so book now!

    #fri-night-dinner.events-page__event.body-section--content
      %h2 Friday Night Dinners
      %p.when Fri 6<sup>th</sup> Feb
      .photo
        <img src="/images/2015/events/hutong.jpg" alt="Dumplings">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/haynes/4873220387">Charles Haynes</a>
      %p.description Friday night is always busy in Melbourne, and it can be hard to find a spot to eat. We're going to make it a little easier for you, as we've booked a bunch of tables at fantastic restaurants across the CBD with cuisines ranging from Thai to Spanish, Japanese to Greek, and more!

      %p.description This is a great opportunity to connect with conference speakers and attendees in a more informal and personal setting, and the conference will even chip in to help cover some of your dinner.

      %p.where
        Fri 6<sup>th</sup> Feb<br>
        Various Venues &amp; Times<br>
        Melbourne City
      %p.cost $25 per person - remaining dinner cost is covered by the conference (but drinks are not included). Places are limited, so book now!

    #healesville.events-page__event.body-section--content
      %h2 Healesville Sanctuary
      %p.when Sat 7<sup>th</sup> Feb, 9am – 4pm
      .photo
        <img src="/images/2015/events/healesville.jpg" alt="Koala">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/rcoxxie/12880317245/">Robyn Cox</a>
      %p.description Healesville Sanctuary is a zoo specializing in native Australian animals located one hour out of Melbourne in beautiful Healesville. With a history of breeding native animals and the reputation of being the most hands-on of all the Victorian Zoos to experience, a trip to the Sanctuary is a must for anyone visiting from out of town. Your guide for this trip will be Rubyist <a href="https://twitter.com/notahat">Pete Yandell</a>.

      %p.description The bus trip is on us, and tickets to the Sanctuary can be purchased on the day when you arrive for $30.80. Healesville is known for its great food and there are a number of cafés within the Sanctuary that you can visit for lunch or bring a picnic with you.

      %p.where
        Sat 7<sup>th</sup> Feb, 9am<br>
        Departing from Federation Square<br>
        (Russell St Extension)<br>
        Corner of Flinders St &amp; Russell St<br>
        Melbourne
      %p.cost Free of charge for the bus trip, but tickets to the Sanctuary are not included. Places are limited, so book now!

    #bike-ride.events-page__event.body-section--content
      %h2 Melbourne Bike Ride
      %p.when Sat 7<sup>th</sup> Feb, 9am – 1pm
      .photo
        <img src="/images/2015/events/bike-ride.jpg" alt="Bicycles">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/fernando/3361521838/">Fernando de Sousa</a>
      %p.description After spending two days sitting down listening to our wonderful speakers, it's time to give those legs a stretch. Hit the pavement for a ride along Beach Rd and stop for a coffee in St Kilda. Join local Rubyists <a href="https://twitter.com/quamen">Gareth Townsend</a> and <a href="https://twitter.com/gusgollings">Gus Gollings</a> on an easy ride from Federation Square to St Kilda and back again for lunch.

      %p.description If you don’t have a bike, you can always hire one from <a href="http://www.bikenow.com.au/hire/">bikeNOW</a>, <a href="http://www.tokyobike.com.au/hire-bike/">Tokyobike</a>, <a href="http://www.rentabike.net.au/">Rentabike</a>, <a href="http://www.stkildacycles.com.au/index.php/bike-hire/">St Kilda Cycles</a>, or the <a href="http://www.melbournebikeshare.com.au/">Melbourne Bike Share</a> service.
      %p.where
        Sat 7<sup>th</sup> Feb, 9am<br>
        Departing from Federation Square<br>
        (Russell St Extension)<br>
        Corner of Flinders St &amp; Russell St<br>
        Melbourne
      %p.cost Free of charge to attend, but food, drink and bike hire is not included. Places are limited, so book now!

    #city-tour.events-page__event.body-section--content
      %h2 Melbourne City Tour
      %p.when Sat 7<sup>th</sup> Feb, 11am – 2pm
      .photo
        <img src="/images/2015/events/city-tour.jpg" alt="Degreaves">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/joshua/1154562">Joshua Rappeneker</a>
      %p.description If you haven’t yet had a chance to visit this great city, or you just want to see a different side of Melbourne you haven’t yet discovered join RubyConf organisers <a href="https://twitter.com/melissakaulfuss">Melissa Kaulfuss</a> and <a href="https://twitter.com/pat">Pat Allan</a> on a walking tour of some of their favourite sites.

      %p.description Bring your best walking shoes as we wander through the alleys and arcades of Melbourne, hunting down fine coffee, colourful street art and excellent gelato.

      %p.where
        Sat 7<sup>th</sup> Feb, 11am<br>
        Departing from Federation Square<br>
        On the steps - Corner of Flinders St &amp; Swanston St<br>
        Melbourne
      %p.cost Free of charge to attend, but food and drink is not included. Places are limited, so book now!

    #hack-day.events-page__event.body-section--content
      %h2 Hack Day
      %p.sponsor Sponsored by <a href="https://reinteractive.net">reinteractive</a>
      %p.when Sat 7<sup>th</sup> Feb, 10am – 3pm
      .photo
        <img src="/images/2015/events/hack-day.jpg" alt="Hack day">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/re-publica/14105167452/">re:publica</a>
      %p.description After all the learning you've done at the conference, we wouldn't blame you if you're itching to put that theory into practice and fire up your favourite text editor. We'll provide a space for you to code away to your heart's content with other like minds from the conference.
      %p.where
        Sat 7<sup>th</sup> Feb, 10am<br>
        TBA
      %p.cost Free of charge to attend, though lunch is not included. Places are limited, so book now!

    #picnic.events-page__event.body-section--content
      %h2 Closing Picnic
      %p.sponsor Sponsored by <a href="https://reinteractive.net">reinteractive</a>
      %p.when Sat 7<sup>th</sup> Feb, 4.30pm – 8.30pm
      .photo
        <img src="/images/2015/events/picnic.jpg" alt="Flagstaff gardens">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/valberg/3551649662/">Valberg Lárusson</a>
      %p.description It's the pièce de résistance - we've lined up some of Melbourne's best food trucks and tasty treats (including the Beat Box Kitchen and Taco Truck) for a bunch of fun in the green surrounds of Flagstaff Gardens.

      %p.description Bring your family, bring your friends, bring a picnic rug and a frisbee, and join us for a relaxed and kid-friendly evening at Melbourne’s oldest public park to celebrate the close of the conference and the Australian Ruby community.

      %p.where
        Sat 7<sup>th</sup> Feb, 4.30pm<br>
        Flagstaff Gardens<br>
        Corner of Williams St &amp; La Trobe St<br>
        Melbourne
      %p.cost Free of charge to attend, though food and drink is not included. Please note that this is a dry event (no alcohol), and booking is required.

    #after-party.events-page__event.body-section--content
      %h2 After Party
      %p.sponsor Sponsored by <a href="https://reinteractive.net">reinteractive</a>
      %p.when Sat 7<sup>th</sup> Feb, 8pm - late
      .photo
        <img src="/images/2015/events/after-party.jpg" alt="Lawn Bowls">
        %p.credit Photo: (cc) <a href="https://www.flickr.com/photos/ssandars/55135988/">Scott Sandars</a>
      %p.description The final stamp for your conference passport: once the sun has gone down and the picnic's wrapped up, drop by the Melbourne Bowling Club (conveniently also located in Flagstaff Gardens) for a drink and a game or two of lawn bowls.

      %p.where
        Sat 7<sup>th</sup> Feb, 8pm<br>
        City of Melbourne Bowling Club<br>
        Within Flagstaff Gardens near Dudley St<br>
        Melbourne
      %p.cost Free of charge to attend, and there's a bar tab. Booking is required.
