%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span>RubyConf</span> <span>Australia</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">5</span></span>
      %p On the 5—6th February leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city <span>Melbourne</span> <span>Australia</span>
      %h3.body-section--event-header__date 4-7 February 2015
    .body-section--event-header__tickets
      - if Time.now.utc >= Time.gm(2014, 9, 19, 1, 0)
        %tito-button{event:"ruby-australia/rubyconf-au"} Buy your ticket
      - else
        .button Tickets available 11:00AM AEST 19th September.

%section.site-nav
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#schedule") Schedule
  %a(href="#workshops") Workshops
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  -# %a(href="#news") News
  %a(href="#contact") Contact

#after-nav

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2015/deakin-edge.jpg'}
  %p All the conference sessions will be held at the amazing Deakin Edge theatre in Federation Square Melbourne CBD, 1 minute walk from Flinders St station.
  %p <a href="https://goo.gl/maps/yE1eX" class="button">Directions</a>

  %p Looking for places to stay? We've put together a helpful <a href="/2015/accommodation">accommodation guide</a> you might find helpful.

%section#speakers.body-section--content
  %h2 Speakers
  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Collis Ta’eed
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/collistaeed.png" alt="Photo of Collis")
      %div.speaker__bio
        %p Collis is the CEO and co-founder of Australian startup Envato. A designer by trade, Collis is also an avid writer, entrepreneur and product guy. Together with his co-founders, Collis has bootstrapped Envato all the way to 250 staff and more than $200m paid out to designers and developers all around the world.
      %ol.speaker__links
        %li
          %a(href="http://envato.com/") envato.com
        %li
          %a(href="https://twitter.com/collis") @collis
    %div.grid__cell.speaker
      %h3.speaker__name Linda Liukas
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/lindaliukas.png" alt="Photo of Linda")
      %div.speaker__bio
        %p Linda is the author and illustrator of Hello Ruby, a childrens picture book about the whimsical world of computers, as well as the founder of Rails Girls, a global movement to teach young women programming in over 220 cities. She loves Muji, Zelda Fitzgerald, software and sparkly things.
      %ol.speaker__links
        %li
          %a(href="http://lindaliukas.fi/") lindaliukas.fi
        %li
          %a(href="https://twitter.com/lindaliukas") @lindaliukas
    %div.grid__cell.speaker
      %h3.speaker__name Tom Stuart
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/tomstuart.png" alt="Photo of Linda")
      %div.speaker__bio
        %p Tom is a computer scientist and programmer. He has lectured on optimising compilers at the University of Cambridge, co-organises the Ruby Manor conference, and is a member of the London Ruby User Group. His latest book, Understanding Computation, was published by O'Reilly in 2013.
      %ol.speaker__links
        %li
          %a(href="http://lindaliukas.fi/") codon.com
        %li
          %a(href="https://twitter.com/tomstuart") @tomstuart
    %div.grid__cell.speaker
      %h3.speaker__name Rachel Myers
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/rachelmyers.png" alt="Photo of Rachel")
      %div.speaker__bio
        %p Rachel’s a developer at GitHub who loves Ruby, JavaScript, RailsBridge, and monitoring all the things!
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/rachelmyers") @rachelmyers
    %div.grid__cell.speaker
      %h3.speaker__name Steve Klabnik
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/steveklabnik.jpg" alt="Photo of Steve")
      %div.speaker__bio
        %p Steve has a voracious appetite for writing, reading, programming and philosophy. You can find his prints on a large number of Ruby gems—from Ruby on Rails to Hackety Hack—and suffers from what seems to be permanent jetlag.
      %ol.speaker__links
        %li
          %a(href="http://steveklabnik.com") steveklabnik.com
        %li
          %a(href="https://twitter.com/steveklabnik") @steveklabnik
    %div.grid__cell.speaker
      %h3.speaker__name Sarah Mei
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/sarahmei.jpg" alt="Photo of Sarah")
      %div.speaker__bio
        %p Sarah likes code, especially when there's a lot of it. She's been working with Ruby and JavaScript since before they were a big deal, and with software in general for almost two decades, and is currently Chief Consultant at DevMynd.
      %ol.speaker__links
        %li
          %a(href="http://sarahmei.com") sarahmei.com
        %li
          %a(href="https://twitter.com/sarahmei") @sarahmei
    %div.grid__cell.speaker
      %h3.speaker__name Coraline Ada Ehmke
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/coralineehmke.jpg" alt="Photo of Coraline")
      %div.speaker__bio
        %p Coraline is an intersectional technologist with a passion for mentoring, learning, refactoring, and developing artificially intelligent IRC bots. She's a senior engineer at Instructure, developing software used by millions of students and teachers.
      %ol.speaker__links
        %li
          %a(href="http://where.coraline.codes") where.coraline.codes
        %li
          %a(href="https://twitter.com/CoralineAda") @CoralineAda
    %div.grid__cell.speaker
      %h3.speaker__name Joseph Wilk
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/josephwilk.jpg" alt="Photo of Joseph")
      %div.speaker__bio
        %p Joseph Wilk works as an engineer at SoundCloud helping shape the future of music. He performs live coding as Repl Electric, exploring programming as a performance and its interaction with other art forms, while also working as one of the Sonic Pi Core Team helping bring music through Ruby to everyone.
      %ol.speaker__links
        %li
          %a(href="http://blog.josephwilk.net") blog.josephwilk.net
        %li
          %a(href="https://twitter.com/josephwilk") @josephwilk
    %div.grid__cell.speaker
      %h3.speaker__name And more!
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/#{@speaker}" alt="Random speaker selection")
      %div.speaker__bio
        %p <a href="/2015/speakers">View the full array of speakers here</a>.

%section#schedule.body-section--content
  %h2 Schedule
  %p Conference sessions are yet to be announced, but will be February 5 and 6.
  %p Our <a href="/2015/speakers">speakers</a> are now confirmed, but the times of each session aren't yet locked in.

%section#workshops.body-section--content
  %h2 Workshops
  %p Workshops will be on the 4th of February, and tickets will be separate from the conference sessions. Rails Girls will be one of the workshops, but the rest of the line-up is still to be announced. If you have a workshop idea we’d love to hear it.
  %p <a href="http://cfp.rubyconf.org.au/events/2015-workshops" class="button">Submit a workshop proposal</a>

  %h3 Rails Girls Next
  %p Join us and continue the learning you started at Rails Girls. Since you have Ruby installed already, we can jump right in!
  %p We've organised three mentor-led tutorials that will help you dive deeper into the world of professional development with Ruby. Tutorials include a look at some of Ruby's more advanced features and syntax, building a Sinatra app and deploying it, test-driven development and more.
  %p Lastly, you will gain a greater appreciation of development work procedures by pairing up to solve coding challenges and using Git for version control.
  %p To read more check out <a href="https://twitter.com/railsgirls_au">@railsgirls_au</a>

%section#sponsors.body-section--content
  %h2 Sponsors
  %p RubyConf AU Melbourne 2015 is made possible through the generous support of our sponsors. If your company is interested in sponsoring this conference, have a read of what's involved and then get in touch.
  %p <a class="button" href="/2015/sponsorship">Sponsorship details</a>

-# %section#news.body-section--content
-#   %h2 News
-#   %p ...

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyConf Australia is run under the auspices of Ruby Australia. You can view our <a href="/2015/policies#code">code of conduct</a> and <a href="/2015/policies#anti-harassment">our anti-harrassment policy</a>. These rules must be followed by all attendees at all conference-related events.
