%section.body-section--event-header
  %a.skip-nav(href="#after-nav") Skip navigation
  .body-section--event-header__inner
    %hgroup
      %h1.body-section--event-header__event <span>RubyConf</span> <span>Australia</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">5</span></span>
      %p On the 4th to 7th February 2015, leading Ruby developers from around the world will come together to share, inspire and learn.
      %h2.body-section--event-header__city <span>Melbourne</span> <span>Australia</span>
      %h3.body-section--event-header__date 4-7<sup>th</sup> February 2015
    .body-section--event-header__tickets
      %a.button(href="#attending") Sold Out!

%section.site-nav
  %a(href="#attending") Attending
  %a(href="#venue") Location
  %a(href="#speakers") Speakers
  %a(href="#conference") Conference
  %a(href="#events") Social Events
  %a(href="#workshops") Workshops
  %a(href="#sponsors") Sponsors
  %a(href="#conduct") Code of Conduct
  %a(href="#contact") Contact

#after-nav

%section#attending.body-section--attending
  %h2 Attending

  %p RubyConf Australia is an inclusive conference and as such strives to be <a href="/2015/policies#code">welcoming</a> and <a href="/2015/accessibility">accessible</a> to as many people as possible.

  %p We have now <strong>sold out</strong> - but if you're keen to join us, let us know and we'll put you on our waiting list.
  %a.button(href="mailto:organisers@rubyconf.org.au?subject=Waiting List") Join the Waiting List

%section#venue.body-section--venue
  %h2 Location
  %img.body-section__header-image{src:'/images/2015/deakin-edge.jpg'}
  %p All the conference sessions will be held at the amazing Deakin Edge theatre in Federation&nbsp;Square.
  %p <a href="https://goo.gl/maps/yE1eX" class="button">Directions</a>
  %p Federation Square is in the heart of the CBD and is easily accessible by a train to Flinders St Station or most trams. The closest car park is the <a href="http://www.wilsonparking.com.au/go/wilson-car-parks/vic/federation-square">Federation Square car park</a> which is accessible from Russell Street and Batman&nbsp;Avenue.
  %p Looking for places to stay? We've put together a helpful <a href="/2015/accommodation">accommodation guide</a> you might find&nbsp;helpful.

%section#speakers.body-section--content
  %h2 Speakers
  %div.grid
    %div.grid__cell.speaker
      %h3.speaker__name Collis Ta’eed
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/collistaeed.png" alt="Photo of Collis")
      %div.speaker__bio
        %p Collis is the CEO and co-founder of Australian startup Envato. A designer by trade, Collis is also an avid writer, entrepreneur and product guy. Together with his co-founders, Collis has bootstrapped Envato all the way to 250 staff and more than $200m paid out to designers and developers all around the world.
      %ol.speaker__links
        %li
          %a(href="http://envato.com/") envato.com
        %li
          %a(href="https://twitter.com/collis") @collis
    %div.grid__cell.speaker
      %h3.speaker__name Linda Liukas
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/lindaliukas.png" alt="Photo of Linda")
      %div.speaker__bio
        %p Linda is the author and illustrator of Hello Ruby, a childrens picture book about the whimsical world of computers, as well as the founder of Rails Girls, a global movement to teach young women programming in over 220 cities. She loves Muji, Zelda Fitzgerald, software and sparkly things.
      %ol.speaker__links
        %li
          %a(href="http://lindaliukas.fi/") lindaliukas.fi
        %li
          %a(href="https://twitter.com/lindaliukas") @lindaliukas
    %div.grid__cell.speaker
      %h3.speaker__name Tom Stuart
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/tomstuart.jpg" alt="Photo of Tom")
      %div.speaker__bio
        %p Tom is a computer scientist and programmer. He has lectured on optimising compilers at the University of Cambridge, co-organises the Ruby Manor conference, and is a member of the London Ruby User Group. His latest book, Understanding Computation, was published by O'Reilly in 2013.
      %ol.speaker__links
        %li
          %a(href="http://lanyrd.com/2015/rubyconf-au/sdhhpc/") Session: Consider Static Typing.
        %li
          %a(href="http://codon.com") codon.com
        %li
          %a(href="https://twitter.com/tomstuart") @tomstuart
    %div.grid__cell.speaker
      %h3.speaker__name Rachel Myers
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/rachelmyers.png" alt="Photo of Rachel")
      %div.speaker__bio
        %p Rachel’s a developer at GitHub who loves Ruby, JavaScript, RailsBridge, and monitoring all the things!
      %ol.speaker__links
        %li
          %a(href="https://twitter.com/rachelmyers") @rachelmyers
    %div.grid__cell.speaker
      %h3.speaker__name Steve Klabnik
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/steveklabnik.jpg" alt="Photo of Steve")
      %div.speaker__bio
        %p Steve has a voracious appetite for writing, reading, programming and philosophy. You can find his prints on a large number of Ruby gems—from Ruby on Rails to Hackety Hack—and suffers from what seems to be permanent jetlag.
      %ol.speaker__links
        %li
          %a(href="http://steveklabnik.com") steveklabnik.com
        %li
          %a(href="https://twitter.com/steveklabnik") @steveklabnik
    %div.grid__cell.speaker
      %h3.speaker__name Sarah Mei
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/sarahmei.jpg" alt="Photo of Sarah")
      %div.speaker__bio
        %p Sarah likes code, especially when there's a lot of it. She's been working with Ruby and JavaScript since before they were a big deal, and with software in general for almost two decades, and is currently Chief Consultant at DevMynd.
      %ol.speaker__links
        %li
          %a(href="http://sarahmei.com") sarahmei.com
        %li
          %a(href="https://twitter.com/sarahmei") @sarahmei
    %div.grid__cell.speaker
      %h3.speaker__name Coraline Ada Ehmke
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/coralineehmke.jpg" alt="Photo of Coraline")
      %div.speaker__bio
        %p Coraline is an intersectional technologist with a passion for mentoring, learning, refactoring, and developing artificially intelligent IRC bots. She's a senior engineer at Instructure, developing software used by millions of students and teachers.
      %ol.speaker__links
        %li
          %a(href="http://lanyrd.com/2015/rubyconf-au/sdgtxh/") Session: Pre-factoring: Getting it (Closer to) Right the First Time.
        %li
          %a(href="http://where.coraline.codes") where.coraline.codes
        %li
          %a(href="https://twitter.com/CoralineAda") @CoralineAda
    %div.grid__cell.speaker
      %h3.speaker__name Joseph Wilk
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/josephwilk.jpg" alt="Photo of Joseph")
      %div.speaker__bio
        %p Joseph Wilk works as an engineer at SoundCloud helping shape the future of music. He performs live coding as Repl Electric, exploring programming as a performance and its interaction with other art forms, while also working as one of the Sonic Pi Core Team helping bring music through Ruby to everyone.
      %ol.speaker__links
        %li
          %a(href="http://blog.josephwilk.net") blog.josephwilk.net
        %li
          %a(href="https://twitter.com/josephwilk") @josephwilk
    %div.grid__cell.speaker--and-more
      %h3.speaker__name And more!
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/#{@speaker}" alt="Random speaker selection")
      %div.speaker__bio
        %p <a href="/2015/speakers" class="button">See them all</a>

%section#conference.body-section--content
  %h2 Conference
  %p Thursday 5<sup>th</sup> &amp; 6<sup>th</sup> Feb at the Deakin Edge Theatre, Federation Square.
  %p Schedule to be be announced!

%section#events.body-section--content
  %h2 Social Events
  %p We’ve organised a raft of events to see Melbourne and enjoy quality time with your fellow Rubyists.
  %p The first event is the opening party on Wednesday 4<sup>th</sup> Feb, and the last events are the closing picnic and after party on Saturday 7<sup>th</sup>.

  .event-grid.grid
    %a.event-grid__day.event-grid__day--party.grid__cell(href="/2015/events#party")
      .event-grid__day__inner
        %h3 Opening Party
        %p Wed 4<sup>th</sup> Feb
    %a.event-grid__day.event-grid__day--by-night.grid__cell(href="/2015/events#melb-by-night")
      .event-grid__day__inner
        %h3 Melbourne by&nbsp;Night
        %p Thu 5<sup>th</sup> Feb
    %a.event-grid__day.event-grid__day--fri-dinner.grid__cell(href="/2015/events#fri-night-dinner")
      .event-grid__day__inner
        %h3 Friday Night Dinners
        %p Fri 6<sup>th</sup> Feb
    %a.event-grid__day.event-grid__day--healesville.grid__cell(href="/2015/events#healesville")
      .event-grid__day__inner
        %h3 Healesville Sanctuary
        %p Sat 7<sup>th</sup> Feb
    %a.event-grid__day.event-grid__day--bike.grid__cell(href="/2015/events#bike-ride")
      .event-grid__day__inner
        %h3 Melbourne Bike Ride
        %p Sat 7<sup>th</sup> Feb
    %a.event-grid__day.event-grid__day--city-tour.grid__cell(href="/2015/events#city-tour")
      .event-grid__day__inner
        %h3 Melbourne City Tour
        %p Sat 7<sup>th</sup> Feb
    %a.event-grid__day.event-grid__day--hack-day.grid__cell(href="/2015/events#hack-day")
      .event-grid__day__inner
        %h3 Hack Day
        %p Sat 7<sup>th</sup> Feb
    %a.event-grid__day.event-grid__day--picnic.grid__cell(href="/2015/events#picnic")
      .event-grid__day__inner
        %h3 Closing Picnic
        %p Sat 7<sup>th</sup> Feb
    %a.event-grid__day.event-grid__day--after-party.grid__cell(href="/2015/events#after-party")
      .event-grid__day__inner
        %h3 After Party
        %p Sat 7<sup>th</sup> Feb

%section#workshops.body-section--content
  %h2 Workshops

  %div.grid
    %div.grid__cell.speaker#paoloperrotta
      %h3.speaker__name Paolo Perrotta
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/paoloperrotta.jpg" alt="Photo of Paolo")
      %div.speaker__bio
        %p Paolo "Nusco" Perrotta is the author of Metaprogramming Ruby. He has fifteen years of experience as a developer, ranging from embedded to enterprise software, computer games, and web applications. Paolo lives a nomadic life, mentoring agile teams throughout Europe. He has a base camp in Bologna, Italy. He loves Ruby.
      %ol.speaker__links
        %li
          %a(href="http://lanyrd.com/2015/rubyconf-au/sdgqxp/") Workshop: Crash Into Ruby
        %li
          %a(href="http://ducktypo.blogspot.com") ducktypo.blogspot.com
        %li
          %a(href="https://twitter.com/nusco") @nusco
    %div.grid__cell.speaker#jonrowe
      %h3.speaker__name Jon Rowe
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/jonrowe.jpg" alt="Photo of Jon")
      %div.speaker__bio
        %p Tinker. Sailor. Developer. Spy? Originally from a tiny cold island nation, Britain, Jon now lives in Sydney where he spends time sailing the high seas, plotting and working as a gun for hire, I mean freelance Ruby developer. When not working on client work you can find Jon hacking on RSpec (as a core team member), helping other open source projects and working on his own little side project(s).
      %ol.speaker__links
        %li
          %a(href="http://lanyrd.com/2015/rubyconf-au/sdgqxq/") Workshop: RSpec++
        %li
          %a(href="http://jonrowe.co.uk") jonrowe.co.uk
        %li
          %a(href="https://twitter.com/JonRowe") @JonRowe
    %div.grid__cell.speaker#christophephilemotte
      %h3.speaker__name Christophe Philemotte
      %p.speaker__photo
        %img.speaker__photo__image(src="/images/2015/speakers/christophephilemotte.jpg" alt="Photo of Christophe")
      %div.speaker__bio
        %p Christophe is the founder of PullReview, an automated code review for Ruby and Rails developers. He is a Ruby and C++ developer. When he's not writing code disease simulators or PullReview, Christophe helps others with development challenges, writes at the PullReview blog, (co)organises several Belgian Ruby events (Belgian Ruby User Group, Ruby Burgers, Rails Girls Brussels), and likes to talk at conferences and user groups.
      %ol.speaker__links
        %li
          %a(href="http://lanyrd.com/2015/rubyconf-au/sdgqxr/") Workshop: Static Analysis Driven Refactoring
        %li
          %a(href="https://about.me/toch") about.me/toch
        %li
          %a(href="https://twitter.com/_toch") @_toch

  %p#workshop_tickets The workshops will be all-day sessions on the 4th of February (so, you can't attend more than one), and tickets are separate from the conference sessions.

  %tito-button{event:"ruby-australia/rubyconf-au-2015-workshops"} Buy workshop tickets

  %p Alongside these three workshops, we will also be running <strong>two</strong> Rails Girls events - the original introductory workshop, and a next steps workshop for those who have already been introduced to Ruby and Rails (via a Rails Girls workshop or some other source).

  %h3 Rails Girls
  %p Welcome to the world of Ruby and Rails. We will help you install all the tools you need onto your laptops, and then have you dipping your toes into the Ruby programming language.
  %p Next is an introductory workshop to the Ruby on Rails web framework - and all the while, mentors will be on hand to help you with any questions. It doesn't matter how much (or little) experience you have - the goal is to make you feel a bit more comfortable with web development and programming with Ruby.
  %p For more details, see <a href="http://railsgirls.com/melbourne">the Rails Girls website</a> - and <a href="https://www.eventbrite.com.au/e/rails-girls-melbourne-rubyconf-2015-registration-15076040844">sign up for a place now</a>!

  %h3 Rails Girls Next
  %p Join us and continue the learning you started at Rails Girls. Since you have Ruby installed already, we can jump right in!
  %p We've organised three mentor-led tutorials that will help you dive deeper into the world of professional development with Ruby. Tutorials include a look at some of Ruby's more advanced features and syntax, building a Sinatra app and deploying it, test-driven development and more.
  %p Lastly, you will gain a greater appreciation of development work procedures by pairing up to solve coding challenges and using Git for version control.
  %p To read more check out <a href="https://twitter.com/railsgirls_au">@railsgirls_au</a> and <a href="http://railsgirls.com/melbourne-rails-girls-next">the Rails Girls website</a>. You can apply for a place <a href="https://railsgirlsau.typeform.com/to/zT6RZn">right now</a>!

%section#sponsors.body-section--sponsors
  %h2 Sponsors
  %p RubyConf AU Melbourne 2015 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.
  %h3 Ruby Sponsor
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--ruby
    %li.sponsors__sponsor.sponsors__sponsor--envato
      <a href="http://envato.com/"><img src="/images/2015/sponsors/envato.png" alt="Envato"></a>
  %h3 Emerald Sponsors
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
    %li.sponsors__sponsor.sponsors__sponsor--redbubble
      <a href="http://redbubble.com/"><img src="/images/2015/sponsors/redbubble.png" alt="Redbubble"></a>
    %li.sponsors__sponsor.sponsors__sponsor--rea
      <a href="http://realestate.com.au/"><img src="/images/2015/sponsors/rea.png" alt="realestate.com.au"></a>
    %li.sponsors__sponsor.sponsors__sponsor--reinteractive
      <a href="https://reinteractive.net/"><img src="/images/2015/sponsors/reinteractive.png" alt="reinteractive"></a>
  %h3 Sapphire Sponsors
  %ol.sponsors__sponsor-list.sponsors__sponsor-list--sapphire
    %li.sponsors__sponsor.sponsors__sponsor--digitalocean
      <a href="https://www.digitalocean.com/"><img src="/images/2015/sponsors/digitalocean.png" alt="Digital Ocean"></a>
    %li.sponsors__sponsor.sponsors__sponsor--jobready
      <a href="http://jobready.com.au/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
    %li.sponsors__sponsor.sponsors__sponsor--torii
      <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
    %li.sponsors__sponsor.sponsors__sponsor--github
      <a href="https://github.com"><img src="/images/2015/sponsors/github.png" alt="GitHub"></a>
    %li.sponsors__sponsor.sponsors__sponsor--pluralsight
      <a href="http://www.pluralsight.com"><img src="/images/2015/sponsors/pluralsight.png" alt="Pluralsight"></a>
    %li.sponsors__sponsor.sponsors__sponsor--buildbox
      <a href="https://buildkite.com/"><img src="/images/2015/sponsors/buildkite.png" alt="Buildkite"></a>
    %li.sponsors__sponsor.sponsors__sponsor--lookahead
      <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>

  %p.sponsors__read-more
    <a href="/2015/sponsors" class="button">Read about our generous sponsors</a>

-# %section#news.body-section--content
-#   %h2 News
-#   %p ...

%section#conduct.body-section--content
  %h2 Code of Conduct
  %p RubyConf Australia is run under the auspices of Ruby Australia. You can view our <a href="/2015/policies#code">code of conduct</a> and <a href="/2015/policies#anti-harassment">our anti-harrassment policy</a>. These rules must be followed by all attendees at all conference-related events.
