%div
  = haml :'2015/_header'

  .content-page__header
    %h1 Speakers

  %section#speakers.body-section--content
    %div.grid
      %div.grid__cell.speaker
        %h3.speaker__name Collis Ta’eed
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/collistaeed.png" alt="Photo of Collis")
        %div.speaker__bio
          %p Collis is the CEO and co-founder of Australian startup Envato. A designer by trade, Collis is also an avid writer, entrepreneur and product guy. Together with his co-founders, Collis has bootstrapped Envato all the way to 250 staff and more than $200m paid out to designers and developers all around the world.
        %ol.speaker__links
          %li
            %a(href="http://envato.com/") envato.com
          %li
            %a(href="https://twitter.com/collis") @collis
      %div.grid__cell.speaker
        %h3.speaker__name Linda Liukas
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/lindaliukas.png" alt="Photo of Linda")
        %div.speaker__bio
          %p Linda is the author and illustrator of Hello Ruby, a childrens picture book about the whimsical world of computers, as well as the founder of Rails Girls, a global movement to teach young women programming in over 220 cities. She loves Muji, Zelda Fitzgerald, software and sparkly things.
        %ol.speaker__links
          %li
            %a(href="http://lindaliukas.fi/") lindaliukas.fi
          %li
            %a(href="https://twitter.com/lindaliukas") @lindaliukas
      %div.grid__cell.speaker
        %h3.speaker__name Tom Stuart
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/tomstuart.png" alt="Photo of Linda")
        %div.speaker__bio
          %p Tom is a computer scientist and programmer. He has lectured on optimising compilers at the University of Cambridge, co-organises the Ruby Manor conference, and is a member of the London Ruby User Group. His latest book, Understanding Computation, was published by O'Reilly in 2013.
        %ol.speaker__links
          %li
            %a(href="http://lindaliukas.fi/") codon.com
          %li
            %a(href="https://twitter.com/tomstuart") @tomstuart
      %div.grid__cell.speaker
        %h3.speaker__name Rachel Myers
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/rachelmyers.png" alt="Photo of Rachel")
        %div.speaker__bio
          %p Rachel’s a developer at GitHub who loves Ruby, JavaScript, RailsBridge, and monitoring all the things!
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/rachelmyers") @rachelmyers
      %div.grid__cell.speaker
        %h3.speaker__name Steve Klabnik
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/steveklabnik.jpg" alt="Photo of Steve")
        %div.speaker__bio
          %p Steve has a voracious appetite for writing, reading, programming and philosophy. You can find his prints on a large number of Ruby gems—from Ruby on Rails to Hackety Hack—and suffers from what seems to be permanent jetlag.
        %ol.speaker__links
          %li
            %a(href="http://steveklabnik.com") steveklabnik.com
          %li
            %a(href="https://twitter.com/steveklabnik") @steveklabnik
      %div.grid__cell.speaker
        %h3.speaker__name Sarah Mei
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/sarahmei.jpg" alt="Photo of Sarah")
        %div.speaker__bio
          %p Sarah likes code, especially when there's a lot of it. She's been working with Ruby and JavaScript since before they were a big deal, and with software in general for almost two decades, and is currently Chief Consultant at DevMynd.
        %ol.speaker__links
          %li
            %a(href="http://sarahmei.com") sarahmei.com
          %li
            %a(href="https://twitter.com/sarahmei") @sarahmei
      %div.grid__cell.speaker
        %h3.speaker__name Coraline Ada Ehmke
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/coralineehmke.jpg" alt="Photo of Coraline")
        %div.speaker__bio
          %p Coraline is an intersectional technologist with a passion for mentoring, learning, refactoring, and developing artificially intelligent IRC bots. She's a senior engineer at Instructure, developing software used by millions of students and teachers.
        %ol.speaker__links
          %li
            %a(href="http://where.coraline.codes") where.coraline.codes
          %li
            %a(href="https://twitter.com/CoralineAda") @CoralineAda
      %div.grid__cell.speaker
        %h3.speaker__name Joseph Wilk
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/josephwilk.jpg" alt="Photo of Joseph")
        %div.speaker__bio
          %p Joseph Wilk works as an engineer at SoundCloud helping shape the future of music. He performs live coding as Repl Electric, exploring programming as a performance and its interaction with other art forms, while also working as one of the Sonic Pi Core Team helping bring music through Ruby to everyone.
        %ol.speaker__links
          %li
            %a(href="http://blog.josephwilk.net") blog.josephwilk.net
          %li
            %a(href="https://twitter.com/josephwilk") @josephwilk
      %div.grid__cell.speaker
        %h3.speaker__name Keith Pitty
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/keithpitty.jpg" alt="Photo of Keith")
        %div.speaker__bio
          %p Keith is a developer for Blake eLearning and director of Cockatoo Software. During a career spanning more than three decades, he has developed an incurable addiction to solving problems. His contributions to the Australian Ruby community include playing a leading role in organising the first RubyConf AU. He is a keen golfer, cricket tragic and Collingwood supporter.
        %ol.speaker__links
          %li
            %a(href="http://keithpitty.com") keithpitty.com
          %li
            %a(href="https://twitter.com/keithpitty") @keithpitty
