%div
  = haml :'2015/_header'

  .content-page__header
    %h1 Speakers

  %section#speakers.body-section--content
    %div.grid
      %div.grid__cell.speaker
        %h3.speaker__name Collis Ta’eed
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/collistaeed.png" alt="Photo of Collis")
        %div.speaker__bio
          %p Collis is the CEO and co-founder of Australian startup Envato. A designer by trade, Collis is also an avid writer, entrepreneur and product guy. Together with his co-founders, Collis has bootstrapped Envato all the way to 250 staff and more than $200m paid out to designers and developers all around the world.
        %ol.speaker__links
          %li
            %a(href="http://envato.com/") envato.com
          %li
            %a(href="https://twitter.com/collis") @collis
      %div.grid__cell.speaker
        %h3.speaker__name Linda Liukas
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/lindaliukas.png" alt="Photo of Linda")
        %div.speaker__bio
          %p Linda is the author and illustrator of Hello Ruby, a childrens picture book about the whimsical world of computers, as well as the founder of Rails Girls, a global movement to teach young women programming in over 220 cities. She loves Muji, Zelda Fitzgerald, software and sparkly things.
        %ol.speaker__links
          %li
            %a(href="http://lindaliukas.fi/") lindaliukas.fi
          %li
            %a(href="https://twitter.com/lindaliukas") @lindaliukas
      %div.grid__cell.speaker
        %h3.speaker__name Tom Stuart
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/tomstuart.jpg" alt="Photo of Tom")
        %div.speaker__bio
          %p Tom is a computer scientist and programmer. He has lectured on optimising compilers at the University of Cambridge, co-organises the Ruby Manor conference, and is a member of the London Ruby User Group. His latest book, Understanding Computation, was published by O'Reilly in 2013.
        %ol.speaker__links
          %li
            %a(href="http://codon.com") codon.com
          %li
            %a(href="https://twitter.com/tomstuart") @tomstuart
      %div.grid__cell.speaker
        %h3.speaker__name Rachel Myers
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/rachelmyers.png" alt="Photo of Rachel")
        %div.speaker__bio
          %p Rachel’s a developer at GitHub who loves Ruby, JavaScript, RailsBridge, and monitoring all the things!
        %ol.speaker__links
          %li
            %a(href="https://twitter.com/rachelmyers") @rachelmyers
      %div.grid__cell.speaker
        %h3.speaker__name Steve Klabnik
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/steveklabnik.jpg" alt="Photo of Steve")
        %div.speaker__bio
          %p Steve has a voracious appetite for writing, reading, programming and philosophy. You can find his prints on a large number of Ruby gems—from Ruby on Rails to Hackety Hack—and suffers from what seems to be permanent jetlag.
        %ol.speaker__links
          %li
            %a(href="http://steveklabnik.com") steveklabnik.com
          %li
            %a(href="https://twitter.com/steveklabnik") @steveklabnik
      %div.grid__cell.speaker
        %h3.speaker__name Sarah Mei
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/sarahmei.jpg" alt="Photo of Sarah")
        %div.speaker__bio
          %p Sarah likes code, especially when there's a lot of it. She's been working with Ruby and JavaScript since before they were a big deal, and with software in general for almost two decades, and is currently Chief Consultant at DevMynd.
        %ol.speaker__links
          %li
            %a(href="http://sarahmei.com") sarahmei.com
          %li
            %a(href="https://twitter.com/sarahmei") @sarahmei
      %div.grid__cell.speaker
        %h3.speaker__name Coraline Ada Ehmke
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/coralineehmke.jpg" alt="Photo of Coraline")
        %div.speaker__bio
          %p Coraline is an intersectional technologist with a passion for mentoring, learning, refactoring, and developing artificially intelligent IRC bots. She's a senior engineer at Instructure, developing software used by millions of students and teachers.
        %ol.speaker__links
          %li
            %a(href="http://where.coraline.codes") where.coraline.codes
          %li
            %a(href="https://twitter.com/CoralineAda") @CoralineAda
      %div.grid__cell.speaker
        %h3.speaker__name Joseph Wilk
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/josephwilk.jpg" alt="Photo of Joseph")
        %div.speaker__bio
          %p Joseph Wilk works as an engineer at SoundCloud helping shape the future of music. He performs live coding as Repl Electric, exploring programming as a performance and its interaction with other art forms, while also working as one of the Sonic Pi Core Team helping bring music through Ruby to everyone.
        %ol.speaker__links
          %li
            %a(href="http://blog.josephwilk.net") blog.josephwilk.net
          %li
            %a(href="https://twitter.com/josephwilk") @josephwilk
      %div.grid__cell.speaker#keithpitty
        %h3.speaker__name Keith Pitty
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/keithpitty.jpg" alt="Photo of Keith")
        %div.speaker__bio
          %p Keith is a developer for Blake eLearning and director of Cockatoo Software. During a career spanning more than three decades, he has developed an incurable addiction to solving problems. His contributions to the Australian Ruby community include playing a leading role in organising the first RubyConf AU. He is a keen golfer, cricket tragic and Collingwood supporter.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghmz/") Session: Loving Legacy Code
          %li
            %a(href="http://keithpitty.com") keithpitty.com
          %li
            %a(href="https://twitter.com/keithpitty") @keithpitty
      %div.grid__cell.speaker#laurenvoswinkel
        %h3.speaker__name Lauren Voswinkel
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/laurenvoswinkel.jpg" alt="Photo of Lauren")
        %div.speaker__bio
          %p Lauren has been professionally programming since 2006. She started doing front-end work primarily, and transitioned to back end development using primarily Ruby and Rails. Currently, she works for LivingSocial, and has been throughly enjoying that endeavor. In her spare time, she likes to do fire breathing, fire spinning, and trick shots with a whip.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghpb/") Session: Nitty Gritty Service Building
          %li
            %a(href="https://twitter.com/laurenvoswinkel") @laurenvoswinkel
      %div.grid__cell.speaker#johnbarton
        %h3.speaker__name John Barton
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/johnbarton.jpg" alt="Photo of John")
        %div.speaker__bio
          %p A Ruby developer turned "person who practices things learned from books on other unwitting programmers in a professional capacity". His most meaningful contribution has been, and always will be, the Saas startup <a href="http://shoutcloud.io">http://shoutcloud.io</a> but is paid to do stuff at 99designs.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghpp/") Session: On Second Acts
          %li
            %a(href="http://www.whoisjohnbarton.com") whoisjohnbarton.com
          %li
            %a(href="https://twitter.com/johnbarton") @johnbarton
      %div.grid__cell.speaker#scottfeinberg
        %h3.speaker__name Scott Feinberg
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/scottfeinberg.jpg" alt="Photo of Scott")
        %div.speaker__bio
          %p Code slinger at WePay. Ruby developer by day, IPA drinker by night. Pardon his aerial drone attack.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdgkkr/") Session: Securing your App and the History of Guerilla Warfare
          %li
            %a(href="http://blog.sefindustries.com") blog.sefindustries.com
          %li
            %a(href="https://twitter.com/scottefein") @scottefein
      %div.grid__cell.speaker#shevauncoker
        %h3.speaker__name Shevaun Coker
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/shevauncoker.jpg" alt="Photo of Shevaun")
        %div.speaker__bio
          %p Shevaun is a Ruby Developer who loves shaping code into simple, elegant solutions. And then refactoring that code a few weeks later, because what was she thinking?! She is currently enjoying the challenge of being the Purchase Team tech lead at Envato, based in <a href="http://www.abc.net.au/news/2014-08-19/melbourne-worlds-most-liveable-city-for-the-fourth-year-running/5681014">the world's most liveable city</a>.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghpg/") Session: A Case For Using Use Cases
          %li
            %a(href="http://shevaun.kiwi") shevaun.kiwi
          %li
            %a(href="https://twitter.com/shevauncoker") @shevauncoker
      %div.grid__cell.speaker#erikmichaelsober
        %h3.speaker__name Erik Michaels-Ober
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/erikmichaelsober.jpg" alt="Photo of Erik")
        %div.speaker__bio
          %p Erik has been reading and writing Ruby since 2006. In 2014, he was given a Ruby Hero Award for his contributions to various open-source projects, including RailsAdmin, Thor, RubyGems.org, and the Twitter gem. He was a 2010 Ruby Summer of Code mentor, 2011 Google Summer of Code mentor, and 2013 and 2014 Rails Girls Summer of Code coach.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghpm/") Session: Towards a Higher-Level Language
          %li
            %a(href="https://twitter.com/sferik") @sferik
      %div.grid__cell.speaker#josspaling
        %h3.speaker__name Joss Paling
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/josspaling.jpg" alt="Photo of Joss")
        %div.speaker__bio
          %p Joss is a developer and partner at BBL Digital, a boutique agency in Sydney. When he's not writing code, you'll find him surfing, skateboarding, or hanging out with his wife and two kids.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghpk/") Session: Feeling Like a Better Developer
          %li
            %a(href="http://joshuapaling.com") joshuapaling.com
          %li
            %a(href="https://twitter.com/joshuapaling") @joshuapaling
      %div.grid__cell.speaker#philiparndt
        %h3.speaker__name Philip Arndt
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/philiparndt.jpg" alt="Photo of Phil")
        %div.speaker__bio
          %p Kiwi programmer and Director of Ruby at Manuka Coalition, Philip is deeply interested in open source, travelling with his wife, sunshine and great food. Current President of Ruby New Zealand.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghpc/") Session: Succeeding with Open Source
          %li
            %a(href="http://p.arndt.io") p.arndt.io
          %li
            %a(href="https://twitter.com/parndt") @parndt
      / %div.grid__cell.speaker#sabrinaleandro
      /   %h3.speaker__name Sabrina Leandro
      /   %p.speaker__photo
      /     %img.speaker__photo__image(src="/images/2015/speakers/sabrinaleandro.jpg" alt="Photo of Sabrina")
      /   %div.speaker__bio
      /     %p Sabrina moved to London from Brazil, and since 2008 has been helping build Songkick, a live music platform for fans and artists. She enjoys working in cross-functional teams developing useful and delightful products, while focusing on code quality and good software design practices. She wishes the quote on team page about “going to most concerts than anyone at Songkick” was still true.
      /   %ol.speaker__links
      /     %li
      /       %a(href="") Session: Rewriting Code and Culture
      /     %li
      /       %a(href="http://saleandro.tumblr.com") saleandro.tumblr.com
      /     %li
      /       %a(href="https://twitter.com/saleandro") @saleandro
      %div.grid__cell.speaker#konstantingredeskoul
        %h3.speaker__name Konstantin Gredeskoul
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/konstantingredeskoul.png" alt="Photo of Konstantin")
        %div.speaker__bio
          %p At Wanelo.com, Konstantin assembled a dream engineering team with a culture of high collaboration, ridiculously high productivity, and low drama. A die-hard generalist and a compulsive problem solver, Konstantin loves building low-cost, horizontally scalable, fully automated fault-tolerant systems, indeed in ruby, which peak of 4000 requests/second. Rubyist since 2006, he has recently fallen in love with Arduino, but his wife doesn't mind.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghpd/") Session: DevOps Without The "Ops" – A Fallacy? A Dream? Or Both?
          %li
            %a(href="http://tektastic.com") tektastic.com
          %li
            %a(href="https://twitter.com/kig") @kig
      %div.grid__cell.speaker#amywibowo
        %h3.speaker__name Amy Wibowo
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/amywibowo.jpg" alt="Photo of Amy")
        %div.speaker__bio
          %p Amy is a software engineer at Airbnb. Prior to Airbnb, she's done machine learning research on the ASIMO team at Honda Research Institute in Japan and HCI research at the University of Tokyo. She also enjoys hardware hacking and the intersection of art and technology &mdash; in particular, making tools that enable people to be more creative.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdgkkp/") Session: Sweaters as a Service
          %li
            %a(href="http://sailorhg.com") sailorhg.com
          %li
            %a(href="https://twitter.com/sailorhg") @sailorhg
      %div.grid__cell.speaker#johndalton
        %h3.speaker__name John Dalton
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/johndalton.jpg" alt="Photo of John")
        %div.speaker__bio
          %p John is a DBA at Engine Yard, where he supports developers of apps of all sizes from his home office in Tasmania. Outside of work he enjoys photography, spending too much on old-fashioned dead-tree books, decorating cakes and spending time with his four young boys. He's passionate about reducing the stigma of depression, and helped found <a href="http://prompt.engineyard.com/">Prompt</a> to start a conversation on mental health in tech.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghpf/") Session: Understanding Despair
          %li
            %a(href="http://johndalton.info") johndalton.info
          %li
            %a(href="https://twitter.com/johndalton") @johndalton
      %div.grid__cell.speaker#seanmarcia
        %h3.speaker__name Sean Marcia
        %p.speaker__photo
          %img.speaker__photo__image(src="/images/2015/speakers/seanmarcia.jpg" alt="Photo of Sean")
        %div.speaker__bio
          %p Sean Marcia works at George Mason University where he works tirelessly to try to bring sanity to higher education. He also cofounded the Arlington Ruby group and helps organize the Ruby Retrocession unconference and the Ruby for Good event. He is working on saving the bees.
        %ol.speaker__links
          %li
            %a(href="http://lanyrd.com/2015/rubyconf-au/sdghph/") Session: Saving the World (Literally) with Ruby
          %li
            %a(href="https://twitter.com/seanmarcia") @seanmarcia
