.content-page
  = haml :'2015/_header'

  .content-page__header
    %h1 Sponsorship

  %section.body-section--content
    %p RubyConf AU Melbourne 2015 is made possible through the generous support of our sponsors.

    %p If you'd like to help the Ruby community out, it's easy. Download our sponsorship prospectus and let us know what level you're interested in.

    %p
      %strong Be quick, they're going fast!

    %p
      <a href="/pdfs/2015/sponsorship.pdf">Download the prospectus.</a>