.content-page
  = haml :'2015/_header'

  .content-page__header
    %h1 Sponsorship

  %section.body-section--content
    %p RubyConf AU Melbourne 2015 is made possible through the generous support of our sponsors. In order to give all potential sponsors a fair chance at the level of sponsorship they feel comfortable with, we're introducing a new way to allocate each of the limited positions.

    %p The first step is to get in touch (using the form below) and let us know which level of sponsorship you'd like to support us with. If any of the levels of sponsorship are over-subscribed, a small Ruby script will be used to randomly choose which sponsors get the slots.

    %p Sponsorship will be allocated from the top down, so if you miss out on your required slot, you'll have the opportunity to participate on the next level down.

    %p For all the information on the levels of sponsorsphip are available, you can download <a href="/pdfs/2015/sponsorship.pdf">our sponsorship prospectus</a>.

    %p
      Please note that
      %strong the deadline for sponsorship is the 30th of September, 2014.

    %p
      If you'd like to talk to us about what is on offer please contact Matt Allen on +61 413 777 771, or email us on
      %a{:href => "mailto:sponsorship@rubyconf.org.au"} sponsorship@rubyconf.org.au

  .content-page__sponsorship-form
    :plain
      <iframe src="https://docs.google.com/forms/d/12Dj00BgfxhMADnmcqVvV-WP87awgkPf8Ih6H0E7NeqY/viewform?embedded=true" width="760" height="850" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe>
