.content-page
  = haml :'2015/_header'

  .content-page__header
    %h1 Sponsorship

  %section.body-section--content
    %p RubyConf AU Melbourne 2015 is made possible through the generous support of our sponsors.

    %p
      If you’d like to help the Ruby community make this event as great as it
      can be, simply download our sponsorship prospectus and let us know what
      level you’re interested in sponsoring.
    %p
      Please let us know <strong>ASAP</strong> as sponsorship slots are strictly limited and most are already taken (the prospectus shows what is still available).

    %p
      <a class="button" href="/pdfs/2015/sponsorship.pdf">Download the prospectus</a>
