- @page_title = "RubyConf Australia 2015 Sponsors"

%div
  = haml :'2015/_header'

  .content-page__header
    %h1 Sponsors

    %p RubyConf AU Melbourne 2015 is made possible through the generous support of our sponsors. Please give them your support&nbsp;too.

    .body-section--sponsors

      %h3#rubysponsor Ruby Sponsor

      %ol.sponsors__sponsor-list.sponsors__sponsor-list--ruby
        %li.sponsors__sponsor.sponsors__sponsor--envato.sponsors__sponsor--logo-next-to-text
          <a href="http://envato.com/"><img src="/images/2015/sponsors/envato.png" alt="Envato"></a>

      .sponsors__sponsor-blurb.sponsors__sponsor-blurb--ruby
        %p <a href="http://envato.com/">Envato</a> comprises an ecosystem of sites to help people get creative. It includes Envato Market, the leading marketplace for images, themes, project files and creative assets. Envato Studio connects clients with hand-picked freelance talent, and Tuts+ is home to thousands of tutorials and video courses. So far, we have paid out over $200 million to our community of 5 million designers, developers and freelancers.
        %p Based in Melbourne, Envato is one of Australia’s most successful tech companies, having grown from being bootstrapped startup in 2006 to having one of its marketplaces (<a href="http://themeforest.net/">themeforest.net</a>) ranked by Alexa in the 100 most popular sites in the world!
        %p Envato is also home to one of Melbourne's biggest teams of passionate Ruby and Rails developers who deliver changes into production every hour of every day (ok, every work day!) and operate the way you'd expect; everything's on Github, all the testing's automated and everything's continually improving. Did we mention we're hiring?
        %p The cofounders of Envato saw an opportunity to make a business that would benefit creatives all over the world. They have remained true to their mission to help people earn and learn online. They bootstrapped the company, lived with in-laws, had their first office in a garage and freelanced on the side to pay bills until they could make Envato profitable.
        %p Envato proudly provides people with the training and the market to sell products or services from anywhere in the world!

    .body-section--sponsors

      %h3 Emerald Sponsors

      %ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
        %li.sponsors__sponsor.sponsors__sponsor--redbubble#emerald-redbubble
          <a href="http://redbubble.com/"><img src="/images/2015/sponsors/redbubble.png" alt="Redbubble"></a>

      .sponsors__sponsor-blurb.sponsors__sponsor-blurb--ruby
        %p <a href="http://redbubble.com/">Redbubble</a> is a leading global marketplace for independent artists to sell their work on a range of apparel, accessories and home decor. But with over 250,000 artists earning $20 million collectively through Redbubble, we’re pretty busy.
        %p Our web product team is growing as fast as a cheetah wearing rockets. <a href="http://www.redbubble.com/jobs">We’re looking</a> for people who love to create awesome: Software Engineers, UX and Visual Designers, and Product Managers.

      %ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
        %li.sponsors__sponsor.sponsors__sponsor--rea#emerald-rea
          <a href="http://realestate.com.au/"><img src="/images/2015/sponsors/rea.png" alt="realestate.com.au"></a>

      .sponsors__sponsor-blurb.sponsors__sponsor-blurb--ruby
        %p Our purpose is empowering people by making property simple, efficient and stress free. We combine technology with our love and understanding of property in order to allow everyone to understand, compare, share and take action. Whether you’re a buyer, renter, sharer, investor, owner or someone just interested, <a href="http://realestate.com.au/">realestate.com.au</a> is the one place you’ll discover more about Australian property.

      %ol.sponsors__sponsor-list.sponsors__sponsor-list--emerald
        %li.sponsors__sponsor.sponsors__sponsor--reinteractive#emerald-reinteractive
          <a href="https://reinteractive.net/"><img src="/images/2015/sponsors/reinteractive.png" alt="reinteractive"></a>

      .sponsors__sponsor-blurb.sponsors__sponsor-blurb--ruby
        %p <a href="https://reinteractive.net/">reinteractive</a> create and support web and mobile apps using Ruby on Rails and Javascript.  They are actively involved in the community creating both the <a href="https://reinteractive.net/community/installfest">Ruby on Rails InstallFest</a> and <a href="https://reinteractive.net/community/development_hub">Development Hub</a> initiatives that have seen over 600 people get introduced to Ruby and Rails since launching a year and a half ago. reinteractive are proud to be Australia’s largest Ruby on Rails focused development consultancy.
        %p Not only do they deliver amazing, beautiful and high value UI, UX and backend <a href="https://reinteractive.net/services">Ruby on Rails development</a> services, they also look after their clients through their Sentinel 24x7 <a href="https://reinteractive.net/service/sentinel">Operations as a Service</a>, a custom built set of tools and managed support that ensures their clients pain free deployments and maintenance of mission critical Rails applications on AWS resulting in enviable uptime.


    .body-section--sponsors

      %h3#sapphiresponsors Sapphire Sponsors

      %ol.sponsors__sponsor-list.sponsors__sponsor-list--sapphire
        %li.sponsors__sponsor.sponsors__sponsor--digitalocean
          <a href="https://www.digitalocean.com/"><img src="/images/2015/sponsors/digitalocean.png" alt="Digital Ocean"></a>
        %li.sponsors__sponsor.sponsors__sponsor--jobready
          <a href="http://jobready.com/"><img src="/images/2015/sponsors/jobready.png" alt="Job Ready"></a>
        %li.sponsors__sponsor.sponsors__sponsor--torii
          <a href="http://toriirecruitment.com.au/"><img src="/images/2015/sponsors/torii.png" alt="Torii Recruiting"></a>
        %li.sponsors__sponsor.sponsors__sponsor--github
          <a href="https://github.com"><img src="/images/2015/sponsors/github.png" alt="GitHub"></a>
        %li.sponsors__sponsor.sponsors__sponsor--pluralsight
          <a href="http://www.pluralsight.com"><img src="/images/2015/sponsors/pluralsight.png" alt="Pluralsight"></a>
        %li.sponsors__sponsor.sponsors__sponsor--buildbox
          <a href="https://buildkite.com/"><img src="/images/2015/sponsors/buildkite.png" alt="Buildkite"></a>
        %li.sponsors__sponsor.sponsors__sponsor--lookahead
          <a href="http://www.lookahead.com.au/"><img src="/images/2015/sponsors/lookahead.png" alt="Lookahead"></a>
