section#closing {
  @include highlight-section;
}

section#opening {
  @include highlight-section;
}

.social-image {
  @include span-columns(5);

  img {
    @include filter(grayscale(100%));
    width: 100%;
    position: relative;
    opacity: 0.8;
  }

  .credit a {
    font-size: modular-scale(-1);
    text-decoration: none;
    color: #AAA;

    &:hover{ text-decoration: underline; }
  }

  @include mobile-portrait {
    display: none;
  }
}

.social-description {
  @include span-columns(7);

  @include mobile-portrait {
    @include span-columns(12);
  }

  h3 {
    line-height: 1;
  }
}

.social-overview {
  font-weight: bold;
}

.all-tickets {
  font-weight: bold;
}

a.button {
  @include button($color: $dark-red, $text-color: white);
  margin: 0;

  // @include mobile-portrait {
  //   @include span-columns(12);
  //   margin: 0 0 modular-scale(0) 0;
  // }
}
