%footer
  .container
    .footer
      .contact-us
        %h3 Contact Us
        %ul
          %li
            %a.icon{href: 'https://confirmsubscription.com/h/j/809D057CE90261E7'}
              %i.fa.fa-inbox
            %a{href: 'https://confirmsubscription.com/h/j/809D057CE90261E7'}
              Join our mailing list
          %li
            %a.icon{href: 'mailto:organisers@rubyconf.org.au'}
              %i.fa.fa-envelope-open
            %a{href: 'mailto:organisers@rubyconf.org.au'}
              organisers@rubyconf.org.au
          %li
            %a.icon{href: 'https://twitter.com/rubyconf_au'}
              %i.fab.fa-twitter
            %a{href: 'https://twitter.com/rubyconf_au'}
              @rubyconf_au
          %li
            %a.icon{href: 'https://instagram.com/rubyconfau'}
              %i.fab.fa-instagram
            %a{href: 'https://instagram.com/rubyconfau'}
              @rubyconfau
          %li
            %a.icon{href: 'https://www.facebook.com/RubyConfAustralia'}
              %i.fab.fa-facebook-square
            %a{href: 'https://www.facebook.com/RubyConfAustralia'}
              RubyConfAustralia

      .policies
        %h3 Policies
        %ul
          %li
            %a{href: 'https://ruby.org.au/code-of-conduct'} Code of Conduct
          %li
            %a{href: 'https://ruby.org.au/code-of-conduct-reporting'} Reporting Guide
          %li
            %a{href: '/2019/accessibility'} Accessibility Statement

        %p RubyConf AU is supported by and run under the auspices of <a href="https://ruby.org.au" target="_blank">Ruby Australia</a>.

      .previous-years
        %h3 Previous Years
        %ul
          %li
            %a{ href: "/2013" } 2013 in Melbourne
          %li
            %a{ href: "/2014" } 2014 in Sydney
          %li
            %a{ href: "/2015" } 2015 in Melbourne
          %li
            %a{ href: "/2016" } 2016 in Gold Coast
          %li
            %a{ href: "/2017" } 2017 in Melbourne
          %li
            %a{ href: "/2018" } 2018 in Sydney

