%header
  .container
    .dates-and-location
      %a{ href: '/2019' }
        %h2
          %strong February 7th-9th, 2019
          %br
          The Forum, Melbourne

    .brand
      %a{ href: '/2019' }
        %img{ src: '/2019/images/logo-black.png' }

    .nav
      %a{href: '/2019/#ticketing'} Tickets Closing Jan 18!

  %nav
    .container
      %a{href: '/2019/speakers'} Speakers
      %a{href: '/2019/social-events'} Social Events
      %a{href: '/2019/location'} Location
