%header
  .container
    .brand
      %a{ href: '/2019' }
        %img{ src: '/2019/images/logo.png' }
    .dates-and-location
      %a{ href: '/2019' }
        %h2 February 7th-9th, 2019 &bullet; The Forum, Melbourne
    .nav
      %a{href: '/2019/#ticketing'}Buy Tickets
  .ribbon

  %nav
    .container
      %a{href: '/2019/speakers'} Speakers
      %a{href: '/2019/social-events'} Social Events
      %a{href: '/2019/location'} Location
