.sponsors
  .container
    %h3 Sponsors
    %p
      RubyConf AU would not be possible without the support from these
      %strong incredible
      sponsors:

  .container
    .sponsor-group.emerald
      %h4 Emerald Sponsors
      .sponsor
        %a{ href: 'http://lookahead.com.au', target: '_blank' }
          %img{ src: '/images/sponsors/lookahead.svg' }
      .sponsor
        %a{ href: 'https://envato.com', target: '_blank' }
          %img{ src: '/images/sponsors/2013-envato.svg' }
      .sponsor
        %a{ href: 'https://www.cultureamp.com', target: '_blank' }
          %img{ src: '/images/sponsors/culture-amp.png' }

  .container
    .sponsor-group.opal
      %h4 Opal Sponsor
      .sponsor
        %a{ href: 'https://buildkite.com', target: '_blank' }
          %img{ src: '/images/sponsors/buildkite.svg' }

  .container
    %p
      Interested in sponsoring RubyConf AU 2019?
      %a{ href: 'mailto:sponsorship@ruby.org.au' } Email us!
