.container
  .ticketing#ticketing
    %h3 Tickets

    %tito-widget{ event: "ruby-australia/rubyconf-au-2019" }

  .opportunity

    %h3#opportunity Opportunity Program

    %p Our <strong>Opportunity Program</strong> includes a free ticket to the conference plus an allowance for travel and accommodation costs for those outside Melbourne. This is for people who would otherwise not be able to afford attending RubyConf AU - we know not everyone receives the same opportunities to get ahead in their career, so this is just one step towards evening things out. Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSex3nNpp0724priwdZZc7L3MyPMQ22mU73XZ2dfm4NEoP9YVw/viewform">fill out our application form</a> if you are interested in this program!

    %p Applications will be reviewed on a monthly basis from September, and available tickets granted to those who best meet the criteria. Applications will close when all opportunity program tickets have been allocated, when 80% of conference tickets have been sold, or on December 31st 2018, whichever occurs soonest.

    %p.apply
      %a{ href: "https://docs.google.com/forms/d/e/1FAIpQLSex3nNpp0724priwdZZc7L3MyPMQ22mU73XZ2dfm4NEoP9YVw/viewform", class: "button large"} Apply Now
