.container
  .ticketing#ticketing
    %h3 Tickets

    %p Ticket sales for the conference will close on <strong>Friday 18th January</strong> (we need to confirm numbers and other logistics with our venue, plus print badges and t-shirts) - so if you're keen to come along, please do buy one before then!

    %tito-widget{ event: "ruby-australia/rubyconf-au-2019" }

  .opportunity

    %h3#opportunity Opportunity Program

    %p Our <strong>Opportunity Program</strong> includes a free ticket to the conference plus an allowance for travel and accommodation costs for those outside Melbourne. This is for people who would otherwise not be able to afford attending RubyConf AU - we know not everyone receives the same opportunities to get ahead in their career, so this is just one step towards evening things out.

    %p Applications for our Opportunity Program have now closed. Thank you to all applicants - you should have received a response from the organising team regarding the status of your application. Please do <a href="mailto:organisers@rubyconf.org.au">get in touch</a> if that's not the case.
