$red: #eb1d3b;

h1, h2 {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 900;
}

h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}

p, li {
  font-family: 'Open Sans', sans-serif;
}

i.fa, i.fab {
  color: $teal;
}

a {
  text-decoration: underline;
  color: $red;
  &:hover {
    color: $red;
  }
}

a.icon {
  text-decoration: none;
  color: $red;
}

.speakers {
  h4 {
    text-align: center;
  }

  img {
    width: 80%;
    margin: 5% 10%;
  }
}

.cfp {
  margin-top: 1.5em;
}

.apply {
  text-align: center;
}


.sponsors {
  .sponsor-group {
    text-align: center;
    margin: 2em 0;
  }

  img {
    margin: 1em 0;
  }

  .emerald img {
    width: 400px;
  }

  .opal img {
    width: 300px;
  }
}

.events {
  margin-bottom: 10em;
}

.forum {
  text-align: center;
}

.location {
  margin-bottom: 5em;
}
