footer {
  background: $brown;
  color: white;
  position: relative;

  padding: 40px 20px 80px;

  ul {
    margin-left: 0;
  }

  li {
  	list-style-type: none;
  }

  a {
  	color: white;
  }

  i {
  	color: white!important;
  }
}

.footer {
  @include span(12, $medium: 12, $small: 12, $x-small: 6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
