// Commmon Colors
$red: #f4323c;
$green: #0eb942;
$blue: #27b2d2;
$pink: #FDBFC2;
$page_bkg: #EDECE6;
$default_text_color: #575757;
$dark_red: darken($red, 15%);

$purple: #542b6d;
$yellow: #fdc13d;
$mustard: #fca926;
$orange: #f25f0e;
$xlight_blue_bkg: #d5f2f1;
$light_blue_bkg: #b9e1f1;
$dark_blue: #082b71;


// Foundation classes
$anchor-font-color: #444;
$anchor-font-color-hover: #111;
$header-font-family: 'Source Sans Pro', sans-serif;
