#intro {
  background: #fff;
  a {
    display: inline-block;
    padding: 3px 4px;
    color: #fff;
  }

  a.whos-speaking {
    background: $mustard;
  }
  a.get-ticket {
    background: $red;
  }
}
