section#nav {
  background: #fff;

  .nav {
    position: relative;

    .logo {
      position: absolute;
      width: 3em;
      left: -5em;
    }

    .sub-nav {
      dd, dt {
        margin-right: 1em;
      }

      a {
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
        &:hover { color: $red; }
      }
    }

    .back a {
      color: $light_grey;
    }
  }
}
