body#policies {
  background: #fff;

  section#title {
    background: $red;

    h1 {
      color: #fff;
      font-weight: 600;
      margin: 1rem 0 0.5rem;
    }
  }

  section#anti-harrasement, section#code-of-conduct {
    .row {
      @include grid-column(7);
      padding-bottom: 4rem;
    }

    a {
      display: inline-block;
      background: lighten($red, 40%);
      padding: 0 3px;
    }
  }
}

@media only screen and (max-width: 767px) {
  body#policies {
    section#anti-harrasement, section#code-of-conduct {
      .row { width: 80%; }
    }
  }
}
