#sessions {
  background: $yellow;

  hgroup {
    @include grid-column(8);
    padding-top: 0;

    a {
      display: inline-block;
      background: $orange;
      color: #fff;
      padding: 1px 3px;
    }

    p { color: #000; }
  }
}
