body#social {
  background: #fff;

  section#title {
    background: $cyan;

    h1 {
      color: #fff;
      font-weight: 600;
      margin: 1rem 0 0.5rem;
    }
  }

  img.icon {
    position: absolute;
    left: -9rem;
    top: 3rem;
  }

  article {
    width: 30%;
    display: inline-block;
    margin: 0 10% 4% 0;
    vertical-align: top;
  }

  section#stay, section#bite, section#refuel, section#relax {
    h2 { margin: 3rem 0 0;  font-weight: 600; }
    h3 { width: 50%;}
    h4 { font-size: 1rem; font-weight: 600; margin: 0; }
    p { margin: 0; }
    a { display: inline-block; padding: 1px 4px; }
    .more a { color: #fff; font-size: 1.2rem; padding: 2px 10px; }
  }

  section#stay {
    h2 { color: $purple; }
    a { background: lighten($purple, 65%); }
    .more a { background: $purple; }
  }

  section#bite {
    h2 { color: $orange; }
    a { background: lighten($orange, 40%); }
    .more a { background: $orange; }
  }

  section#refuel {
    h2 { color: $mustard; }
    a { background: lighten($mustard, 30%); }
    .more a { background: $mustard; }
  }

  section#relax {
    h2 { color: $cyan; }
    a { background: lighten($cyan, 30%); }
    .more a { background: $cyan; }
  }

  section.last {
    padding: 6rem 0;

    p { color: $red; }
    a { display: inline-block; color: #fff; background: $red; padding: 1px 3px; }
  }
}

@media only screen and (max-width: 767px) {
  body#social {
      img.icon {
        width: 10%;
        left: -5rem;
      }
  }
}

@media only screen and (max-width: 480px) {
  body#social {
    img.icon { display: none; }
    article { width: 90%; }
    section#stay, section#bite, section#refuel, section#relax {
      h3 { width: 90%; }
    }
  }
}
