.sponsors-section {
 background: #fff;

 article.sponsors {
  @include grid-column(9);
  border-bottom: 1px solid $page_bkg;
  padding-bottom: 2em;
  margin-bottom: 2em;

  &.misc { border-bottom: none;
    .article { display: inline-block; vertical-align: top; width: 24%; }
    a { width: 60%; }
    a.braintree { position: relative; top: -7px; }
  }
 }

 a { display: inline-block; width: 32%; }
 a.envato           { width: 40%; }
 a.envato img       { width: 100%; }
 a.job-ready img    { width: 90%; }
 a.red-ant img      { width: 90%; }
 a.dius img         { width: 45%; }
 a.thoughtworks img { width: 90%; }
}

@media only screen and (max-width: 480px) {
  .sponsors-section {
    article.sponsors { width: 95%; }
    article.sponsors.misc .article { width: 45%; }

    a.thoughtworks img { width: 100%; }
  }
}

