#workshops {
  background: $light_blue_bkg;
  padding-bottom: 2rem;

  h1, h3 { color: $dark_blue; }

  article.workshop {
    position: relative;
    width: 55%;
    padding-bottom: 6rem;
  }

  img.icon {
    position: absolute;
    left: -9rem;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 0 0.5rem;
    color: $default_text_color;
  }

  .bio {
    position: absolute;
    width: 41.666%;
    right: -45%;
    top: 0;
    font-size: 0.8rem;

    em {
      color: #222;
      font-style: normal;
    }

    img {
      width: 28%;
      float: right;
    }

    a.twitter {
      color: $dark_blue;
      display: block;
      margin-bottom: 1rem;
    }

    a.get-ticket {
      background: $orange;
      color: #fff;
      padding: 3px 6px;
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  section#workshops {
    img.icon {
      width: 25%;
      height: 25%;
      top: -1.5rem;
      left: -7rem;
    }

    .bio a.get-ticket {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  section#workshops {
    article.workshop {
      width: 95%;
    }

    img.icon {
      width: 15%;
      height: 15%;
      top: -2rem;
      left: -4rem;
    }

    .bio {
      position: static;
      width: 95%
    }
  }
}
