// Commmon Colors
$red: #FF0000;
$green: #0eb942;
$blue: #27b2d2;
$page_bkg: #EDECE6;
$light_grey: #999;
$default_text_color: #575757;
$dark_red: darken($red, 15%);

$purple: #730189;
$yellow: #fdc13d;
$mustard: #fca926;
$orange: #ff4d00;
$cyan: #62b0d6;
$xlight_blue_bkg: #d5f2f1;
$light_blue_bkg: #b9e1f1;
$light_purple_bkg: #fff5ff;
$dark_blue: #082b71;

// Foundation classes
$anchor-font-color: #444;
$anchor-font-color-hover: #111;
$header-font-family: 'Source Sans Pro', sans-serif;
$magellan-bg: rgba(255, 255, 255, 0.9);
$sub-nav-active-bg: $red;

$offset: 16.66667%;
