@font-face {
    font-family: 'SUFFIX-mono';
    src: url('/fonts/suffix-mono-webfont.eot');
    src: url('/fonts/suffix-mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/suffix-mono-webfont.woff') format('woff'),
         url('/fonts/suffix-mono-webfont.ttf') format('truetype'),
         url('/fonts/suffix-mono-webfont.svg#SUFFIX-monoSUFFIX-mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $default_text_color;
  background: $page_bkg;
}

h1, h2, h3, h4 { font-weight: 200; }

h1 { margin-top: 2rem; }
h2 { line-height: 2.8rem; }

section {
  .row {
    position: relative;
    left: $offset;
    height: 100%;
    width: (100% - $offset);
    max-width: none;
    margin: 0;
  }
}

hgroup {
  @include grid-column(9);
  padding: 6rem 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a.inverted {
  line-height: 1.5;
  color: #000 !important;
  background: #fff;
  font-weight: 400;
  padding: 0 3px;

  &:hover { color: $red !important; }
}
