section#header {
  background: url(/images/2015/melbourne-skyline-red-2.jpg) center 70% no-repeat;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1, h2, h3 { color: inherit; }

  hgroup {
    padding-bottom: 5rem;
  }

  .logo {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 16.66%;
    top: 6rem;
    opacity: .2;
    transition: opacity 150ms;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    font-family: 'SUFFIX-mono', monospace;
    font-size: 80px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1;
    a { color: inherit; }
    .space {
      font-size: 40%;
    }
    .date {
      color: rgba(255,200,200,1);
    }
  }

  h2 {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1.1;
    .date {
      border-right: 1px solid rgba(255,255,255,.25);
      padding-right: 15px;
      margin-right: 10px;
    }
    .city {
      text-transform: uppercase;
      font-size: 85%;
      letter-spacing: 2px;
    }
  }

  p.dates {
    opacity: 0.9;
    font-weight: 300;
    strong {
      font-weight: 500;
    }
  }

  h3 {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: $red;
    color: #fff;
    padding: 2px 10px;
    a {
      color: inherit;
    }
  }
}

body#news, body#social, body#policies {
  section#header {
    height: 28%;
    background-position: center top;

    h1 {
      width: 10%;
      height: 10%;
      left: -12%;
    }

    hgroup { padding-bottom: 0; } // or it interferes with the title position
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section#header {
    hgroup { padding-top: 3rem; }
  }
}

@media only screen and (max-width: 767px) {
  section#header {
    min-height: 40%;

    hgroup { padding-top: 2.7rem; }
    hgroup h2 { line-height: 1; }
  }
}

@media only screen and (max-width: 480px) {
  section#header {
    hgroup { padding-top: 2rem; }
    p.dates { width: 120%; }
  }
}
