section#header {
  height: 65%;
  background: url(http://placekitten.com/1700/620) center 70% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    position: absolute;
    width: 15%;
    height: 15%;
    left: -16.6%;
    top: 2%;

    a { display: block; }
  }

  hgroup h2 { margin-bottom: 0; }
  p.dates { opacity: 0.6; }

  h3 {
    position: absolute;
    top: 80%;
    left: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: $purple;
    color: #fff;
    padding: 2px 10px;
    a {
      color: inherit;
    }
  }
}

body#news, body#social, body#policies {
  section#header {
    height: 28%;
    background-position: center top;

    h1 {
      width: 10%;
      height: 10%;
      left: -12%;
    }

    hgroup { padding-bottom: 0; } // or it interferes with the title position
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section#header {
    hgroup { padding-top: 3rem; }
  }
}

@media only screen and (max-width: 767px) {
  section#header {
    height: 40%;
    min-height: 270px;

    hgroup { padding-top: 2.7rem; }
    hgroup h2 { line-height: 1; }
  }
}

@media only screen and (max-width: 480px) {
  section#header {
    hgroup { padding-top: 2rem; }
    p.dates { width: 120%; }
  }
}
