.speakers-section {
  background: $light_purple_bkg;
  padding-bottom: 2rem;

  h1 { color: $purple; margin-bottom: .5em; }

  a.speakers {
    position: absolute;
    top: 2.5rem;
    left: 49%;
    background: $purple;
    color: #fff;
    padding: 6px;
    font-size: 1.1rem;
    font-weight: 200;

    &.interviews { left: 65%; }
  }


  .speaker {
    position: relative;
    display: inline-block;
    width: 24%;
    margin-right: 5%;
    margin-bottom: 20px;
    vertical-align: top;
  }

  .photo {
    width: 75%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 15px;
  }

  img, .tbd {
    border-radius: 50%;
    width: 100%;
    opacity: .6;
    -webkit-filter: brightness(75%) sepia(100%) hue-rotate(220deg);
    -moz-filter: brightness(75%) sepia(100%) hue-rotate(220deg);
    -ms-filter: brightness(75%) sepia(100%) hue-rotate(220deg);
    filter: brightness(75%) sepia(100%) hue-rotate(220deg);
  }

  .tbd {
    background-color: white;
    display: inline-block;
    padding-bottom: 100%;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -.5em;
      margin-top: -.75em;
      font-weight: 600;
      font-size: 2em;
      line-height: 1;
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $purple;
    text-align: center;
    margin-bottom: 20px;
  }

  p.links {
    opacity: 0.7;

    span.icon {
      position: relative;
      top: 4px;
      display: inline-block;
      margin: 0 0.2rem 0 1rem;
    }
  }
}


@media only screen and (max-width: 500px) {
  .speakers-section {
    .speaker {
      width: 95%;
      display: block;
      text-align: left;
    }
  }
}
