.venue-section {
  background: url(/images/2015/deakin-edge.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  * { color: #fff; }

  .row div {
    position: absolute;
    width: 41.666%;
    height: 80%;
    right: 0;
    bottom: 0;
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;

    background: #000;
    opacity: 0.8;
  }

  p {
    font-weight: 200;
  }

  h1 + p {
    font-size: 125%;
    line-height: 1.25;
    font-weight: 100;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 3rem;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 1024px) {
  .venue-section .row div {
    width: 50%;

    h3 { margin-top: 1.6rem; }
  }
}

@media only screen and (max-width: 480px) {
  .venue-section .row div {
    width: 100%;
    h1 { margin-bottom: 0.2rem; }
    h1 + p { display: none; }
  }
}
