// Common Header and Footer Styles
#root header, #footer {
  @include suffix-font;
  font-size: 18px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  a {
    color: white;
    text-decoration: none;
    &.red, &.on { color: $red; }
    &.blue { color: #21adc3; }
  }
  nav a {
    @include transition-property(color);
    @include transition-duration(0.1s);
    &:hover { color: #21adc3; }
    &.on:hover { color: $red; }
  }
}

// Header Layout
#root header {
  h1 {
    @include eleven40-column(5);
    img { opacity: 0.45; }
  }
  nav {
    @include eleven40-column(3);
    @include eleven40-push(2);
  }
  hgroup {
    @include eleven40-column(8, true);
    @include eleven40-push(6);
    padding-top: 40px + 36px;
    opacity: 0.8;
  }
}

// Footer Layout
#footer {
  footer {
    position: relative;
    padding-bottom: 20px;
  }
  img.logo {
    @include eleven40-column(2);
  }
  hgroup {
    @include eleven40-column(6);
    @include eleven40-push(1);
    h2 { margin-bottom: 10px; line-height: 1.4; }
    a { display: inline-block; }
  }
  .sponsors {
    @include eleven40-column(8);
    @include eleven40-push(3);
    a {
      display: block;
      width: 50%;
      float: left;
      img {
        @include transition-property(opacity);
        @include transition-duration(0.2s);
        opacity: 0.6;
        &.thoughtworks { width: 90%; margin-top: 2px;}
        &.envato { width: 70%; }
        &.rea { width: 80%; margin-top: 9px; }
        &.icelab { width: 60%; }
        &.flippa { width: 50%; margin-top: 11px;}
        &.fairfax { width: 40%; }
        &.edh, &.ninefold { width: 25%;}
        &.newrelic { width: 70%; }
      }
      &:hover img { opacity: 1; }
    }
  }
  nav {
    @include eleven40-column(3, true);
    @include eleven40-push(1);
  }
  .fine-print {
    @include eleven40-push(3);
    clear: both;
    display: block;
    width: auto;
    position: absolute;
    bottom: 0;
    ul {
      display: block;
      width: auto;
    }
    li {
      display: inline-block;
      margin-right: 20px;
      font-size: 14px;
      letter-spacing: .1em;
    }
  }
}