#sponsors {
  @include eleven40-container;

  section {
    @include eleven40-row;
    margin-bottom: 60px;

    h3 {
      @include eleven40-column(3);
    }
    img {
      margin-bottom: 20px;
    }

    &.ruby div {
      @include eleven40-push(1);
      @include eleven40-column(20, true);
      p {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &.emerald div {
      @include eleven40-push(1);
      @include eleven40-column(9);
    }

    &.sapphire, &.other {
      &.headless h3 { text-indent: -9999px; }
      div {
        @include eleven40-push(1);
        @include eleven40-column(6);
        &.last {
          @include eleven40-column(6, true);
        }
        img.flippa {
          margin: 15px 0;
        }
      }
    }
  }

}