%footer
  .column
    %h2 Contact Us
    %ul
      %li
        %a{href: 'mailto:organisers@rubyconf.org.au'}
          %i.fa.fa-envelope-o
          organisers@rubyconf.org.au
      %li
        %a{href: 'https://twitter.com/rubyconf_au'}
          %i.fa.fa-twitter
          @rubyconf_au
      %li
        %a{href: 'https://www.facebook.com/RubyConfAustralia'}
          %i.fa.fa-facebook-official
          RubyConfAustralia
      %li
        %a{href: 'https://confirmsubscription.com/h/j/F0AA131FF2C0F0B0'}
          %i.fa.fa-inbox
          Join our mailing list

  .column.brand
    %i.fa.fa-diamond

  -#
    .column.previous-years
      %ul
        %li Previous Years
        %li
          %a{ href: "/2013" } 2013
        %li
          %a{ href: "/2014" } 2014
        %li
          %a{ href: "/2015" } 2015
        %li
          %a{ href: "/2016" } 2016
