%section.body-section--event-footer
  %ul
    %li.footer__link
      %a{href: 'mailto:organisers@rubyconf.org.au'}
        %img{src: '/images/2017/envelope.svg'}
    %li.footer__link
      %a{href: 'https://twitter.com/rubyconf_au'}
        %img{src: '/images/2017/twitter.svg'}
    %li.footer__link
      %a{href: 'https://www.facebook.com/RubyConfAustralia'}
        %img{src: '/images/2017/facebook.svg'}

-#%section.body-section--previous-years
-#  %h2 Previous Years
-#  %ul
-#    %li.footer__link
-#      %a{ href: "/2013" } 2013
-#    %li.footer__link
-#      %a{ href: "/2014" } 2014
-#    %li.footer__link
-#      %a{ href: "/2015" } 2015
-#    %li.footer__link
-#      %a{ href: "/2016" } 2016