%header
  %a{ href: '/' }
    RubyConf AU
    %small
      Melbourne 9-10 Feb 2017

  %nav
    %ul
      %li
        %a{ href: '/2017/schedule' } Schedule
      %li
        %a{ href: '/2017#location' } Location
      %li
        %a{ href: '/2017#speakers' } Speakers
      %li
        %a{ href: '/2017#sponsors' } Sponsors
      %li
        %a{ href: '/2017#attending' } Attending
