%header
  .title-bar{'data-responsive-toggle': 'responsive-menu', 'data-hide-for': 'medium'}
    %button.menu-icon{type: 'button', 'data-toggle': ''}
    .title-bar-title
      RUBY CONF AU
  .column.row
    .top-bar
      .top-bar-title
        %h3
          RUBY CONF AU
          %br
          %small
            MELBOURNE 9–10 FEB 2017
      %div#responsive-menu
        .top-bar-left

        .top-bar-right
          %ul.menu.vertical.medium-horizontal
            %li
              %a{href: '#location'}
                Location
            %li
              %a{href: '#speakers'}
                Speakers
            %li
              %a{href: '#schedule'}
                Schedule
            %li
              %a{href: '#events'}
                Events
            %li
              %a{href: '#sponsors'}
                Sponsors
