%header
  %a{ href: '/' }
    RubyConf AU
    %small
      Melbourne 9-10 Feb 2017

  %nav
    %ul
      %li
        %a{ href: '/2017#location' } Location
      %li
        %a{ href: '/2017#speakers' } Speakers
      %li
        %a{ href: '/2017#sponsors' } Sponsors
      %li
        %a{ href: '/2017#attending' } Attending
      %li
        %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2017', target: '_blank' } Tickets
