%header
  .title-bar{'data-responsive-toggle': 'responsive-menu', 'data-hide-for': 'medium'}
    %button.menu-icon{type: 'button', 'data-toggle': ''}
    .title-bar-title
      RUBY CONF AU
  .column.row
    .top-bar
      .top-bar-title
        %a{href: '/2017'}
          %h3
            RUBY CONF AU
            %br
            %small
              MELBOURNE 9–10 FEB 2017
      %div#responsive-menu
        .top-bar-left

        .top-bar-right
          %ul.menu.vertical.medium-horizontal
            %li
              %a{href: '/2017#location'}
                Location
            %li
              %a{href: '/2017#speakers'}
                Speakers
            %li
              %a{href: '/2017#sponsors'}
                Sponsors
            %li
              %a{href: '/2017#attending'}
                Attending
