.slot
  .thumbnail
    %img{src: speaker.avatar_path}
    .sash
      - speaker.name.split(' ').each do |word|
        %span.name= word

  .about
    .talk-title
      #{speaker.talk_title}

    %h3
      - if speaker.main_track?
        .location Plenary 3, Ground Floor
        .track General track

      - elsif speaker.tech_track?
        .location Breakout, First Floor
        .track Deep-dive track
