%section.body-section--content
  %h1.hero Thank You

  %h2.sub-heading
    We couldn't have a conference without
    %br
    help from our generous sponsors

  %p
    If you'd like to help us by sponsoring Ruby Australia, we'd love to chat.

  %a.button{href: 'mailto:treasurer@ruby.org.au', target: '_blank'}
    How can I help?

  .sponsor-section
    %h2 Ruby Sponsors

    %ul.flex
      %li
        %img{src: '/images/sponsors/rea.svg', width: '110%'}
      %li
        %img{src: '/images/sponsors/2013-envato.svg', width: '300px'}

  .sponsor-section
    %h2 Amber Sponsors

    %ul.flex
      %li
        %img{src: '/images/sponsors/culture-amp.png', width: '300px'}
      %li
        %img{src: '/images/sponsors/lookahead.png', width: '300px'}