%section.body-section--content
  %h1.hero Thank You

  %h2.sub-heading
    We couldn't have a conference without
    %br
    help from our generous sponsors

  %p
    If you'd like to help us by sponsoring Ruby Australia, we'd love to chat.

  %a.button{href: 'mailto:treasurer@ruby.org.au', target: '_blank'}
    How can I help?

  .sponsor-section
    %h2 Ruby Sponsors

    %ul.sponsors
      %li
        %img{src: '/images/sponsors/rea-new.svg'}
      %li
        %img{src: '/images/sponsors/2013-envato.svg'}

  .sponsor-section
    %h2 Emerald Sponsors

    %ul.sponsors
      %li
        %img{src: '/images/sponsors/culture-amp.png'}
      %li
        %img{src: '/images/sponsors/lookahead.svg'}

  .sponsor-section
    %h2 Opal Sponsors

    %ul.sponsors
      %li
        %img{src: '/images/sponsors/oneflare.svg'}
      %li{style: "clear:both;float:none;"}