- @page_title = "RubyConf Australia 2017 Accessibility"

%section.billboard
  .column
    %h1 Accessibility

%section
  .column
    %p RubyConf Australia is an inclusive conference and as such strives to be accessible to everyone. This includes:

    %ul
      %li Ensuring our venues are accessible by wheelchair.
      %li Providing live captioning of conference sessions where possible.
      %li Offering significantly discounted tickets for students and other concession holders.
      %li Potentially providing childcare for parents of young children.
      %li Providing complimentary tickets for assistants for those with disabilities.

    %p If you're not sure whether the concession rate should apply to you, you're interested in the offer of childcare, or you have any other accessibility requirements, please do <a href="mailto:organisers@rubyconf.org.au">get in touch</a>.

    %p Our goal is that the conference and workshops (and ideally all other related events) are accessible to people with physical disabilities. However, we are aware that accessibility issues are diverse and we may not have everything covered off in our plans - please reach out, and we will do our very best to confirm we have those requirements under control.

    %p We will happily reserve you a ticket if it's not immediately clear whether necessary assistance is provided.
