- @page_title = "RubyConf AU 2017 - Accommodation"

%section.billboard
  .column
    %h1 Accommodation

    %p
      %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2017', target: '_blank' }
        Buy Tickets

%section.body-section#crowne{'data-magellan-target': 'social'}
  .column
    / .hotel-image
    /   %img{src: "/images/2017/crowne.jpg"}
    / .hotel-description
    .row
      %h3 Crowne Promenade
      %p.hotel-address 8 Whitman Street, Southbank VIC 3006
      %p
        Set behind the famous Crown Casino on the banks of the Yarra River, this upscale hotel is a short 10 minute walk from the Melbourne Convention & Exhibition Centre. Their signature restaurant Mesh offers contemporary bistro food from their impressive buffet or an a la carte menu, while their signature bar Tonic has a relaxed ambience and an outdoor terrace which makes it a great place to relax after a busy day.
      %p
        With tram stops and the well-known Yarra Promenade restaurant precinct close by, this hotel ticks all the boxes for a Melbourne city break.
      %p
        Hotel amenities include free wifi and parking, a business centre, laundry & room service, air-conditioned & smoke-free rooms, and an indoor pool & gym. Our friends at Crown have generously extended a discounted rate for all Ruby Conference delegates, which will apply to dates booked immediately before or after the conference as well.
      %p
        Standard room $280.00, add on buffet breakfast for $30 per person
      %p
        Direct booking link coming soon - please
        %a{ href: 'organisers@rubyconf.org.au'}contact us
        if you would like to book.


%section.body-section#pensione{'data-magellan-target': 'social'}
  .column
    / .hotel-image
    /   %img{src: "/images/2017/pensione.jpg"}
    / .hotel-description
    .row
      %h3 Pensione Hotel
      %p.hotel-address 16 Spencer Street, Melbourne VIC 3000
      %p
        Located in the heart of the Melbourne CBD, this budget boutique hotel is an 8 minute walk across the bridge to the Melbourne Convention & Exhibition Centre and a 2 minute walk from Southern Cross Train Station An original turn of the century building, this modern hotel has a rooftop sun deck, guest laundry, 24/7 reception, room service and Olivier’s Cafe & Bar.

      %p
        All rooms include breakfast, compact ensuite bathroom, wifi, plasma TV with Foxtel and tea & coffee making facilities.

      %p
        Matchbox room (cosy room with single bed) $130, Shoebox room (cosy room with double bed) $150, Double room $160, Twin room $180 (all include breakfast)

      %p
        To book accommodation, please contact the hotel directly via email on resmel@pensione.com.au or by phone on +61 3 9621 3333 and quote RUBY CONFERENCE or RUBY17.



