#home
  .body-section
    %img.img-responsive{src: '/images/2017/rubies.svg'}
    .splash-content
      %h1.hero
        Ruby Conf AU
        %small Melbourne 9&ndash;10 Feb 2017

      %a.button.button-primary{href: 'https://ti.to/ruby-australia/rubyconf-au-2017/with/qf2fjiu2ftk', target: '_blank' }
        Buy Super Early Bird Tickets

%section.body-section--event-footer
  %ul
    %li.footer__link
      %a{href: 'mailto:organisers@rubyconf.org.au'}
        %img{src: '/images/2017/envelope.svg'}
    %li.footer__link
      %a{href: 'https://twitter.com/rubyconf_au'}
        %img{src: '/images/2017/twitter.svg'}
    %li.footer__link
      %a{href: 'https://www.facebook.com/RubyConfAustralia'}
        %img{src: '/images/2017/facebook.svg'}

= haml :'2017/_sponsors'