%section.billboard
  .column
    %h1
      RubyConf AU 2017
      %small
        Melbourne
        %br
        9-10 Feb


    %p
      %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2017', target: '_blank' }
        Buy Early Bird Tickets
        %br
        %span Early bird ends 14th Nov 2016 @ 11:59pm

= haml :'2017/home/_location'
= haml :'2017/home/_speakers'
= haml :'2017/_sponsors'
= haml :'2017/home/_attending'
