%section.billboard
  .column
    %h1
      RubyConf AU 2017
      %small
        Melbourne
        %br
        9-10 Feb

= haml :'2017/home/_location'
= haml :'2017/home/_speakers'
= haml :'2017/home/_attending'
= haml :'2017/_sponsors'
