#home
  %section.main-section
    .overlay
      .content
        .row.button-content
          .column.shrink
            %a.button.large{href: 'https://ti.to/ruby-australia/rubyconf-au-2017', target: '_blank' }
              Buy Super Early Bird Tickets
        .transparent-overlay
          .row.align-center
            .column
              %h1.hero.text-center
                Ruby Conf AU 2017
              %p.lead
                RubyConf Australia is an inclusive conference that aims to bring together people from all walks of life to share knowledge and inspiration.

= haml :'2017/home/_sponsors'
