%section.billboard
  .column
    %h1 Location

    %p
      %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2017', target: '_blank' }
        Buy Tickets

= haml :'2017/home/_location'

%section
  .column
    .getting-there
      %h3 Getting there
      %p
        %b Tram:
        Catch Tram number 96, 109 or 12 and hop off at the stop opposite the Clarendon Street entrance.<br />
        %b Car:
        There are 5 carparks nearby include 1060 undercover parking spaces at the MCEC, with a daily rate of $56.<br />
      %p
        Visit the
        %a{href: 'http://mcec.com.au/your-visit/getting-there/'}
          Melbourne Convention and Exhibition Centre website
        for more information.

  .column
    .accommodation
      %h3 Accommodation
      %p
        Nearby hotel and short stay apartments include:
        %ul
          %li Hilton Melbourne South Wharf
          %li Melbourne Short Stay Apartments on Whiteman
          %li Crown Casino
          %li Aria Hotel Apartments

= haml :'2017/home/_attending'
