- @page_title = "RubyConf AU 2017 - Social Events"

%section.billboard
  .column
    %h1 Social Events

    %p
      %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2017', target: '_blank' }
        Buy Tickets

%section.body-section#opening{'data-magellan-target': 'social'}
  .column
    .social-image
      %img{src: "/images/2017/scienceworks.jpg"}
    .social-description
      %h3 Opening Party @ ScienceWorks
      %p
        Scienceworks links Melbourne's industry, heritage and applied technology in one place: a new building looking across the arena to the century-old Pumping Station, all under the grand arc of the West Gate Bridge. It is bursting with things to challenge curious minds of all ages.

      %p
        We'll be hosting our Opening Party for RubyConf AU 2017 here, with an evening of access to the interactive exhibits. Indulge your inner child, your inner geek, or just enjoy the company, canapes and a drink or two, and share in the excitement!


%section.body-section#happy-hour
  .column
    .social-image
      %img{src: "/images/2017/boatbuilders-yard.jpg"}
    .social-description
      %h3 Happy Hour @ Boatbuilder's Yard
      %p
        Located a stone's throw from the conference centre and right on the banks of the Yarra River, the Boatbuilder's Yard is the perfect place to spend some time talking over the day, and catching up with your fellow Rubyists. We'll have a private area with snacks and drinks provided, music and views across to the city skyline.

%section.body-section#closing
  .column
    .social-image
      %img{src: "/images/2017/strike.jpg"}
    .social-description
      %h3 Closing Party @ Strike
      %p
        Right in the centre of the CBD, equipped with 10 bowling lanes, a cosy bar, great music and an awesome laser tag arena based on urban warfare within Melbourne Central Station (it even has a train inside!) Strike Melbourne Central also has pool tables to release the inner shark.

      %p
        For our Closing Party in 2017, we're laying on plenty of entertainment, with something for everyone! And who knows if the night will end with Ruby Karaoke ...

%section.body-section
  .column
    .row
      .all-tickets All tickets include access to Opening Party, Happy Hour and Closing Party.
      .all-tickets
        Please register if you would like to attend any of our Saturday events (read on for details)!
        %br
        %br
        %a.button.large.expanded{href: 'https://ti.to/ruby-australia/rubyconf-2017-social-events'} Register for Saturday Events

%section.body-section#hack-day
  .column
    .social-image
      %img{src: "/images/2017/hack-day.jpg"}
    .social-description
      %h3 Hack Day
      %p.social-overview Hosted by REA at their Richmond office, free to attend
      %p
        Join a group of keen coders to work on a personal project, or join in on somebody else's.

%section.body-section#hack-day
  .column
    .social-image
      %img{src: "/images/2017/healesville.jpg"}
    .social-description
      %h3 Healesville Sanctuary trip
      %p.social-overview Free bus provided, pay for your own ticket
      %p
        Formally known as the Sir Colin MacKenzie Sanctuary,
        %a{ href: "http://www.zoo.org.au/healesville/" }Healesville Sanctuary
        is a bushland haven for Australian Wildlife. Healesville Sanctuary is one of Australia’s most loved tourist attractions and the best place in Victoria to see and interact with native Australian wildlife. The Sanctuary is committed to fighting wildlife extinction and offers visitors the opportunity to come close up to unique Australian animals in a stunning bushland setting. We will run a bus from the city in the morning, returning in the afternoon.


%section.body-section#hack-day
  .column
    .social-image
      %img{src: "/images/2017/craft-beer.jpg"}
    .social-description
      %h3 Craft Beer tour of Melbourne
      %p.social-overview Free to go, pay for your own food and beer
      %p Join some of the keenest and most discerning beer drinkers in the Ruby community for a tour of specialist pubs and bars in the city of Melbourne. Meet from late morning and sample some very special beers at our favourite venues.

%section.body-section#hack-day
  .column
    / .social-image
    /   %img{src: "/images/2017/walking-tour.jpg"}
    / .social-description
    .row
      %h3 Walking tour of Melbourne
      %p.social-overview Free to join
      %p One of our favourite Melbourne locals will guide you around the city and show you some highlights of our amazing city. This is a perfect way to wind down after the conference - for visitors, make sure you see some of Melbourne before heading home, and for locals come along to find something new in your home city!


%section.body-section#hack-day
  .column
    / .social-image
    /   %img{src: "/images/2017/bike-ride.jpg"}
    / .social-description
    .row
      %h3 Beach Bike Ride
      %p.social-overview Free to join, hire a bike or bring your own
      %p Meeting at St Kilda, we'll take a gentle ride along the coast for some stunning views including the Melbourne city skyline. The bike ride will be weather dependent!

