- @page_title = "RubyConf AU 2017 - Social Events"

%section.billboard
  .column
    %h1 Social Events

    %p
      %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2017', target: '_blank' }
        Buy Tickets


%section.body-section#opening{'data-magellan-target': 'social'}
  .column
    .row
      %h3 Opening Party @ ScienceWorks
      %p
        Scienceworks links Melbourne's industry, heritage and applied technology in one place: a new building looking across the arena to the century-old Pumping Station, all under the grand arc of the West Gate Bridge. It is bursting with things to challenge curious minds of all ages.

      %p
        We'll be hosting our Opening Party for RubyConf AU 2017 here, with an evening of access to the interactive exhibits. Indulge your inner child, your inner geek, or just enjoy the company, canapes and a drink or two, and share in the excitement!


%section.body-section#happy-hour
  .column
    .row
      %h3 Happy Hour @ Boatbuilder's Yard
      %p
        Located a stone's throw from the conference centre and right on the banks of the Yarra River, the Boatbuilder's Yard is the perfect place to spend some time talking over the day, and catching up with your fellow Rubyists. We'll have a private area with snacks and drinks provided, music and views across to the city skyline.

%section.body-section#closing
  .column
    .row.closing
      %h3 Closing Party @ Strike
      %p
        Right in the centre of the CBD, equipped with 10 bowling lanes, a cosy bar, great music and an awesome laser tag arena based on urban warfare within Melbourne Central Station (it even has a train inside!) Strike Melbourne Central also has pool tables to release the inner shark.

      %p
        For our Closing Party in 2017, we're laying on plenty of entertainment, with something for everyone! And who knows if the night will end with Ruby Karaoke ...
