- @page_title = "RubyConf AU 2017 - Speakers"

%section.billboard
  .column
    %h1 Meet Our Speakers

    %p
      %a{ href: 'https://ti.to/ruby-australia/rubyconf-au-2017', target: '_blank' }
        Buy Early Bird Tickets
        %br
        %span Early bird ends 14th Nov 2016 @ 11:59pm


%section.body-section#speakers{'data-magellan-target': 'speakers'}
  .column
    .row
      - @speakers.all.each do |speaker|
        = haml :'2017/home/_speaker', locals: { speaker: speaker, show_bio: true }

= haml :'2017/_sponsors'
