section#attending {
  .policies {
    @include outer-container;

    text-align: center;
    margin-top: 1rem;

    a {
      @include button($color: $dark-red, $text-color: white);
      margin: 0 1rem modular-scale(0);

      @include mobile-portrait {
        @include span-columns(12);
        margin: 0 0 modular-scale(0) 0;
      }
    }
  }
}
