.button {
  text-transform: uppercase;
  font-family: $header-font-family;

  &.secondary {
    background-color: $secondary-color;
    color: $white;
  }
}

@include breakpoint(small only) {
  .button {
    background-color: $secondary-color;
  }
}