$grey-very-light: #f9f9f9;
$grey-light: #fefefe;
$grey-light-text: #999999;
$grey: #848484;
$grey-dark: #4A4A4A;
$black: #000;
$blue: #6484DF;
$red: #DA4D3D;
$pink: #FCDBDB;
$yellow: #FFD740;

$blue-grey: #9299a7;

$background-color: $grey-very-light;
$heading-color: $blue;
$text-color: $grey;

$button-color: $red;
$button-text-color: white;

$link-text-color: $blue;
