@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

$header-font: Futura, "Trebuchet MS", Arial, sans-serif;
$body-font: 'Open Sans', sans-serif;
$body-letter-spacing: 0.15rem;
$body-letter-spacing-small: -0.35rem;

$standard-text-size: 0.75rem;
$lead-text-size: 0.85rem;

$nav-links-size: 0.65rem;
$footer-links-size: $standard-text-size;
$paragraph-size: $standard-text-size;
$button-text-size: 1rem;
$section-heading-size: 1.8rem;
