section#location {
  #map {
    @include span-columns(5);
    height: 20rem;

    @include mobile-portrait {
      display: none;
    }
  }

  .description {
    @include span-columns(7);

    a {
      text-decoration: none;
    }

    @include mobile-portrait {
      @include span-columns(12);
    }
  }
}
