section#location {
  #map {
    @include span-columns(5);
    height: 20rem;

    @include mobile-portrait {
      display: none;
    }
  }

  .description {
    @include span-columns(7);

    a {
      text-decoration: none;
    }

    @include mobile-portrait {
      @include span-columns(12);
    }
  }

  a.button {
    @include button($color: $dark-red, $text-color: white);
    margin: 0 1rem modular-scale(0);

    @include mobile-portrait {
      @include span-columns(12);
      margin: 0 0 modular-scale(0) 0;
    }
  }
}

.accommodation,
.getting-there {
  @include span-columns(7);
  @include shift(5);
}

.getting-there {
  margin-bottom: modular-scale(2);
}
