section {

  .transparent-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 2rem;
    margin-top: 8rem;

    @include breakpoint(small only) {
      margin-top: 2.5rem;
    }
  }

  &.main-section {
    position: relative;
    background-image: url('/images/2017/splash.png');
    @include background-size(cover);
    height: 798px;

    @include breakpoint(small only) {
      height: auto;
    }

    .overlay {
      @include breakpoint(medium) {
        @include absolute-position;
      }

      padding-top: 0.5rem;
      background-image: url('/images/2017/splash-overlay.svg');
      @include background-size(auto 100%);
      background-position: center;
      background-repeat: no-repeat;
    }

    .content {
      @include breakpoint(medium) {
        @include absolute-position;
      }
      padding-top: 3rem;
      padding-bottom: 13rem;
      background: url('/images/2017/rubies.svg') top center no-repeat;
      @include background-size(auto 90%);
      background-repeat: no-repeat;
      @include breakpoint(small only) {
        padding-bottom: 6rem;
      }
    }

    h1.hero {
      color: $white;
    }

    p.lead {
      color: $white;
    }

    .button-content {
      @include flex-align(right, null);

      @include breakpoint(small only) {
        @include flex-align(center, null);
      }
    }
  }

  &.body-section {
    padding: 2rem 0;

    &:nth-child(odd) {
      background: $white;
    }

    &:nth-child(even) {
      background: map-get($foundation-palette, pink);
    }
  }

  &.sponsor-section {
    padding-top: 4rem;
  }
}