section#speakers {
  @include highlight-section;
}

.row.view-all {
  text-align: center;

  a {
    @include button($dark-red, white);
  }
}

.speaker {
  @include span-columns(4);
  @include omega(3n);

  margin: 0 0 40px;
  width: 33.33333%;
  text-decoration: none;
  color: black;

  .about {
    padding: 1.4rem;

    @include mobile-portrait {
      padding: 0.5rem 0;
    }
  }

  img {
    @include filter(grayscale(100%));
    width: 100%;
    position: relative;
    opacity: 0.6;
  }

  h3 {
    margin-bottom: 7px;
    line-height: modular-scale(2);
    color: $dark-red;
    min-width: 80%;

    .name {
      display: block;
    }
  }

  .twitter {
    color: $blue;
    margin-bottom: 7px;
  }

  .bio {
    color: $charcoal;
  }

  .talk-title {
    font-weight: 300;
    font-size: modular-scale(2);
    line-height: modular-scale(2);
    margin-bottom: modular-scale(1);
    color: $charcoal;
    text-transform: uppercase;
    font-style: italic;
    width: 100%;
  }

  &:hover {
    img{
      opacity: 1.0;
    }
  }

  @include mobile-portrait {
    @include span-columns(6);
    @include omega-reset(3n);
    @include omega(2n);

    margin-bottom: modular-scale(0);

    h3 {
      font-size: modular-scale(0);
      line-height: modular-scale(0);
      margin-bottom: 0;
    }

    .talk-title {
      font-size: modular-scale(0);
      line-height: modular-scale(0);
    }

    .bio {
      display: none;
    }
  }
}
