@import 'bootstrap_mixins';

.sponsor-logo {
  padding: 40px;
  @include img-responsive;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sponsor-section {
  display: block;
  margin: auto;
  padding-top: 4rem;
  margin-bottom: 50px;

  ul.sponsors {
    width: 55%;

    li {
      margin: 0;
      list-style: none;
      width: 50%;
      padding: 5px;
      float: left;
      img {
        width: 100%;
      }
    }
  }


  @media (max-width: 900px) {
    ul.sponsors {
      width: 80%;

      li {
        margin: auto;
        max-width: 500px;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        float: none;
        text-align: center;
      }
    }
  }

}
