h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1.hero {
  font-size: 7.25rem;
  letter-spacing: -0.35rem;
  font-weight: 100;
  line-height: 1.2;

  small {
    font-size: 2.35rem;
    display: block;
    text-transform: none;
    font-weight: normal;
    letter-spacing: -0.025rem;
  }

  @media (min-width: 900px) and (max-width: 1200px) {
    font-size: 5.25rem;
  }
  @media (min-width: 535px) and (max-width: 900px) {
    font-size: 4.25rem;
    small {
      font-size: 1.75rem;
    }
  }
  @media (max-width: 534px) {
    font-size: 3.00rem;

    small {
      font-size: 1.5rem;
    }
  }

}

@include breakpoint(small only) {
  .lead {
    font-size: 125%;
  }
}