$font-heading: 'Lato', sans-serif;
$font-body: 'Open Sans', sans-serif;

$blue: #6484DF;
$light-red: #FCDBDB;
$dark-red: #DA4D3D;
$charcoal: #4A4A4A;
$grey: #5D5D5D;
$color-action: #FFD740;

// $modular-scale-ratio: $golden;
// $modular-scale-base: 1.2rem;

$ms-ratio: $golden;
$ms-base: 1.2rem,1.5rem;

$responsive-mobile-portrait-max-width: 414px;
