.event {
  text-align: center;
  padding: 0.25rem;

  h3 {
    text-transform: uppercase;
    font-size: $section-heading-size;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    border: 5px solid #bfd0d8;
  }
}

.body-section--event {
  .event {
    max-width: 750px;
    text-align: left;
    margin: auto;
    padding: 0 20px;
  }

  h3 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  img {
    border: 5px solid #bfd0d8;
  }

  .button {
    display: block;
    width: 12rem;
    margin: 20px auto;
    text-align: center;
  }

  .event__date-time {
    color: $grey-light-text;
    font-size: 0.75rem;
    letter-spacing: $body-letter-spacing-small;
  }
}

.getting-there {
  text-align: left;
  p {
    font-weight: bold;
    padding-bottom: 0;
  }
}

.event-divider {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .carousel-control {
    .icon-next.event__control, .icon-prev.event__control {
      font-size: 100px;
      margin-top: -60px;
    }
  }
}
