.introduction {
	margin: 40px 0 80px;

	@media (max-width: 768px) {
		margin: 40px 0;
	}

	.lead {
		font-size: 150%;
	}
}

.opportunity {
  padding-bottom: 1rem;
}


.ticketing #tito-ticket-y1kpbdian8q:before {
  content: "Saturday Activities";
  border-top: 1px solid #ccc !important;
  display: block;
  padding: 0.5em 0.75em;
  font-size: 2rem;
  margin-top: 1em;
}
