.shortcuts {
  @include align('center');

  a {
    text-transform: uppercase;
    font-weight: 600;
    color: $darker-pink;
    font-size: 26px;
    padding: 0 5px;
  }
}

.schedule {
  .day {
    background-color: $super-soft-pink;
  }

  ol {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
  }

  .event {
    @include row;
    width: 100%;

    position: relative;

    h2,
    p {
      width: 100%;
    }

    h2 {
      text-align: left;
      font-size: 28px;
      font-weight: 400;
      padding-top: 10px;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }

    .details {
      @include span(9, $small: 12);
      padding-bottom: 15px;
    }

    .time {
      @include span(2);

      p {
        text-align: right;
        color: $brown;
        font-weight: 600;
        margin-top: 15px;
        font-size: 20px;
      }
    }

    article {
      @include span(10);
    }

    .sponsor {
      margin-top: 20px;
      font-size: 16px;
      img {
        margin-top: 5px;
        max-width: 128px;
      }
    }

    .social {
      @include row;

      .avatar {
        @include span(3, $small: 6);

        img {
          max-width: 100%;
          border: 3px solid $brown;
        }
      }

      .info {
        @include span(9, $small: 12);

        .title {
          font-weight: 600;
          font-size: 24px;
        }

        .minor {
          font-size: 90%;
          margin-bottom: 0.35rem;

          &.free {
            color: $darker-pink;
            font-weight: 600;
          }

          a {
            color: $darker-pink;
          }
        }
      }
    }

    .speaker {
      @include row;

      margin: 10px 0;
      .avatar {
        @include span(3, $small: 6);

        img {
          max-width: 100%;
          border: 3px solid $brown;
        }
      }

      .video {
        display: block;
      }

      .info {
        @include span(9, $small: 12);

        &.double {
          @include span(6, $small: 12);
        }

        .title {
          font-weight: 600;
        }

        font-size: 24px;
        font-weight: 300;

        a {
          text-decoration: none;
          font-size: 18px;
        }
      }
    }
  }
}
