.speakers {
	margin: 40px 0 80px;

    .avatar {
        position: relative;
    }

    .speaker-list {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 80px;
    }

    .speaker {
        @include span(4, $medium: 6, $small: 12);

        img {
          position: relative;
          border-radius: 3px;
          border: 3px solid $brown;
        }

        &.bio {
            margin: 1rem 0;
        }

        /* Ruby gem */

        &__name, .name {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 60px;
            height: 0;
            position: absolute;
            border: 45px solid transparent;
            border-top-width: 0;
            border-bottom-color: #fbc54a;
            color: #635147;
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            -o-text-overflow: clip;
            text-overflow: clip;
            z-index: 9;

            &:after {
              -webkit-box-sizing: content-box;
              -moz-box-sizing: content-box;
              box-sizing: content-box;
              width: 0;
              height: 0;
              position: absolute;
              content: "";
              top: 45px;
              left: -46px;
              border: 75px solid transparent;
              border-top: 80px solid #fbc54a;
              border-bottom-width: 0;
              color: #635147;
              -o-text-overflow: clip;
              text-overflow: clip;
              text-shadow: none;
              z-index: -1;
            }
        }

        &__name {
          > div {
            font-size: 20px;
            margin: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
          }
        }
    }

    .apply a {
        padding: 15px 120px;
        color: white;
        cursor: pointer;
        font-weight: 500;
        background: teal;
        border-radius: 3px;
        margin: 2rem 0 0;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }
}

@media (max-width: 576px) {
  .speakers.all .speaker .avatar .name {
    right: 65%;
    left: auto;
    top: -35px;
  }
}

@media (min-width: 768px) {
  .speakers.all .speaker .avatar .name {
    left: -15px;
    top: -35px;
  }
}

@media (min-width: 990px) {
  .speakers.all .speaker .avatar .name {
    left: -15px;
    top: -35px;
  }
}

@media (min-width: 1200px) {
  .speakers.all .speaker .avatar .name {
    left: 18px;
    top: -35px;
  }
}

.speakers.all {
  margin-top: 60px;

  .speaker {
    @include span(10);
    @include row;

    margin-bottom: 60px;
    min-height: 220px;

    .avatar {
      @include span(4, $medium: 5, $small: 12);
      @include align('middle', $small: 'middle', $x-small: 'middle');
      @include align('center');

      position: relative;
      z-index: 900;
      height: 220px;

      img {
        margin: 20px auto;
        width: 200px;
      }
    }

    .name {
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      height: 90px;
      // margin-left: -170px;
      padding-top: 22px;
      width: 90px;
      left: 75px;
      top: -35px;
    }

    .details {
      @include span(8, $medium: 7, $small: 12);
      position: relative;
      z-index: 1100;
      background: white;

      h4 {
        @media (max-width: 576px) {
          margin-top: 20px;
        }
      }

      .quote {
        font-size: 20px;
        text-align: left;
        margin-bottom: 30px;
        line-height: 30px;
        position: relative;

        &.highlight {
          &:before {
            content: "";
            background: url(/2018/images/quote-open.png) no-repeat center top;
            width: 32px;
            height: 27px;
            height: 100%;
            position: absolute;
            left: -34px;
            top: -5px;
            opacity: 0.5;
          }

          &:after {
            content: "";
            background: url(/2018/images/quote-close.png) no-repeat center top;
            width: 32px;
            height: 27px;
            position: absolute;
            right: -34px;
            top: -5px;
            opacity: 0.5;
          }
        }
      }

      .bio {
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 20px;

        @media (max-width: 576px) {
          margin-top: 20px;
        }
      }

      .social {
        text-align: left;
      }
    }
  }
}


