.speakers {
	margin: 40px 0 80px;

    .avatar {
        position: relative;
    }

    .speaker-list {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0 80px;
    }

    .speaker {
        @include span(4, $medium: 6, $small: 12);
        img {
            border-radius: 3px;
            border: 3px solid $brown;
        }

        &.bio {
            margin: 1rem;
        }

        &__name {
            background: $mustard;
            border-radius: 50%;
            color: $brown;
            font-size: 22px;
            font-weight: 500;
            line-height: 26px;
            height: 120px;
            left: 50%;
            margin-left: -170px;
            padding: 32px 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 120px;
            z-index: 1300;

            &:after {
            }
        }
    }

    .apply a {
        padding: 15px 120px;
        color: white;
        cursor: pointer;
        font-weight: 500;
        background: teal;
        border-radius: 3px;
        margin: 2rem 0 0;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }
}

