.tickets {
	margin: 40px 0 80px;
	.tito-submit{
		background: $mustard!important;
		border-color: $mustard!important;
		font-weight: 600;
		padding: 8px 16px!important;
    	height: auto!important;
	}
	.tito-submit:hover {
		background: $mustard!important;
		border-color: $mustard!important;
	}

	.apply {
		a {
			padding: 12px 60px;
        	color: white;
	        cursor: pointer;
	        font-weight: 500;
	        background: hotpink;
	        border-radius: 3px;
	        margin: 20px 0;
	        text-align: center;
	        text-transform: uppercase;
	        text-decoration: none;
		}
	}
}