.introduction + .location {
  margin-top: -100px;
}

.location {
  img.map {
    border-radius: 50%;
    border: 4px solid $color-french-fry;
    max-width: 100%;
  }

  h4 + p {
    margin-top: 10px;
  }

  .transport {
    @include span(8, $small: 12);
  }
}
