#intro {
  background: #fff;

  hgroup a {
    display: inline-block;
    padding: 3px 4px;
    color: #fff;
  }

  a.whos-speaking {
    background: $mustard;
  }
  a.get-ticket {
    background: $red;
  }
}

@media only screen and (max-width: 480px) {
  section#intro {
    hgroup {
      width: 90%;
    }
    hgroup h2 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
