body#lightning {
  background: #fff;

  a { color: $red; }

  section#title {
    background: $purple;

    h1 {
      color: #fff;
      font-weight: 600;
      margin: 1rem 0 0.5rem;
    }
  }

  section#main {
    padding-bottom: 3rem;

    .row { width: 40%; }

    #talk-proposal-success {
      padding: 10px;
      background: #eee;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    textarea { height: 200px; }

    .button {
      font-weight: 400;
      color: $light_grey;
      background: #eee;
      border: 1px solid $light_grey;

      &:hover { color: $default_text_color; }
    }
  }
}
