body#news {
  background: #fff;

  a { color: $red; }

  section#title {
    background: $orange;

    h1 {
      color: #fff;
      font-weight: 600;
      margin: 1rem 0 0.5rem;
    }
  }

  section#main {
    padding-bottom: 3rem;
    .row { width: 75%; }
  }

  article {
    width: 75%;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;

    h2 {
      color: $red;
      font-size: 1.5rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1.25rem;
    }

    p.date {
      color: $light_grey;
      position: absolute;
      left: -14%;
      top: 0.7rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  section#news {
    p.date { left: -18%; }
  }
}
