%header
  .container
    .dates-and-location
      %a{ href: '/2018' }
        %strong RubyConf AU 2018
        %br
        March 8th & 9th &bullet; Sydney

    .brand
      %a{ href: '/2018' }
        %img{ src: '/2018/images/mascot.svg' }

    %nav
      %a{href: '/2018/speakers'} Speakers
      %a{href: 'https://ti.to/ruby-australia/rubyconf-au-2018'} Tickets
  .ribbon
