.sponsors
  .container
    %h3
      RubyConf AU would not be possible without the support from these
      %strong incredible
      sponsors

  .container
    .sponsor-group.ruby
      %h4 Ruby Sponsor
      .sponsor
        %a{ href: 'https://envato.com', target: '_blank' }
          %img{ src: '/2018/images/sponsors/envato.png' }

  .container
    .sponsor-group.emerald
      %h4 Emerald Sponsors
      .sponsor
        %a{ href: 'https://www.cultureamp.com', target: '_blank' }
          %img{ src: '/2018/images/sponsors/culture-amp.png' }
      .sponsor
        %a{ href: 'https://www.lookahead.com.au', target: '_blank' }
          %img{ src: '/2018/images/sponsors/lookahead.png' }
      .sponsor
        %a{ href: 'https://reinteractive.com', target: '_blank' }
          %img{ src: '/2018/images/sponsors/reinteractive.png' }

  .container
    .sponsor-group.opal
      %h4 Opal Sponsor
      .sponsor
        %a{ href: 'https://www.oneflare.com.au', target: '_blank' }
          %img{ src: '/2018/images/sponsors/oneflare.png' }

  .container
    .sponsor-group.amber
      %h4 Amber Sponsor
      .sponsor
        %a{ href: 'https://www.shippit.com', target: '_blank' }
          %img{ src: '/2018/images/sponsors/shippit.png' }

  .container
    .sponsor-group.speaker-sponsors
      %h4 Speaker Sponsors
      .sponsor
        %a{ href: 'http://theconversation.com', target: '_blank'}
          %img{ src: '/2018/images/sponsors/the-conversation.png' }


  .container
    %p
      Interested in sponsoring RubyConf AU 2018?
      %br
      %a{ href: 'mailto:sponsorship@ruby.org.au' } Email us!
