* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font: 200 18px/1.3 $body-font;
  background: $dark-reversed-background-color;
  color: $reversed-text-color;
  @media (min-width: 500px) { font-size: 16px; }
  @media (min-width: 700px) { font-size: 21px; }
}

h1, h2, h3 {
  font-family: $display-font;
  text-transform: uppercase;
}

a {
  text-decoration: none; color: currentColor; font-weight: bold;
  &:focus { outline: 1px dotted currentColor; }
  &:hover { text-decoration: underline; }
}

sup {
  position: relative;
  top: -0.3em;
  font-size: 75%;
  vertical-align: baseline;
}

h3 sup {
  font-size: 66%;
  top: -0.35em;
  left: .1em;
}

button {
  @extend .button;
}

/* Fix kerning of 2015 in Futura */
.two-oh-one-five {
  .oh  { letter-spacing: -.09em; }
  .one { letter-spacing: -.13em; }
}
