$light-brown: #FFF5E8;
$dark-brown: #743C00;

$summer-fruits-red: #E74141;
$blood-red: #AB3030;

$background-color: $light-brown;
$text-color: $dark-brown;
$faded-text-color: rgba($dark-brown, .8);

$dark-reversed-background-color: $blood-red;
$reversed-background-color: $summer-fruits-red;
$reversed-text-color: white;
$reversed-faded-text-color: rgba(white, .8);
