.site-nav {
  background: $blood-red;
  padding: 1rem;
  a {
    @extend .button;
    display: block;
    width: 100%;
    + a { margin-top: .5rem; }
  }
  @media (min-width: 900px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 0;
    background: rgba($summer-fruits-red,.8);
    border-bottom: 1px solid rgba(white, .1);
    a {
      display: inline;
      border: none;
      font-size: .75rem;
      padding-left: .25rem;
      padding-right: .25rem;
      color: rgba(white, .9);
      &:hover, &:active, &:focus { color: white; }
    }
  }
}
