%section.body-section#attending{'data-magellan-target': 'attending'}
  .row.column
    %h2 Attending
    .row.column
      %p
        RubyConf Australia is an inclusive conference and as such strives to be <a href="/2017/policies#code">welcoming</a> and <a href="/2017/accessibility">accessible</a> to as many people as possible.
      %p
        Ruby Conference Australia is organised under the umbrella of
        %a(href="http://www.ruby.org.au/") Ruby Australia
        and follows its
        %a(href="http://ruby.org.au/code-of-conduct.html") Code of Conduct.
    .row.align-spaced
      .column.small-12.medium-5.text-center
        %a.button.large.expanded{href: '/2017/policies'} View our Policies
      .column.small-12.medium-5.text-center
        %a.button.large.expanded{href: '/2017/accessibility'} View our Accessibility Statement
