%section#attending{'data-magellan-target': 'attending'}
  .column
    %h2 Attending
    %h3 Schedule
    %h4 Wednesday, Feb 8th - 7pm
    %p
      We're kicking off with an Opening Party hosted at the amazing
      %a{href: 'https://museumvictoria.com.au/scienceworks/'} ScienceWorks!
      Meet your fellow Rubyists, geek out over the special interactive exhibitions, and enjoy some food and drink on us.

    %h4 Thursday, Feb 9th - Conference Day 1
    %p 8am: Morning Coffee
    %p 9am: Conference talks start (single track)
    %p 5:30pm: Conference talks close
    %p
      5:30pm: We'll be closing out Day 1 with a chilled out Happy Hour, overlooking the Yarra River at the
      %a{href: 'http://www.theboatbuildersyard.com.au/'} Boatbuilder's Yard.
      Join us to mull over the day and share your favourite talks.

    %h4 Friday, Feb 10th - Conference Day 2
    %p 8am: Morning Coffee
    %p 9am: Conference talks start - dual track, choose from talks on softer skills and more generalist subjects, or deeper dives into a particular technical topic.
    %p 5:30pm: Conference talks close
    %p
      7pm onwards: Join us for the closing party at
      %a{href: 'http://www.strikebowling.com.au/locations/victoria/strike-melbourne-central'} Strike,
      where we'll have a party and some great entertainment with bowling, laser quest games and pool tables.

    %h4 Saturday, Feb 11th - Social Events
    %p Whether Melbourne's your home city or you're visiting for the conference, we've got plenty laid on for you to wind down and enjoy the weekend after. Family and friends are welcome!
    %ul
      %li Walking Tour of Melbourne (free) - meet at 9am
      %li Healesville Wildlife Sanctuary visit (bus provided, tickets $32.50, kids free)
      %li Craft Beer Tour of Melbourne (free, but beer not included!)
      %li Hack Day (free)
      %li Beach Bike Ride (free to join, bike hire from $3)
    %p If you're still going after that, we'll have a small crowd together at a local city venue from around 2pm, to wind down and say our goodbyes.
    %p
      %a{href: 'https://ti.to/ruby-australia/rubyconf-2017-social-events'}
        Register here for Saturday Social Events

    %p &nbsp;
    %h3 Code of Conduct
    %p
      RubyConf Australia is an inclusive conference and as such strives to be <a href="/2017/policies#code">welcoming</a> and <a href="/2017/accessibility">accessible</a> to as many people as possible.
    %p
      Ruby Conference Australia is organised under the umbrella of
      %a(href="http://www.ruby.org.au/") Ruby Australia
      and follows its
      %a(href="http://ruby.org.au/code-of-conduct.html") Code of Conduct.
  .column.policies
    %a.button.large.expanded{href: '/2017/policies'} View our Policies
    %a.button.large.expanded{href: '/2017/accessibility'} View our Accessibility Statement
