%section.body-section#location{'data-magellan-target': 'location'}
  .row.column
    .row
      .column.medium-4.show-for-medium
        #map.map
      .column.small-12.medium-8
        %h2 The Venue
        %p
          %a{href: 'https://www.google.com.au/maps/place/Melbourne+Convention+and+Exhibition+Centre/@-37.8253897,144.9509223,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad65d5173a284b5:0x958eeaf04deea384!8m2!3d-37.825394!4d144.953111'}
            1 Convention Centre Pl,<br>South Wharf VIC 3006
        %p
          Melbourne's award winning convention and exhibition centre plays host to the 2017 Australian Ruby Conference.
          Situated on the picturesque South Wharf, MCEC provides a stunning location to learn, meet, and share with
          like minded Ruby enthusiasts from all around the world.
        .row
          .column.medium-6.small-12
            %h4 Accommodation
            %p
              Nearby hotel and short stay apartments include:
              %ul
                %li Hilton Melbourne South Wharf
                %li Melbourne Short Stay Apartments on Whiteman
                %li Crown Casino
                %li Aria Hotel Apartments
          .column.medium-6.small-12
            %h4 Getting there
            %p
              %b Tram:
              Catch Tram number 96, 109 or 12 and hop off at the stop opposite the Clarendon Street entrance.<br />
              %b Car:
              There are 5 carparks nearby include 1060 undercover parking spaces at the MCEC, with a daily rate of $56.<br />
            %p
              Visit the
              %a{href: 'http://mcec.com.au/your-visit/getting-there/'}
                Melbourne Convention and Exhibition Centre website
              for more information.
