%a.speaker{href: speaker.external_url, target: '_blank'}
  %img.thumbnail{src: speaker.avatar_path}

  .about
    %h3
      - speaker.name.split(' ').each do |word|
        %span.name= word

    .talk-title
      - if speaker.featured
        Special Guest
      - else
        #{speaker.talk_title}
