%section.body-section#speakers{'data-magellan-target': 'speakers'}
  .column
    %h2 Meet our Speakers
    .row
      - @speakers.each do |speaker|
        = haml :'2017/home/_speaker', locals: { speaker: speaker }
