%section#sponsors
  .column
    %h1
      Thank You
      %small
        We couldn't have a conference without
        %br
        help from our generous sponsors

    %p.help
      If you'd like to help us by sponsoring Ruby Australia, we'd love to chat.
      %br
      %a{ href: 'mailto:treasurer@ruby.org.au', target: '_blank' }
        How can I help?

  .sponsor-group
    %h3 Ruby Sponsors

    %a{ href: '', target: '_blank' }
      %img{src: '/images/sponsors/rea-new.svg'}

    %a{ href: '', target: '_blank' }
      %img{src: '/images/sponsors/2013-envato.svg'}

  .sponsor-group
    %h3 Emerald Sponsors

    %a{ href: '', target: '_blank' }
      %img{src: '/images/sponsors/culture-amp.png'}
    %a{ href: '', target: '_blank' }
      %img{src: '/images/sponsors/lookahead.svg'}

  .sponsor-group
    %h3 Opal Sponsors

    %a{ href: '', target: '_blank' }
      %img{src: '/images/sponsors/oneflare.svg'}
    %a{ href: '', target: '_blank' }
      %img{src: '/images/sponsors/airtasker.svg'}

  .sponsor-group.assist
    %h3 RubyConf Assist Sponsors

    %a{ href: '', target: '_blank' }
      %img{src: '/images/sponsors/github-2.svg'}
