.introduction.mt-5
	.container-full
		.row.about
			.col-lg-6.col-sm-12.col-xs-12.image.text-center
				%img{src: "https://uc.uxpin.com/files/1010883/989432/image-6be625.png", class: "about-img"}
			.col-lg-6.col-sm-12.col-xs-12.about-desc
				%h2.section-title 
					What is 
					%br/
					RubyConf Au?
				%p Our yearly gathering where we share knowledge about the Ruby programming language, and celebrate the Australian and broader Ruby community.
				%p With a mixture of local and international speakers, there will be one single-track day of talks. We'll cover topics that interest, excite, and delight Rubyists and the Ruby-curious of all levels.
		.row.event-sponsors
			.col
				%h2.section-title Event Sponsors
				%p
					We're looking for sponsors, if you'd like to sponsor us next year, please visit 
					%a{href: 'https://ruby.org.au/sponsorship', target: 'blank'} Ruby Australia.