.introduction.mt-5
	.container-full
		.row.about
			.col-6.image
				%img{:src => "https://uc.uxpin.com/files/1010883/989432/image-6be625.png", :class => "about-img"}
			.col-6.about-desc
				%h2.section-title 
					What is 
					%br/
					RubyConfAu?
				%p Our yearly gathering where we share knowledge about the Ruby programming language, and celebrate the Australian and broader Ruby community.
				%p With a mixture of local and international speakers, there will be one single-track day of talks. We'll cover topics that interest, excite, and delight Rubyists and the Ruby-curious of all levels.
		.row.text-center.mt-5
			.col
				%h2.section-title.mt-5 Speakers
				%h3 If you'd like to be a speaker for RubyConfAu 2020, apply here!
		.row.text-center.mt-5
			.col
				%h2.section-title.mt-5 Event Sponsors
				%h3 We're looking for sponsors, if you'd like to sponsor us next year, contact us here.