.introduction.mt-5
	.container-full
		.row.about
			.col-lg-6.col-sm-12.col-xs-12.image.text-center
				%figure
					%img{src: "/2020/images/nadia.jpg", class: "about-img", alt: "Nadia Speaking"}
					%figcaption
						RubyConf AU 2019 speaker 
						%a{href: 'http://www.nadiaodunayo.com/', target: 'blank'} Nadia Odunayo. 
						Photographer:
						%a{href: 'https://about.me/johncarney', target: 'blank'} John Carney
			.col-lg-6.col-sm-12.col-xs-12.about-desc
				%h2.section-title 
					What is 
					%br/
					RubyConf AU?
				%p Our yearly gathering where we share knowledge about the Ruby programming language, and celebrate the Australian and broader Ruby community.
				%p With a mixture of local and international speakers, there will be two day of talks. We'll cover topics that interest, excite, and delight Rubyists and the Ruby-curious of all levels. There will also be social events hosted where you will get the opportunity to meet like-minded people!
		.row.event-sponsors
			.col
				%h2.section-title Event Sponsors
				%p
					We're currently looking for sponsors! If you'd like to sponsor RubyConf AU, please visit 
					%a{href: 'https://ruby.org.au/sponsorship', target: 'blank'} Ruby Australia.