.introduction.mt-5
	.container-full
		.row.about
			.col-lg-6.col-sm-12.col-xs-12.image.text-center
				%figure
					%img{src: "/2020/images/nadia.jpg", class: "about-img", alt: "Nadia Speaking"}
					%figcaption
						RubyConf AU 2019 speaker 
						%a{href: 'http://www.nadiaodunayo.com/', target: 'blank'} Nadia Odunayo. 
						Photographer:
						%a{href: 'https://about.me/johncarney', target: 'blank'} John Carney
			.col-lg-6.col-sm-12.col-xs-12.about-desc
				%h2.section-title 
					What is 
					%br/
					RubyConf AU?
				%p Our yearly gathering where we share knowledge about the Ruby programming language, and celebrate the Australian and broader Ruby community.
				%p With a mixture of local and international speakers, there will be two day of talks. We'll cover topics that interest, excite, and delight Rubyists and the Ruby-curious of all levels. There will also be social events hosted where you will get the opportunity to meet like-minded people!

		.row.tickets.text-center.mt-3
			.col
				%h2.section-title Tickets
				%tito-widget{ event: "ruby-australia/rubyconf-au-2020" }

		.row.tickets.text-center.mt-3
			.col
				%h2.section-title Opportunity Program
				%p
					Our Opportunity Program includes a free ticket to the conference plus an allowance for travel and accommodation costs for those outside Melbourne. This is for people who would otherwise not be able to afford attending RubyConf AU - we know not everyone receives the same opportunities to get ahead in their career, so this is just one step towards evening things out.
				%p
					Applications for our Opportunity Program close on February 1st 2020 or once all places have been allocated. Please email the organising team via
					%a{href: 'mailto:organisers@rubyconf.org.au'} organisers@rubyconf.org.au
					with your circumstances and assistance required and we will let you know before the end of the year if you have been successful.

		.row.speakers
			.col
				%h2.section-title Keynote Speaker
		.row.speaker-container
			.col-lg-3.text-center
				%img{ src: "/2020/images/speakers/vaidehi-joshi.jpg" }
			.col-lg-9.speaker-info			
				%h3.speaker-name Vaidehi Joshi
				%p Vaidehi Joshi is an engineer at Tilde, in Portland, Oregon, where she works on Skylight. She enjoys building and breaking code, but loves creating empathetic engineering teams a whole lot more. She is the creator of basecs, a weekly writing series that explored the fundamentals of computer science, co-host of the Base.cs Podcast, and a producer of the BaseCS and Byte Sized video series. She's currently at work on a new series on the basics of distributed systems, called baseds.
							
		= haml :'2020/common/_sponsors'
