.introduction
  .container-full.mb-4
    %h3.event-title An array of fun and varied activities to surround the conference!

.events
  .container-full
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: '/2020/images/alto.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Welcome Cocktail Party 💃 Sponsored by Envato
          .description
            %p To kick things off we are heading to the top of the GPO Building to Alto for a cocktail party to celebrate the start of the conference and the Ruby Community. Finger Food and drinks will be provided.

            %p This event is free for all conference attendees.
          .location
            Wednesday 19th February, 7pm-10pm <br />
            %a{ href: 'https://goo.gl/maps/nMorFH1wGMq1mSUP8' }
              %i.fa.fa-map-marker-alt
              Top Floor, Melbourne GPO Building Cnr Elizabeth + Little Bourke St, Melbourne VIC 3000
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: '/2020/images/slv.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Closing Games Night 🎲 Sponsored by Culture Amp
          .description
            %p Once we wrap up the conference, we'll continue the conversations with some board game fun at the State Library. Bring your favorite board game or use one provided and enjoy the soft sounds of Jazz surrounded by some of the most amazing books in the State! Again, Finger food and drinks are covered, so you can kick back and hang out with Ruby friends new and old.

            %p This event is free for all conference attendees.
          .location
            Friday 21st February, 7pm-10pm <br />
            %a{ href: 'https://goo.gl/maps/yNEF43hiGzo' }
              %i.fa.fa-map-marker-alt
              La Trobe Reading Room @ The State Library, 328 Swanston St, Melbourne VIC
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: 'https://www.broadsheet.com.au/media/cache/62/f1/62f1c207410f95cd631d6d403358d907.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Saturday Afternoon Drinks
          .description
            %p If you are local, or still in town, join us for a traditionally Saturday Avo Drink at Section 8 container bar. Drinks at bar prices, China Town is just down the lane to grab food if you get hungry later also.
          .location
            Saturday 22nd Feb, 2pm <br />
            %a{ href: 'https://g.page/section8melbourne?share' }
              %i.fa.fa-map-marker-alt
              Section 8, 27-29 Tattersalls Lane, Melbourne
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: 'https://cdn.vox-cdn.com/thumbor/rCULHcvlTzZiYZnBDKO28kYze8k=/0x0:1080x1080/1200x800/filters:focal(242x490:414x662)/cdn.vox-cdn.com/uploads/chorus_image/image/63014453/23847520_10155069460275777_8499314706713187486_o.0.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Coffee Cart ☕️ Sponsored by Up
          .description
            %p To keep you wide awake and focused we will have a coffee cart available on the days of the conference.

            %p Please bring a keep cup along with you if possible to help make our conference as sustainable as possible!
          .location
            Thursday 19th and Friday 20th February <br />
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: '/2019/images/hack-day.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Hack Day
          .description
            %p After all the learning you've done at the conference, we wouldn't blame you if you're itching to put that theory into practice and fire up your favourite text editor. ring your laptop and your Ruby ideas and projects along and we'll provide a space for you to code away to your heart's content with other like minds from the conference.

            %p This event is open to conference-goers and their partners - and is free! - but has limited availability. Please reserve your place as soon as possible to avoid missing out!
          .location
            Saturday 21st February, 11am-4pm <br />