.introduction
  .container-full.mb-4
    %h3.event-title An array of fun and varied activities to surround the conference!

.events
  .container-full
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: '/2020/images/alto.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Welcome Cocktail Party 💃
          .description
            %p To kick things off we are heading to the top of the GPO Building to Alto for a cocktail party to celebrate the start of the conference and the Ruby Community. Finger Food and drinks will be provided.

            %p This event is free for all conference attendees.
          .location
            Wednesday 19th February, 7pm-10pm <br />
            %a{ href: 'https://goo.gl/maps/nMorFH1wGMq1mSUP8' } 
              %i.fa.fa-map-marker-alt
              Top Floor, Melbourne GPO Building Cnr Elizabeth + Little Bourke St, Melbourne VIC 3000
    .row.mb-5
      .col-lg-3.col-md-4
        .avatar.social-event-avatar
          %img{ src: '/2020/images/slv.jpg' }
      .col-lg-9.col-md-8
        .details
          %h3.event-title Closing Games Night 🎲
          .description
            %p Once we wrap up the conference, we'll continue the conversations with some board game fun at the State Library. Bring your favorite board game or use one provided and enjoy the soft sounds of Jazz surrounded by some of the most amazing books in the State! Again, Finger food and drinks are covered, so you can kick back and hang out with Ruby friends new and old.

            %p This event is free for all conference attendees.
          .location
            Friday 21st February, 7pm-10pm <br />
            %a{ href: 'https://goo.gl/maps/yNEF43hiGzo' } 
              %i.fa.fa-map-marker-alt
              La Trobe Reading Room @ The State Library, 328 Swanston St, Melbourne VIC
