.introduction
  .container
    %p
      RubyConf AU 2018

  .container
    %p.dates
      8th & 9th March
      %br
      Sydney, Australia

  .container
    .ticketing
      %p.tickets
        %a#tito-loading-button.inverse{ href: 'https://ti.to/ruby-australia/rubyconf-au-2018' } Buy Early Bird Tickets
        %tito-button#tito-primary-button.hidden{ event: 'ruby-australia/rubyconf-au-2018', releases:'8vrdb45u0cq' }
          Buy Early Bird Tickets

      %p.small
        %span.loud
          For orders of 3 or more tickets, use discount code '
          %strong<> GROUP
          '

  .container
    %hr

.friends
  .container
    %p
      Featuring some
      %strong very
      special friends&hellip;

.speakers
  .container
    .speaker.first
      .speaker__name
        Sandi
        %br
        Metz
      .avatar
        %img{ src: '/2018/images/speakers/sandi-metz.png?2' }

    .speaker.second
      .speaker__name
        &hellip;and
        %br
        more!
      .avatar
        %img{ src: '/2018/images/mascot.svg' }

.coming-soon
  .container
    %p
      With more special guests, social events, and CFP to be announced soon.
      %br
      %br
      %a{ href: 'https://confirmsubscription.com/h/j/809D057CE90261E7', target: '_blank' } Subscribe for updates.

.container
  %hr

.sponsors
  .container
    %h3
      RubyConf AU would not be possible without the support from these
      %strong incredible
      sponsors

  .container
    .sponsor-group.ruby
      %h4 Ruby Sponsor
      .sponsor
        %a{ href: 'https://envato.com', target: '_blank' }
          %img{ src: '2018/images/sponsors/envato.png' }

  .container
    .sponsor-group.emerald
      %h4 Emerald Sponsors
      .sponsor
        %a{ href: 'https://www.cultureamp.com', target: '_blank' }
          %img{ src: '2018/images/sponsors/culture-amp.png' }
      .sponsor
        %a{ href: 'https://www.lookahead.com.au', target: '_blank' }
          %img{ src: '2018/images/sponsors/lookahead.png' }
      .sponsor
        %a{ href: 'https://reinteractive.com', target: '_blank' }
          %img{ src: '2018/images/sponsors/reinteractive.png' }

  .container
    .sponsor-group.opal
      %h4 Opal Sponsor
      .sponsor
        %a{ href: 'https://www.oneflare.com.au', target: '_blank' }
          %img{ src: '2018/images/sponsors/oneflare.png' }

  .container
    .sponsor-group.amber
      %h4 Amber Sponsor
      .sponsor
        %img{ src: '2018/images/sponsors/shippit.png' }

  .container
    %p
      Interested in sponsoring RubyConf AU 2018?
      %br
      %a{ href: 'mailto:sponsorship@ruby.org.au' } Email us!
