.introduction
  .container
    %h1.dates
      Returning to Sydney for
      %br
      the biggest, most exciting
      %br
      RubyConf AU
      %strong ever.

.tickets
  = haml :'2018/common/_tickets'

.container
  %hr

.friends
  .container
    %p
      Featuring some
      %strong very
      special friends&hellip;

.speakers
  .container
    .speaker.first
      .speaker__name
        Sandi
        %br
        Metz
      .avatar
        %img{ src: '/2018/images/speakers/sandi-metz.png?2' }

    .speaker.second
      .speaker__name
        = @speaker.first_name
        %br
        = @speaker.last_name
      .avatar
        %img{ src: @speaker.avatar_filename }

.coming-soon
  .container
    %p
      &hellip;
      %a{ href: '/2018/speakers', target: '_blank' } and lots more!

.container
  %hr

= haml :'2018/common/_sponsors'
