.introduction
  .container
    %h1.dates
      Returning to Sydney for
      %br
      the biggest, most exciting
      %br
      RubyConf AU
      %strong ever.

.tickets
  = haml :'2018/common/_tickets'

.container
  %hr

.friends
  .container
    %p
      Featuring some
      %strong very
      special friends&hellip;

.speakers
  .container
    .speaker.first
      .speaker__name
        Sandi
        %br
        Metz
      .avatar
        %img{ src: '/2018/images/speakers/sandi-metz.png?2' }

    .speaker.second
      .speaker__name
        Avdi
        %br
        Grimm
      .avatar
        %img{ src: '/2018/images/speakers/avdi-grimm.png' }

.coming-soon
  .container
    %p
      With speakers, and social events to be announced soon.
      %br
      %br
      %a{ href: 'https://confirmsubscription.com/h/j/809D057CE90261E7', target: '_blank' } Subscribe for updates.

.container
  %hr

= haml :'2018/common/_sponsors'
