.introduction
  .container
    %p
      A beautiful, harbourside location.

.location
  .container
    %p Lorem ipsum dolor sit amet.

.introduction
  .container
    %p
      How do I get there?

.location
  .container
    %p Lorem ipsum dolor sit amet.


.container
  %hr

= haml :'2018/common/_tickets'

.container
  %hr

= haml :'2018/common/_sponsors'
