.introduction
  .container
    %p
      You're invited to the party of the year.

.social-events
  .container
    %p Lorem ipsum dolor sit amet.

.container
  %hr

= haml :'2018/common/_tickets'

.container
  %hr

= haml :'2018/common/_sponsors'
