.introduction
  .container
    %h1
      You're invited to the parties of the year.

.social-events
  .container
    .details
      %p There's so much going on this year, and we can't wait to tell you all about it. Stay tuned for details!

.container
  %hr

= haml :'2018/common/_tickets'

.container
  %hr

= haml :'2018/common/_sponsors'
