.introduction
  .container
    %h1
      You're invited to the parties of the year.

.social-events
  .container
    .spotlight
      .sticker
        Rooftop Pool Party!
        %small
          Wednesday,
          %br
          7th March
      %img{ class: 'feature', src: '/2018/images/social-events/opening-party.jpg' }

  .container
    %p
      RubyConf AU is known for its fabulous social events, and this year is no exception!
    %p
      Our
      %strong opening party
      this year will be bathed in the afternoon Sydney sunlight, in the heart of the CBD, as we hang out poolside at the
      %a{ href: 'https://www.google.com/maps/dir/''/ivy+hotel+sydney/@-33.8663908,151.1376334,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6b12ae4059c0015b:0x9107c30771c45336!2m2!1d151.2076735!2d-33.8664106', target: '_blank' } Ivy Hotel.
    %p
      Join us for some casual canapés, drinks, and dancing.

    %p.sponsored-by
      Sponsored by
      %br
      %a{ href: 'https://envato.com', target: '_blank' }
        %img{ src: '/2018/images/sponsors/envato.png' }

    %p
      Wednesday, 7th March @ 7:30pm
      %br
      %a{ href: 'https://www.google.com/maps/dir/''/ivy+hotel+sydney/@-33.8663908,151.1376334,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6b12ae4059c0015b:0x9107c30771c45336!2m2!1d151.2076735!2d-33.8664106', target: '_blank' } 330 George St, Sydney

.container
  %hr

.social-events
  .container
    .spotlight
      .sticker.right
        Chinese Garden Party!
        %small
          Friday,
          %br
          9th March
      %img{ class: 'feature', src: '/2018/images/social-events/closing-party.jpg' }

  .container
    %p
      Come and share canapés, drinks and
      %strong MESSINA GELATO
      with all your new Ruby friends at the most appropriate venue for such an occasion
      %a{ href: 'https://goo.gl/maps/Xj2fWk9tiFx', target: '_blank' } The Chinese Friendship Gardens.
    %p
      We'll eat, drink, and watch the sun set together on another RubyConf AU, against the tiered pagodas and Sydney skyline.
    %p.sponsored-by
      Sponsored by
      %br
      %a{ href: 'https://www.cultureamp.com', target: '_blank' }
        %img{ src: '/2018/images/sponsors/culture-amp.png' }
    %p
      Friday, 9th March @ 7:30pm
      %br
      %a{ href: 'https://goo.gl/maps/Xj2fWk9tiFx', target: '_blank' } Pier St, Darling Harbour

  .container
    %hr

  .container
    %p
      Two days not enough? We have a bunch of great, casual social events on
      %strong Saturday, 10th March
      all around Sydney. Come hang out, see the sites, bring your family.

  .container
    .saturday
      %img{ src: '/2018/images/social-events/zoo.jpg' }
      %h4 Taronga Zoo
      %p
        Come join us on a ferry ride across the harbour to Sydney's famous Taronga Zoo.

    .saturday
      %img{ src: '/2018/images/social-events/hack-day.jpg' }
      %h4 Hack Day
      %p
        Recover from the excitement of the conference and after party with some chilled out hacking.
      %p.sponsored-by
        Sponsored by
        %br
        %a{ href: 'https://reinteractive.com', target: '_blank' }
          %img{ src: '/2018/images/sponsors/reinteractive.png' }



    .saturday
      %img{ src: '/2018/images/social-events/something-else.jpg' }
      %h4 And more!
      %p
        Walking tours, sightseeing, there's tonnes to see and do around Sydney.
      %p
        Got an idea for something you'd like to organise?
        %a{ href: 'mailto:organisers@rubyconf.org.au' } Contact us!

.container
  %hr

= haml :'2018/common/_tickets'

.container
  %hr

= haml :'2018/common/_sponsors'
