.introduction
  .container
    %h1
      You're invited to the parties of the year.

.social-events
  .container
    .spotlight
      .sticker
        Rooftop Pool Party!
        %small
          Wednesday,
          %br
          7th March
      %img{ class: 'feature', src: '/2018/images/social-events/opening-party.jpg' }

  .container
    %p
      RubyConf AU is known for its fabulous social events, and this year is no exception!
    %p
      Our
      %strong opening party
      this year will be bathed in the afternoon Sydney sunlight, in the heart of the CBD, our we're hanging out poolside at the
      %a{ href: 'https://www.google.com/maps/dir/''/ivy+hotel+sydney/@-33.8663908,151.1376334,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6b12ae4059c0015b:0x9107c30771c45336!2m2!1d151.2076735!2d-33.8664106', target: '_blank' } Ivy Hotel.
    %p
      Join us for some casual canepés, drinks, dancing.

    %p
      Wednesday, 7th March @ 7:30pm
      %br
      %a{ href: 'https://www.google.com/maps/dir/''/ivy+hotel+sydney/@-33.8663908,151.1376334,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6b12ae4059c0015b:0x9107c30771c45336!2m2!1d151.2076735!2d-33.8664106', target: '_blank' } 330 George St, Sydney

.container
  %hr

.social-events
  .container
    .spotlight
      .sticker.right
        Chinese Garden Party!
        %small
          Friday,
          %br
          9th March
      %img{ class: 'feature', src: '/2018/images/social-events/closing-party.jpg' }

  .container
    %p
      RubyConf AU is known for its fabulous social events, and this year is no exception!
    %p
      Bathed in the afternoon Sydney sunlight, in the heart of the CBD, our we're hanging out poolside at the
      %a{ href: 'https://www.google.com/maps/dir/''/ivy+hotel+sydney/@-33.8663908,151.1376334,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6b12ae4059c0015b:0x9107c30771c45336!2m2!1d151.2076735!2d-33.8664106', target: '_blank' } Ivy Hotel.
    %p
      Wednesday, 7th March @ 7:30pm
      %br
      %a{ href: 'https://www.google.com/maps/dir/''/ivy+hotel+sydney/@-33.8663908,151.1376334,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6b12ae4059c0015b:0x9107c30771c45336!2m2!1d151.2076735!2d-33.8664106', target: '_blank' } 330 George St, Sydney

  .container
    %hr

  .container
    %p
      Two days not enough? We have a bunch of great, casual social events on
      %strong Saturday, 10th March
      all around Sydney. Come hang out, see the sites, bring your family.

  .container
    .saturday
      %img{ src: '/2018/images/social-events/zoo.jpg' }
      %h4 Taronga Zoo
      %p Come hang out with all the animals lorem ipsum dolor sit amet.

    .saturday
      %img{ src: '/2018/images/social-events/hack-day.jpg' }
      %h4 Hack Day
      %p Come hang out with all the animals lorem ipsum dolor sit amet.

    .saturday
      %img{ src: '/2018/images/social-events/something-else.jpg' }
      %h4 Something else?
      %p Come hang out with all the animals lorem ipsum dolor sit amet.

.container
  %hr

= haml :'2018/common/_tickets'

.container
  %hr

= haml :'2018/common/_sponsors'
