.introduction
  .container
    %h1
      Buckle up, because this year we have an
      %strong extraordinary
      lineup of speakers.

.speakers
  .container
    - @speakers[0...2].each do |speaker|
      = haml :'2018/_speaker', locals: { speaker: speaker }

    - @speakers[2..-1].shuffle.each do |speaker|
      = haml :'2018/_speaker', locals: { speaker: speaker }

.container
  %hr

= haml :'2018/common/_tickets'

.container
  %hr

= haml :'2018/common/_sponsors'
