.introduction
  .container
    %p
      We couldn't do this without you.

.volunteer
  .container
    .help
      %p
        Ruby Australis is run entirely by volunteers, and we'll be needing a (small) army of
        %strong passionate, awesome, friendly folks
        to help out during the conference and the surrounding social events.

      %p
        If you'd like to give us a hand, we'll happily provide you with a
        %strong free ticket
        to the conference, and our
        %strong eternal gratitude*.

      %p
        You'll need to be available on the 8th and 9th of March, 2018, and able to make your way to Sydney.

      %a.cta{ href: 'https://docs.google.com/forms/d/e/1FAIpQLSevjK-CoVj7HV7zmM36z7qEIjdSimYVQBeO7zQIjTbI2Rxi0Q/viewform', target: '_blank' } Volunteer for RubyConf AU 2018

  .container
    .caveat
      %p * Eternal gratitude has no real value, and no legal binding. We love you though&hellip; promise.

.container
  %hr

= haml :'2018/common/_sponsors'
