%footer.mt-5
	.container-full.footer-cover.text-center
		%h2.footer-title Want to be in the know when tickets become available?
		%a{href: 'https://confirmsubscription.com/h/j/809D057CE90261E7'} 
			%button.btn.btn-lrg.mt-3 Join mailing list
	.container-full.mt-4
		.row.footer-details
			.col-lg-3.col-md-6.col-12.footer-header-title
				%h4 Contact
				%ul.footer-links
					%li 
						%a{href: 'https://confirmsubscription.com/h/j/809D057CE90261E7'} 
							%i.fa.fa-inbox
							Join our mailing list
					%li
						%a{href: 'mailto:organisers@rubyconf.org.au'}
							%i.fa.fa-envelope-open 
							organisers@rubyconf.org.au
			.col-lg-3.col-md-6.col-12.footer-header-title
				%h4 Social
				%ul.footer-links
					%li 
						%a{href: 'https://twitter.com/rubyconf_au'} 
							%i.fab.fa-twitter
							@rubyconf_au
					%li 
						%a{href: 'https://instagram.com/rubyconfau'} 
							%i.fab.fa-instagram
							@rubyconfau
					%li 
						%a{href: 'https://www.facebook.com/RubyConfAustralia'} 
							%i.fab.fa-facebook
							RubyConfAustralia
			.col-lg-3.col-md-6.col-12.footer-header-title
				%h4 Policies
				%ul.footer-links
					%li 
						%a{href: 'https://ruby.org.au/code-of-conduct'} Code of Conduct
					%li 
						%a{href: 'https://ruby.org.au/code-of-conduct-reporting'} Reporting Guide
					%li 
						%a{href: 'https://ruby.org.au/code-of-conduct'} Accessibility Statement
			.col-lg-3.col-md-6.col-12.footer-header-title
				%h4 Previous Years
				%ul.footer-links
					%li 
						%a{href: '/2014'} 2014 in Sydney
					%li 
						%a{href: '/2014'} 2015 in Melbourne
					%li 
						%a{href: '/2014'} 2016 in Gold Coast
					%li 
						%a{href: '/2014'} 2014 in Sydney
					%li 
						%a{href: '/2014'} 2015 in Melbourne
					%li 
						%a{href: '/2014'} 2016 in Gold Coast
		.row
			.col
				%p.copyright © Copyright RubyConfAU 2019. All Rights Reserved.