%footer.mt-5
	.container-full.footer-cover.text-center

	.container-full.mt-4
		.row.footer-details
			.col-lg-3.col-md-6.col-12.footer-header-title
				%h4 Contact
				%ul.footer-links
					%li
						%a{href: 'https://confirmsubscription.com/h/j/809D057CE90261E7', target: '_blank'}
							%i.fa.fa-inbox
							Join our mailing list
					%li
						%a{href: 'mailto:organisers@rubyconf.org.au'}
							%i.fa.fa-envelope-open
							organisers@rubyconf.org.au
			.col-lg-3.col-md-6.col-12.footer-header-title
				%h4 Social
				%ul.footer-links
					%li
						%a{href: 'https://twitter.com/rubyconf_au', target: '_blank'}
							%i.fab.fa-twitter
							@rubyconf_au
					%li
						%a{href: 'https://instagram.com/rubyconfau', target: '_blank'}
							%i.fab.fa-instagram
							@rubyconfau
					%li
						%a{href: 'https://www.facebook.com/RubyConfAustralia'}
							%i.fab.fa-facebook
							RubyConfAustralia
			.col-lg-3.col-md-6.col-12.footer-header-title
				%h4 Policies
				%ul.footer-links
					%li
						%a{href: 'https://ruby.org.au/code-of-conduct'} Code of Conduct
					%li
						%a{href: 'https://ruby.org.au/code-of-conduct-reporting'} Reporting Guide
					%li
						%a{href: '/2020/accessibility-statement'} Accessibility Statement
			.col-lg-3.col-md-6.col-12.footer-header-title
				%h4 Previous Years
				%ul.footer-links
					%li
						%a{href: '/2013'} 2013 in Melbourne
					%li
						%a{href: '/2014'} 2014 in Sydney
					%li
						%a{href: '/2015'} 2015 in Melbourne
					%li
						%a{href: '/2016'} 2016 in Gold Coast
					%li
						%a{href: '/2017'} 2017 in Melbourne
					%li
						%a{href: '/2018'} 2018 in Sydney
					%li
						%a{href: '/2019'} 2019 in Melbourne
		.row
			.col
				%p.copyright © Copyright Ruby Australia 2019. All Rights Reserved.