%header
	.container-full.header-home
		%nav#fixed.navbar.navbar-default.navbar-expand-lg.navbar-dark
			%a.navbar-brand{:href => "/2020"}
				%img{src: "/2020/images/ruby-01.svg", :alt => "RubyConfAu Logo", :height => "75", width: "75"}
			%button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
				%span.navbar-toggler-icon
			#navbarNavDropdown.collapse.navbar-collapse
				.navbar-nav.ml-auto
					%a.nav-item.nav-link{:href => "/2020/social-events"} Social Events
					%a.nav-item.nav-link{:href => "/2020/location"} Location
		.row
			.col-lg-12.pl-0.pr-0
				.header-content.text-center
					%h1.header-title.mt-0.mb-2
						RubyConf AU 2020
					%h3.header-lead 
						A conference to share Ruby knowledge 
						%br/
						amongst like-minded Rubyists
					.header-details.mt-2.mb-2
						%p
							%i.fa.fa-calendar-alt
							20th - 21st February 2020
						%p
							%i.fa.fa-map-marker-alt
							Melbourne Town Hall, 90-130 Swanston St
						%p
							%i.fa.fa-bullhorn
							CFP Now Open - Register Below
		.row.text-center
			.col-lg-12.header-cta
				%a{href: 'https://ti.to/ruby-australia/rubyconf-au-2020/with/btf-9fxymku', target: '_blank'}
					%button.btn.btn-lrg Secure tickets
				%a{href: 'https://www.papercall.io/rubyconfau', target: '_blank'}
					%button.btn.btn-lrg.cfp Submit your talk

		.row.justify-content-md-center.scroll-down
			.col-lg-12
				.scroll-icon