%header
	.container-full.header-home
		%img{:src => "/2020/images/logo.png", :width => '20%'}
		%h1.header-title
			RubyConf
			%br/
			Australia
		%h3.header-lead Our yearly gathering to celebrate the Australian and broader Ruby community
		%p 
			%i.fa.fa-calendar-alt
			7th - 9th Feburary 2020
		%p 
			%i.fa.fa-map-marker-alt
			Town Hall, Melbourne, VIC