%header
	.container-full.header-home
		.row
			.col-lg-12
				.header-content.text-center
					%img{src:"/2020/images/ruby-01.svg", width: '50%', class: 'mr-5 logo'}
					%h1.header-title.mt-0.mb-4
						RubyConfAu 2020
					%h3.header-lead 
						Our yearly gathering to celebrate
						%br/
						the Australian and broader Ruby community
					.header-details.mt-4
						%p
							%i.fa.fa-calendar-alt
							20th - 21st Feburary 2020
						%p
							%i.fa.fa-map-marker-alt
							Town Hall, 90-130 Swanston St, Melbourne
		.row.scroll-down
			.col-lg-12
				%img{src: "/2020/images/blob.svg", width: '15%', class: 'blob'}