%header
	.container-full.header-home
		.row
			.col-lg-12.pl-0.pr-0
				.header-content.text-center
					%img{src:"/2020/images/ruby-03.svg", width: '50%', class: 'mb-4 logo'}
					%h1.header-title.mt-0.mb-4
						RubyConfAu 2020
					%h3.header-lead 
						Our yearly gathering to celebrate the Australian 
						%br/
						and broader Ruby community
					.header-details.mt-4
						%p
							%i.fa.fa-calendar-alt
							20th - 21st Feburary 2020
						%p
							%i.fa.fa-map-marker-alt
							Town Hall, 90-130 Swanston St, Melbourne
		.row.justify-content-md-center.scroll-down
			.col-lg-12
				%img{src: "/2020/images/blob.svg", class: 'blob'}