%header
	.container-full.header-cover
		%nav.navbar.navbar-expand-lg.pt-3
			%a.navbar-brand{:href => "#"}
				%img{:src => "https://image.flaticon.com/icons/svg/919/919842.svg", :alt => "RubyConfAu Logo", :height => "45", :width => "45"}
			%button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
				%span.navbar-toggler-icon
			#navbarNavAltMarkup.collapse.navbar-collapse
				.navbar-nav.mr-auto
				%a.nav-item.nav-link{:href => "/2020/"} Schedule
				%a.nav-item.nav-link{:href => "/2020/"} Speakers
				%a.nav-item.nav-link{:href => "/2020/"} Social Events
				%a.nav-item.nav-link{:href => "/2020/"} Location
				%a.nav-item.nav-link{:href => "/2020/"} 
					%button.btn Buy Tickets
		%h1.header-title.text-center.mt-5.mb-3 Title here
		%h4.header-lead.text-center Lead here