.row.event-sponsors
    .col
        %h2.section-title Event Sponsors
        %p.mb-1 RubyConf AU would not be possible without the support from these incredible sponsors.
        %p
            We're currently looking for sponsors! If you'd like to sponsor RubyConf AU, please visit
            %a{href: 'https://ruby.org.au/sponsorship', target: 'blank'} Ruby Australia.
.row.text-center.pt-2
    .col
        %h3 Emerald Sponsors
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://envato.com', target: '_blank' }
                %img{ src: '/2020/images/sponsors/envato.png' }
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://www.cultureamp.com', target: '_blank' }
                %img{ src: '/2020/images/sponsors/culture-amp.png' }
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://up.com.au/', target: '_blank' }
                %img{ src: '/2020/images/sponsors/up.gif' }
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://www.twilio.com/', target: '_blank' }
                %img{ src: '/2020/images/sponsors/twilio.png' }


.row.text-center.pt-2.pb-3
    .col
        %h3 Sapphire Sponsors
.row.text-center
    .col-lg-4.offset-lg-4
        .sponsor-home
            %a{ href: 'http://buildkite.com', target: '_blank' }
                %img{ src: '/2020/images/sponsors/buildkite.png' }

.row.text-center.pt-4.pb-2
    .col
        %h3 Opal Sponsors
.row.align-center
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://www.lookahead.com.au/', target: '_blank' }
                %img{ src: '/2020/images/sponsors/lookahead.png' }
    .col-lg-4.col-sm-12
        .sponsor-home
            %a{ href: 'https://flood.io/', target: '_blank' }
                %img{ src: '/2020/images/sponsors/flood.svg' }
.row.text-center.pt-4.pb-2
    .col
        %h3 Amber Sponsors
.row.text-center
    .col-lg-4.offset-lg-4
        .sponsor-home
            %a{ href: 'https://assemblyfour.com/', target: '_blank' }
                %img{ src: '/2020/images/sponsors/assembly_four.svg' }
