body, html {
  color: $color-black-cherry;
  font-family: $default-font-family;
  height: 100%;
}

body {
  margin: 60px 0;
}

a {
  color: $color-sea-glass;
  font-weight: 300;
}

h1 {
  font-size: 72px;
  font-weight: 100;
  text-align: center;
}

h2 {
  font-size: 48px;
  font-weight: 100;
  text-align: center;
}

h3 {
  font-size: 34px;
  font-weight: 200;
  text-align: center;
}

hr {
  @include span(1);
  border: 0;
  height: 4px;
  background: $color-sea-glass;
  margin: 80px 0;
}

.container {
  @include row;
  @include align('center');
  margin: 0 auto;
  max-width: 1200px;
}

.hidden {
  display: none !important;
}

.sponsors {
  padding-bottom: 150px;

  .container {
    @include align('center');
  }

  .container h3 {
    @include span(6, $x-small: 10);
    margin-bottom: 60px;
    font-weight: 300;
  }

  .container p {
    @include span(4, $x-small: 10);
    font-weight: 300;
  }

  h4 {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }

  p {
    @include span(6);
    font-weight: 300;
    text-align: center;
  }

  .sponsor-group {
    @include span(12);
    @include row;
    @include align('center');
    @include align('middle');

    margin-bottom: 60px;

    > h4 { @include span(12); }
    > .sponsor { margin-top: 30px; display: inline;}
    > .sponsor img {
      max-width: 90%;
    }

    &.ruby .sponsor {
      @include span(4, $x-small: 8);
    }

    &.emerald .sponsor {
      @include span(3, $x-small: 7);
    }

    &.opal .sponsor {
      @include span(2, $x-small: 4);
    }
  }
}
