body, html {
  color: $color-black-cherry;
  font-family: $default-font-family;
  height: 100%;
}

body {
  margin: 60px 0;
}

a {
  color: $color-sea-glass;
  font-weight: 300;
}

p {
  font-size: 34px;
  font-weight: 300;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  text-align: center;

  @include responsive-small-mobile {
    font-size: 36px;
  }
}

h2 {
  font-size: 48px;
  font-weight: 300;
  text-align: center;

  @include responsive-small-mobile {
    font-size: 36px;
  }
}

h3 {
  font-size: 34px;
  font-weight: 200;
  text-align: center;
}

h4 {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 0;
  text-transform: uppercase;
}

hr {
  @include span(1);
  border: 0;
  height: 4px;
  background: $color-sea-glass;
  margin: 80px 0;
}

.container {
  @include row;
  @include align('center');
  margin: 0 auto;
  max-width: 1200px - 20px;
}

.hidden {
  display: none !important;
}

.introduction .container {
  @include align('center');
  p {
    line-height: 48px;
  }
}

.introduction {
  margin: 40px 0 80px;
}

.introduction .container p {
  @include span(6, $small: 12);
}

p {
  margin-bottom: 0;

  &.small {
    color: $color-sea-glass;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 400;

    .loud {
      color: $color-fairy-floss;
    }
  }
}

.sponsors {
  padding-bottom: 150px;

  .container {
    @include align('center');
  }

  .container h3 {
    @include span(6, $x-small: 10);
    margin-bottom: 60px;
    font-weight: 300;
  }

  .container p {
    @include span(4, $x-small: 10);
    font-weight: 300;
  }

  h4 {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }

  p {
    @include span(6);
    font-weight: 300;
    text-align: center;
  }

  .sponsor-group {
    @include span(12);
    @include row;
    @include align('center');
    @include align('middle');

    margin-bottom: 60px;

    > h4 { @include span(12); }
    > .sponsor-group { margin-bottom: 0; }
    .sponsor { margin-top: 30px; display: inline;}
    .sponsor img {
      max-width: 90%;
    }

    &.ruby .sponsor {
      @include span(4, $x-small: 9);
    }

    &.emerald .sponsor {
      @include span(3, $x-small: 7);
    }

    &.opal .sponsor {
      @include span(2, $x-small: 7);
    }

    &.amber .sponsor {
      @include span(1, $x-small: 7);
    }

    &.speaker-sponsors .sponsor {
      @include span(2, $x-small: 7);
    }
  }
}

.ticketing,
.cfp {
  @include span(5, $small: 6, $x-small: 12);

  a,
  tito-button {
    @include span(12);
    display: block;
    background: none;
    border: 4px solid $color-sea-glass;
    border-radius: 4px;
    color: $color-sea-glass;
    cursor: pointer;
    font-family: $default-font-family;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    &.inverse {
      color: white;
      background: $color-sea-glass;
    }

    button {
      background: 0;
      border: 0;
      color: $color-sea-glass;
      cursor: pointer;
      display: block;
      text-align: center;
      font-family: $default-font-family;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
