header {
  .container {
    @include align('center');
    @include align('middle');
  }

  .brand {
    @include span(2, $small: 12);
    text-align: center;
    overflow: visible;

    img {
      width: 120px;
    }
  }

  .dates {
    @include span(5);
    font-size: 48px;
    font-weight: 100;
    text-align: ro;
  }

  .location {
    @include span(12);
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    padding: 40px 0;
  }
}
